#**
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@version $Id$
*#

<div id="addrole" class="app">

<h3>$l10n.AddRole</h3>

<form name="EditUserForm" action="$link.setPage("admin,AddRole.vm")" method="post">
  <input type="hidden" name="action" value="admin.ManageRoles" />
  <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ManageRoles.vm" />

#set ($regGroup = $intake.EditRole.Default)
#set ($roleNameData = $regGroup.RoleName)

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th>$l10n.Role</th>
 <td>
   <input name="$regGroup.RoleName.Key" value="$!roleNameData" type="text" size="25" />
   #fieldErrorMsg($regGroup.RoleName "")
 </td>
</tr>
</table>
</div>

<div class="functnbar2">
 <input type="submit" name="eventSubmit_doAddrole" value="$l10n.Add" />&#160;
 <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
</div>

$intake.declareGroups()

</form>
</div>
