#**
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@version $Id: EditUser.vm,v 1.13 2003/05/23 19:47:29 dlr Exp $
*#

#set ($state = $data.Parameters.getString("state",""))


<script type="text/javascript">
<!--
/*
 * The following script disables/enables the password fields.
 * As a little gimmick, the function backups the last values
 * of these fields when checked. So when the checkmark has been
 * set unintentionally, the user can fully revert.
 */
pwdKeyBackup=""
confirmKeyBackup=""
function setEditflag(pwdKey,confirmKey,checked)
{
    document.EditUserForm[pwdKey].disabled=checked;
    document.EditUserForm[confirmKey].disabled=checked;
    if(checked)
    {
        pwdKeyBackup=document.EditUserForm[pwdKey].value;
        confirmKeyBackup=document.EditUserForm[confirmKey].value;
        document.EditUserForm[pwdKey].value="";
        document.EditUserForm[confirmKey].value="";
    }
    else
    {
        document.EditUserForm[pwdKey].value=pwdKeyBackup;
        document.EditUserForm[confirmKey].value=confirmKeyBackup;
    }
}
// -->
</script>


<div id="edituser" class="app">

<h3>$l10n.EditUser</h3>

<form name="EditUserForm" action="$link.setPage("admin,EditUser.vm")" method="post">
  <input type="hidden" name="action" value="admin.ManageUser" />
  <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,EditUser.vm" />
  <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ManageUserSearch.vm" />
  <input type="hidden" name="state" value="execedituser" />
  <input type="hidden" name="lastAction" value="" />
  <input type="hidden" name="username" value="$data.Parameters.getString("username")" />

#set ($lastAction = $data.Parameters.getString("lastAction"))

#set ($user2 = $data.User.getTemp($scarabG.Constant.SESSION_REGISTER))
#if (!$user2 && ($state == "showedituser"))
  #set ($user2 = $securityAdmin.getUserByUsername($data.Parameters.getString("username")))
  #set ($regGroup = $intake.Register.Default)
  #set ($firstNameData = $user2.FirstName)
  #set ($lastNameData = $user2.LastName)
  #set ($userNameData = $user2.UserName)
  #set ($emailData = $user2.Email)
#else
  #if ($user2)
    #set ($regGroup = $intake.Register.mapTo($user2))
  #else
    #set ($regGroup = $intake.Register.Default)
  #end

  #set ($firstNameData = $regGroup.FirstName)
  #set ($lastNameData = $regGroup.LastName)
  #set ($userNameData = $regGroup.UserName)
  #set ($emailData = $regGroup.Email)
#end

<div class="axial">
<table border="0" cellpadding="3" cellspacing="2">
<tr>
  ## FIXME: In SCB197, John notes that SecurityService makes user name
  ## change problematic, as it assumes that a user name defines a user.
 <th>$l10n.Username</th>
 <td>
  #* <input name="$regGroup.UserName.Key" value="$userNameData" type="text" size="25" />
  #fieldErrorMsg($regGroup.UserName "") *#
  $userNameData
 </td>
 <td/>
</tr>
<tr>
 <th>*&nbsp;$l10n.FirstName</th>
 <td>
  <input name="$regGroup.FirstName.Key" value="$firstNameData" type="text" size="25" />
  #fieldErrorMsg($regGroup.FirstName "")
 </td>
 <td/>
</tr>
<tr>
 <th>*&nbsp;$l10n.LastName</th>
 <td>
  <input name="$regGroup.LastName.Key" value="$lastNameData" type="text" size="25" />
  #fieldErrorMsg($regGroup.LastName "")
 </td>
 <td/>
</tr>
<tr>
 <th>*&nbsp;$l10n.Email</th>
 <td>
  <input name="$regGroup.Email.Key" value="$emailData" type="text" size="25" />
  #fieldErrorMsg($regGroup.Email "")
 </td>
 <td/>
</tr>
<tr>
 <th>*&nbsp;$l10n.AccountStatus</th>
 <td>
  <select name="accountStatus">
   <option #if ($user2.getConfirmed().equals("CONFIRMED")) selected #end>CONFIRMED</option>
   <option #if ($user2.getConfirmed().equals("DELETED")) selected #end>DELETED</option>
  </select>  
 </td>
 <td/>
</tr>

#set ($pwdResetAllowed= $scarabG.getTurbineConfiguration().getString("scarab.admin.password.reset.allowed").toLowerCase().equals("true"))
#if($pwdResetAllowed)
<tr>
 <th>$l10n.NewPassword</th>
 <td>
  <input type="password" size="25" name="$regGroup.NPassword.Key" value="$!regGroup.NPassword.value" />
 </td>
 <td nowrap="nowrap">
   <input type="checkbox" name="generate-password" onclick="javascript:setEditflag('$regGroup.NPassword.Key','$regGroup.NPasswordConfirm.Key',this.checked)" />
   $l10n.GeneratePassword
 </td>
</tr>
<tr>
 <th>$l10n.ConfirmPassword</th>
 <td>
  <input type="password" size="25" name="$regGroup.NPasswordConfirm.Key" value="$!regGroup.NPasswordConfirm.value" />
 </td>
 <td/>
</tr>
#end

</table>
</div>

<p>*&nbsp;$l10n.Required</p>

<div class="functnbar2">
  <input type="submit" name="eventSubmit_doEdituser" value="$l10n.Save" />&#160;
  <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
</div>

$intake.declareGroups()

</form>
</div>
