#** 
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@version $Id: EditRole.vm,v 1.10 2002/08/27 23:42:19 csjank Exp $
*#

#set ($role = $securityAdmin.getRoleByName($data.Parameters.getString("name")))

#if (!$role)
                                                                                                                                             
<p class="warningmark"><strong>
$l10n.ErrorLocatingInfo $link.setPage("admin,ManageRoles.vm").setLabel($l10n.RoleList) $l10n.ErrorLocatingInfo2</strong>
</p>

#else

<div id="editrole" class="app">

<h3>$l10n.format("EditPermissionsForRole", $role.Name)</h3>

<form method="post" action="$link.setPage("admin,EditRole.vm")">
  <input type="hidden" name="action" value="admin.ManageRoles" />
  <input type="hidden" name="name" value="$role.Name" />
  <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ManageRoles.vm" />

<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
    <th width="70">$l10n.Enable</th>
    <th>$l10n.Permission</th>
  </tr>
  #foreach ($permission in $securityAdmin.Permissions)
  #indexedRows ($velocityCount)
    #if ($role.Permissions.contains($permission))
      #set ($checked = "checked")
    #else
      #set ($checked = "")
    #end
    <td>
      <input type="checkbox" name="${role.Name}${permission.Name}" $checked />
    </td>
    <td>
        $permission.Name
    </td>
  </tr>
  #end
</table>

<div class="functnbar2">
 <input type="submit" name="eventSubmit_doEditrole" value="$l10n.Save" />&#160;
 <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
</div>

</form>
</div>

#end
