<?xml version="1.0" encoding="ISO-8859-1"?>

<Server>
    <ContextManager port="8080" hostName="" inet="">

        <!-- This is quite flexible; we can either have a log file per
             module in Tomcat (example: ContextManager) or we can have
	     one for Servlets and one for Jasper, or we can just have
	     one tomcat.log for both Servlet and Jasper.

	     If you omit "path" there, then stderr should be used.

	     verbosityLevel values can be: 
			    FATAL
			    ERROR
			    WARNING 
			    INFORMATION
			    DEBUG

         -->

	<Logger name="CTXMGR_LOG" 
	        path="logs/tomcat.log" 
		verbosityLevel = "DEBUG" />

	<Logger name="STARTUP_LOG"
		path="logs/tomcat.log"
		verbosityLevel = "DEBUG"
		timestamp = "no" />

	<Logger name="JASPER_LOG" 
	        path="logs/jasper.log"
		verbosityLevel = "INFORMATION" />

        <Connector className="org.apache.tomcat.service.http.HttpAdapter">
        </Connector>

        <!-- AJP12 - current JServ module -->
        <Connector className="org.apache.tomcat.service.TcpEndpointConnector">
            <Parameter name="handler" value="org.apache.tomcat.service.connector.Ajp12ConnectionHandler"/>
            <Parameter name="port" value="8007"/>
        </Connector>
    </ContextManager>
</Server>
