<?xml version="1.0" encoding="ISO-8859-1"?>

<Server>
    <ContextManager port="8080" hostName="" inet="">
        <Connector className="org.apache.tomcat.service.http.HttpAdapter">
        </Connector>

        <!-- AJP12 - current JServ module -->
        <Connector className="org.apache.tomcat.service.TcpEndpointConnector">
            <Parameter name="handler" value="org.apache.tomcat.service.connector.Ajp12ConnectionHandler"/>
            <Parameter name="port" value="8007"/>
        </Connector>

    </ContextManager>
</Server>
