@import url(ns4_toxins.css);

/* ----- */

a:link {
	color: blue; 
	text-decoration: underline;
	}
a:visited {
	color: blue; 
	text-decoration: underline;
	}
a:active {
	color: red; 
	text-decoration: underline;
	}
a:hover {
	color: red; 
	text-decoration: underline;
	}

body, tr, td, th, span {
	background-color: white;
	font-family: Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: black;
	line-height: 130%;
	margin:	0 15 0 0;
	}

/* ----- */

.globalnav { 
	padding: 15px;
	background: #ccc;
	}
	
#leftprojnav { 
	vertical-align: top;
	padding: 15px;
	width: 100px; 
	}
#leftprojnav .validate {
	color: green;
	}
#featurenav td { 
	background: #efefef;
	padding: 5px;
	}
#featurenav .crumbing {
	font-size: 12px;
	font-weight: bold;
	background-color: #efefef;
	}

/* ----- */
	
.grouper {
	margin-top: 15px;
	margin-bottom: 15px;
	}
	
/* ----- */
	
.functnbar td {
	color: white;
	background: black;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	}
.functnbar table, th, div {
	border: none;
	}
	
/* ----- */
	
.datatitle td {
	font-size: 13px;
	font-weight: bold;
	background: #ccc;
	border: 1px solid #999;
	}
.datatitle table {
	border: none;
	}

/* ----- */
	
.datatable td {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	}
.datatable th, {
	border: none;
	}
.datatable table {
	border: none;
	}

/* ----- */
	
.datatablechild td {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: none;
	}
.datatablechild th, {
	border: none;
	}
.datatablechild table {
	border: none;
	}
	
/* ----- */
	
.listtable td {
	vertical-align: top;
	align: right;
	}
.listtable table {
	border: none;
	}
.listtable .a {
	background: #efefef;
	text-align: right;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	}
.listtable .b {
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	}

/* ----- */

tr.a td { 
	align: left;
	background: #efefef;
	}
tr.b td { 
	align: left;
	background: #fff; 
	}
tr.a th { 
	align: left;
	background: #efefef; 
	}
tr.b th { 
	align: left;
	background: #fff; 
	}

/* ----- */

h1 {
	font-size: 16px;
	line-height: 130%;
	}

/* ----- */

form { 
	font-size: 11px;
	color: black;
	}
#.button {
	font-size: 11px;
	color: black;
	font-weight: bold;
	background: #D4D0C8;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	}
#.buttonfunc {
	font-size: 11px;
	color: black;
	font-weight: bold;
	background: #D4D0C8;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	}
#.select {
	font-size: 11px;
	color: black;
	}
#.text {
	font-size: 11px;
	color: black;
	}

/* ----- */
