
.Header {
  font-weight:bold; 
  font-size:11px;
  color:#FFFFFF;
  text-transform:uppercase;
  font-family:verdana,arial,sans-serif,monospace; 
  background-color:#525D76;
}

.SectionHeader {
  font-weight:bold; 
  font-size:10px;
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
  background-color:#CCCCCC;
}

.SectionHeaderOn {
  font-weight:bold;
  font-size:10px;
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace;
  background-color:#999999;
}
  
.TabOn {
  font-weight:bold; 
  font-size:10px;
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
  background-color:#CCCCCC;
}

.TabOff {
  font-weight:bold; 
  font-size:10px;
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
}

.NavHeader {
  font-weight:bold; 
  font-size:11px;
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
}

.NavHeaderOn {
  font-weight:bold; 
  font-size:11px;
  color:#000000;
  text-transform:uppercase;
  font-family:verdana,arial,sans-serif,monospace; 
  background-color:#CCCCCC;
}

.NavTDCellOn {
}

.ProjectTabOn {
  font-weight:bold; 
  font-size:11px;
  color:#FFFFFF;
  font-family:verdana,arial,sans-serif,monospace; 
  background-color:#003399;
}

.ProjectTabOff {
  font-weight:bold; 
  font-size:11px;
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
}

.TableDataOn {
  font-weight:normal;
  font-size:10px;
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace;
  background-color:#FFFFCC;
}
 
.TableDataHeader {
  font-weight:bold; 
  font-size:10px; 
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
}

.TableData {
  font-weight:normal; 
  font-size:10px; 
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
}

.StressedText {
  font-weight:bold;
  font-size:10px;
  color:#BB0000;  
  font-family:verdana,arial,sans-serif,monospace;
}

.MessageText {
  font-weight:normal; 
  font-size:10px; 
  color:#BB0000;
  font-family:verdana,arial,sans-serif,monospace; 
}

.StatisticText {  
  font-weight:normal;
  font-size:10px;
  color:#BB0000;
  font-family:verdana,arial,sans-serif,monospace;
}
  
.PlainText {
  font-weight:normal; 
  font-size:10px; 
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
}

.PlainTextHeader {
  font-weight:bold; 
  font-size:10px; 
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
}

.InputHeader {
  font-weight:bold; 
  font-size:10px; 
  color:#000000;
  font-family:verdana,arial,sans-serif,monospace; 
}


