<div id="register" class="app">

<h3>$l10n.EmailNewPassword</h3>

<form action="$link.setPage("ForgotPassword.vm")" method="post" name="fgtpwd">
<input type="hidden" name="action" value="ForgotPassword" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="Login.vm" />

#set ($forgotPasswordGroup = $intake.ForgotPassword.Default)
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th>$l10n.Username</th>
 <td>
  <input name="$forgotPasswordGroup.Username.Key" value="$!forgotPasswordGroup.Username.value" type="text" size="25" />
  #fieldErrorMsg($forgotPasswordGroup.Username "")
 </td>
</tr>
</table>
</div>

<div class="functnbar2">
 <input type="submit" name="eventSubmit_doForgotpassword" value="$l10n.EmailNewPassword" />&#160;
 <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
</div>

$intake.declareGroups()
</form>
</div>
