<div class="app" id="loginDONOTCHANGETHISID">
<h3>$l10n.Login</h3>

#set ($nextTemplate = $data.Parameters.getString($scarabG.Constant.NEXT_TEMPLATE, ""))

<form action="$link.setPage("Login.vm")" method="post" name="login">
  <input type="hidden" name="action" value="Login" />  
#if ($nextTemplate && $nextTemplate.trim().length() > 0)
  #if ($nextTemplate.equals("Login.vm"))
    #set ($nextTemplate = "SelectModule.vm")
  #end
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="$nextTemplate" />
#elseif ($data.Parameters.getString("viewIssueId"))
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="ViewIssue.vm" />
 <input type="hidden" name="id" value="$data.Parameters.getString("viewIssueId")" />
#else
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="SelectModule.vm" />
#end

#set ($loginGroup = $intake.Login.Default)
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">

 <tr valign="top">
  <th>$l10n.Username</th>
  <td nowrap="nowrap"><input name="$loginGroup.Username.Key" value="$!loginGroup.Username.Value" size="25" type="text" /></td>
  <td width="100%" nowrap="nowrap">#fieldHint ($loginGroup.Username)</td>
 </tr>

 <tr valign="top">
  <th>$l10n.Password</th>
  <td nowrap="nowrap"><input name="$loginGroup.Password.Key" value="" size="25" type="password" /></td>
  <td width="100%" nowrap="nowrap">#fieldHint ($loginGroup.Password)</td>
 </tr>



 <tr>
   <td height="1" colspan="3"></td>
 </tr>

 <tr>
  <th style="width:1%;" nowrap="nowrap">$l10n.ForgotPassword</th>
  <td colspan="2">
   <a style="text-decoration:none;" href='$link.omitModule().setPage("ForgotPassword.vm")'>
     $l10n.ResetPassword
     <img src="$staticLink.setPath("/images/icon_rightarrow.gif")" border="0"/>
   </a>
  </td>
 </tr>

 <tr>
  <th nowrap="nowrap">$l10n.NotRegistered</th>
  <td colspan="2">
   <a style="text-decoration:none;" href='$link.omitModule().setPage("Register.vm")'>
     $l10n.RegisterNewUser
     <img src="$staticLink.setPath("/images/icon_rightarrow.gif")" border="0"/>
   </a>
  </td>
 </tr>
</table>
</div>
<div class="functnbar2">
<input type="submit" name="eventSubmit_doLogin" value="$l10n.Login" onclick="document.login.eventSubmit_doLogin.disabled=true;document.login.submit()" />
</div>

</form>

#if ($scarabR.anonymousLoginAllowed)
#set ($userModules = $data.User.Modules)
#if ($userModules.size() > 0 && $scarabG.publicModulesDisplayCount != 0)
<h3>$l10n.PublicModules</h3>

<table border="1" cellspacing="2" cellpadding="3" width="100%">
<tr>
    <th>$l10n.Name</th>
    <th>$l10n.Description</th>
</tr>

#set ($currentDisplayCount = 0)
#foreach ($module in $userModules)
 #if (!$module.isGlobalModule())
  #set ($currentDisplayCount = 1 + $currentDisplayCount)
  #if ($currentDisplayCount <= $scarabG.publicModulesDisplayCount)
   #indexedRows($velocityCount)
    <td>
      $modulelink.setPage("$module.ModuleId").setLabel($module.Name)
    </td>
    <td>
      $module.Description
    </td>
   </tr>
  #end
 #end
#end
</table>

#if ($currentDisplayCount > $scarabG.publicModulesDisplayCount)
 <form action="$link.omitModule().setPage("SelectModule.vm")">
 #if ($scarabG.publicModulesDisplayCount > 0)
   <div class="functnbar2">
    <input type="submit" name="selectmodules" value="$l10n.MorePublicModules" />
   </div>
 #else
  <div>$l10n.AnonymousAccess</div>
  <div class="functnbar2">
   <input type="submit" name="selectmodules" value="$l10n.AllPublicModules" />
  </div>
 #end
 </form>
#end

#end
#end

$intake.declareGroups()

<script type="text/javascript">
<!--
document.login.${loginGroup.Username.Key}.focus();
// -->
</script>
</div>
