<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
    "http://java.sun.com/j2ee/dtds/web-app_2.2.dtd">

<web-app>
    <servlet>
        <servlet-name>
            snoop
        </servlet-name>
        <servlet-class>
            SnoopServlet
        </servlet-class>
<!--
        <init-param>
            <param-name>
                foo
            </param-name>
            <param-value>
                bar
            </param-value>
        </init-param>
-->
    </servlet>
    <servlet>
      <servlet-name>
          servletToJsp
      </servlet-name>
      <servlet-class>
          servletToJsp
      </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>
            snoop
        </servlet-name>
        <url-pattern>
            /snoop
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            snoop
        </servlet-name>
        <url-pattern>
            *.snp
        </url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>
            servletToJsp
        </servlet-name>
        <url-pattern>
            /servletToJsp
        </url-pattern>
    </servlet-mapping>

    <taglib>
        <taglib-uri>
	   http://java.apache.org/tomcat/examples-taglib
        </taglib-uri>
        <taglib-location>
           /WEB-INF/jsp/example-taglib.tld
        </taglib-location>
    </taglib>

    <login-config>
      <auth-method>FORM</auth-method>
      <realm-name>examples</realm-name>
      <form-login-config>
        <form-login-page>/jsp/security/login/login.jsp</form-login-page>
        <form-error-page>/jsp/security/login/error.jsp</form-error-page>
      </form-login-config>
    </login-config>

    <security-constraint>
      <web-resource-collection>
         <web-resource-name>a</web-resource-name>
         <url-pattern>/jsp/security/protected/*</url-pattern>
         <url-pattern>/jsp/security/protected1/</url-pattern>
         <http-method>GET</http-method>
         <http-method>POST</http-method>
      </web-resource-collection>

      <web-resource-collection>
         <web-resource-name>a</web-resource-name>
         <url-pattern>/foo2/*</url-pattern>
         <url-pattern>/bar2/*</url-pattern>
      </web-resource-collection>

      <auth-constraint>
         <role-name>tomcat</role-name>
         <role-name>role1</role-name>
      </auth-constraint>

      <!-- No https support, later
          user-data-constraint>
         <transport-guarantee>CONFIDENTIAL</transport-guarantee>
      </user-data-constraint -->
    </security-constraint>

</web-app>
