# -----------------------------------------------------------------------------
# build.properties.sample
#
# This is an example "build.properties" file, used to customize building Tomcat
# for your local environment.  It defines the location of all external
# modules that Tomcat depends on.  Copy this file to "build.properties"
# in the top-level source directory, and customize it as needed.
#
# $Id: build.properties.sample,v 1.5 2004/04/06 07:29:48 hgomez Exp $
# -----------------------------------------------------------------------------


# ----- Java API for XML Processing (JAXP), v1.0.1 or later -----
jaxp.home=./bin
jaxp.lib=${jaxp.home}


# ----- Jakarta Tomcat Connectors path -----
jakarta-tomcat-connectors=../jakarta-tomcat-connectors


# ----- Tomcat Tomcat Connectors Util -----
tomcat-util.jar=${jakarta-tomcat-connectors}/util/build/lib/tomcat-util.jar


# ----- (optional) Java Secure Sockets Extension (JSSE), v1.0.3 or later -----
jsse.home=../jsse1.0.3
jsse.lib=${jsse.home}/lib


# ----- (optional) PureTLS Extension -----
puretls.home=../puretls-0.9b4
puretls.lib=${puretls.home}/build
puretls.jar=${puretls.lib}/puretls.jar


# ----- (optional) Jakarta Tomcat Connectors Http11 -----
jtc.http11.home=${jakarta-tomcat-connectors}/http11
jtc.http11.lib=${jtc.http11.home}/build/lib


# ----- (optional) Jakarta Commons Logging (required by Http11) -----
commons-logging.home=../commons-logging-1.0
commons-logging.lib=${commons-logging.home}
commons-logging.jar=${commons-logging.lib}/commons-logging.jar

# ----- Java Management Extensions (JMX), JMX RI 1.0.1 or later or MX4J 1.1 or later -----
jmx.home=../mx4j-1.1.1
jmx.lib=${jmx.home}/lib
jmx.jar=${jmx.lib}/mx4j-jmx.jar
jmxtools.jar=${jmx.lib}/mx4j-tools.jar

# ----- Commons Modeler, version 1.1 or later -----
commons-modeler.home=../commons-modeler-1.1
commons-modeler.lib=${commons-modeler.home}
commons-modeler.lib=${commons-modeler.home}/dist
commons-modeler.jar=${commons-modeler.lib}/commons-modeler.jar

# ----- (optional) Jakarta Regexp (required by Http11) -----
regexp.home=../jakarta-regexp-1.3
regexp.lib=${regexp.home}
regexp.jar=${regexp.lib}/jakarta-regexp-1.3.jar

# ----- (optional) Jakarta Commons DB Pool (required by future PooledJDBCRealm ) -----
commons-dbcp.home=../commons-dbcp-1.0
commons-dbcp.lib=${commons-dbcp.home}
commons-dbcp.jar=${commons-dbcp.lib}/commons-dbcp.jar

# ----- (optional) Jakarta Commons Pool (required by Commons DBCP) -----
commons-pool.home=../commons-pool-1.0
commons-pool.lib=${commons-pool.home}
commons-pool.jar=${commons-pool.lib}/commons-pool.jar

# ----- (optional) Jakarta Commons Collections (required by Commons Pool)  -----
commons-collections.home=../commons-collections-2.0
commons-collections.lib=${commons-collections.home}
commons-collections.jar=${commons-collections.lib}/commons-collections.jar

# ----- ant lib for tomcat-ant (Jspc task) -----
ant.home=${jakarta-ant}
ant.bin=${ant.home}/bin
ant.lib=${ant.home}/lib
