$l10n.format("GroundRules", $sender)
$l10n.GroundRules1

$l10n.GroundRules2

$l10n.GroundRules3

$l10n.GroundRules4 

$l10n.GroundRules5

$l10n.GroundRules6

$l10n.GroundRules7

$l10n.GroundRules8

$l10n.GroundRules9

$l10n.GroundRules10

$l10n.GroundRulesEnd

$sender_name 