<h3>$l10n.Dependencies</h3>
#set ($issueChildren = $currentIssue.Children)
#set ($issueParents = $currentIssue.Parents)

#if ($issueChildren.isEmpty() && $issueParents.isEmpty() && !$canEdit)
$l10n.NoDependencies
#else
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
#if ($canEdit && (!$issueParents.isEmpty() || !$issueChildren.isEmpty()))
 <th>$l10n.Select</th>
#end
 <th>$l10n.Issue $l10n.ID #</th>
 ##<th>$l10n.Relationship</th>
 <th>$l10n.Type</th>
</tr>

#set ($counter = 0)
#foreach ($depend in $issueParents)
  #set ($parent = $scarabR.getIssueByPk($depend.ObservedId.toString()))
  #set ($dependGroup = $intake.Depend.mapTo($depend))
  #indexedRows($counter)
  #set ($counter = $counter + 1)
#if ( $canEdit && $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $parent.Module) )
  <td>#booleanCheckbox($dependGroup.Deleted)</td>
#elseif ($canEdit)
  <td>&nbsp;</td>
#end
<td>
#if ($scarabR.hasPermission($scarabG.Permission.ISSUE__VIEW, $parent.Module))
  $link.setPage("ViewIssue.vm").addPathInfo("id", $parent.UniqueId).setLabel("$parent.UniqueId")
#else
  $l10n.PrivateIssue
#end
#if ($depend.DependType.Name.equals("blocking"))
$l10n.depend_blocking this issue
#elseif ($depend.DependType.Name.equals("duplicate"))
$l10n.depend_duplicate this issue
#else
$l10n.depend_nonblocking this issue
#end
</td>
##<td>$l10n.Parent</td>
<td>
#if ( $canEdit && $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $parent.Module) )
<select name="$dependGroup.TypeId.Key" class="select">
  #foreach ($dependType in $currentIssue.AllDependencyTypes)
    #set ($selected = false)
    #if ($depend.TypeId.toString().equals($dependType.DependTypeId.toString()))
      #set ($selected = true)
    #end
    <option#selected($selected) value="$dependType.DependTypeId">
        $dependType.Name</option>
  #end
</select>
#else
  $depend.DependType.Name
#end
</td>
</tr>
#end

#foreach ($depend in $issueChildren)
  #set ($child = $scarabR.getIssueByPk($depend.ObserverId.toString()))
  #set ($dependGroup = $intake.Depend.mapTo($depend))
  #indexedRows($counter)
  #set ($counter = $counter + 1)

#if ( $canEdit && $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $child.Module) )
    <td>#booleanCheckbox($dependGroup.Deleted)</td>
#elseif ($canEdit)
  <td>&nbsp;</td>
#end
<td>
#if ($scarabR.hasPermission($scarabG.Permission.ISSUE__VIEW, $child.Module))
$link.setPage("ViewIssue.vm").addPathInfo("id", $child.UniqueId).setLabel("$child.UniqueId")
#else
  $l10n.PrivateIssue
#end
#if ($depend.DependType.Name.equals("blocking"))
$l10n.depend_blockingReverse this issue
#elseif ($depend.DependType.Name.equals("duplicate"))
$l10n.depend_duplicateReverse this issue
#else
$l10n.depend_nonblockingReverse this issue
#end
</td>
##<td>$l10n.Child</td>
<td> 
#if ( $canEdit && $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $child.Module) )
<select name="$dependGroup.TypeId.Key" class="select">
#foreach ($dependType in $currentIssue.AllDependencyTypes)
  #set ($selected = false)
  #if ($depend.TypeId.toString().equals($dependType.DependTypeId.toString()))
    #set ($selected = true)
  #end
  <option#selected($selected) value="$dependType.DependTypeId">
        $dependType.Name</option>
#end
</select>
#else
 $depend.DependType.Name
#end
</td>
</tr>
#end

#if ($canEdit)
#set ($newDependGroup = $intake.Depend.Default)
#indexedRows($counter)
#if (!$issueParents.isEmpty() || !$issueChildren.isEmpty())
<td>&nbsp;</td>
#end
<td> 
 <input type="hidden" name="$newDependGroup.ObservedId.Key" value="$currentIssue.IssueId" />
    <input type="text" size="5" name="$newDependGroup.ObserverUniqueId.Key" value = "$!newDependGroup.ObserverUniqueId" />
 #set ($idMessage = $newDependGroup.ObserverUniqueId.Message.toString())
 #if ($idMessage.length() > 0)
  <p><em>$idMessage</em></p>
 #end
</td>
##<td>$l10n.Child</td>
<td> 
 <select name="$newDependGroup.TypeId.Key" class="select">
   <option value="">$l10n.ChooseDependencyType</option>
 #foreach ($dependType in $currentIssue.AllDependencyTypes)
   #set ($selected = false)
   #if ($dependType.DependTypeId.toString().equals($newDependGroup.TypeId.toString()))
      #set ($selected = true)
   #end
   <option#selected($selected) value="$dependType.DependTypeId">$dependType.Name</option>
 #end
 </select>
 #set ($typeMessage = $newDependGroup.TypeId.Message.toString())
 #if ($typeMessage.length() > 0)
  <p><em>$typeMessage</em></p>
 #end
</td>
</tr>
#end
</table>

#if ($canEdit)
<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
    <tr>
      <th>$l10n.Reason</th>
      <td>
        #textAreaMedium("$newDependGroup.Description.Key" "$newDependGroup.Description")
        #fieldErrorMsg($newDependGroup.Description "")
      </td>
    </tr>
  </table>
</div>
#end

#if ($canEdit)
<div class="functnbar3">
   <input type="submit" value="$l10n.Save"  name="eventSubmit_doSavedependencychanges" />&nbsp;
#if (!$issueParents.isEmpty() || !$issueChildren.isEmpty())
  <input type="submit" value="$l10n.DeleteSelected"  name="eventSubmit_doDeletedependencies" />
#end
</div>
#end

#end
