#set ($module = $currentIssue.Module)
#set ($issueType = $currentIssue.IssueType)
#set ($fullHistory = $data.Parameters.getString("fullhistory",""))
#set ($fullComments = $data.Parameters.getString("fullcomments",""))
#set ($rmit = $module.getRModuleIssueType($issueType))
#set ($canEdit = $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $module) && $rmit.Active)
#set ($attrValues = $currentIssue.ModuleAttributeValuesMap)
#set ($currentIssueId = $currentIssue.UniqueId)
#set ($moveToModules = $data.User.getMoveToModules($module))

<input type="hidden" name="action" value="ModifyIssue" />
<input type="hidden" name="mod_ts" value="$scarabG.Now.Time" />
<input type="hidden" name="id" value="$currentIssueId" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="MoveIssue.vm" />
<input type="hidden" name="tab" value="$tab" />

<div class="functnbar">
#if (!$moveToModules.isEmpty() && $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $module))
    <input type="submit" value="$l10n.MoveIssue" name="eventSubmit_doMove" />&#160;
#end
#if (!$copyToModules.isEmpty())
    <input type="submit" value="$l10n.CopyIssue" name="eventSubmit_doCopy" />
#end
</div>

#asterisk()
#if ($rmit.Active.toString().equals("false"))
<div class="colbar">This issue is read-only because its issue type has been marked as no longer active.</div>
#end

## PRIMARY INFO
#if ($tab.equals("1") || $tab.equals("all"))
  $renderer.render("viewIssue", "ViewIssueTab1.vm")
#end

### PERSONNEL
#if ($tab.equals("2") || $tab.equals("all"))
  $renderer.render("viewIssue", "ViewIssueTab2.vm")
#end 

## COMMENTS
#if ($tab.equals("3") || $tab.equals("all"))
  $renderer.render("viewIssue", "ViewIssueTab3.vm")
#end

## Attachment/Dependency/URL/ Tab
#if ($tab.equals("4") || $tab.equals("all"))
  $renderer.render("viewIssue", "ViewIssueTab4Att.vm")
  $renderer.render("viewIssue", "ViewIssueTab4Dep.vm")
  $renderer.render("viewIssue", "ViewIssueTab4Url.vm")
#end

## ISSUE HISTORY
#if ($tab.equals("5") || $tab.equals("all"))
  $renderer.render("viewIssue", "ViewIssueTab5.vm")
#end

<div class="functnbar2">
#if (!$moveToModules.isEmpty() && $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $module))
    <input type="submit" value="$l10n.MoveIssue" name="eventSubmit_doMove" />&#160;
#end
#if (!$copyToModules.isEmpty())
    <input type="submit" value="$l10n.CopyIssue" name="eventSubmit_doCopy" />
#end
</div>
