#set ($atch = $scarabR.Attachment)
#set ($intakeAttachment = $intake.Attachment.mapTo($atch))
#set ($intakeAttachment = $intake.Attachment.setKey("fileKey"))
#set ($attachments = $currentIssue.ExistingAttachments)

<h3>$l10n.Attachments</h3>
#if ($attachments.isEmpty() && !$canEdit)
$l10n.NoAttachments
#else
 #if ($attachments.size() > 0)
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
   <tr>
     #if ($canEdit)
         <th>$l10n.Select</th>
     #end
     <th>$l10n.Name</th>
     <th>$l10n.Description</th>
     <th>$l10n.Type</th>
     <th>$l10n.CreatedBy</th>
     <th>$l10n.CreationDate</th>
   </tr>
   #foreach ($file in $attachments)
     #indexedRows($velocityCount)
     #if ($file.TypeId.toString().equals("1"))
       #if ($canEdit)
       <td>
           <input type="checkbox" name="file_delete_$file.AttachmentId" />
       </td>
       #end
## We add the filename here in case the file is saved, it gives a nice default name
       <td><a href="$link.setPage("ViewAttachment.vm").setPathInfo("attachId", $file.QueryKey).addPathInfo("filename", $file.FileName)"  
         onclick="fileWindow=window.open('',
         'filewindow','resizable=yes,menubar=yes,scrollbars=yes,height=450,width=700')" 
         target="filewindow">$file.FileName</a> 
       </td>
       <td>$file.Name</td>
       <td>$file.MimeType</td>
       #set ($createdUser = $file.ScarabUserRelatedByCreatedBy)
       <td><a href="mailTo:$createdUser.Email">$!createdUser.Name</a></td>
       <td>$format.getDate($scarabR.DateFormat, $file.CreatedDate)</td>
     </tr>
     #end
   #end
 </table>

#if ($canEdit)
<div class="functnbar3">
  <input type="submit" value="$l10n.DeleteAttachment" name="eventSubmit_doDeletefile" />
</div>
#end
#end

#end

#if ($canEdit)
<h4>$l10n.AddAttachment</h4>
<div class="colbar">
* attachment fields are only required if the $l10n.Path is set
</div>
<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
    <tr>
      <th>$l10n.Path</th>
      <td>
       <input type="file" name="$intakeAttachment.File.Key" size="45"
            value="$!intakeAttachment.File.Value.FileName" />
       #fieldErrorMsg($intakeAttachment.File "")
       <p><small>$l10n.SelectFile</small></p>
      </td>
    </tr>
    <tr>
       <th>* $l10n.Description</th>
       <td>
        #textAreaMedium("$intakeAttachment.Name.Key" "$intakeAttachment.Name")
        #fieldErrorMsg($intakeAttachment.Name "")
       </td>
    </tr>
    <tr>
      <th>* $l10n.Type</th>
      <td>
        <select name="$intakeAttachment.MimeTypeA.Key" class="select">
        #if ($intakeAttachment.MimeTypeA)
          #set ($mimeA = $intakeAttachment.MimeTypeA.toString())
        #end
         #mimeTypeOptions($mimeA)
        </select>
        <p><small>Other (enter mime type:&#160;
        <input type="text" name="$intakeAttachment.MimeTypeB.Key" 
                          value="$intakeAttachment.MimeTypeB" />)</small></p>
        #fieldErrorMsg($intakeAttachment.MimeTypeA "")
      </td>
    </tr>
</table>
</div>

<div class="functnbar3">
  <input type="submit" value="$l10n.AddAttachment" name="eventSubmit_doSubmitfile"  />
</div>
#end

