<?xml version="1.0" encoding="UTF-8"?>

<plugin name="Mail extensions" 
        description="Contains references to all mail extension" 
        id="org.columba.mail" 
        version="1.0" 
        category="framework" 
        enabled="true">

<extensionlist id="org.columba.core.action">

 <!-- file menu -->
 <extension id="NewMessage" singleton="true" class="org.columba.mail.gui.action.NewMessageAction"/>
 <extension id="ReceiveSend" singleton="true" class="org.columba.mail.gui.action.ReceiveSendAction"/>
 <extension id="SendAll" singleton="true" class="org.columba.mail.smtp.action.SendAllMessagesAction"/>
 <extension id="Receive" singleton="true" class="org.columba.mail.gui.action.ReceiveMessagesAction"/>
 <extension id="ReceiveMenu" singleton="true" class="org.columba.mail.mailchecking.FetchMessageSubMenu"/>
 <extension id="ManageServerMenu" singleton="true" class="org.columba.mail.pop3.menu.ManageServerSubMenu"/>
 <extension id="SaveMessageSourceAs" class="org.columba.mail.gui.table.action.SaveMessageSourceAsAction"/>
 <extension id="Print" class="org.columba.mail.gui.action.PrintAction"/> 
  
 <!-- edit menu -->
 <extension id="SearchMessage" class="org.columba.mail.gui.action.SearchMessageAction"/> 
 <extension id="MailAccount" class="org.columba.mail.gui.action.MailAccountAction"/>
 <extension id="MailOptions" class="org.columba.mail.gui.action.MailOptionsAction"/>
 <extension id="ExportDialog" class="org.columba.mail.gui.action.ExportDialogAction"/>
 
 
 <!-- view menu -->
 <extension id="SortMessagesMenu" class="org.columba.mail.gui.table.action.SortMessagesMenu"/>
 <extension id="ThreadedView" class="org.columba.mail.gui.table.action.ThreadedViewAction"/>
 <extension id="ViewMessageSource" class="org.columba.mail.gui.message.action.ViewMessageSourceAction"/>
 <extension id="CharacterEncodingMenu" class="org.columba.mail.gui.charset.CharacterEncodingSubMenu"/>
 <extension id="ColumnDialog" class="org.columba.mail.gui.action.ColumnDialogAction"/>
 <extension id="HeadersMenu" class="org.columba.mail.gui.message.action.HeadersMenu"/>
 <extension id="ShowMessagePreview" class="org.columba.mail.gui.action.ShowMessagePreviewAction"/>
 
 <!-- message menu -->
 <extension id="OpenMessageWithComposer" class="org.columba.mail.gui.table.action.OpenMessageWithComposerAction"/>
 <extension id="OpenMessageWithMessageFrame" class="org.columba.mail.gui.table.action.OpenMessageWithMessageFrameAction"/>
 <extension id="SaveMessageBodyAs" class="org.columba.mail.gui.table.action.SaveMessageBodyAsAction"/>
 <extension id="Reply" class="org.columba.mail.gui.table.action.ReplyAction"/>
 <extension id="ReplyToList" class="org.columba.mail.gui.table.action.ReplyToListAction"/>
 <extension id="ReplyToAll" class="org.columba.mail.gui.table.action.ReplyToAllAction"/>
 <extension id="ReplyAsAttachment" class="org.columba.mail.gui.table.action.ReplyAsAttachmentAction"/>
 <extension id="ReplyWithTemplate" class="org.columba.mail.gui.table.action.ReplyWithTemplateAction"/>
 <extension id="Forward" class="org.columba.mail.gui.table.action.ForwardAction"/>
 <extension id="ForwardInline" class="org.columba.mail.gui.table.action.ForwardInlineAction"/>
 <extension id="ForwardAsAttachment" class="org.columba.mail.gui.table.action.ForwardAsAttachmentAction"/>
 <extension id="Redirect" class="org.columba.mail.gui.table.action.RedirectAction"/>
 <extension id="ToggleReadFlag" class="org.columba.mail.gui.table.action.ToggleReadFlagAction"/>
 <extension id="ToggleFlaggedFlag" class="org.columba.mail.gui.table.action.ToggleFlaggedFlagAction"/>
 <extension id="ToggleExpungedFlag" class="org.columba.mail.gui.table.action.ToggleExpungedFlagAction"/>
 <extension id="ToggleSpamFlag" class="org.columba.mail.gui.table.action.ToggleSpamFlagAction"/>
 <extension id="ToggleDraftFlag" class="org.columba.mail.gui.table.action.ToggleDraftFlagAction"/>
 <extension id="ToggleAnsweredFlag" class="org.columba.mail.gui.table.action.ToggleAnsweredFlagAction"/>
 <extension id="MarkAsRead" class="org.columba.mail.gui.table.action.MarkAsReadAction"/>
 <extension id="MarkAsUnread" class="org.columba.mail.gui.table.action.MarkAsUnreadAction"/>
 <extension id="MarkAsFlagged" class="org.columba.mail.gui.table.action.MarkAsFlaggedAction"/>
 <extension id="MarkAsUnflagged" class="org.columba.mail.gui.table.action.MarkAsUnflaggedAction"/>
 <extension id="MarkAsExpunged" class="org.columba.mail.gui.table.action.MarkAsExpungedAction"/>
 <extension id="MarkAsUnexpunged" class="org.columba.mail.gui.table.action.MarkAsUnexpungedAction"/>
 <extension id="MarkAsSpam" class="org.columba.mail.gui.table.action.MarkAsSpamAction"/>
 <extension id="MarkAsNotSpam" class="org.columba.mail.gui.table.action.MarkAsNotSpamAction"/>
 <extension id="CopyMessage" class="org.columba.mail.gui.table.action.CopyMessageAction"/>
 <extension id="MoveMessage" class="org.columba.mail.gui.table.action.MoveMessageAction"/>
 <extension id="DeleteMessage" class="org.columba.mail.gui.table.action.DeleteMessageAction"/>
 <extension id="NextMessage" class="org.columba.mail.gui.table.action.NextMessageAction"/>
 <extension id="PreviousMessage" class="org.columba.mail.gui.table.action.PreviousMessageAction"/>
 <extension id="NextUnreadMessage" class="org.columba.mail.gui.table.action.NextUnreadMessageAction"/>
 <extension id="PreviousUnreadMessage" class="org.columba.mail.gui.table.action.PreviousUnreadMessageAction"/>
 <extension id="AddSenderToAddressbook" class="org.columba.mail.gui.table.action.AddSenderToAddressbookAction"/>
 <extension id="AddAllSendersToAddressbook" class="org.columba.mail.gui.table.action.AddAllSendersToAddressbookAction"/>
 <extension id="ColorMessageMenu" class="org.columba.mail.gui.table.action.ColorMessageMenu"/>
 <extension id="TrainMessageAsSpam" class="org.columba.mail.gui.table.action.TrainMessageAsSpamAction"/>
 <extension id="TrainMessageAsHam" class="org.columba.mail.gui.table.action.TrainMessageAsHamAction"/>
 <extension id="ScoreMessage" class="org.columba.mail.gui.table.action.ScoreMessageAction"/>
 
 <!-- tree menu -->
 <extension id="ApplyFilter" class="org.columba.mail.gui.tree.action.ApplyFilterAction"/>
 <extension id="CreateSubFolder" class="org.columba.mail.gui.tree.action.CreateSubFolderAction"/>
 <extension id="CreateVirtualFolder" class="org.columba.mail.gui.tree.action.CreateVirtualFolderAction"/>
 <extension id="EmptyFolder" class="org.columba.mail.gui.tree.action.EmptyFolderAction"/>
 <extension id="ExpungeFolder" class="org.columba.mail.gui.tree.action.ExpungeFolderAction"/>
 <extension id="FilterPreferences" class="org.columba.mail.gui.tree.action.FilterPreferencesAction"/>
 <extension id="RemoveFolder" class="org.columba.mail.gui.tree.action.RemoveFolderAction"/>
 <extension id="RenameFolder" class="org.columba.mail.gui.tree.action.RenameFolderAction"/>
 <extension id="SubscribeFolder" class="org.columba.mail.gui.tree.action.SubscribeFolderAction"/>
 <extension id="FolderOptions" class="org.columba.mail.gui.tree.action.FolderOptionsAction"/>
 <extension id="MoveUp" class="org.columba.mail.gui.tree.action.MoveUpAction"/>
 <extension id="MoveDown" class="org.columba.mail.gui.tree.action.MoveDownAction"/>
 <extension id="SortFoldersMenu" class="org.columba.mail.gui.tree.action.SortFoldersMenu"/>
 <extension id="MarkFolderAsRead" class="org.columba.mail.gui.tree.action.MarkFolderAsReadAction"/>
 
 <!-- utilities menu -->
 <extension id="CreateFilterOnSubject" class="org.columba.mail.gui.table.action.CreateFilterOnSubjectAction"/>
 <extension id="CreateFilterOnFrom" class="org.columba.mail.gui.table.action.CreateFilterOnFromAction"/>
 <extension id="CreateFilterOnTo" class="org.columba.mail.gui.table.action.CreateFilterOnToAction"/>
 <extension id="CreateVFolderOnSubject" class="org.columba.mail.gui.table.action.CreateVFolderOnSubjectAction"/>
 <extension id="CreateVFolderOnFrom" class="org.columba.mail.gui.table.action.CreateVFolderOnFromAction"/>
 <extension id="CreateVFolderOnTo" class="org.columba.mail.gui.table.action.CreateVFolderOnToAction"/>
 
 <extension id="MailImport" class="org.columba.mail.gui.action.ImportAction"/>
 
 <!-- message viewer -->
 <extension id="CopyLinkLocationAction" class="org.columba.mail.gui.message.action.CopyLinkLocationAction"/>
 <extension id="AddToAddressbookAction" class="org.columba.mail.gui.message.action.AddToAddressbookAction"/>
 <extension id="ComposeMessageAction" class="org.columba.mail.gui.message.action.ComposeMessageAction"/>
 <extension id="OpenUrlAction" class="org.columba.mail.gui.message.action.OpenAction"/>
 <extension id="OpenUrlWithAction" class="org.columba.mail.gui.message.action.OpenWithAction"/>
     
 <!-- composer -->
 <extension id="Addressbook" class="org.columba.mail.gui.composer.action.AddressbookAction"/>
 <extension id="AttachFile" class="org.columba.mail.gui.composer.action.AttachFileAction"/>
 <extension id="CloseComposer" class="org.columba.mail.gui.composer.action.CloseComposerAction"/>
 <extension id="EncryptMessage" class="org.columba.mail.gui.composer.action.EncryptMessageAction"/>
 <extension id="ExternalEditor" class="org.columba.mail.gui.composer.action.ExternalEditorAction"/>
 <extension id="SaveAsDraft" class="org.columba.mail.gui.composer.action.SaveAsDraftAction"/>
 <extension id="SaveAsTemplate" class="org.columba.mail.gui.composer.action.SaveAsTemplateAction"/>
 <extension id="SaveMessage" class="org.columba.mail.gui.composer.action.SaveMessageAction"/>
 <extension id="Send" class="org.columba.mail.gui.composer.action.SendAction"/>
 <extension id="SendLater" class="org.columba.mail.gui.composer.action.SendLaterAction"/>
 <extension id="SignMessage" class="org.columba.mail.gui.composer.action.SignMessageAction"/>
 <extension id="Spellcheck" class="org.columba.mail.gui.composer.action.SpellcheckAction"/>
 <extension id="ViewAccountInfoPanel" class="org.columba.mail.gui.composer.action.ViewAccountInfoPanelAction" />
 <extension id="EditSignature" class="org.columba.mail.gui.config.account.EditSignatureAction" />
 
 <!-- composer html support -->
 <extension id="BoldFormatAction" class="org.columba.mail.gui.composer.html.action.BoldFormatAction" />
 <extension id="ItalicFormatAction" class="org.columba.mail.gui.composer.html.action.ItalicFormatAction" />
 <extension id="UnderlineFormatAction" class="org.columba.mail.gui.composer.html.action.UnderlineFormatAction" />
 <extension id="StrikeoutFormatAction" class="org.columba.mail.gui.composer.html.action.StrikeoutFormatAction" />
 <extension id="TeleTyperFormatAction" class="org.columba.mail.gui.composer.html.action.TeleTyperFormatAction" />
 <extension id="LeftJustifyAction" class="org.columba.mail.gui.composer.html.action.LeftJustifyAction" />
 <extension id="CenterJustifyAction" class="org.columba.mail.gui.composer.html.action.CenterJustifyAction" />
 <extension id="RightJustifyAction" class="org.columba.mail.gui.composer.html.action.RightJustifyAction" />
 <extension id="EnableHtmlAction" class="org.columba.mail.gui.composer.html.action.EnableHtmlAction" />
 <extension id="FontSizeMenu" class="org.columba.mail.gui.composer.html.action.FontSizeMenu" />
 <extension id="JustifyMenu" class="org.columba.mail.gui.composer.html.action.JustifyMenu" />
 <extension id="ParagraphMenu" class="org.columba.mail.gui.composer.html.action.ParagraphMenu" />
 <extension id="InsertBreakAction" class="org.columba.mail.gui.composer.html.action.InsertBreakAction" />
 
 <!-- attachment -->
 <extension id="OpenAttachment" class="org.columba.mail.gui.message.action.OpenAttachmentAction"/>
 <extension id="SaveAttachmentAs" class="org.columba.mail.gui.message.action.SaveAsAttachmentAction"/>
 
 
</extensionlist>


<extensionlist id="org.columba.mail.filteraction">
	<extension id="Move Message"
		class="org.columba.mail.filter.plugins.MoveMessageAction">
		<properties ui="Move Message" />
	</extension>
	<extension id="Copy Message"
		class="org.columba.mail.filter.plugins.CopyMessageAction">
		<properties ui="Copy Message" />
	</extension>
	<extension id="Delete Message"
		class="org.columba.mail.filter.plugins.DeleteMessageAction">
		<properties ui="Delete Message" />
	</extension>
	<extension id="Mark Message"
		class="org.columba.mail.filter.plugins.MarkMessageAsReadAction">
		<properties ui="Mark Message" />
	</extension>
	<extension id="Color Message"
		class="org.columba.mail.filter.plugins.ColorMessageFilterAction">
		<properties ui="Color Message" />
	</extension>
	<extension id="Score Message"
		class="org.columba.mail.filter.plugins.ScoreMessageFilterAction">
		<properties ui="Score Message" />
	</extension>
</extensionlist>

<extensionlist id="org.columba.mail.filteractionui">
 <extension id="Move Message" 
 			class="org.columba.mail.gui.config.filter.plugins.FolderChooserActionRow" />
 <extension id="Copy Message" 
 			class="org.columba.mail.gui.config.filter.plugins.FolderChooserActionRow" />
 <extension id="Delete Message" 
 			class="org.columba.mail.gui.config.filter.plugins.DefaultActionRow" />
 <extension id="Mark Message" 
 			class="org.columba.mail.gui.config.filter.plugins.MarkActionRow" />
 <extension id="Color Message" 
 			class="org.columba.mail.gui.config.filter.plugins.ColorActionConfig" />
 <extension id="Score Message" 
 			class="org.columba.mail.gui.config.filter.plugins.DefaultActionRow" />
</extensionlist>

<extensionlist id="org.columba.mail.filter" type="local">
	<extension id="Subject"
		class="org.columba.mail.filter.plugins.HeaderfieldFilter">
		<properties ui="default" />
	</extension>
	<extension id="From"
		class="org.columba.mail.filter.plugins.HeaderfieldFilter">
		<properties ui="default" />
	</extension>
	<extension id="To"
		class="org.columba.mail.filter.plugins.HeaderfieldFilter">
		<properties ui="default" />
	</extension>
	<extension id="Cc"
		class="org.columba.mail.filter.plugins.HeaderfieldFilter">
		<properties ui="default" />
	</extension>
	<extension id="Bcc"
		class="org.columba.mail.filter.plugins.HeaderfieldFilter">
		<properties ui="default" />
	</extension>
	<extension id="Custom Headerfield"
		class="org.columba.mail.filter.plugins.HeaderfieldFilter">
		<properties ui="Custom Headerfield" />
	</extension>
	<extension id="Body"
		class="org.columba.mail.filter.plugins.BodyFilter">
		<properties ui="Body" />
	</extension>

	<extension id="Date"
		class="org.columba.mail.filter.plugins.DateFilter">
		<properties ui="Date" />
	</extension>
	<extension id="Flags"
		class="org.columba.mail.filter.plugins.FlagsFilter">
		<properties ui="Flags" />
	</extension>
	<extension id="Priority"
		class="org.columba.mail.filter.plugins.PriorityFilter">
		<properties ui="Priority" />
	</extension>
	<extension id="Size"
		class="org.columba.mail.filter.plugins.SizeFilter">
		<properties ui="Size" />
	</extension>
	<extension id="Color"
		class="org.columba.mail.filter.plugins.ColorFilter">
		<properties ui="Color" />
	</extension>
	<extension id="Account"
		class="org.columba.mail.filter.plugins.AccountFilter">
		<properties ui="Account" />
	</extension>
	<extension id="Match all"
		class="org.columba.mail.filter.plugins.MatchAllFilter">
		<properties ui="default" />
	</extension>
	<extension id="Sender is in Addressbook"
		class="org.columba.mail.filter.plugins.AddressbookFilter">
		<properties ui="default" />
	</extension>
</extensionlist>

<extensionlist id="org.columba.mail.filterui" type="local" >
 <extension 
 	id="default" 
 	class="org.columba.mail.gui.config.filter.plugins.HeaderCriteriaRow" />
 <extension 
 	id="Custom Headerfield" 
 	class="org.columba.mail.gui.config.filter.plugins.CustomHeaderfieldCriteriaRow" />
 <extension 
 	id="Body" 
 	class="org.columba.mail.gui.config.filter.plugins.BodyCriteriaRow" />
 <extension 
 	id="Date" 
 	class="org.columba.mail.gui.config.filter.plugins.DateCriteriaRow" />
 <extension 
 	id="Flags" 
 	class="org.columba.mail.gui.config.filter.plugins.FlagsCriteriaRow" />
 <extension 
 	id="Priority" 
 	class="org.columba.mail.gui.config.filter.plugins.PriorityCriteriaRow" />
 <extension 
 	id="Size" 
 	class="org.columba.mail.gui.config.filter.plugins.SizeCriteriaRow" />
 <extension 
 	id="Color" 
 	class="org.columba.mail.gui.config.filter.plugins.ColorCriteriaRow" />
 <extension 
 	id="Account" 
 	class="org.columba.mail.gui.config.filter.plugins.AccountCriteriaRow" />
 <extension 
 	id="Match all" 
 	class="org.columba.mail.gui.config.filter.plugins.DefaultCriteriaRow" />
 <extension 
 	id="Sender is in Addressbook" 
 	class="org.columba.mail.gui.config.filter.plugins.DefaultCriteriaRow" />
</extensionlist>

<extensionlist id="org.columba.mail.folder"> 
 <extension id="Root"  class="org.columba.mail.folder.Root">
  <properties group="root" />
 </extension>
 <extension id="LocalRootFolder" class="org.columba.mail.folder.LocalRootFolder">
 <properties group="local"/>
 </extension>
 <extension id="IMAPRootFolder" class="org.columba.mail.folder.imap.IMAPRootFolder">
 <properties group="imap"/>
 </extension>
 <extension  id="MHFolder"  class="org.columba.mail.folder.mh.CachedMHFolder">
 <properties group="local" possible_parents="local"/>
 </extension>
 <extension  id="MBOXFolder"  class="org.columba.mail.folder.mbox.CachedMboxFolder">
 <properties group="local" possible_parents="local"/>
 </extension>
 <extension  id="IMAPFolder"  class="org.columba.mail.folder.imap.IMAPFolder">
 <properties group="imap" possible_parents="imap"/>
 </extension>
 <extension  id="VirtualFolder"  class="org.columba.mail.folder.virtual.VirtualFolder">
 <properties group="virtual" possible_parents="all"/>
 </extension>
 <extension id="OutboxFolder"  class="org.columba.mail.folder.outbox.OutboxFolder">
 <properties group="local" />
 </extension>
</extensionlist>
  
  
  <!-- !Attention!
The order of the following plugins is intentional. Do not change the order of appeareance. -->

<extensionlist id="org.columba.mail.folderoptions">
 <extension  id="ColumnOptions" singleton="true" class="org.columba.mail.folderoptions.ColumnOptionsPlugin" >
  <properties state="before"/>
 </extension>
 <extension id="SortingOptions" singleton="true" class="org.columba.mail.folderoptions.SortingOptionsPlugin" >
  <properties state="before"/>
 </extension> 
 <!--<folderoption state="before" id="FilterOptions" class="org.columba.mail.folderoptions.FilterOptionsPlugin" />-->
 <extension id="ThreadedViewOptions" singleton="true" class="org.columba.mail.folderoptions.ThreadedViewOptionsPlugin" >
  <properties state="before"/>
 </extension>
 <extension  id="SelectionOptions" singleton="true" class="org.columba.mail.folderoptions.SelectionOptionsPlugin" >
  <properties state="after"/>
 </extension>
</extensionlist>


<extensionlist id="org.columba.mail.import">
 <extension id="default mh" class="org.columba.mail.folder.mailboximport.MHImporter"/>
 <extension id="default mbox" class="org.columba.mail.folder.mailboximport.MBOXImporter"/>
 <extension id="Mozilla mbox" class="org.columba.mail.folder.mailboximport.MozillaImporter"/>
 <extension id="Evolution mbox" class="org.columba.mail.folder.mailboximport.EvolutionImporter"/>
 <extension id="PegasusMail mbox" class="org.columba.mail.folder.mailboximport.PegasusMailImporter"/>
</extensionlist>


<extensionlist id="org.columba.mail.spam">
 <extension id="Macchiato" class="org.columba.mail.spam.MacchiatoPlugin"/>
 <extension id="SpamAssassin" class="org.columba.mail.spam.spamassassin.SpamAssassinPlugin"/>
</extensionlist>

<extensionlist id="org.columba.mail.tablerenderer">
 <extension id="Status"  class="org.columba.mail.gui.table.plugins.StatusRenderer">
  <properties size="fixed" icon="message-mail-unread-col.png" />
 </extension>
 <extension id="Attachment"  class="org.columba.mail.gui.table.plugins.AttachmentRenderer" >
  <properties size="fixed" icon="attachment-col.png" />
 </extension>
 <extension id="Size" class="org.columba.mail.gui.table.plugins.SizeRenderer" >
 </extension>
 <extension id="Date" class="org.columba.mail.gui.table.plugins.DateRenderer" >
 </extension>
 <extension id="Flagged" class="org.columba.mail.gui.table.plugins.FlaggedRenderer" >
  <properties size="fixed" icon="flag-col.png" />
 </extension>
 <extension id="Priority"  class="org.columba.mail.gui.table.plugins.PriorityRenderer" >
  <properties size="fixed" icon="mark-as-important.png" />
 </extension>
 <extension id="From" class="org.columba.mail.gui.table.plugins.FromRenderer" >
 </extension>
 <extension id="Spam"  class="org.columba.mail.gui.table.plugins.SpamRenderer" >
  <properties size="fixed" icon="mail-mark-junk-col.png"/>
 </extension>
 <extension id="To" class="org.columba.mail.gui.table.plugins.ToRenderer" >
 </extension>
 <extension id="Cc" class="org.columba.mail.gui.table.plugins.CcRenderer" >
 </extension>
 <extension id="MultiLine" class="org.columba.mail.gui.table.plugins.MultiLineRenderer" >
 </extension>
</extensionlist>


<extensionlist id="org.columba.core.newitem">
 <extension id="NewMessage" class="org.columba.mail.gui.action.NewMessageAction"/>
</extensionlist>

<extensionlist id="org.columba.core.search">
 <extension id="from_contains" class="org.columba.mail.search.FromContainsSearchProvider"/>
 <extension id="body_contains" class="org.columba.mail.search.BodyContainsSearchProvider"/>
 <extension id="subject_contains" class="org.columba.mail.search.SubjectContainsSearchProvider"/>
 <extension id="size_greater_than" class="org.columba.mail.search.SizeGreaterThanSearchProvider"/>
 <extension id="size_smaller_than" class="org.columba.mail.search.SizeSmallerThanSearchProvider"/>
</extensionlist>

<extensionlist id="org.columba.core.search.ui">
 <extension id="from_contains" class="org.columba.mail.gui.search.BasicResultPanel"/>
 <extension id="body_contains" class="org.columba.mail.gui.search.BasicResultPanel"/>
 <extension id="subject_contains" class="org.columba.mail.gui.search.BasicResultPanel"/>
 <extension id="size_greater_than" class="org.columba.mail.gui.search.BasicResultPanel"/>
 <extension id="size_smaller_than" class="org.columba.mail.gui.search.BasicResultPanel"/>
</extensionlist>

</plugin>