#set ($issue = $scarabR.ReportingIssue)
#set ($issueType = $scarabR.CurrentIssueType)

<div id="wizard1" class="app">
<form method="post" action="$link.setPage("entry,Wizard1.vm").setAction("ReportIssue")">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="entry,Wizard3.vm" />
<input type="hidden" name="$scarabG.Constant.CURRENT_ISSUE_TYPE" 
    value="$issueType.QueryKey" />

#set ($moduleAttributeGroups = $issue.Module.getDedupeGroupsWithAttributes($issueType))
#entryTemplateAndAttributes ($issue $moduleAttributeGroups $l10n.Next "eventSubmit_doCheckforduplicates" true)

#if ($moduleAttributeGroups.size() > 0)
<div class="functnbar2">
<input type="submit" name="eventSubmit_doCheckforduplicates" value="$l10n.Next" />&#160;
<input type="reset" value="$l10n.Reset" />
</div>
#end

$intake.declareGroups()

</form>
</div>
