#set ( $action = $link.setPage("entry,Wizard3.vm").setAction("ReportIssue").addPathInfo("nextTemplate", "entry,Wizard4.vm") )
#set ($user = $scarabR.User)
#set ($module = $user.CurrentModule)
#set ($issue = $user.ReportingIssue)
#set ($attrValues = $issue.ModuleAttributeValuesMap)

<FORM METHOD="get" NAME="Report3Form" action="$action">

<p>Please review the attributes you have set so far and fill out the remaining
attributes to submit the issue.</p>

#foreach ( $attVal in $attrValues )
  #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) ) 

  #if ( $attVal.Attribute.AttributeType.ValidationKey )
        #set ( $field = $attVal.Attribute.AttributeType.ValidationKey )
  #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )
        #set ( $field = "OptionId" )
  #else
        #set ( $field = "Value" )  
  #end


  #if ( $attrInput.get($field).isSet() )


    #if ( $attVal.isRequired() )
        $attrInput.get($field).setRequired(true)
        <b>*</b>
    #end

    $attVal.Attribute.Name:
    #attrValueErrorMsg ( $attVal $field )<br>

    #if ($attVal.Attribute.AttributeType.AttributeClass.Name == "user")

          #userSelectBox ($attVal "")

    #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )

          #attrValueLeafSelect ($attVal $field "")

    #else

        #if ($attVal.Attribute.AttributeType.Name == "long-string" )        

            <textarea name="$attrInput.Value.Key" cols="40" 
               rows="5">$!attrInput.Value</textarea>
        #else

           <input name= "$attrInput.Value.Key"
                value="$!attrInput.Value" size="20" type="text">

        #end
    #end
<br><br>
  #end
#end

<hr><br>Please fill in the following:<br><br>

#foreach ( $attVal in $attrValues )
  #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) ) 

  #if ( $attVal.Attribute.AttributeType.ValidationKey )
        #set ( $field = $attVal.Attribute.AttributeType.ValidationKey )
  #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )
        #set ( $field = "OptionId" )
  #else
        #set ( $field = "Value" )  
  #end

  #if ( !$attrInput.get($field).isSet() )

    #if ( $attVal.isRequired() )
        $attrInput.get($field).setRequired(true)
        <b>*</b>
    #end

    $attVal.Attribute.Name:
    #attrValueErrorMsg ( $attVal $field )<br>

    #if ($attVal.Attribute.AttributeType.AttributeClass.Name == "user")

          #userSelectBox ($attVal "")

    #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )

          #attrValueLeafSelect ($attVal $field "")

    #else

        #if ($attVal.Attribute.AttributeType.Name == "long-string" )        

            <textarea name= "$attrInput.Value.Key" cols="40" 
               rows="5">$!attrInput.Value</textarea>
        #else

           <input name= "$attrInput.Value.Key"
                value="$!attrInput.Value" size="20" type="text">
        #end

    #end
<br><br>
  #end
#end

<p>
            <input type="submit" 
                name="eventSubmit_doEnterissue" value="Submit Issue">

$intake.declareGroups()
</FORM>
