$page.setTitle("Identified as duplicate")

<div id="wizard2" class="app">

#set ($issue = $scarabR.ReportingIssue)
#set ($module = $scarabR.CurrentModule)
#set ($issueType = $scarabR.CurrentIssueType)

<h2>$page.Title</h2>
	
#set ($templateId = $data.Parameters.getString("templateId"))
<form method="post" name="Report2Form" action="$link.setPage("entry,Wizard2.vm")">
<input type="hidden" name="action" value="ReportIssue" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="entry,Wizard3.vm" />
<input type="hidden" name="templateId" value="$!templateId" />

<h3>New $scarabR.CurrentIssueType.Name</h3>

<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
#foreach ($group in $issueType.getDedupeAttributeGroups($module))
  #foreach ($att in $group.Attributes)
    #set ($rma = $module.getRModuleAttribute($att, $issueType))
    #if ($rma.Active)
      #set ($attVal = $scarabR.getNewAttributeValue($att, $issue))
      <th>$attVal.RModuleAttribute.DisplayValue</th>
    #end
 #end
#end
</tr>
<tr>
#foreach ($group in $issueType.getDedupeAttributeGroups($module))
  #foreach ($att in $group.Attributes)
    #set ($rma = $module.getRModuleAttribute($att, $issueType))
    #if ($rma.Active)
      #set ($attVal = $scarabR.getNewAttributeValue($att, $issue))
      #set ($attrInput = $intake.AttributeValue.mapTo($attVal))
      <td>
        #if ($attVal.Attribute.AttributeType.ValidationKey)
             ## TODO not sure what this is
        #elseif ($attVal.Attribute.AttributeType.Name == "combo-box")
             $att.getAttributeOption($attrInput.OptionId.toString()).Name
        #else
             $!attrInput.Value
        #end
      </td>
     #end
  #end
#end
</tr>
</table>

<h3>Possible duplicates</h3>

<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th>&#160;</th>
<th>Issue ID</th>
#set ($attrValues = $currentIssue.ModuleAttributeValuesMap)
#foreach ($attKey in $keys)
  #set ($attVal = $attrValues.get($attKey))
  #if ($attVal.isDedupeAttribute())
   <th>$attVal.RModuleAttribute.DisplayValue</th>
  #end
#end
<th>Creation date</th>
<th>Date closed</th>
</tr>
#foreach ($issue in $scarabR.IssueList)
  #set ($issueLink = $link.addPathInfo($data.Parameters).setPathInfo("currentIssueId", $issue.UniqueId).setPage($link.CurrentView).addPathInfo("action", "ReportIssue").toString())
  #indexedRows($velocityCount)
  #set ($issueGroup = $intake.Issue.Default)
  <td>
  #if ($velocityCount == 1)
    <input type="radio" name="$issueGroup.Id.Key" value="$issue.UniqueId" checked="checked" />
  #else
    <input type="radio" name="$issueGroup.Id.Key" value="$issue.UniqueId" />
  #end
  </td>
  <td><strong>$issue.UniqueId</strong></td>
  #set ($attrValues = $issue.ModuleAttributeValuesMap)
  #foreach ($attKey in $keys)
    #set ($attVal = $attrValues.get($attKey))
    #if ($attVal.isDedupeAttribute())
      <td>
        #if ($attVal.Attribute.AttributeType.ValidationKey)
           #set ($field = $attVal.Attribute.AttributeType.ValidationKey)
        #elseif ($attVal.Attribute.AttributeType.Name == "combo-box")
           #set ($field = "OptionId")
        #else
          #set ($field = "Value")
        #end
       $attrInput.get($field)
     </td>
    #end
  #end
<td>$issue.CreatedDate</td>
<td>#if ($issue.ClosedDate)$issue.ClosedDate#else&#160;#end</td>
</tr>
#end
</table>

<!-- Removing until the design of voting is discussed further
<p><input type="submit"  name="eventSubmit_doAddvote" value="Add vote to selected" /></p>
-->
#set ($atch = $scarabR.Attachment)
#set ($intakeAttachment = $intake.Attachment.mapTo($atch))

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
<th width="120">Note</th>
<td>
#textAreaMedium("$intakeAttachment.DataAsString.Key" $intakeAttachment.DataAsString)
<p>
<input type="submit" name="eventSubmit_doAddnote" value="Submit note" />
</p>
</td>
</tr>
</table>
</div>

<p>
Text entered into the "Note" text area will be appended to "Comments" of
selected Issue when either "Add vote to selected" or "Submit note" are executed.
Click Bypass Duplicates to continue entering your Issue.
</p>

<div class="functnbar2">
<input type="submit" name="eventSubmit_doGotowizard3" value="Bypass Duplicates" />&#160;
<input type="submit" name="eventSubmit_doCancel" value="Cancel" />
</div>

$intake.declareGroups()
#set ($intakeKeys = $wizard1_intake.keys())
#foreach ($key in $intakeKeys)
  <input type="hidden" name="$key" value="$wizard1_intake.get($key)" />
#end

</form>
</div>
