#set ( $action = $link.setPage("entry,Wizard1.vm").setAction("ReportIssue").addPathInfo("nextTemplate", "entry,Wizard3.vm") )
#set ($user = $scarabR.User)
#set ($module = $user.CurrentModule)
#set ($issue = $user.ReportingIssue)

<form name="ReportForm" method="post" action="$action">

<p>

    #set ( $attrValue = $issue.ModuleAttributeValuesMap.get("SUMMARY") )
    #set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
    #attrValueErrorMsg( $attrValue "Value" )<br>
    Summary:
   <input type="hidden" name="$attrInput.CID" value="$attrInput.OID">
   <input name= "$attrInput.Value.Key"
        value="$!attrInput.Value.Value" size="20" type="text">
    <br>
    A short description of the issue.

<p>

        <SPAN CLASS="SectionHeader">Version: (not in db)<BR>
        <SELECT NAME="selection2">
          <OPTION SELECTED VALUE="">Version 1</OPTION>
          <OPTION VALUE="">Option2</OPTION>
          <OPTION VALUE="">Option3</OPTION>
        </SELECT>
<p>




#set ( $attrValue = $issue.ModuleAttributeValuesMap.get("PLATFORM") )
#set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
#if ( $attrValue.isRequired() )
##    $attrInput.OptionId.setRequired(true)
        <b>*</b>
#end
Platform:<br>
#attrValueErrorMsg ($attrValue "OptionId") <br>
#attrValueSelect ($attrValue "OptionId" "")

<p>

#set ( $attrValue = $issue.ModuleAttributeValuesMap.get("OPERATING SYSTEM") )
#set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
#if ( $attrValue.isRequired() )
##    $attrInput.OptionId.setRequired(true)
        <b>*</b>
#end
OS:<br>
#attrValueErrorMsg ($attrValue "OptionId") <br>
#attrValueSelect ($attrValue "OptionId" "")

<p>

            <input type="submit" 
                name="eventSubmit_doSubmitattributes" value="Next ->">

</form>









