#macro ( attrValueErrorMsg $issue $attKey )
    #set ( $attrValue = $issue.ModuleAttributeValuesMap.get($attKey) )
    #set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
    #if ( !$attrInput.OptionId.isValid() )
        $attrInput.OptionId.Message
    #elseif ( !$attrInput.Value.isValid() )
        $attrInput.Value.Message
    #end
#end

## skip the dedupe for now
#set ( $action = $link.setPage("entry,Wizard1.vm").setAction("ReportIssue").addPathInfo("nextTemplate", "entry,Wizard3.vm") )
#set ($user = $scarabR.User)
#set ($module = $user.CurrentModule)
#set ($issue = $user.ReportingIssue)

<form name="ReportForm" method="post" action="$action">

<p>
    #attrValueErrorMsg( $issue "SUMMARY" )<br>
    Summary:
    #set ( $attrValue = $issue.ModuleAttributeValuesMap.get("SUMMARY") )
    #set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
   <input type="hidden" name="$attrInput.CID" value="$attrInput.OID">
   <input name= "$attrInput.Value.Key"
        value="$!attrInput.Value.Value" size="20" type="text">
    <br>
    A short description of the issue.

<p>

        <SPAN CLASS="SectionHeader">Version: (not in db)<BR>
        <SELECT NAME="selection2">
          <OPTION SELECTED VALUE="">Version 1</OPTION>
          <OPTION VALUE="">Option2</OPTION>
          <OPTION VALUE="">Option3</OPTION>
        </SELECT>
<p>

          Platform:<BR>
          #attrValueErrorMsg ($issue "PLATFORM") <br>
          #attrValueSelect ($issue "PLATFORM" "")
<p>

          OS:<br>
          #attrValueErrorMsg ($issue "OPERATING SYSTEM") <br>
          #attrValueSelect ($issue "OPERATING SYSTEM" "")
<p>

            <input type="submit" 
                name="eventSubmit_doSubmitattributes" value="Next ->">

</form>









