<?xml version="1.0" encoding="UTF-8"?>
<plugin name="French Vanilla Calendar" 
        description="French Vanilla Calendar Component" 
        id="org.columba.calendar.frenchvanilla" 
        version="1.0" 
        category="Application" 
        enabled="true">
        
  <extensionlist id="org.columba.core.component">
    <extension id="FrenchVanillaCalendar" class="org.columba.calendar.CalendarComponent" />
  </extensionlist>
  <extensionlist id="org.columba.core.frame">
    <extension id="CalendarFrame" class="org.columba.calendar.ui.frame.CalendarFrameMediator" >
      <properties managed="true" /> 
    </extension>
  </extensionlist>
  
  
</plugin>
