<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Log display" description="displays the log for Columba" id="org.columba.core.gui.logdisplay.LogDisplay" version="0.9" enabled="true">
  <extension name="org.columba.core.action">
    <action name="LogDisplayAction" class="org.columba.core.gui.logdisplay.DisplayLogAction"></action>
  </extension>
  <extension name="org.columba.core.menu">
    <menu name="menu_utilities" extensionpoint="bottom">
      <menuitem action="LogDisplayAction"></menuitem>
    </menu>
  </extension>
  <runtime jar="LogDisplay.jar" type="java"></runtime>
</plugin>
