#macro ( attrValueSelect $attrValue $optionFieldName $size )
    #set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
    #set ( $attr = $attrValue.Attribute )
    #set ( $module = $attrValue.Issue.Module )

        <select name="$attrInput.OptionId.Key" #if($size.length())size="$size"#end>
            #if ($size.length() == 0)
            <option value="">Choose...</option>
            #end
            #foreach ($option in $module.getRModuleOptions($attr))
              #set ( $selected = "" )
              #if ( $option.OptionId == $attrInput.get($optionFieldName).Value )
                #set ( $selected = " selected" )
              #end
              <option$selected value="$option.OptionId">
                  $option.DisplayValue</option>
            #end
        </select>
#end

#macro ( attrValueErrorMsg $attrValue $fieldName )
    #set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
    #if ( !$attrInput.get($fieldName).isValid() )
        <font color="red">$attrInput.get($fieldName).Message</font>
    #end
#end

#macro ( actionErrorMsg )
    #if ($data.Message)
        <font color="red">$data.Message</font>
    #end
#end

#macro ( stdIntakeMsg )
    #if ( !$intake.isAllValid() )
        <font color="red">
            Please check your form fields for errors and resubmit.
        </font>
    #end
#end

#macro ( numericSelect $name $first $last $selected $size )

    <select name="$name" size="$size">
    #foreach ( $i in [$first..$last] )
        <option value="$i" #if ($i==$selected)selected #end>$i</option>
    #end          
    </select>

#end      
