#macro ( attrValueSelect $attrValue $optionFieldName $size )
    #set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
    #set ( $attr = $attrValue.Attribute )
        <input type="hidden" name="$attrInput.CID" value="$attrInput.OID">

        <select name="$attrInput.OptionId.Key" #if($size.length())size="$size"#end>
            #if ($size.length() == 0)
            <option value="">Choose...</option>
            #end
            #foreach ($option in $attr.AttributeOptions)
              #set ( $selected = "" )
              #if ( $option.OptionId == $attrInput.get($optionFieldName).Value.Value )
                #set ( $selected = " selected" )
              #end
              <option$selected value="$option.OptionId">
                  $option.DisplayValue</option>
            #end
        </select>
#end

#macro ( attrValueErrorMsg $attrValue $fieldName )
    #set ( $attrInput = $intake.AttributeValue.mapTo($attrValue) ) 
    #if ( !$attrInput.get($fieldName).isValid() )
        <font color="red">$attrInput.get($fieldName).Message</font>
    #end
#end
