
#macro (viewIssue $currentIssue )
    #set ($attrValues = $currentIssue.ModuleAttributeValuesMap)

      <div class="grouper">
       #datatitle ("Issue ID #$currentIssue.UniqueId")

      <div class="axial">
       <table width="100%" cellpadding="3" cellspacing="2" border="1">
        <tr>
         <th width="120">Issue ID #:</th>
         <td>#$currentIssue.UniqueId</td>
        </tr>

#foreach ( $attKey in $attrValues.sequence() )
  #set ( $attVal = $attrValues.get($attKey))
  #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) ) 


  #if ( $attVal.Attribute.AttributeType.ValidationKey )
        #set ( $field = $attVal.Attribute.AttributeType.ValidationKey )
  #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )
        #set ( $field = "OptionId" )
  #else
        #set ( $field = "Value" )  
  #end


  #if( $canEdit )
         <tr>
          <th width="120">$attVal.Attribute.Name:</th>
          <td>
    #if ($attVal.Attribute.AttributeType.Name == "combo-box" )
        #attrValueLeafSelect ($attVal $field "")
        #attrValueErrorMsg ( $attVal $field )
    #else
        #attrValueErrorMsg( $attVal "Value" )
        #if ($attVal.Attribute.AttributeType.Name == "long-string" )        
            <textarea name="$attrInput.Value.Key" cols="40" 
               rows="5">$!attrInput.Value</textarea>
        #else
           <input name= "$attrInput.Value.Key"
                value="$!attrInput.Value" size="20" type="text">

        #end
    #end
          </td>
         </tr>

  #else
    #if ($attVal.isSet())
         <tr>
          <th width="120">$attVal.Attribute.Name:</th>
          <td>
       #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) ) 
       #if ($attVal.Attribute.AttributeType.Name == "combo-box" )
          $attVal.AttributeOption.Name
       #else
          $!attrInput.Value
       #end
    #end
          </td>
         </tr>
  #end
  
#end


#if ( $canEdit )
         <tr>
           <td colspan="2">Please add a comment to explain your change(s):
           <BR>
        #set( $attCommentGroup = $intake.Attachment.setKey("attCommentKey") )
         #fieldErrorMsg($attCommentGroup.DataAsString "<br>")
           <textarea rows="4" cols="35" class="text" name ="$attCommentGroup.DataAsString.Key"></textarea>
           <input type="hidden" name="$attCommentGroup.Name.Key" value="comment">
           </td>
        </tr>
        <tr>
           <td colspan="2"><input type="submit" value="edit attributes" name="eventSubmit_doSubmitattributes" /></td>
         </tr>
#end
        </table>
       </div>
      </div>

### ASSIGNEES

      <h3>Personnel</h3>

      <div class="axial">
       <table width="100%" cellpadding="3" cellspacing="2" border="1">
        <tr>
         <th width="120">committed by:</th>
        #set ($createdUser = $scarabR.getUser($currentIssue.CreatedBy))
         <td><a href="mailTo:$createdUser.Email">$createdUser.UserName</a></td>
        </tr>

        <tr>
         <th width="120">assignee(s):</th>
         <td>
   #if ( $currentIssue.AssigneeAttributeValues.isEmpty() )
         None assigned.
   #else
        #foreach ($ass in $currentIssue.AssigneeAttributeValues)
          #if( $velocityCount == $currentIssue.AssigneeAttributeValues.size() )
              #set( $comma = "")
          #else 
              #set( $comma = ",")
          #end
          #set ($assignedUser = $scarabR.getUser($ass.UserId) )
          #<a href="mailto:$assignedUser.Email">$assignedUser.UserName</a>$comma
        #end
    #end
         </td>
        </tr>
        #if ($canEdit)
        <tr>
          <td colspan="2">
            <input type="submit" value="edit assignees" name="eventSubmit_doEditassignees" />
          </td>
        </tr>
        #end
       </table>
      </div>

## URLS
#if (!$currentIssue.Urls.isEmpty() || $canEdit)
      <div class="grouper">
       #datatitle ("Related Links")

       <div class="datatable">
        <table width="100%" border="1" cellspacing="2" cellpadding="3">
         <tr>
          <th><img src="/scarab/images/icon_uparrow.gif" width="13" height="8" alt="sort" border="0" /><img src="/scarab/images/icon_downarrow.gif" width="13" height="8" alt="sort" border="0" /></th>

          <th>URL:</th>

          <th>Description:</th>
         </tr>

    #foreach($url in $currentIssue.Urls)
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end
          <td><input type="checkbox" name="url_delete_$url.AttachmentId"/></td>

          <td><input type="text" size="25" class="text" value="$url.DataAsString" /> </td>

          <td><input type="text" size="25" class="text" value="$url.Name" /></td>
         </tr>
    #end
   
    #if ($canEdit)
         <tr>
          <td><strong>add url:</strong></td>

#set( $urlGroup = $intake.Attachment.setKey("urlKey") )
          <td>
         #fieldErrorMsg($urlGroup.Name "<br>")
         <input type="text" size="25" class="text" name="$urlGroup.DataAsString.Key" value="$!urlGroup.DataAsString" />
         </td>

          <td>
         #fieldErrorMsg($urlGroup.DataAsString "<br>")
         <input type="text" size="25" class="text" name="$urlGroup.Name.Key" value="$!urlGroup.Name"/>
          </td>

         </tr>
        </table>
       </div>
           <p><input type="submit" value="add url" name="eventSubmit_doSubmiturl"  />&#160;<input type="submit" value="delete url"  name="eventSubmit_doDeleteurl" /></p>

    #end
#end



## ADD DEPENDENCY
#if ($canEdit)

<div class="grouper">

#set( $dependGroup = $intake.Depend.setKey("dependKey") )
<input type="hidden" name="$dependGroup.ObserverId.Key" value="$currentIssue.IssueId">

#datatitle ("Add Dependency")

<div class="datatable">
<table width="100%" border="1" cellspacing="2" cellpadding="3">
 #if (!$dependGroup.ObservedId.Message.equals(""))
 <tr>
   <td colspan="2" class="alert">$dependGroup.ObservedId.Message</td>
 </tr>
 #end
 #if (!$dependGroup.TypeId.Message.equals(""))
 <tr>
   <td colspan="2" class="alert">$dependGroup.TypeId.Message</td>
 </tr>
 #end
 <tr>
  <td>Add dependency on issue #</td>
  <td valign="top"><input type="text" size="3" class="text" name="$dependGroup.ObservedId.Key" value = "$!dependGroup.ObservedId"></td>
  <td valign="top"><select name="$dependGroup.TypeId.Key" class="select">
    <option value="0">Choose dependency type</option>
    #foreach ($dependType in $currentIssue.getAllDependencyTypes())
      <option value="$dependType.DependTypeId">
          $dependType.Name</option>
    #end
  </select>
    </td>
 </tr>
</table>
       <p><input type="submit" value="add dependency"  name="eventSubmit_doAdddependency" />
</div>

#end


## PARENT ISSUES
#if (!$currentIssue.Parents.isEmpty() )

      <div class="grouper">
       #datatitle ("Parent Issues")

       <div class="datatable">
        <table width="100%" border="1" cellspacing="2" cellpadding="3">
         <tr>

          <th width="20%">issue id#:</th>

          <th width="40%">issue summary:</th>

          <th>dependency type:</th>
         </tr>

       #foreach( $parent in $currentIssue.Parents )
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end
          <td><a href="IssueView.vm?id=$parent.IssueId">$parent.IssueId</a></td>

          <td><a href="IssueView.vm?id=$parent.IssueId">
             #set ($parentAttrValues = $parent.AllAttributeValuesMap)
             #set($attVal =  $parentAttrValues.get("SUMMARY"))
             #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
           $attVal.Value</a></td>

          <td>
   #if ($canEdit)
        <select name="parent_depend_type_id_$parent.IssueId" class="select">
            #foreach ($dependType in $currentIssue.getAllDependencyTypes())
              #set ( $selected = "" )
              #if ( $parent.getDependency($currentIssue).TypeId.equals($dependType.DependTypeId))
                #set ( $selected = " selected" )
              #end
              <option$selected value="$dependType.DependTypeId">
                  $dependType.Name</option>
            #end
              <option value="none">remove dependency </option>
        </select>
   #else
         $parent.getDependency($currentIssue).DependType.Name
   #end
          </td>
         </tr>
       #end

        </table>
#if ($canEdit)
       <p><input type="submit"  name="eventSubmit_doUpdateparent" value="update parent issue" />
#end
       </div>
      </div>
#end


## CHILD ISSUES
#if (!$currentIssue.Children.isEmpty() )
      <div class="grouper">
       #datatitle ("Child Issues")

       <div class="datatable">
        <table width="100%" border="1" cellspacing="2" cellpadding="3">
         <tr>

          <th width="20%">issue id#:</th>

          <th width="40%">issue summary:</th>

          <th>dependency type:</th>
         </tr>

       #foreach( $child in $currentIssue.Children )
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end

          <td><a href="IssueView.vm?id=$child.IssueId">$child.IssueId</a></td>

          <td><a href="IssueView.vm?id=$child.IssueId">
             #set ($childAttrValues = $child.AllAttributeValuesMap)
             #set($attVal =  $childAttrValues.get("SUMMARY"))
             #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
           $attVal.Value</a></td>

           <td>
    #if ($canEdit)
            <select name="child_depend_type_id_$child.IssueId" class="select">
            <option>Choose dependency type</option>
            #foreach ($dependType in $currentIssue.getAllDependencyTypes())
              #set ( $selected = "" )
              #if ( $currentIssue.getDependency($child).TypeId.equals($dependType.DependTypeId) )
                #set ( $selected = " selected" )
              #end
              <option$selected value="$dependType.DependTypeId">
                  $dependType.Name</option>
            #end
            <option value="none">remove dependency </option>
   #else
         $currentIssue.getDependency($child).DependType.Name
   #end
        </select>
          </td>
         </tr>
       #end

        </table>

    #if ( $canEdit )
       <p><input type="submit" value="update child issue"  name="eventSubmit_doUpdatechild" />
       </div>
      </div>
    #end
#end

#if (!$currentIssue.Comments.isEmpty() || $canEdit)

## COMMENTS

<h3>Comments</h3>

      <div class="axial">
       <table width="100%" cellpadding="3" cellspacing="2" border="1">

    #foreach($comment in $currentIssue.Comments)
        <tr>
         <th width="60">$format.getDate($scarabG.DateFormat, $comment.CreatedDate)
       #set ( $commentUser = $scarabR.getUser($comment.CreatedBy) )
         <a href="mailto:$commentUser.Email">$commentUser.UserName</a>
         </th>

         <td>$comment.DataAsString</td>
        </tr>

    #end

    #if ( $canEdit )
         <tr>
          <td width="60" class="a"><strong>add comment:</strong></td>
          <td class="b">
        #set( $commentGroup = $intake.Attachment.setKey("commentKey") )
        #fieldErrorMsg($commentGroup.DataAsString "<br>")
           <textarea rows="2" cols="35" class="text" name ="$commentGroup.DataAsString.Key"></textarea>
           <input type="hidden" name="$commentGroup.Name.Key" value="comment">
          </td>
         </tr>
         <tr>
         <td colspan="2">
           <input type="submit" value="add comment" name="eventSubmit_doSubmitcomment"/>
         </td>
    #end
        </table>
       </div>
      </div>
#end

#if ($fullHistory.equals("true"))
  #set( $activity = $currentIssue.getActivity(true) )
#else
  #set( $activity = $currentIssue.getActivity(false) )
#end

#if (!$activity.isEmpty() )

## ISSUE HISTORY
      <div class="grouper">
       #datatitle ("Issue History (up to first ten)")

       <div class="datatable">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <th width="120"><strong>date stamp:</strong></th>

          <th><strong>action:</strong></th>

          <th><strong>note:</strong></th>
         </tr>

       #foreach( $act in $activity )
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end
          <td width="120">
            #if( $act.Transaction)
              $format.getDate($scarabG.DateFormat, $act.Transaction.CreatedDate)
            #end
          </td>
          <td width="120">$act.Description 
#*
             #if (!$act.OldValue.equals(""))
                  from '$act.OldValue'
             #end
             #if (!$act.NewValue.equals(""))
                  to '$act.NewValue'
             #end
*#
          </td>
          <td> &nbsp;
             #if ($act.Attachment) 
               $act.Attachment.DataAsString
             #end
          </td>
         </tr>
       #end

        </table>
       </div>
      </div>


#if ($currentIssue.isHistoryLong())
   #if ($fullHistory.equals("true"))
        #set ( $historyLink = $link.addPathInfo($data.Parameters).setPathInfo("id", $currentIssue.IssueId).setPathInfo("fullhistory", "false").setPage("ViewIssue.vm") )
        <p><a href="$historyLink">hide complete history</p></a>
   #else
        #set ( $historyLink = $link.addPathInfo($data.Parameters).setPathInfo("id", $currentIssue.IssueId).setPathInfo("fullhistory", "true").setPage("ViewIssue.vm")) )
        <p><a href="$historyLink">show complete history</p></a>
   #end
#end


      <p><input type="submit" value="cancel" class="button" />&#160;</p>
#end

#end
