<div id="home-enternew" class="app">

<div class="tabs">
 <table cellpadding="3" cellspacing="0" border="0">
  <tr>
   #if ($link.setPage("home,ModuleQuery.vm").setAction("SetHomePage").isAllowed())
    <td><a href="$link">$l10n.ModuleQuery</a></td>
   #end
    <th>$l10n.EnterNew$l10n.Dots</th>
   #if ($link.setPage("home,XModuleList.vm").setAction("SetHomePage").isAllowed())
	<td><a href="$link">$l10n.BuildXModuleQuery</a></td>
   #end
  </tr>
 </table>
</div>

<!-- commenting out until functionality is added
<div class="functnbar">
     <input type="submit" value="$l10n.Save" name="#" />
</div>
-->       

<h3>$l10n.IssueTypesInProject</h3>

#set ($currentModule = $scarabR.CurrentModule)
#set ($currentModuleIssueTypes = $scarabR.CurrentModule.IssueTypes)

#if ($currentModuleIssueTypes.isEmpty())
<p class="alert">$l10n.NoIssueTypesInModule</p>
#else
  <table width="100%" border="1" cellspacing="2" cellpadding="3">
    <tr>
      <th>$l10n.Name</th>
<!-- commenting out until functionality is added
      <th>$l10n.ShowInLeftNav</th>
-->
      <th>$l10n.Description</th>
    </tr>

#foreach ($issueType in $currentModuleIssueTypes)

    #indexedRows($velocityCount)
    #set ($rmit = $currentModule.getRModuleIssueType($issueType))
      <td><a href="$link.setPage("entry,Wizard1.vm").addPathInfo($scarabG.Constant.NEW_ISSUE_TYPE, $issueType.QueryKey).setAction("SelectIssueType")">$rmit.DisplayName</a></td>
<!-- commenting out until functionality is added
      <td><input type="checkbox" /></td>
-->
      <td>$rmit.DisplayDescription</td>
    </tr>        
#end   
             
  </table>
#end
<!-- commenting out until functionality is added
  <div class="functnbar2">
     <input type="submit" value="$l10n.Save" name="#" />
  </div>
-->

</div>
