<div id="home-modulequery" class="app">

<div class="tabs">
  <table cellpadding="3" cellspacing="0" border="0">
    <tr>
      <th>$l10n.ModuleQuery</th>
   #if ($link.setPage("home,EnterNew.vm").setAction("SetHomePage").isAllowed())
      <td><a href="$link">$l10n.EnterNew$l10n.Dots</a></td>
   #end
   #if ($link.setPage("home,XModuleList.vm").setAction("SetHomePage").isAllowed())
    <td><a href="$link">$l10n.BuildXModuleQuery</a></td>
   #end
    </tr>
  </table>
</div>

<form method="post" action="$link.setPage("home,ModuleQuery.vm")">
<input type="hidden" name="action" value="ModuleQuery" />
        
<h3>$l10n.IssueTypesInModule</h3>
<div class="colbar">
  $l10n.ToQuery
</div>

<div class="colbar">
  #set ($checked = false)
  #set ($queryType = $data.Parameters.getString("querytype",""))
  #if ($queryType.equals("custom") || $queryType.length() == 0)
      #set ($checked = true)
  #end
  <div><input type="radio" name="querytype" value="custom" 
       #if ($checked)checked="checked"#end />&nbsp;
    <strong>$l10n.QuerySelected</strong> $l10n.QuerySelectedDesc
  </div>
  <div><input type="radio" name="querytype" value="all"
       #if ($queryType == "all")checked="checked"#end />&nbsp;
    <strong>$l10n.AllIssues</strong> $l10n.AllIssuesDesc
  </div>
  <div><input type="radio" name="querytype" value="my"
       #if ($queryType == "my")checked="checked"#end />&nbsp;
    <strong>$l10n.MyIssues</strong> $l10n.MyIssuesDesc
  </div>
</div>

#set ($rmits = $scarabR.CurrentModule.RModuleIssueTypes)
#set ($isMoreThanOne = $rmits.size() > 1)
#set ($isAtLeastOne = $rmits && !$rmits.isEmpty())
#if ($isAtLeastOne)
<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
    <th>$l10n.Select</th>
    <th>$l10n.Name</th>
    <th>$l10n.Description</th>
  </tr>
 #if ($isMoreThanOne)
  <tr class="a">
  #set ($rmitId = $data.Parameters.getString("rmit_id"))
  #set ($checked = !$rmitId)
    <td><input type="checkbox" name="allit" value="true"
        #checked($checked) /></td>
    <td>$l10n.AllIssueTypes</td>
    <td>$l10n.QueryAllIssueTypes</td>
  </tr>
 #end
#set ($checked = !$isMoreThanOne)
#foreach ($rmit in $rmits)
  #if ($isMoreThanOne)
    #indexedRows2($velocityCount)
  #else
    #indexedRows($velocityCount)
  #end
    <td>
  #if ($rmitId && $rmitId == $rmit.QueryKey)
      #set ($checked = true)
  #end
      <input type="checkbox" name="rmit_id" value="$rmit.QueryKey" 
          onclick="allit.checked=false" #checked($checked) />
      #set ($checked = false)
    </td>
    <td><a href="$link.setPage("AdvancedQuery.vm").addPathInfo($scarabG.Constant.NEW_ISSUE_TYPE, $rmit.IssueType.QueryKey).addPathInfo($scarabG.Constant.NEXT_TEMPLATE, "AdvancedQuery.vm").setAction("SelectIssueType")">$rmit.DisplayName</a></td>
    <td>$rmit.DisplayDescription</td>
  </tr>
#end
</table>
<div class="functnbar3">
  <input type="submit" value="$l10n.Go" name="foo" />
</div>

#else
<p class="alert">$l10n.NoIssueTypesInModule</p>
#end

