<div id="home-modulequery" class="app">

<div class="tabs">
  <table cellpadding="3" cellspacing="0" border="0">
    <tr>
      <th>Module query</th>
   #if ($link.setPage("home,EnterNew.vm").setAction("SetHomePage").isAllowed())
      <td><a href="$link">Enter new...</a></td>
   #end
   #if ($link.setPage("home,XModuleList.vm").setAction("SetHomePage").isAllowed())
    <td><a href="$link">Build cross module query</a></td>
   #end
    </tr>
  </table>
</div>

<form method="post" action="$link.setPage("home,ModuleQuery.vm")">
<input type="hidden" name="action" value="ModuleQuery" />
        
<h3>Issue types in this module</h3>
<div class="colbar">
  Click issue type <strong>Name</strong> to query a single issue type, or 
  choose one of the following three options, select multiple issue types, 
  and click "Go"
</div>

<div class="colbar">
  #set ($checked = false)
  #if (!$data.Parameters.getString("querytype") || $data.Parameters.getString("querytype") == "custom")
      #set ($checked = true)
  #end
  <div><input type="radio" name="querytype" value="custom" 
       #if ($checked)checked="checked"#end />&nbsp;
    <strong>Query selected:</strong> query common fields from issue types in 
    this module
  </div>
  <div><input type="radio" name="querytype" value="all"
       #if ($data.Parameters.getString("querytype") == "all")checked="checked"#end />&nbsp;
    <strong>All issues:</strong> generates a list of all issues from issue 
    types selected from the list
  </div>
  <div><input type="radio" name="querytype" value="my"
       #if ($data.Parameters.getString("querytype") == "my")checked="checked"#end />&nbsp;
    <strong>My issues:</strong>
  </div>
</div>

#set ($rmits = $scarabR.CurrentModule.RModuleIssueTypes)
#set ($isMoreThanOne = $rmits.size() > 1)
#if (!$isMoreThanOne)
<p class="alert">This module has no issue types defined.</p>
#else
<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
    <th>Select</th>
    <th>Name</th>
    <th>Description</th>
  </tr>
  <tr class="a">
#set ($checked = !$data.Parameters.getString("rmit_id"))
    <td><input type="checkbox" name="allit" value="true"
        #checked($checked) /></td>
    <td>All issue types</td>
    <td>Query all issue types in this list</td>
  </tr>
#end
#set ($checked = !$isMoreThanOne)
#foreach ($rmit in $rmits)
  #if ($isMoreThanOne)
    #indexedRows2($velocityCount)
  #else
    #indexedRows($velocityCount)
  #end
    <td>
  #if ($data.Parameters.getString("rmit_id") == $rmit.QueryKey)
      #set ($checked = true)
  #end
      <input type="checkbox" name="rmit_id" value="$rmit.QueryKey" #checked($checked) />
      #set ($checked = false)
    </td>
    <td><a href="$link.setPage("AdvancedQuery.vm").addPathInfo($scarabG.Constant.NEW_ISSUE_TYPE, $rmit.IssueType.QueryKey).addPathInfo($scarabG.Constant.NEXT_TEMPLATE, "AdvancedQuery.vm").setAction("SelectIssueType")">$rmit.DisplayName</a></td>
    <td>$rmit.IssueType.Description</td>
  </tr>
</table>
#end

#if ($isMoreThanOne)
<div class="functnbar3">
  <input type="submit" value="Go" name="foo" />
</div>
#end
</div>
