#set ($user = $data.User)
#set ($isEdit = $data.Parameters.getString("queryId", "").length() > 0)

<div class="app" id="xmodulelist">

<div class="tabs">
  <table cellpadding="3" cellspacing="0" border="0">
    <tr>
   #if ($link.setPage("home,ModuleQuery.vm").setAction("SetHomePage").isAllowed())
    <td><a href="$link">$l10n.ModuleQuery</a></td>
   #end
   #if ($link.setPage("home,EnterNew.vm").setAction("SetHomePage").isAllowed())
      <td><a href="$link">$l10n.EnterNew$l10n.Dots</a></td>
   #end
	<th>$l10n.BuildXModuleQuery</th>
	</tr>
  </table>
</div>

<form method="post" action="$link.setPage("home,XModuleList.vm")">
<input type="hidden" name="action" value="DefineXModuleList" />
 <input type="hidden" name="queryString" 
     value="$!data.Parameters.getString("queryString")" />
 <input type="hidden" name="queryId" 
     value="$!data.Parameters.getString("queryId")" />
 <input type="hidden" name="$scarabG.Constant.LAST_TEMPLATE" 
     value="home,XModuleList" />
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" 
     value="AdvancedQuery.vm" />

#createMITList("Finished" $l10n.DefineQuery $user)

#set ($mitList = $user.CurrentMITList)
#if (!$mitList || $mitList.isEmpty())
 <h3>$l10n.PredefinedLists</h3>

 #set($manager = $scarabG.MITListManager)
 #set($key = "pd_list_id")
 #set($list2 = $manager.AllModulesCurrentIssueTypeList)
 #set($checked2 = $list.QueryKey == $data.Parameters.getString($key, ""))
 #set($list = $manager.AllModulesAllIssueTypesList)
 #set($checked = !$checked2 || $list.QueryKey == $data.Parameters.getString($key, ""))
 <div class="colbar">
   <p>$l10n.ChoosePredefinedList</p>
   <p><input type="radio" name="$key" value="$list.QueryKey"
     #if($checked) checked="checked"#end />$list.Name</p>
   <p><input type="radio" name="$key" value="$list2.QueryKey"
     #if($checked2) checked="checked"#end />$list2.Name</p>
 </div>

 <div class="functnbar2">
  <input type="submit" name="eventSubmit_doGotoquerywithinternallist" value="$l10n.DefineQuery" />
 </div>
#end

$intake.declareGroups()
</form>
</div>
