#set ($user = $data.User)

<div class="app" id="xmodulelist">

<div class="tabs">
  <table cellpadding="3" cellspacing="0" border="0">
    <tr>
   #if ($link.setPage("home,ModuleQuery.vm").setAction("SetHomePage").isAllowed())
    <td><a href="$link">Module query</a></td>
   #end
   #if ($link.setPage("home,EnterNew.vm").setAction("SetHomePage").isAllowed())
      <td><a href="$link">Enter new...</a></td>
   #end
	<th>Build cross module query</th>
	</tr>
  </table>
</div>

<form method="post" action="$link.setPage("home,XModuleList.vm")">
<input type="hidden" name="action" value="DefineXModuleList" />
<input type="hidden" name="queryString" value="$!queryString" />

#if ($user.CurrentMITList && !$user.CurrentMITList.isEmpty())
<div class="functnbar">
 <input type="submit" name="eventSubmit_doGotoquery" value="Go" />
</div>
#end
		
<h3>Issue types selected for this query</h3>

<div class="colbar">
  <select name="list_id">
    <option value="">Select a saved cross module query...</option>
  #foreach ($list in $user.MITLists)
    <option value="$list.QueryKey"#if($list.QueryKey == $data.Parameters.getString("list_id", "")) selected="selected"#end>$list.Name</option>
  #end
  </select>&nbsp;
  <input type="submit" name="eventSubmit_doChooselist" value="Go" />
</div>
		
#if (!$user.CurrentMITList || $user.CurrentMITList.isEmpty())
<p class="alert">
No issue types have been selected.  Please select from the list below.
</p>
#else
<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
    <th nowrap="nowrap">Select</th>
    <th>Module</th>
    <th>Issue type</th>
    <th>Number of issues</th>
    <th>Description</th>
  </tr>
 #foreach ($item in $user.CurrentMITList.MITListItems)
  #indexedRows($velocityCount)
    <td>
    <input type="checkbox" name="mitlistitem" value="$item.QueryKey" />
    </td>
    <td>$item.Module.Name</td>
    <td>$item.IssueType.Name</td>
    <td>$item.IssueCount</td>
    <td>$item.IssueType.Description</td>
  </tr>        
 #end
</table>  
#end

#if ($user.CurrentMITList && !$user.CurrentMITList.isEmpty())
 <div class="functnbar3">
  <input type="submit" name="eventSubmit_doRemoveitemsfromlist" 
     value="Remove from list" />&nbsp;
  <input type="submit" name="eventSubmit_doGotosavelist" value="Save this list" />
 </div>

 <div class="functnbar2">
  <input type="submit" name="eventSubmit_doGotoquery" value="Go" />
 </div>
#end

<a name="add"></a>

<h3>Modules / issues in this domain</h3>

<!-- foo
<div class="axial"> bar
<table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th>Filter string</th>
   <td><input type="text" value="" />&nbsp;<select name="#"
   size=""><option value="">Module</option>
            <option value="18">Issue type</option>
            </select>&nbsp;<input type="submit" value="filter" /></td>
  </tr>
 <tr>
</table>
</div>
-->

<!--
<div class="colbar"><div>1-10 of 26</div>
<div>p. 1 <a href="#">2</a> <a href="#">3</a></div></div>
-->

#set ($searchableRMITs = $user.getSearchableRMITs())
#if ($searchableRMITs.isEmpty())
<p class="alert">
There are no more issue types to select.
</p>
#else
<div class="directory">
  <table width="100%" border="1" cellspacing="2" cellpadding="3">
	<tr>
	  <th nowrap="nowrap">Select</th>
	  <th>
          <img src="$staticLink.setPath("/images/icon_downarrow_on.gif")" 
              width="13" height="8" alt="sort descending" border="0" />
          &nbsp;Module
      </th>
	  <th>Issue type</th>
	  <th>Description</th>
    </tr>

#foreach ($rmit in $searchableRMITs)
  #indexedRows($velocityCount)
    <td>
    <input type="checkbox" name="rmitid" value="$rmit.QueryKey" />
    </td>
    <td>$rmit.Module.Name</td>
    <td>$rmit.IssueType.Name</td>
    <td>$rmit.IssueType.Description</td>
#end
  </tr>        
</table>  
</div>
#end      

<!-- commented out until paging is implemented
<div class="colbar">p. 1 <a href="#">2</a> <a href="#">3</a></div>
-->

#if (!$searchableRMITs.isEmpty())
<div class="functnbar3">
 <input type="submit"  name="eventSubmit_doAddselectedrmits" 
     value="Add selected to cross module query list" />
</div>
#end
<!-- commented out until paging is implemented
<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
    <tr>
       <th>Max items per page</td>
       <td><input type="radio" name="foo" checked="checked" /> 25 
           <input type="radio" name="foo" /> 50 
           <input type="radio" name="foo" /> 75 
           <input type="radio" name="foo" /> 100&#160;
           <input type="submit" value="refresh" />
       </td>
    </tr>
  </table>
</div>
-->

$intake.declareGroups()
</form>
</div>
