#set ($user = $data.User)
#set ($mitList = $user.CurrentMITList)
#set ($isEdit = $data.Parameters.getString("queryId", "").length() > 0)

<div class="app" id="xmodulelist">

<div class="tabs">
  <table cellpadding="3" cellspacing="0" border="0">
    <tr>
   #if ($link.setPage("home,ModuleQuery.vm").setAction("SetHomePage").isAllowed())
    <td><a href="$link">$l10n.ModuleQuery</a></td>
   #end
   #if ($link.setPage("home,EnterNew.vm").setAction("SetHomePage").isAllowed())
      <td><a href="$link">$l10n.EnterNew$l10n.Dots</a></td>
   #end
	<th>$l10n.BuildXModuleQuery</th>
	</tr>
  </table>
</div>

<form method="post" action="$link.setPage("home,XModuleList.vm")">
<input type="hidden" name="action" value="DefineXModuleList" />
 <input type="hidden" name="queryString" 
     value="$!data.Parameters.getString("queryString")" />
 <input type="hidden" name="queryId" 
     value="$!data.Parameters.getString("queryId")" />

<h3>$l10n.BuildListOfIssueTypes</h3>

#if (!$isEdit && $mitList && !$mitList.isEmpty())
<div class="functnbar">
 <input type="submit" name="eventSubmit_doGotoquery" value="$l10n.DefineQuery" />
</div>
#end

#if (!$isEdit)
<div class="colbar">
  <p>
    $l10n.UsePreviouslySavedList
  </p>
  <select name="list_id">
    <option value="">$l10n.SelectSaveXModuleQuery</option>
  #foreach ($list in $user.MITLists)
    <option value="$list.QueryKey"#if($list.QueryKey == $data.Parameters.getString("list_id", "")) selected="selected"#end>$list.Name</option>
  #end
  </select>&nbsp;
  <input type="submit" name="eventSubmit_doChooselist" value="$l10n.Select" />
</div>
#end

#if (!$mitList || $mitList.isEmpty())
<p class="alert">
$l10n.NoIssueTypeSelected
</p>
#else
<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
    <th nowrap="nowrap">$l10n.Select</th>
    <th>$l10n.CapModule</th>
    <th>$l10n.IssueType</th>
    <th>$l10n.NumberOfIssues</th>
    <th>$l10n.Description</th>
  </tr>
 #foreach ($item in $mitList.MITListItems)
  #indexedRows($velocityCount)
    <td>
    <input type="checkbox" name="mitlistitem" value="$item.QueryKey" />
    </td>
    <td>$item.Module.Name</td>
    <td>$item.IssueType.Name</td>
    <td>$item.IssueCount</td>
    <td>$item.IssueType.Description</td>
  </tr>        
 #end
</table>  
#end

#if ($mitList && !$mitList.isEmpty())
 <div class="functnbar3">
 #if (!$isEdit)
  <input type="submit" name="eventSubmit_doStartover" 
     value="$l10n.RemoveAll" />&nbsp;
 #end
  <input type="submit" name="eventSubmit_doRemoveitemsfromlist" 
     value="$l10n.RemoveSelected" />&nbsp;
  <input type="submit" name="eventSubmit_doGotosavelist" value="$l10n.Save" />
 </div>

 #if (!$isEdit)
 <div class="functnbar2">
  <input type="submit" name="eventSubmit_doGotoquery" value="$l10n.DefineQuery" />
 </div>
 #end
#end

<a name="add"></a>

<h4>$l10n.ModuleIssuesInDomain</h4>

#set ($searchField = $data.Parameters.getString("searchField", ""))
#set ($searchString = $data.Parameters.getString("searchString", ""))
#set ($sortColumn = $data.Parameters.getString("sortColumn", "module"))
#set ($sortPolarity = $data.Parameters.getString("sortPolarity", "asc"))

## FILTERING
<div class="axial">
<table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th>$l10n.FilterString</th>
   <td><input type="text" name="searchString" value="$searchString" />&nbsp;
     <select name="searchField" size="">
       <option value="module" #if($searchField.equals("module")) selected="selected"#end>$l10n.Module</option>
       <option value="issuetype" #if($searchField.equals("issuetype")) selected="selected"#end>$l10n.IssueType</option>
     </select>&nbsp;
     <input type="submit" name="eventSubmit_doRefresh" 
       value="$l10n.Filter" />
   </td>
  </tr>
 <tr>
</table>
</div>

#set ($searchableRMITs = $user.getSearchableRMITs($searchField, $searchString, $sortColumn, $sortPolarity))
#if ($searchableRMITs.isEmpty() && $searchField.length() != 0 && $searchString.length() != 0)
 ## try one more time with no search criteria
 #set ($searchableRMITs = $user.getSearchableRMITs("", "", $sortColumn, $sortPolarity))
 #if (!$searchResults.isEmpty())
   <p class="alert">$l10n.FilterNoResults</p>
 #end
#end

#if ($searchableRMITs.isEmpty())
<p class="alert">
$l10n.NoMoreIssueTypes
</p>
#else

## PAGINATION
## if results exceed limit, get subset list
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage", 25))
#set ($pageNum = $data.Parameters.getInt("pageNum", 1))

#macro (prepRMITPageLink)
 #set ($dummy = $link.setPage("home,XModuleList.vm").setPathInfo("resultsPerPage", "$resultsPerPage").setPathInfo("searchString", $searchString).setPathInfo("searchField", $searchField).setPathInfo("sortColumn", "$sortColumn").setPathInfo("sortPolarity", "$sortPolarity"))
#end

#macro (paginateXModuleList)
<div class="colbar">
 <p class="paginate">

 #if($scarabR.PrevPage != 0)
  #prepRMITPageLink()
  #set ($prevLink = $link.setPathInfo("pageNum", "$scarabR.PrevPage"))
  <a href="$prevLink">&laquo; $l10n.Previous</a> |
 #end

 $pageNum of $scarabR.NbrPages

 #if ($scarabR.NextPage != 0)
  #prepRMITPageLink()
  #set ($nextLink = $link.setPathInfo("pageNum", "$scarabR.NextPage"))
  | <a href="$nextLink">$l10n.Next &raquo;</a>
 #end
 </p>
</div> 
#end

#set ($isAddPagination = $resultsPerPage > 0 && $searchableRMITs.size() > $resultsPerPage)
#if ($isAddPagination)
  #set ($searchableRMITs = $scarabR.getPaginatedList($searchableRMITs, $pageNum, $resultsPerPage))
  #paginateXModuleList()
#end

<div class="directory">
  <table width="100%" border="1" cellspacing="2" cellpadding="3">
	<tr>
	  <th nowrap="nowrap">$l10n.Select</th>

#macro (prepRMITLink $sortKey)
 #set ($dummy = $link.setPage("home,XModuleList.vm").setPathInfo("pageNum",$pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()).setPathInfo("searchString", $searchString).setPathInfo("searchField", $searchField).setPathInfo("sortColumn", "$sortKey"))
#end

#macro (rmitSort $shortName $longName)
  #if ($sortColumn.equals($shortName))
    #if ($sortPolarity.equals("desc"))
      #prepRMITLink($shortName)
      #set ($arrowLink = $link.setPathInfo("sortPolarity", "asc"))
      <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_downarrow_on.gif")" width="13" height="8" alt="sort descending" title="sort descending" border="0" /></a>&#160;
    #else
      #prepRMITLink($shortName)
      #set ($arrowLink = $link.setPathInfo("sortPolarity", "desc"))
      <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_uparrow_on.gif")" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" /></a>&#160;
    #end $longName
  #else
    #prepRMITLink($shortName)
    #set ($sortLink = $link.setPathInfo("sortPolarity", "$sortPolarity"))
    <a href="$sortLink">$longName</a>
  #end
#end

	  <th>#rmitSort("module" "$l10n.CapModule")</th>
	  <th>#rmitSort("issuetype" "$l10n.IssueType")</th>
	  <th>$l10n.Description</th>
    </tr>

#foreach ($rmit in $searchableRMITs)
  #indexedRows($velocityCount)
    <td>
    <input type="checkbox" name="rmitid" value="$rmit.QueryKey" />
    </td>
    <td>$rmit.Module.Name</td>
    <td>$rmit.IssueType.Name</td>
    <td>$rmit.DisplayDescription</td>
  </tr>
#end
</table>  
</div>
#end      

#if ($isAddPagination)
  #paginateXModuleList()
#end

<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
     <tr>
       <th>$l10n.MaxPerPage</th>
       <td>
        #resultsPerPageRadioSelect($resultsPerPage)
        &#160;<input type="submit" value="$l10n.Refresh" />
       </td>
     </tr>
  </table>
</div>

#if (!$searchableRMITs.isEmpty())
<div class="functnbar3">
 <input type="submit"  name="eventSubmit_doAddselectedrmits" 
     value="$l10n.AddSelected" />
</div>
#end

## keep track of state of the list, resultsPerPage should come after the
## chance to change it, because we will use the first value
<input type="hidden" name="sortColumn" value="$sortColumn" />
<input type="hidden" name="sortPolarity" value="$sortPolarity" />
<input type="hidden" name="pageNum" value="$pageNum" />
<input type="hidden" name="resultsPerPage" value="$resultsPerPage" />


#if (!$mitList || $mitList.isEmpty())
 <h3>$l10n.PredefinedLists</h3>

 #set($manager = $scarabG.MITListManager)
 #set($key = "pd_list_id")
 #set($list2 = $manager.AllModulesCurrentIssueTypeList)
 #set($checked2 = $list.QueryKey == $data.Parameters.getString($key, ""))
 #set($list = $manager.AllModulesAllIssueTypesList)
 #set($checked = !$checked2 || $list.QueryKey == $data.Parameters.getString($key, ""))
 <div class="colbar">
   <p>$l10n.ChoosePredefinedList</p>
   <p><input type="radio" name="$key" value="$list.QueryKey"
     #if($checked) checked="checked"#end />$list.Name</p>
   <p><input type="radio" name="$key" value="$list2.QueryKey"
     #if($checked2) checked="checked"#end />$list2.Name</p>
 </div>

 <div class="functnbar2">
  <input type="submit" name="eventSubmit_doGotoquerywithinternallist" value="$l10n.DefineQuery" />
 </div>
#end

$intake.declareGroups()
</form>
</div>
