<?xml version="1.0" encoding="UTF-8"?>

<menubar>

	<menu id="menu_file_new" placeholderid="open">
	<separator />
		<menuitem id="NewAppointment" />
		<!-- <menuitem id="NewAllDayAppointment" />-->
	</menu>

	<menu id="menu_file" placeholderid="top">
		<menuitem id="SaveAs" />
	</menu>

	<menu id="menu_actions">
		<menuitem id="NewAppointment" />
		<!-- <menuitem id="NewAllDayAppointment" />  -->
		<separator />
		<menuitem id="EditActivity" />
		<menuitem id="DeleteActivity" />
		<separator />
		<imenu id="CopyActivity" />
		<imenu id="MoveActivity" />
	</menu>

	<menu id="menu_view" placeholderid="bottom">
		<separator />
		<menuitem id="GoBack" />
		<menuitem id="Today" />
		<menuitem id="GoNext" />
		<separator />
		<menu id="Show">
			<checkboxmenuitem id="DayView" />
			<checkboxmenuitem id="WorkWeekView" />
			<checkboxmenuitem id="WeekView" />
			<checkboxmenuitem id="MonthView" />
		</menu>
	</menu>

	<menu id="menu_utilities" placeholderid="bottom">
		<separator />
		<menuitem id="ImportCalendar" />
		<menuitem id="ExportCalendar" />
	</menu>

</menubar>