<?xml version="1.0" encoding="UTF-8"?>

<menubar>
	<menu name="menu_file" extensionpoint="open">
		<menuitem action="AddContactCard"/>	
		<menuitem action="AddGroupCard"/>	
	</menu>
	
	<menu name="menu_file" extensionpoint="top">
		<menuitem action="RemoveCard" />
        <menuitem action="EditProperties" />
		<separator/>
	</menu>
	
	<menu name="menu_utilities">
        <menuitem action="AddVCard"/>
	 	<menuitem action="AddressbookImport"/>
	</menu>
	
</menubar>
