<?xml version="1.0" encoding="UTF-8"?>

<menubar>
	<menu id="menu_file" placeholderid="open">
		<menuitem id="AddContactCard"/>	
		<menuitem id="AddGroupCard"/>	
	</menu>
	
	<menu id="menu_file" placeholderid="top">
		<menuitem id="RemoveCard" />
        <menuitem id="EditProperties" />
		<separator/>
	</menu>
	
	<menu id="menu_utilities" placeholderid="bottom">
        <menuitem id="AddVCard"/>
        <menuitem id="ExportVCard" />
	 	<menuitem id="AddressbookImport"/>
	</menu>
	
</menubar>
