body {
	background: white;
	color: black;
	margin:	0;
	padding: 0;
	}
body, div, p, th, td, li, dl, dd {
	font-family: Lucida, Arial, Helvetica, sans-serif;
	}
code, pre {
	font-family:	'Andale Mono', Courier, monospace;
	}
h2, h3, h4 {
	font-family:	Tahoma, Verdana, Helvetica, Arial, sans-serif;
	}
h2 {
 font-size: 1.5em
 }
th, td {
 text-align: left;
 vertical-align: top 
 }
.right {
	text-align:	right;
	}
.center {
	text-align:	center;
	}
#globalnav { 
	font-weight: bold;
	}
#leftcol a:link, #leftcol a:visited {
	color: blue; 
	}
a:active, a:hover, #leftcol a:active, #leftcol a:hover {
	color: #f60 !important;
	}
#login a:link, #login a:visited {
	color: white; 
	text-decoration: underline;
	}
#login a:active, #login a:hover {
	color: #f60 !important;
	}
#helptext a {
 text-decoration: none;
 }
.app th {
	background-color: #ccc;
	}
.a td { 
	background: #efefef;
	}
.b td { 
	background: #fff;
	}
.datatablechild th {
	background: #efefef;
	color: #000;
	}
.datatablechild tr.a td {
	background: #cf9;
	}
.axial th {
	background-color: #efefef;
	text-align: right;
	color: black
	}
.alert {
	background: #ffc;
	font-weight: bold
	}
.selection {
	background: #ffc;
	font-weight: bold
	}
.stb	{
	margin-top: 1em;
	}
.mtb	{
	margin-top: 2em;
	}
dd	{
	margin-bottom: .67em;
	}
#footer {
 margin: 8px
 }
.username {
	white-space: nowrap;
	}
#login {
	color: white;
	}
#login .username {
	font-weight: bold;
	}
#helptext {
	margin-top: 2em
	}
#helptext td div {
	margin: .5em
	}
#helptext th {
	background: #cc9;
	}
#helptext td {
	background: #ffc;
	}
.docs h2 { color: #666
 }
.docs h3 { color: #333
 }
.docs h4 { color: #000
 }
.tabs a		{
	text-decoration:	none;
	}
.courtesylinks {
	margin-top: 1em;
	padding-top: 1em
	}
#navcolumn div {
 margin-bottom: .67em
 }
#navcolumn div div {
 padding-left: 1em;
 margin-bottom: 0
 }
#banner, #banner td { 
	background: #036;
	color: white;
	vertical-align: middle;
	}
body #banner #login a { 
	color: white;
	}
.tabs th {
	color: white;
	background-color: #999;
	padding-left: 7px;
	padding-right: 7px;
	}
.tabs td {
	background-color: #ccc;
	padding-left: 7px;
	padding-right: 7px;
	}

/* Scarab/App - styles start here */

#topmodule td {
	background: #efefef;
	padding-left: 12px;
	vertical-align:	middle;
	}	
.datatablechild th {
	background: #c3c3c3;
	color: #000;
	font-weight: bold;
	}
/* Scarab/App - styles end here */
