/* SoucreCast v1.2 STYLE SHEET */
@import url(ns4_toxins.css);


/* SoucreCast - styles start here */
body {
	background: white;
	color: black;
	margin: 0;
	padding: 0;
	line-height: 140%; 
	}
a:link, a:visited {
	color: blue; 
	text-decoration: underline;
	}
a:active, a:hover {
	color: red;
	text-decoration: underline;
	}
body, div, p, th, td, li, dl, dd {
	font-family: Lucida, Arial, Helvetica, sans-serif;
	}
h2, h3, h4 {
	font-family: Tahoma, Verdana, Lucida, Arial, Helvetica, sans-serif;
	}
h2 {
	font-size: 16px;
 	}
th, td {
	text-align: left;
	vertical-align: top;
 	}
.right {
	text-align:	right;
	}
.center {
	text-align:	center;
	}
#leftcol, #bodycol	{
	vertical-align:	top;
	}
.app {
	margin: 0 12px 0 24px;
	}
.app th {
	background: #ccc;
	color: black;
	}
.a td, .a th {
	background: #efefef;
	}
.b td, .b th {
	background: #fff;
	}
.docs h2 {
	color: #666;
 	}
.docs h3 {
	color: #333;
 	}
.docs h4 {
	color: #000;
 	}
.courtesylinks {
	margin-top: 2em; padding-top: 1em
	}
.alert {
	background: #ff0;
	font-weight: bold;
	}
.stb {
	margin-top: 1em;
	}
.mtb {
	margin-top: 2em;
	}
.note {
	font-weight: normal;
	}
dd	{
	margin-bottom: .67em;
	}
.x div, .x table {
	margin-right: 24px;
	}
#footer { 
	margin: 12px;
	padding: 1px;
	}
#navcol {
	line-height: 140%;
	margin: 12px;
	}
#navcol div {
	padding: 2px;
	}
#navcol table	{
	margin-bottom: 1em;
	}
#login {
	font-weight: bold;
	color: white;
	}
#loginstatus {
	color: white;
	}	
#loginstatus a:link, #loginstatus a:visited {
	color: white; 
	text-decoration: underline;
	}
#loginstatus a:active, #loginstatus a:hover {
	color: red;
	}
#loginstatus .username {
	color: white;
	}
.username {
	white-space: nowrap;
	color: white;
	}

#helptext {
	margin-top: 2em;
	margin: 12px;
	}
#helptext td div {
	margin: .33em;
	}
	
#sidebar {
	margin-top: 2em;
	margin: 12px;
	}
#sidebar td div {
	margin: .33em;
	}
#sidebar p {
	padding: 4px;
	}

#banner { 
	background: #369;
	color: white;
	background: #369 url(../images/logo.gif) no-repeat left;
	}
#banner h3 {
	color: white;
	padding: .5em;
	margin: 0;
	}

#crumbbar td {
	background: #efefef;
	padding-left: 12px;
	vertical-align:	middle;
	}
#crumbbar .searching {
	text-align: right;
	vertical-align:	top;
	}
/* SoucreCast - styles end here */

/* Scarab/App - styles start here */
#topmodule {
	margin-left: 24px;
	}
#topmodule td {
	background: #efefef;
	padding-left: 12px;
	vertical-align:	middle;
	}
	
	

#functnbar {
	background: #999;
	vertical-align: middle;
	padding: 3px;
	}
#functnbar th {
	background: #999;
	padding-left: 8px;
	padding-right: 8px;
	}
#functnbar td {
	background: #999;
	padding-left: 8px;
	padding-right: 8px;
	}
	
	
#tabs th {
	color: black;
	background-color: #999;
	padding-left: 7px;
	padding-right: 7px;
	}
#tabs td {
	background-color: #ccc;
	padding-left: 7px;
	padding-right: 7px;
	}
.datatablechild th {
	background: #c3c3c3;
	color: #000;
	font-weight: normal;
	}
.datatablechild tr.a td {
	background: #cf9;
	}
.axial th {
	background: #efefef;
	text-align: right;
	color: black;
	}
/* Scarab/App - styles end here */

	