/* SourceCast v1.2 TOXINS STYLE SHEET */

/* SourceCast - styles start here */
html body, body div, body p, body th, body td, body li, body dl, body dd, input, select, textarea, .app h3, .app h4 	{
	font-family:	Verdana, Helvetica, Arial, sans-serif;
	}
	
html body, body th, body td, textarea, .app h3, .app h4, .app pre, .app code 	{
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
	}
html>body, html>body th, html>body td, html>body input, html>body select, html>body textarea, html>body .app h3, html>body .app h4, html>body .app pre, html>body .app code	{
	font-size: small;
	}
	
small, div#footer, div#login, div#helptext th, div#helptext td, div.tabs th, div.tabs td, input, select {
	font-size: xx-small !important;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small !important;
	}
html>body small, html>body div#footer, html>body div#login, html>body div#helptext td, html>body div#helptext th, html>body div.tabs th, html>body div.tabs td, html>body input, html>body select  {
	font-size: x-small !important;
	}
p, ul, ol, dl {
	margin-top:	.67em;
	margin-bottom: .67em;
	line-height: 1.4;
	}
table, th, td	{
	border: none;
	}
.app h3, .functnbar	{
	padding: 5px;
	color: white;
	margin-right: 2px;
	margin-left: 2px;
	}
.functnbar {
	padding: 3px;
	font-weight: bold;
	background: #000
		}
.app h3 {
	background: #369 url(../images/nw_min.gif) no-repeat;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
 }
.app h4 {	background: #999 url(../images/nw_min.gif) no-repeat;
	padding: 5px;
	color: #fff;
	margin-right: 2px;
	margin-left: 2px;
	border-bottom: 1px solid #333;
	border-right: 1px solid #333;
	}
.app h3 a, .app h4 a {
 color: white;
 text-decoration: underline;
 }
.app th {
	background: #ccc url(../images/nw_min.gif) no-repeat;
	}
#apphead h2 {
 margin-top: 0;
 }
form {
	margin-top:	0;
	margin-bottom: 0;
	}
dt	{
	font-weight:	bold
	}
h3, h4	{
	margin-bottom: 0;
	}
.mtb {
 border-top: solid 1px #ccc;
 }
.courtesylinks {
 margin: 1.5em 0
 }
.docs .toc {
 border: 1px solid #666; 
 padding: .5em; 
 background: #efefef;
 }
.docs .toc h3 {
 border: none; 
 margin-top: 0
 }
dt	{
	font-weight:	bold
	}
.docs p+p {
	text-indent: 5%;
	margin-top: -.67em
	}
ul, ol, dd	{
margin-left: 0;
padding-left: 5%
}
.docs h3, .docs h4 {
	margin-bottom: .1em;
 }
.docs h3 {
	border-top: solid 1px #666; 
 }
.docs h4 {
	border-top: solid 1px #ccc; 
 }
#banner {
	border-top: 1px solid #69c;
	border-left: 1px solid #69c;
	border-bottom: 2px solid #333;
	border-right: 1px solid #036;
	}
#helptext th {
	border-bottom: 1px solid #996;
	border-right: 1px solid #996;
	}
#helptext td {
	border-bottom: 1px solid #cc9;
	border-right: 1px solid #cc9;
	}
ul.tasks {
 padding-left: 0;
 margin-left: 0;
 }
ul.tasks li {
 display: inline;
 padding-right: 2em;
 }
.tabs { 
 border-bottom: 1em #999 solid
 }
.tabs th {
	background: url(../images/nw_min.gif) no-repeat top left;
	border-right: 1px solid #666;
	}
.tabs td {
	background: url(../images/nw_min.gif) no-repeat top left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #666;
	}
/* SourceCast - styles end here */

/* Scarab/App - styles start here */
.functnbar {
	background: #666 url(../images/nw_min.gif) no-repeat top left;
	}
.functnbar2 {
	background: #666 url(../images/sw_min.gif) no-repeat bottom left;
	}
#topmodule {
	border-top: 1px solid white;
	border-bottom: 1px solid #999;
	}
.tabs { border-bottom: 1em #999 solid }
.tabs th {
	background: #999 url(../images/nw_min.gif) no-repeat top left;
	border-right: 1px solid #666;
	}
.tabs td {
	background: #ccc url(../images/nw_min.gif) no-repeat top left;
	border-bottom: 1px solid #666;
	border-right: 1px solid #666;
	}
/* Scarab/App - styles end here */

#topmodule { margin-top: -12px; } /* this is cheating! */

