#**

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxIndex.vm,v 1.2 2002/01/04 23:16:57 jmcnally Exp $

*#

$page.setBgColor($ui.bgcolor)
$page.setTitle("Home Page")

<font face="$ui.sansSerifFonts">

This is the administration application.<br>

  $link.setPage("user,FluxUserList.vm").setLabel("Users")<br>
  
  $link.setPage("group,FluxGroupList.vm").setLabel("Groups")<br>
  
  $link.setPage("role,FluxRoleList.vm").setLabel("Roles")<br>
  
  $link.setPage("permission,FluxPermissionList.vm").setLabel("Permissions")

</font>
