## -----------------------------------------------------------------------
## Menu.vm
##
## Main menu for the Turbine administration application.
## -----------------------------------------------------------------------
<font size="-1" face="$ui.sansSerifFonts">
  $link.setPage("user,FluxUserList.vm").setLabel("Users")
  |
  $link.setPage("group,FluxGroupList.vm").setLabel("Groups")
  |
  $link.setPage("role,FluxRoleList.vm").setLabel("Roles")
  |
  $link.setPage("permission,FluxPermissionList.vm").setLabel("Permissions")
</font>
