/* SoucreCast v1.2 TOXINS STYLE SHEET */

/* SoucreCast - styles start here */
html body, body div, body p, body th, body td, body li, body dl, body dd, input, select, textarea, .app h3, .app h4 	{
	font-family:	Verdana, Helvetica, Arial, sans-serif;
	}
	
html body, body th, body td, textarea, .app h3, .app h4 	{
	font-size: x-small;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: small;
	}
html>body, html>body th, html>body td, html>body input, html>body select, html>body textarea, html>body .app h3, html>body .app h4	{
	font-size: x-small;
	}
	
small, div#footer, #leftcol div *, div#login, div#helptext th, div#helptext td, div.tabs th, div.tabs td, input, select {
	font-size: xx-small !important;
	line-height: 140%;
	voice-family: "\"}\"";
	voice-family: inherit;
	font-size: x-small !important;
	}
html>body small, html>body div#footer, html>body div#leftcol, html>body div#login, html>body div#helptext td, html>body div#helptext th, html>body div.tabs th, html>body div.tabs td, html>body input, html>body select,   {
	font-size: x-small !important;
	}
		
p, ul, ol, dl {
	margin-top:	.67em;
	margin-bottom: .67em;
	line-height: 1.4;
	}
table, th, td	{
	border: none;
	}
code, pre {
	font-family: 'Andale Mono', monospace;
	}
dt	{
	font-weight: bold;
	}
h3, h4	{
	margin-bottom: 0;
	}
h2 {
	font-size: 16px;
 	}
h3 {
	font-size: 14px;
 	}
ul, ol, dd	{
	margin-left: 0;
	padding-left: 5%;
	}
#helptop {
	vertical-align: middle;
	color: #404030;
	margin-left: 150px;
	}	
#helptop a:link, #helptop a:visited {
	color: #404030;
	font-weight: bold;
	}
#helptop a:active, #helptop a:hover {
	color: red;
	font-weight: bold;
	}
#helpbanner {
	border-top: 1px solid #ffffcc;
	border-bottom: 1px solid #999966;
	background: #cccc99 url($data.Request.ContextPath/images/help_logo.gif) no-repeat left;
	}
.bttn {
	color: black;
	}
#topmodule {
	border-top: 1px solid white;
	border-bottom: 1px solid #999;
	}
#leftcol {
	border-bottom: 1px solid #cccc99;
	}
	
#topblock {
	font-weight: bold;
	padding: 10px;
	background: #e6e6b4;
	border-bottom: 1px solid #999966;
	}
#topblock a:link, #topblock a:visited {
	color: #404030;
	font-weight: bold;
	}
#topblock a:active, #topblock a:hover {
	color: red;
	font-weight: bold;
	}
.seperator {
	background: #e6e6b4;
	border-right: 1px solid #999966;
	border-bottom: 1px solid #999966;
	}
.line {
	border-top: 1px solid #ccc;
	}
