@import url(/scarab/style/ns4_toxins.css);

body {
	background: white;
	color: black;
	margin:	0;
	padding: 0;
	}
body, div, p, th, td, li, dl, dd {
	font-family: Lucida, Arial, Helvetica, sans-serif;
	}
h2, h3, h4 {
	font-family:	Tahoma, Verdana, Lucida, Arial, Helvetica, sans-serif;
	}
h2 {
 font-size: 1.5em
 }
td.right, th.right {
	text-align:	right;
	}
td.center, th.center {
	text-align:	center;
	}
#globalnav { 
	font-weight: bold;
	}
#leftcol, #bodycol	{
	vertical-align:	top;
	}
th {
	background: #999;
	}
.a td, .a th { 
	background: #efefef;
	}
.b td, .b th { 
	background: #fff;
	}
.datatablechild th {
	background: #c3c3c3;
	}
.axial th {
	background: #efefef;
	text-align: right;
	}
.alert {
	background: #ff0;
	font-weight: bold
	}
.stb	{
	margin-top: 1em;
	}
.mtb	{
	margin-top: 2em;
	}
