html body, body div, body p, body th, body td, body li, body dl, body dd, input, select, textarea, .app h3, .app h4 	{
	font-family:	Verdana, Helvetica, Arial, sans-serif;
	}
html body, body th, body td, textarea, .app h3, .app h4, .app pre, .app code 	{
	font-size:	x-small;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	font-size:	small
	}
html>body, html>body th, html>body td, html>body input, html>body select, html>body textarea, html>body .app h3, html>body .app h4, html>body .app pre, html>body .app code	{
	font-size:	small
	}
small, div#footer td, div#login, div#helptext th, div#helptext td, div.tabs th, div.tabs td, input, select {
	font-size:	xx-small !important;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	font-size:	x-small !important
	}
html>body small, html>body div#footer td, html>body div#login, html>body div#helptext td, html>body div#helptext th, html>body div.tabs th, html>body div.tabs td, html>body input, html>body select   {
	font-size:	x-small !important
	}
p, ul, ol, dl	{
	margin-top:	.67em;
	margin-bottom: .67em;
	}
#bodycol	{
	line-height: 1.4
	}
table, th, td	{
	border: none
	}
#leftcol div div {
 margin-top: .4em
 }
.app h3 {
	background: #036 url(/@SCARAB_CONTEXT@/images/nw_min.gif) no-repeat;
 }
.app h4 {	
 background: #999 url(/@SCARAB_CONTEXT@/images/nw_min.gif) no-repeat;
	color: #fff;
	}
.app h3, .app h4, .functnbar	 {
	padding: 5px;
	margin-right: 2px;
	margin-left: 2px;
	color: #fff;
 }
.app h3 a, .app h4 a {
 color: white;
 text-decoration: none
 }
.functnbar {
	padding: 3px;
	font-weight: bold;
	background: #000
	}
#apphead h2 {
 margin-top: 0;
 margin-bottom: .2em
 }
form {
	margin-top:	0;
	margin-bottom: 0;
	}
dt	{
	font-weight:	bold
	}
h3, h4	{
	margin-bottom: 0;
	}
.mtb {
 border-top: solid 1px #ccc;
 }
.courtesylinks {
 margin: 1.5em 0
 }
.docs .toc {
 border: 1px solid #666; 
 padding: .5em; 
 background: #efefef;
 }
.docs .toc h3 {
 border: none; 
 margin-top: 0
 }
.docs p+p {
	text-indent: 5%;
	margin-top: -.67em
	}
.docs .courtesylinks p {
 text-indent: 0
 }
.docs ul, .docs ol, .docs dd	{
 margin-left: 0;
 padding-left: 5%
 }
.docs h3, .docs h4 {
	margin-bottom: .1em;
 }
.docs h3 {
	border-top: solid 1px #666; 
 }
.docs h4 {
	border-top: solid 1px #ccc; 
 }
#banner {
	border-top: 1px solid #369;
	border-bottom: 1px solid #003;
	}
#helptext th {
	border-bottom: 1px solid #996;
	border-right: 1px solid #996;
	}
#helptext td {
	border-bottom: 1px solid #cc9;
	border-right: 1px solid #cc9;
	}
ul.tasks {
 padding-left: 0;
 margin-left: 2px;
 }
ul.tasks li {
 display: inline;
 margin-right: 1.5em;
 }
.tabs { 
 border-bottom: 1em #999 solid;
 margin-top:	.67em;
 margin-right: 2px;
 margin-left: 2px;
 }
.tabs th {
	background: url(/@SCARAB_CONTEXT@/images/nw_min.gif) no-repeat top left;
	border-right: 1px solid #666;
	}
.tabs td {
	background: url(/@SCARAB_CONTEXT@/images/nw_min.gif) no-repeat top left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #666;
	}
#navcolumn div div {
	background-image: url(/@SCARAB_CONTEXT@/images/strich.gif);
	background-repeat: no-repeat;
	background-position:  .5em .5em;
 }
/* Scarab/App - styles start here */
.functnbar {
	background: #666 url(/@SCARAB_CONTEXT@/images/nw_min.gif) no-repeat top left;
	}
.functnbar2 {
	background: #666 url(/@SCARAB_CONTEXT@/images/sw_min.gif) no-repeat bottom left;
	}
.functnbar, .functnbar2 {
 padding: 2px;
	margin-top: .67em;
	margin-bottom: .67em;
	}
.functnbar td, .functnbar2 td {
	color: #fff;
	border-left: 2px groove #ccc;
	}
.functnbar td a, .functnbar2 td a {
	color: #fff;
	text-decoration: underline;
	}
.functnbar td.firstchild, .functnbar2 td.firstchild {
	border-left: none;
	}
#topmodule {
	border-top: 1px solid white;
	border-bottom: 1px solid #999; 
	border-right: 1px solid #999; 
	margin-top: -8px;
	}

/* Scarab/App - styles end here */
