body, body div, body p, body th, body td, body li, body dl, body dd, input, select, textarea, h3, h4 	{
	font-family:	Verdana, Lucida, Arial, Helvetica, sans-serif;
	font-size:	x-small;
	voice-family:	"\"}\"";
	voice-family:	inherit;
	font-size:	small
	}
html>body, html>body div, html>body p, html>body th, html>body td, html>body li, html>body dl, html>body dd, input, select, textarea, h3, h4	{
	font-size:	small
	}
p, ul, ol, dl	{
	margin-top:	.67em;
	margin-bottom: .67em;
	line-height: 1.4
	}
a:link, a:visited {
	color: blue; 
	}
a:active, a:hover {
	color: red;
	}
#globalnav { 
	color: white;
	padding: 1em;
	background: #369 url(/scarab/images/logo.gif) no-repeat left;
	}
#globalnav p {
	padding-left: 125px;
	}
#globalnav a:link, #globalnav a:visited {
	color: white;
	}
#globalnav a:active {
	color: red;
	}
#globalnav a:hover {
	color: #e7e7c6;
	}
#featurenav, #projnav { 
	padding: 1em;
	}
#featurenav {
	background: #e7e7c6 url(/scarab/images/bug.gif) no-repeat left;
	}
#featurenav p {
	margin: 0;
	padding-left: 65px;
	}
#featurenav .crumbing {
	font-weight: bold;
	}
table, th, td	{
	border: none
	}
.axial th {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	}
.app td {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	}
.axial td, .datatablechild td {
	border: none;
	}
h3, .functnbar	{
	padding: 5px;
	color: white;
	background: #369;
	margin-right: 2px;
	margin-left: 2px;
	}
.functnbar {
	padding: 3px;
	font-weight: bold;
	background: black;
	}	
code, pre {
	font-family:	'Andale Mono', monospace;
	}
form {
	margin-top:	0;
	margin-bottom: 0;
	}
dt	{
	font-weight:	bold
	}
h2, h3, h4	{
	margin-bottom: 0;
	}
