#set ( $queryId = $data.Parameters.getString("queryId"))
#set ( $query = $scarabR.getQuery() )
#set ( $queryGroup = $intake.Query.mapTo($query)) 

      <div class="app" id="search.vm">
       <h2>Edit Query '$query.Name'</h2>

       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</p>

#set ($action = $link.setPage("secure,EditQuery.vm").setAction("SaveQuery").addPathInfo("nextTemplate", "secure,EditQuery.vm"))

<form action="$action" method="post">
<input type="hidden" name="queryId" value="$queryId">
<input type="hidden" name="searchType" value="advanced" />
<input type="hidden" name="$queryGroup.Value.Key" value="$query.Value">
      <div class="axial">
       <table width="100%" cellpadding="3" cellspacing="2" border="1">
        <tr>
         <th width="120">query name:</th>

         <td>#fieldErrorMsg($queryGroup.Name "") <input type="text" name="$queryGroup.Name.Key" size="25" value="$!queryGroup.Name" /></td>
        </tr>

        <tr>
         <th width="120">query description:</th>

         <td><textarea name="$queryGroup.Description.Key" rows="4" cols="40">$!queryGroup.Description</textarea></td>
        </tr>

        <tr>
         <th width="120">Availability:</th>

         <td>#queryTypeSelectBox ($query)
           </td>
        
        </tr>

        <tr>
         <th width="120">location:</th>
         <td>current project '$data.User.CurrentModule.Name'</td>
         <input type = "hidden" name="$queryGroup.ModuleId.Key" value = "$data.User.CurrentModule.ModuleId">
        </tr>
       </table>
      </div>

       <p class="functnbar">
        <input type="submit" name="eventSubmit_doSavequery" 
            value="Save" />&#160;
        <input type="submit" name="eventSubmit_doCancel" 
            value="cancel" />
       </p>

</form>

#set ($action = $link.setPage("secure,EditQuery.vm").setAction("Search").addPathInfo("nextTemplate", "IssueList.vm"))

<form action="$action" method="get">
<input type="hidden" name="queryId" value="$queryId">

#set ( $search = $scarabR.Search )
#set ( $query = $intake.SearchIssue.mapTo($search) )
#set ($attrValues = $search.ModuleAttributeValuesMap)
##set ( $searchTextAttributes = $search.QuickSearchTextAttributeValues )
##set ( $searchValues = $search.QuickSearchOptionAttributeValues )

#advancedQuery()

       <p class="functnbar">
        <input type="submit" name="eventSubmit_doEditstoredquery" 
            value="Save Query" />&#160;
        <input type="submit" name="eventSubmit_doSearch" 
            value="Run Query" />&#160;
        <input type="submit" name="eventSubmit_doCancel" 
            value="cancel" />
       </p>

        $intake.declareGroups()
        </form>

      </div>
