<?xml version="1.0" encoding="UTF-8"?>

<plugin name="Core framework extensions" 
        description="Contains references of all core extension" 
        id="org.columba.core" 
        version="1.0" 
        category="framework" 
        enabled="true">

    <extensionlist id="org.columba.core.action">
        <!--<extension id="OpenNewWindow" class="org.columba.core.gui.menu.OpenNewWindowSubmenu"/>-->
        <extension id="OpenNewMailWindow" class="org.columba.core.gui.globalactions.OpenNewMailWindowAction"/>
        <extension id="OpenNewAddressbookWindow" class="org.columba.core.gui.globalactions.OpenNewAddressbookWindowAction"/>
        <extension id="OpenNewMessageFrameWindow" class="org.columba.core.gui.action.OpenNewMessageFrameWindowAction"/>
        <extension id="PluginManagerDialog" class="org.columba.core.gui.globalactions.PluginManagerAction" />
        <extension id="GlobalOptions" class="org.columba.core.gui.globalactions.GlobalOptionsAction"/>
        <extension id="OpenExternalToolsDialog" class="org.columba.core.gui.globalactions.OpenExternalToolsDialogAction"/>
        <extension id="OpenProfileManagerDialog" class="org.columba.core.gui.globalactions.OpenProfileManagerDialogAction"/>
        <extension id="ChoosePerspectiveSubmenu" class="org.columba.core.gui.globalactions.SwitchPerspectiveSubmenu"/>
        <extension id="NewSubmenu" class="org.columba.core.gui.globalactions.NewSubmenu"/>
        <extension id="ShowHideViewSubmenu" class="org.columba.core.gui.globalactions.ShowHideViewSubmenu"/>
        <extension id="ViewFolderInfoPanel" class="org.columba.core.gui.globalactions.ViewFolderInfoPanelAction"/>
        <extension id="ViewLog" class="org.columba.core.gui.globalactions.ViewLogAction"/>
        <extension id="Macro" class="org.columba.core.gui.globalactions.BeanshellManagerAction"/>
        
        <extension id="Cut" singleton="true" class="org.columba.core.gui.globalactions.CutAction"/>
        <extension id="Copy" singleton="true" class="org.columba.core.gui.globalactions.CopyAction"/>
        <extension id="Paste" singleton="true" class="org.columba.core.gui.globalactions.PasteAction"/>
        <extension id="Delete" singleton="true" class="org.columba.core.gui.globalactions.DeleteAction"/>
        <extension id="SelectAll" singleton="true" class="org.columba.core.gui.globalactions.SelectAllAction"/>
        <extension id="PrintSetup" class="org.columba.core.gui.globalactions.PrintSetupAction"/> 
        
        <extension id="WorkOffline" class="org.columba.core.gui.globalactions.WorkOfflineAction"/> 
        <extension id="Close" class="org.columba.core.gui.globalactions.CloseAction"/> 
        <extension id="Exit" class="org.columba.core.gui.globalactions.ExitAction"/> 
        <extension id="Undo" singleton="true" class="org.columba.core.gui.globalactions.UndoAction"/> 
        <extension id="Redo" singleton="true" class="org.columba.core.gui.globalactions.RedoAction"/> 
        <extension id="Find" class="org.columba.core.gui.globalactions.FindAction"/> 
        <extension id="FindAgain" class="org.columba.core.gui.globalactions.FindAgainAction"/> 
        <extension id="ViewToolbar" class="org.columba.core.gui.globalactions.ViewToolbarAction"/> 
        <extension id="Cancel" class="org.columba.core.gui.globalactions.CancelAction"/> 
        
        <!-- help menu -->
        <extension id="ShowHomepage" class="org.columba.core.gui.globalactions.ShowHomepageAction"/>
        <extension id="ShowBugDatabase" class="org.columba.core.gui.globalactions.ShowBugDatabaseAction"/>
        <extension id="ShowFAQ" class="org.columba.core.gui.globalactions.ShowFAQAction"/>
        <extension id="ShowHelp" class="org.columba.core.gui.globalactions.ShowHelpAction"/>
        <extension id="ShowLicense" class="org.columba.core.gui.globalactions.ShowLicenseAction"/>
        <extension id="ShowProjectPage" class="org.columba.core.gui.globalactions.ShowProjectPageAction"/>
        <extension id="AboutDialog" class="org.columba.core.gui.globalactions.AboutDialogAction"/>
        <extension id="ShowContextSpecificHelp" class="org.columba.core.gui.globalactions.ShowContextSpecificHelpAction" />
        <extension id="Donate" class="org.columba.core.gui.globalactions.DonateAction" />
    </extensionlist>
    
    <extensionlist id="org.columba.core.component">
        <extension id="MailComponent" class="org.columba.mail.main.MailMain" />
        <extension id="AddressbookComponent" class="org.columba.addressbook.main.AddressbookMain" />
    </extensionlist>
    
    <extensionlist id="org.columba.core.config">
        <extension id="PlasticConfigPlugin" class="org.columba.core.gui.themes.plugin.PlasticLookAndFeelConfigPlugin" />
    </extensionlist>
<extensionlist id="org.columba.core.externaltools">
 <extension id="aspell" class="org.columba.core.gui.externaltools.ASpellPlugin" />
 <extension id="gpg" class="org.columba.core.gui.externaltools.GPGPlugin" />
 <extension id="spamc" class="org.columba.mail.spam.spamassassin.SpamcExternalToolPlugin" />
 <extension id="spamassassin" class="org.columba.mail.spam.spamassassin.SpamAssassinExternalToolPlugin" />
 <extension id="sa-learn" class="org.columba.mail.spam.spamassassin.SALearnExternalToolPlugin" />
</extensionlist>

<extensionlist id="org.columba.core.frame">
 <extension id="ThreePaneMail" class="org.columba.mail.gui.frame.ThreePaneMailFrameController">
  <properties managed="true" />
 </extension>
 <extension id="Addressbook" class="org.columba.addressbook.gui.frame.AddressbookFrameController">
   <properties managed="true" />
 </extension>
 <extension id="Composer" class="org.columba.mail.gui.composer.ComposerController">
   <properties managed="false" />
 </extension>
 <extension id="MessageFrame" class="org.columba.mail.gui.messageframe.MessageFrameController">
   <properties managed="false" />
 </extension>
</extensionlist>

<extensionlist id="org.columba.core.htmlviewer">
 <extension id="Default" class="org.columba.core.gui.htmlviewer.JavaHTMLViewerPlugin" />
 <extension id="JDIC" class="org.columba.core.gui.htmlviewer.JDICHTMLViewerPlugin" /> 
</extensionlist>

<extensionlist id="org.columba.core.service">
    <extension id="BeanshellService" singleton="true" class="org.columba.core.scripting.BeanshellService" />
</extensionlist>

<extensionlist id="org.columba.core.theme">
 <extension id="Metal" class="org.columba.core.gui.themes.plugin.MetalLookAndFeelPlugin" />
 <extension id="Windows" class="org.columba.core.gui.themes.plugin.WindowsLookAndFeelPlugin" />
 <extension id="Mac" class="org.columba.core.gui.themes.plugin.MacLookAndFeelPlugin" />
 <extension id="CDE/Motif" class="org.columba.core.gui.themes.plugin.MotifLookAndFeelPlugin" />
 <extension id="Gtk" class="org.columba.core.gui.themes.plugin.GtkLookAndFeelPlugin" />
 <extension id="Plastic" class="org.columba.core.gui.themes.plugin.PlasticLookAndFeelPlugin"> 
  <properties config="PlasticConfigPlugin" />
 </extension>
</extensionlist>


<extensionlist id="org.columba.core.view">
 <extension id="ThreePaneMail" class="org.columba.mail.gui.frame.MailFrameView" />
 <extension id="Composer" class="org.columba.mail.gui.composer.ComposerView" />
 <extension id="MessageFrame" class="org.columba.mail.gui.messageframe.MessageFrameView" />
 <extension id="Addressbook" class="org.columba.addressbook.gui.frame.AddressbookFrameView" />
</extensionlist>

<extensionlist id="org.columba.core.service">
    <extension id="BeanshellService" singleton="true" class="org.columba.core.scripting.BeanshellService" />
</extensionlist>

</plugin>