#**

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxGroupList.vm,v 1.2 2002/01/04 23:16:57 jmcnally Exp $

*#

$page.setTitle("Group Adminstration")
$page.setBgColor($ui.bgcolor)

#set ( $headings = ["Group Name"] )

<table>
  
  #if ($showFinder)
  <tr>
    <td align="left">
      <table>
        <tr>
        <form action="">
          <td align="left">
            #listBox ($flux.FieldList)
          </td>
          <td align="right">
            #textField("searchField" "*" "20")
          </td>
          <td>
            <font face="$ui.sansSerifFonts">
              $link.setPage("group,FluxGroupList.vm").setLabel("find")
            </font>
          </td>
        </form>
        </tr>
      </table>
    </td>
  </tr>
  #end
  
  <tr>
    <td>
      <table cellspacing="$ui.tableCellSpacing" cellpadding="$ui.tableCellPadding">
        <tr>
          #foreach ($heading in $headings)
          #headerCell ($heading)
          #end
        </tr>
        
        #foreach ($group in $flux.Groups)
        <tr>
          #entryCell ($group.Name)
          <td>
            <font face="$ui.sansSerifFonts">
              $link.setPage("group,FluxGroupForm.vm").addPathInfo("name",$group.Name).addQueryData("mode","modify").setLabel("Details") &nbsp;
              $link.setPage("group,FluxGroupForm.vm").addPathInfo("name",$group.Name).addQueryData("mode","delete").setLabel("Remove")
            </font>
          </td>
        </tr>
        #end
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <font face="$ui.sansSerifFonts">
        $link.setPage("group,FluxGroupForm.vm").addQueryData("mode","insert").setLabel("Add Group")
      </font>
    <td>
  </tr>
</table>

#if ($showEmbeddedMenu)
  <hr size="1" noshade>
  #parse ("screens/FluxEmbeddedMenu.vm")
#end
