#**

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxGroupAlreadyExists.vm,v 1.1 2001/05/24 02:36:19 jmcnally Exp $

*#

<font face="$ui.sansSerifFonts">
The group name <b>$name</b> is currently is use. Group names
must be unique, please choose another group name.
</font>

