#set ($issueTypes = $scarabR.CurrentModule.NavIssueTypes)
#if ($issueTypes && $issueTypes.size() > 0)

#if ($scarabR.CurrentModule.Dedupe)
#set ($wizardScreen = "entry,Wizard1.vm")
#else
#set ($wizardScreen = "entry,Wizard3.vm")
#end 

#foreach($issueType in $issueTypes)
  #set ($rmit = $scarabR.CurrentModule.getRModuleIssueType($issueType))
  #if ($issueType.equals($scarabR.CurrentIssueType))
    <div><small><strong>$rmit.DisplayText</strong></small>
    <div><small>$link.setPage("$wizardScreen").setLabel("Enter new")</small></div>
##    <div><small>$link.setPage("AdvancedQuery.vm").setLabel("Advanced Query")</small></div>
##    <div><small>$link.setPage("Search.vm").setLabel("Custom Query")</small></div>
    <div><small>$link.setPage("QueryList.vm").setLabel("Saved queries")</small></div>
    <div><small>$link.setPage("TemplateList.vm").setLabel("Template list")</small></div>
    <div><small>$link.setPage("reports,Step1.vm").setLabel("New report")</small></div>
    <div><small>Saved reports</small></div></div>
  #else
    <div><small>$link.setPage("$wizardScreen").setAction("SelectIssueType").setPathInfo($scarabG.Constant.NEXT_TEMPLATE, "$wizardScreen").setPathInfo("newissuetype", "$issueType.IssueTypeId").setLabel("$rmit.DisplayText")</small></div>
  #end
#end

#end