#set ($issueTypes = $scarabR.CurrentModule.NavIssueTypes)
#if ($issueTypes && $issueTypes.size() > 0)


#foreach($issueType in $issueTypes)
  #set ($rmit = $scarabR.CurrentModule.getRModuleIssueType($issueType))
  #if ($rmit.Dedupe)
    #set ($wizardScreen = "entry,Wizard1.vm")
  #else
    #set ($wizardScreen = "entry,Wizard3.vm")
  #end 
  #if ($issueType.equals($scarabR.CurrentIssueType))
    <div><strong>$rmit.DisplayText</strong>
    #if ($scarabR.CurrentModule.allowsNewIssues())
    <div>$link.setPage("$wizardScreen").setLabel("Enter new")</div>
    #end
##    <div>$link.setPage("AdvancedQuery.vm").setLabel("Advanced Query")</div>
##    <div>$link.setPage("Search.vm").setLabel("Custom Query")</div>
    <div>$link.setPage("QueryList.vm").setLabel("Saved queries")</div>
    <div>$link.setPage("TemplateList.vm").setLabel("Template list")</div>
    <div>$link.setPage("reports,ReportList.vm").setLabel("Reports")</div>
    </div>
  #else
    <div>$link.setPage("$wizardScreen").setAction("SelectIssueType").setPathInfo($scarabG.Constant.NEXT_TEMPLATE, "$wizardScreen").setPathInfo("newissuetype", "$issueType.IssueTypeId").setLabel("$rmit.DisplayText")</div>
  #end
#end

#end
