#set ($issueTypes = $scarabR.CurrentModule.NavIssueTypes)
#if ($issueTypes && $issueTypes.size() > 0)

#foreach($issueType in $issueTypes)
  #set ($rmit = $scarabR.CurrentModule.getRModuleIssueType($issueType))
  #if ($issueType.equals($scarabR.CurrentIssueType))
    <div><small><strong>$rmit.DisplayText</strong></small>
    <div><small>#if ($scarabR.CurrentModule.Dedupe)$link.setPage("entry,Wizard1.vm").setLabel("Enter new") #else$link.setPage("entry,Wizard3.vm").setLabel("Enter new")#end </small></div>
##    <div><small>$link.setPage("AdvancedQuery.vm").setLabel("Advanced Query")</small></div>
##    <div><small>$link.setPage("Search.vm").setLabel("Custom Query")</small></div>
    <div><small>$link.setPage("QueryList.vm").setLabel("Saved queries")</small></div>
    <div><small>$link.setPage("TemplateList.vm").setLabel("Template list")</small></div>
    <div><small>$link.setPage("reports,Step1.vm").setLabel("New report")</small></div>
    <div><small>Saved reports</small></div></div>
  #else
    <div><small>$link.setPage("$scarabR.convertPath($data.Target)").setAction("SelectIssueType").addPathInfo("nextTemplate", $scarabR.convertPath($data.Target)).addPathInfo("newissuetype", "$issueType.IssueTypeId").setLabel("$rmit.DisplayText")</small></div>
  #end
#end

#end