#if ($data.User.CurrentRModuleIssueType)
  #set ($rmit = $data.User.CurrentRModuleIssueType)
  #if ($rmit.Dedupe)
    #set ($wizardScreen = "entry,Wizard1.vm")
  #else
    #set ($wizardScreen = "entry,Wizard3.vm")
  #end 

  #if ($scarabR.CurrentModule.allowsNewIssues())
    <div>$link.setPage("$wizardScreen").setLabel("Enter new $rmit.DisplayName.toLowerCase()")</div>
  #end
  <div>$link.setPage("QueryList.vm").setLabel("Queries")</div>
  <div>$link.setPage("TemplateList.vm").setLabel("Issue templates")</div>
  <div>$link.setPage("reports,ReportList.vm").setLabel("Reports")</div>

#end
