#if ($data.User.CurrentRModuleIssueType)
  #if ($scarabR.CurrentModule.allowsNewIssues())
    #set ($rmit = $data.User.CurrentRModuleIssueType)
    <div>$link.setPage("$scarabR.NextEntryTemplate").setLabel("Enter new $rmit.DisplayName.toLowerCase()")</div>
  #end
  #if (!$module.isGlobalModule())
    <div>$link.setPage("QueryList.vm").setLabel("Queries")</div>
    <div>$link.setPage("TemplateList.vm").setLabel("Templates")</div>
    <div>$link.setPage("reports,ReportList.vm").setLabel("Reports")</div>
  #end
#end
