#set ($module = $scarabR.CurrentModule)

#if ($data.User.hasLoggedIn())
    <div class="focus"><strong>$link.setPage("SelectModule.vm").setLabel("Select module")</strong></div>
#else
    <div><strong>$link.setPage("Login.vm").setLabel("Login")</strong></div>
    <div><strong>$link.setPage("Register.vm").setLabel("Register")</strong></div>
#end

#if ($module)

## ARTIFACT TYPES
#set ($issueTypes = $module.getIssueTypes(true))
#if ($issueTypes && $issueTypes.size() > 0)
  ## once cross module searching is implemented we may want to change this,
  ## but for now there is no reason to show any of these links, if the
  ## module does not allow issues (such as the global module)
  #if ($scarabR.CurrentModule.allowsIssues())
    <div class="focus"><strong>
    $link.setPage("SelectArtifactType.vm").setLabel("Select issue type")
    </strong>
    $renderer.render("navigations", "ArtifactTypes.vm")
    </div>
  #end
#end

## AMINISTRATION
  $renderer.render("navigations", "Administration.vm")

#end
