<p>
<div><strong>My start page</strong></div>
<div><strong>Projects &amp; categories</strong></div>
 <div id="tools"><strong>Project tools</strong>
      <div><small>Members</small></div>
 <div><small> Mailing lists</small></div>
<div><small>Source code</small></div>
<div><small>Issue tracking</small>
   <div><small>Enter issue</small></div>
   <div><small>Queries</small></div>
   <div><small>Reports</small></div>
   <div><small>Vote mgmt.</small></div>
   <div><small>Workflow optns.</small></div>
</div>
     <div><small>Documents</small></div>
      <div><small>News</small></div>
</div>
</p>

## ARTIFACT TYPES
#set ($issueTypes = $scarabR.CurrentModule.NavIssueTypes)
#if ($issueTypes.size() > 0)
<div id="navcolumn">

<div><strong><small>Artifact types</small></strong>
<div><strong><small><a href="$link.setPage("SelectArtifactType.vm")">Index</a></small></strong></div>
#foreach($issueType in $issueTypes)
  #if ($issueType.equals($scarabR.CurrentIssueType))
<div><strong><small>$issueType.Name</small></strong>
<div><small>#if ($scarabR.CurrentModule.Dedupe) <a href="$link.setPage("entry,Wizard1.vm")"> #else <a href="$link.setPage("entry,Wizard3.vm")"> #end Enter new</a></small></div>
<div><small><a href="$link.setPage("TemplateList.vm")">Template list</a></small></div>
<div><small><a href="$link.setPage("reports,Step1.vm")">New report</a></small></div>
<div><small><a href="">Saved reports</a></small></div>
</div>
  #else
    <div><small><a href="$link.setPage("$scarabR.convertPath($data.Target)").setAction("SelectIssueType").addPathInfo("nextTemplate", $scarabR.convertPath($data.Target)).addPathInfo("newissuetype", "$issueType.IssueTypeId")">$issueType.Name</a></small></div>
  #end
#end
#end
