 <div><small>$link.setPage("admin,GlobalArtifactTypeShow.vm").setLabel("Global Issue Types")</small></div>
 <div><small>$link.setPage("admin,GlobalAttributeShow.vm").setLabel("Global Attributes")</small></div>
