 <div>$link.setPage("admin,ManageArtifactTypes.vm").setLabel("Manage issue types")</div>
 <div>$link.setPage("admin,ManageModules.vm").setLabel("Manage modules")</div>
 <div>$link.setPage("admin,XMLExportSelect.vm").setLabel("XML export")</div>
