<!-- top nav bar -->
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0">
          <TR>
            <TD><SPAN CLASS="bold00000011px">SCARAB:</SPAN></TD>
            <TD BGCOLOR="#cccccc"><SPAN CLASS="normal00000011px">&nbsp;</SPAN></TD>
            <TD NOWRAP BGCOLOR="#cccccc"><SPAN CLASS="bold00000011px">My Bugs</SPAN></TD>
            <TD BGCOLOR="#cccccc"><SPAN CLASS="normal00000011px">&nbsp;</SPAN></TD>
            <TD><SPAN CLASS="bold00000011px"><A HREF="/">Report</A></SPAN></TD>
            <TD><SPAN CLASS="normal00000011px">|</SPAN></TD>
            <TD><SPAN CLASS="bold00000011px"><A HREF="/">Browse</A></SPAN></TD>
            <TD><SPAN CLASS="normal00000011px">|</SPAN></TD>
            <TD><SPAN CLASS="bold00000011px"><A HREF="/">Search</A></SPAN></TD>
            <TD><SPAN CLASS="normal00000011px">|</SPAN></TD>
            <TD><SPAN CLASS="bold00000011px"><A HREF="/">Admin</A></SPAN></TD>
            <TD><SPAN CLASS="normal00000011px">|</SPAN></TD>
            <TD><SPAN CLASS="bold00000011px"><A HREF="/">Help</A></SPAN></TD>
            <TD><SPAN CLASS="normal00000011px">|</SPAN></TD>
            <TD><SPAN CLASS="bold00000011px"><A HREF="/">Prefs</A></SPAN></TD>
            <TD><SPAN CLASS="normal00000011px">|</SPAN></TD>
            <TD><SPAN CLASS="bold00000011px"><A HREF="/">Log Out</A></SPAN></TD>
          </TR>
        </TABLE>
<!-- end top nav bar -->