<!-- project select area -->
<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
  <TR>
    <TD BGCOLOR="#cccccc"><SPAN CLASS="bold00000012px">My&nbsp;Projects:</SPAN></TD>
    <TD BGCOLOR="#cccccc">
      <SELECT>
        <OPTION>PacMan JVM</OPTION>
        <OPTION>Project 2</OPTION>
        <OPTION>Project 3</OPTION>
      </SELECT>
    </TD>
    <TD BGCOLOR="#cccccc" WIDTH="100%"><INPUT TYPE="submit" VALUE="Refresh"></TD>
  </TR>
</TABLE>    
</FORM>
<!-- end project select area -->
