<div id="footer">
<table border="0" cellspacing="0" cellpadding="4">
<tr><td>
&copy; 2001 <a href="http://www.collab.net/">CollabNet</a> | 
<a href="http://scarab.tigris.org/">Scarab</a> |
<a href="$link.setPage("Links.vm")">Links</a> |

#if ($data.User.hasLoggedIn())
    <a href="$link.setPage("Login.vm").setAction("Logout")">Logout</a>
#else
    <a href="$link.setPage("Login.vm")">Login</a>
#end

<p><small>Debugging: [ $data.Parameters ]</small></p>
</td></tr>
</table>
</div>
