#if ($scarabR.CurrentModule)
  #set ($module = $scarabR.CurrentModule)
#end
#if ($scarabR.CurrentIssueType)
  #set ($issuetype = $scarabR.CurrentIssueType)
#end

#if ($data.User.hasLoggedIn() && $module)
<div id="topmodule">
 <table border="0" cellspacing="0" cellpadding="3">
  <tr>
   <td id="issueid">
<form action="$link.setPage("IssueList.vm").setAction("Search")" method="get">
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="ViewIssue.vm" />
 <input type="text" name="id" size="15" maxlength="255" tabindex="1" />
    &#160;<input type="submit" value="Issue Id" name="eventSubmit_doGonext" tabindex="2" />
</form>
</td>

#set ($issueTypes = $scarabR.CurrentModule.NavIssueTypes)
#if ($issueTypes && $issueTypes.size() > 0)
<td>
<form action="$link.setPage("Wizard1.vm").setAction("SelectIssueType")" 
    method="get">
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" 
    value="$data.User.HomePage" />
 <select name="$scarabG.Constant.NEW_ISSUE_TYPE" tabindex="3" 
    onChange="this.form.submit();">

  #foreach($issueType in $issueTypes)
    #set ($rmit = $scarabR.CurrentModule.getRModuleIssueType($issueType))
    <option#if ($issueType.QueryKey == $scarabR.CurrentIssueType.QueryKey) selected="selected"#end value="$issueType.QueryKey">$rmit.DisplayName</option>
  #end
 </select>
## give actionEvent as hidden field so user does not have to click Go,
## if javascript is enabled. show button only if script disabled.
  <input type="hidden" value="foo" name="eventSubmit_doSelect" />
  <noscript><input type="submit" value="Go" name="eventSubmit_doSelect" 
      tabindex="4" /></noscript>
</form>
</td>
#end

<td>
<form action="$link.setPage("Index.vm").setAction("Search")" method="get">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="Index.vm" />
  <select name="go" tabindex="3" onChange="this.form.submit();">
    <option value="AdvancedQuery.vm">Select query...</option>
    <option value="AdvancedQuery.vm">&#160;Advanced</option>
    <option value="Search.vm">&#160;Custom</option>
    #if ($scarabR.CurrentIssueType && $data.User.hasMostRecentQuery())
        <option value="IssueList.vm">&#160;Most recent</option>
    #end
    #if ($scarabR.CurrentIssueType && $data.User.getDefaultQuery($module, $scarabR.CurrentIssueType))
        <option value="$data.User.getDefaultQuery($module, $scarabR.CurrentIssueType).QueryId" >&#160;Default query</option> 
    #end

#set ($privateQueries = $scarabR.PrivateQueries)
#set ($globalQueries = $scarabR.GlobalQueries)

#if ($privateQueries && $privateQueries.size() > 0)
    <option value="QueryList.vm">Saved queries (personal)...</option>
   #foreach ($query in $privateQueries)
    <option value="$query.QueryId">&#160;$query.Name</option>
   #end
#end

#if ($globalQueries && $globalQueries.size() > 0)
    <option value="QueryList.vm">Saved queries (project)...</option>
   #foreach ($query in $globalQueries)
    <option value="$query.QueryId">&#160;$query.Name</option>
   #end
#end
  </select>
## give actionEvent as hidden field so user does not have to click Go,
## if javascript is enabled. show button only if script disabled.
  <input type="hidden" value="foo" name="eventSubmit_doSelectquery" />
  <noscript><input type="submit" value="Go" name="eventSubmit_doSelectquery" tabindex="4" /></noscript>
</form>
  </td>

#if ($currentIssueType)
  <td>
    ## Add Template list to the top bar so that using a template will be easier
    #set ($allTemplates = $scarabR.IssueTemplates)
    #if ($allTemplates.size() > 0)
    
    #set ($rmit = $scarabR.CurrentModule.getRModuleIssueType($scarabR.CurrentIssueType))
    #if ($rmit.Dedupe)
      #set ($wizardScreen = "entry,Wizard1.vm")
    #else
      #set ($wizardScreen = "entry,Wizard3.vm")
    #end 

    <form action="$link.setPage("SaveTemplate.vm")" method="POST">
    <input type="hidden" name="action" value="TemplateList" />
    <input type="hidden" name="eventSubmit_doUsetemplate" value="foo" />
    <input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="$wizardScreen" />
    #set ($user = $data.User)
    #set ($permItemDelete = $scarabR.hasPermission($scarabG.Permission.ITEM__DELETE, $module))
    <select name="templateId" tabindex="5" onChange="this.form.submit();">
         <option value="0">Select template...</option>
     #foreach ($template in $allTemplates)
       #set ($isCreatedBy = $template.isCreatingUser($user))
       #if ($permItemDelete || $isCreatedBy)
         <option value="$template.IssueId">$template.TemplateInfo.Name</option>
       #end
     #end
    </select>
    <noscript><input type="submit" value="Go" name="eventSubmit_doUsetemplate" tabindex="6" /></noscript>
    </form>
    #end
    </td>
#end
  </tr>
 </table>
</div>
#end

