<?xml version="1.0" encoding="UTF-8"?>

<plugin name="Contact extensions"
	description="Contains references to all contact extension"
	id="org.columba.addressbook" version="1.0" category="framework"
	enabled="true">

	<extensionlist id="org.columba.addressbook.folder">
		<extension id="Root"
			class="org.columba.addressbook.folder.Root" />
		<extension id="LocalRootFolder"
			class="org.columba.addressbook.folder.LocalRootFolder" />
		<extension id="RemoteRootFolder"
			class="org.columba.addressbook.folder.RemoteRootFolder" />
		<extension id="AddressbookFolder"
			class="org.columba.addressbook.folder.AddressbookFolder" />
		<extension id="GroupFolder"
			class="org.columba.addressbook.folder.GroupFolder" />
	</extensionlist>

	<extensionlist id="org.columba.addressbook.import">
		<extension id="Mozilla (CSV)"
			class="org.columba.addressbook.folder.importfilter.MozillaCSVAddressbookImporter" />
		<extension id="Netscape (LDIF)"
			class="org.columba.addressbook.folder.importfilter.NetscapeLDIFAddressbookImporter" />
	</extensionlist>
	
	<extensionlist id="org.columba.core.action">
 <extension id="AddContactCard" class="org.columba.addressbook.gui.action.AddContactCardAction"/>
 <extension id="AddGroupCard" class="org.columba.addressbook.gui.action.AddGroupCardAction"/>
 <extension id="AddressbookImport" class="org.columba.addressbook.gui.action.AddressbookImportAction"/>
 <extension id="AddVCard" class="org.columba.addressbook.gui.action.AddVCardAction"/>
 <extension id="EditProperties" class="org.columba.addressbook.gui.action.EditPropertiesAction"/>
 <extension id="RemoveCard" class="org.columba.addressbook.gui.action.RemoveCardAction"/>
 <extension id="ExportVCard" class="org.columba.addressbook.gui.action.ExportVCardAction"/>
</extensionlist>

<extensionlist id="org.columba.core.newitem">
 <extension id="AddContactCard" class="org.columba.addressbook.gui.action.AddContactCardAction"/>
</extensionlist>

<extensionlist id="org.columba.core.search">
 <extension id="EmailContains" class="org.columba.contact.search.EmailContainsSearchProvider"/>
 <extension id="DisplaynameContains" class="org.columba.contact.search.DisplaynameContainsSearchProvider"/>
</extensionlist>

<extensionlist id="org.columba.core.search.ui">
 <extension id="email_contains" class="org.columba.addressbook.gui.search.BasicResultPanel"/>
 <extension id="displayname_contains" class="org.columba.addressbook.gui.search.BasicResultPanel"/>
</extensionlist>

</plugin>