#macro( advancedQuery $module )
#set ($search = $scarabR.Search)
#set ($intake = $scarabR.getConditionalIntake($scarabG.Constant.CURRENT_QUERY))
#set ($searchGroup = $intake.SearchIssue.mapTo($search))
#set ($attrValues = $search.ModuleAttributeValuesMap)
#set ($module = $scarabR.CurrentModule)
#set ($issueType = $scarabR.CurrentIssueType)

<h3>Issue ID Range</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
<th width="120">
    Issue ID# range
    #fieldErrorMsg($searchGroup.MinId "")
    #fieldErrorMsg($searchGroup.MaxId "")
</th>
<td>
from:&#160;<input type="text" size="20"
    name="$searchGroup.MinId.Key" value="$searchGroup.MinId" />
&#160;&#160;to:&#160;<input type="text" size="20"
    name="$searchGroup.MaxId.Key" value="$searchGroup.MaxId" />
</td>
</tr>
<tr>
<th width="120">
    Issue creation date range
    #fieldErrorMsg($searchGroup.MinDate "")
    #fieldErrorMsg($searchGroup.MaxDate "")
</th>
<td>
from:&#160;<input type="text" size="20"
    name="$searchGroup.MinDate.Key" value="$searchGroup.MinDate.toString()" />
&#160;&#160;to:&#160;<input type="text" size="20"
    name="$searchGroup.MaxDate.Key" value="$searchGroup.MaxDate.toString()" />
(e.g. MM/DD/YYYY hh:mm)
</td>
</tr>
</table>
</div>

## ATTRIBUTES
<div class="axial">
#foreach ($group in $issueType.getAttributeGroups($module))
  #if (!$group.Attributes.isEmpty())
    <h3>$group.Name</h3>
    <table cellpadding="3" cellspacing="2" border="0">
  #foreach ($att in $group.Attributes)
    #set ($rma = $module.getRModuleAttribute($att, $issueType))
    #if ($rma.Active)
        #set ($attVal = $attrValues.get($att.Name.toUpperCase()))
        #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
        #if ( $attVal.Attribute.AttributeType.ValidationKey )
              #set ( $field = $attVal.Attribute.AttributeType.ValidationKey )
        #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )
              #set ( $field = "OptionIds" )
        #else
              #set ( $field = "Value" )
        #end
        <tr>
         <th width="120">$attVal.RModuleAttribute.DisplayValue</th>
            <td>
                #attrValueErrorMsg ( $attVal $field )
      #if ($attVal.Attribute.isOptionAttribute() )
          #attrValueHierarchySelect ($attVal $field "4" true)
      #else
        #if ($attVal.Attribute.AttributeType.Name == "long-string" )
             #textAreaMedium("$attrInput.Value.Key" $attrInput.Value)
        #else
           <input name= "$attrInput.Value.Key"
                value="$!attrInput.Value" size="25" type="text" />
        #end
      #end
            </td>
        </tr>
    #end
  #end
</table>
  #end
#end
</div>


#*
 <tr>
  <th width="120">URL</th>
  <td><input type="text" size="25" value="http://" /></td>
 </tr>
*#


##PERSONNEL
<h3>Personnel association search</h3>
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th nowrap="nowrap">&nbsp;</th>
<th align="left"><strong>Name</strong></th>
<th align="left"><strong>Email</strong></th>
<th align="left"><strong>Association</strong></th>
</tr>
#set ($userList = $data.Parameters.getStrings("user_list"))
#set ($userAttrs = $module.getUserAttributes($issueType)) 

#foreach ($userId in $userList)
  <input type="hidden" name="user_list" value="$userId"  />
#indexedRows($velocityCount) 
#set ($loopVar = $velocityCount)
#set ($user = $scarabR.getUser($userId))

## Determine what the previous value of the selected user attribute
## In case page has been reloaded
#if ($user.UserName.equals($data.Parameters.getString("add_user")))
  #set ($selectedAttr = $data.Parameters.getString("add_user_attr"))
#else
  #set ($selectedAttr = $data.Parameters.getString("user_attr_$userId"))
#end
  <td><input type="checkbox" name="delete_user_$userId" /></td>
  <td><strong>$!user.FirstName $!user.LastName</strong></td>
  <td><a href="mailto:$user.Email">$user.Email</a></td>
  <td>
   <select name="user_attr_$userId" size="" >
      <option value="any"
         #if ($selectedAttr.equals("any")) selected="selected" #end
         >Any</option>
      <option value="created_by"
         #if ($selectedAttr.equals("created_by")) selected="selected" #end
         >Committed by:</option>
    #foreach ($selectUserAttr in $userAttrs)
       #set ($selected = false)
       #if ($selectedAttr.equals($selectUserAttr.AttributeId.toString())) 
          #set ($selected=true)
       #end
      <option value="$selectUserAttr.AttributeId"#selected($selected)>$selectUserAttr.Name:</option>
    #end
   </select>
  </td>
</tr>
#end

## Add user to search list
 #if ($loopVar % 2 > 0)
    <tr class="b">
 #else
    <tr class="a">
 #end
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><input type="text" name="add_user" /></td>
  <td><select name="add_user_attr" size="">
      <option value="any">Any</option>
      <option value="created_by">Committed by:</option>
    #foreach ($selectUserAttr in $userAttrs)
      <option value="$selectUserAttr.AttributeId">$selectUserAttr.Name:</option>
    #end
    </select>
  </td>
</tr>
</table> 
         
<div class="functnbar3">
<input type="submit" value="Add new" name="eventSubmit_doAdduser" />&nbsp;
<input type="submit" value="Delete selected" name="eventSubmit_doRemoveusers" />&nbsp;
<input type="submit" value="Edit list" name="eventSubmit_doGotoothertemplate" />
</div>

## STATE CHANGE QUERY
<h3>State change query</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th width="120">Attribute</th>
 <td>
     <select name="$searchGroup.StateChangeAttributeId.Key">
#foreach ( $attKey in $attrValues.sequence() )
    #set ( $attVal = $attrValues.get($attKey) )
    #if ($attVal.Attribute.AttributeType.Name == "combo-box" )
        #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
        #set ( $selected = false )
        #if ($searchGroup.StateChangeAttributeId.Value == $attVal.AttributeId )
            #set ( $selected = true )
            #set ( $selectedAttribute = $attVal.Attribute )
        #end
    <option#selected($selected) value="$attVal.AttributeId">
        $attVal.RModuleAttribute.DisplayValue
                </option>
    #end
#end
     </select>
     <input name="eventSubmit_doRefresh" value="Update Options" type="submit" />
 </td>
</tr>
<tr>
 <th width="120">State change query</th>
 <td>
  <select name="$searchGroup.StateChangeFromOptionId.Key">
    #set ( $selected = false )
    #if ( !$searchGroup.StateChangeFromOptionId.Value )
  #set ( $selected = true )
 #end
    <option#selected($selected) value="">any value</option>
#foreach ($option in $module.getLeafRModuleOptions($selectedAttribute, $scarabR.CurrentIssueType))
    #set ( $selected = false )
    #if ( $searchGroup.StateChangeFromOptionId.Value && $option.OptionId == $searchGroup.StateChangeFromOptionId.Value )
  #set ( $selected = true )
 #end
    <option#selected($selected) value="$option.OptionId">
        $option.DisplayValue
                </option>
#end
  </select> to
  <select name="$searchGroup.StateChangeToOptionId.Key">
    #set ( $selected = false )
    #if ( !$searchGroup.StateChangeToOptionId.Value )
      #set ( $selected = true )
    #end
    <option#selected($selected) value="">any value</option>
#foreach ($option in $module.getLeafRModuleOptions($selectedAttribute, $scarabR.CurrentIssueType))
    #set ( $selected = false )
    #if ( $searchGroup.StateChangeToOptionId.Value && $option.OptionId == $searchGroup.StateChangeToOptionId.Value )
        #set ( $selected = true )
    #end
    <option#selected($selected) value="$option.OptionId">
        $option.DisplayValue
                </option>
#end
      </select>
    </td>
 </tr>
 <tr>
    <th width="120">
        Date range
        #fieldErrorMsg($searchGroup.StateChangeFromDate "")
        #fieldErrorMsg($searchGroup.StateChangeToDate "")
    </th>
    <td>
        <input type="text" size=20 name="$searchGroup.StateChangeFromDate.Key"
            value="$searchGroup.StateChangeFromDate">&#160;
        to
        <input type="text" size=20 name="$searchGroup.StateChangeToDate.Key"
            value="$searchGroup.StateChangeToDate">
        (e.g. MM/DD/YYYY hh:mm)
    </td>
 </tr>
</table>
</div>


<h3>Search results view prefs</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th width="120">Sort by</th>
 <td>
 <select name="$searchGroup.SortAttributeId.Key">
    <option value="">Choose...</option>
#foreach ( $attKey in $attrValues.sequence() )
  #set ( $attribute = $attrValues.get($attKey).Attribute )
   <option value="$attribute.AttributeId">
       $attribute.Name
   </option>
#end
</select>&#160;
<select name="$searchGroup.SortPolarity.Key">
    <option value="asc">
        ascending
    </option>
    <option value="desc">
        descending
    </option>
</select>
</td>
</tr>
<tr>
<th width="120">Issues per page</th>
<td>
<input type="radio" name="resultsPerPage" value="25" checked="checked" /> 25
<input type="radio" name="resultsPerPage" value="50" /> 50
<input type="radio" name="resultsPerPage" value="75" /> 75
<input type="radio" name="resultsPerPage" value="100" /> 100
</td>
</tr>
</table>
</div>

#end
