#macro( advancedQuery $module )
#set ($search = $scarabR.Search)
#set ($intake = $scarabR.getConditionalIntake($scarabG.Constant.CURRENT_QUERY))
#set ($query = $intake.SearchIssue.mapTo($search))
#set ($attrValues = $search.ModuleAttributeValuesMap)
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
<th width="120">
    Issue ID# range
    #fieldErrorMsg($query.MinId "")
    #fieldErrorMsg($query.MaxId "")
</th>
<td>
from:&#160;<input type="text" size="20"
    name="$query.MinId.Key" value="$query.MinId" />
&#160;&#160;to:&#160;<input type="text" size="20"
    name="$query.MaxId.Key" value="$query.MaxId" />
</td>
</tr>
<tr>
<th width="120">
    Issue creation date range
    #fieldErrorMsg($query.MinDate "")
    #fieldErrorMsg($query.MaxDate "")
</th>
<td>
from:&#160;<input type="text" size="20"
    name="$query.MinDate.Key" value="$query.MinDate.toString()" />
&#160;&#160;to:&#160;<input type="text" size="20"
    name="$query.MaxDate.Key" value="$query.MaxDate.toString()" />
(e.g. MM/DD/YYYY hh:mm)
</td>
</tr>
#foreach ( $attKey in $attrValues.sequence() )
  #set ( $attVal = $attrValues.get($attKey) )
  #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
  #if ( $attVal.Attribute.AttributeType.ValidationKey )
        #set ( $field = $attVal.Attribute.AttributeType.ValidationKey )
  #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )
        #set ( $field = "OptionId" )
  #else
        #set ( $field = "Value" )
  #end
  ## showing user attributes in separate section
  #if (!$attVal.Attribute.isUserAttribute())
        <tr>
         <th width="120">$attVal.RModuleAttribute.DisplayValue</th>
            <td>
                #attrValueErrorMsg ( $attVal $field )
    #if ($attVal.Attribute.isOptionAttribute() )
          #attrValueLeafSelect ($attVal $field "")
    #else
        #if ($attVal.Attribute.AttributeType.Name == "long-string" )
            <#textAreaMedium() name="$attrInput.Value.Key"
              >$!attrInput.Value</textarea>
        #else
           <input name= "$attrInput.Value.Key"
                value="$!attrInput.Value" size="25" type="text" />
        #end
    #end
            </td>
        </tr>
  #end
#end
 <tr>
  <th width="120">URL</th>
  <td><input type="text" size="25" value="http://" /></td>
 </tr>
</table>
</div>
<h3>Personnel search</h3>
<div class="axial">
 <table cellpadding="3" cellspacing="2" border="0">
     <tr>
   <th width="120">Committed by</th>
   <td>
            <select name="$query.CreatedByUserNames.Key" multiple="multiple">
#foreach ( $createdBy in $module.EligibleIssueReporters )
    <option value="$createdBy.UserName">$createdBy.UserName</option>
#end
   </select>
            </td>
     </tr>
#foreach ( $attKey in $attrValues.sequence() )
  #set ( $attVal = $attrValues.get($attKey) )
  #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
  #if ($attVal.Attribute.isUserAttribute())
    #if ( $attVal.Attribute.AttributeType.ValidationKey )
        #set ( $field = $attVal.Attribute.AttributeType.ValidationKey )
    #else
        #set ( $field = "UserId" )
    #end
<tr>
<th width="120">$attVal.RModuleAttribute.DisplayValue</th>
   <td>
       #attrValueErrorMsg ( $attVal $field )
       #userSelectBox ($attVal "5" "multiple")
   </td>
  </tr>
  #end
#end
 </table>
</div>
<h3>State change query</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th width="120">Attribute</th>
 <td>
     <select name="$query.StateChangeAttributeId.Key">
#foreach ( $attKey in $attrValues.sequence() )
    #set ( $attVal = $attrValues.get($attKey) )
    #if ($attVal.Attribute.AttributeType.Name == "combo-box" )
        #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
        #set ( $selected = "" )
        #if ( $query.StateChangeAttributeId.Value == $attVal.AttributeId )
      #set ( $selected = ' selected="selected"' )
            #set ( $selectedAttribute = $attVal.Attribute )
     #end
    <option$selected value="$attVal.AttributeId">
        $attVal.RModuleAttribute.DisplayValue
                </option>
    #end
#end
     </select>
     <input name="eventSubmit_doUpdatestatechangeattribute"
        value="Update Options" type="submit" />
 </td>
</tr>
<tr>
 <th width="120">State change query</th>
 <td>
  <select name="$query.StateChangeFromOptionId.Key">
    #set ( $selected = "" )
    #if ( !$query.StateChangeFromOptionId.Value )
  #set ( $selected = ' selected="selected"' )
 #end
    <option$selected value="">any value</option>
#foreach ($option in $module.getLeafRModuleOptions($selectedAttribute))
    #set ( $selected = "" )
    #if ( $query.StateChangeFromOptionId.Value && $option.OptionId == $query.StateChangeFromOptionId.Value )
  #set ( $selected = ' selected="selected"' )
 #end
    <option$selected value="$option.OptionId">
        $option.DisplayValue
                </option>
#end
  </select> to
  <select name="$query.StateChangeToOptionId.Key">
    #set ( $selected = "" )
    #if ( !$query.StateChangeToOptionId.Value )
  #set ( $selected = ' selected="selected"' )
 #end
    <option$selected value="">any value</option>
#foreach ($option in $module.getLeafRModuleOptions($selectedAttribute))
    #set ( $selected = "" )
    #if ( $query.StateChangeToOptionId.Value && $option.OptionId == $query.StateChangeToOptionId.Value )
  #set ( $selected = ' selected="selected"' )
 #end
    <option$selected value="$option.OptionId">
        $option.DisplayValue
                </option>
#end
      </select>
    </td>
 </tr>
 <tr>
    <th width="120">
        Date range
        #fieldErrorMsg($query.StateChangeFromDate "")
        #fieldErrorMsg($query.StateChangeToDate "")
    </th>
    <td>
        <input type="text" size=20 name="$query.StateChangeFromDate.Key"
            value="$query.StateChangeFromDate">&#160;
        to
        <input type="text" size=20 name="$query.StateChangeToDate.Key"
            value="$query.StateChangeToDate">
        (e.g. MM/DD/YYYY hh:mm)
    </td>
 </tr>
</table>
</div>
<h3>Search results view prefs</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th width="120">Sort by</th>
 <td>
 <select name="$query.InitialSortAttributeId.Key">
    <option value="">Choose...</option>
#foreach ( $attKey in $attrValues.sequence() )
  #set ( $attribute = $attrValues.get($attKey).Attribute )
   <option value="$attribute.AttributeId">
       $attribute.Name
   </option>
#end
</select>&#160;
<select name="$query.InitialSortPolarity.Key">
    <option value="asc">
        ascending
    </option>
    <option value="desc">
        descending
    </option>
</select>
</td>
</tr>
<tr>
<th width="120">Issues per page</th>
<td>
<input type="radio" name="resultsPerPage" value="25" checked="checked" /> 25
<input type="radio" name="resultsPerPage" value="50" /> 50
<input type="radio" name="resultsPerPage" value="75" /> 75
<input type="radio" name="resultsPerPage" value="100" /> 100
</td>
</tr>
</table>
</div>
#end
