#macro ( advancedQueryFunctionBar $cssClass )
<div class="$cssClass">
<input type="submit"  name="eventSubmit_doSearch" value="$l10n.Submit" />&#160;
#if ($scarabR.hasPermission($scarabG.Permission.USER__EDIT_PREFERENCES))
<input type="submit" value="$l10n.SaveQuery"  name="eventSubmit_doRedirecttosavequery" />
#end
</div>
#end

#macro( advancedQuery )
#if (!$refine)
    #set ($refine = $data.Parameters.getString("refine", ""))
#end
<input type="hidden" name="refine" value="$refine"/>
#if ($refine.equals("true"))
  #set ($search = $scarabR.PopulatedSearch)
#else
  #set ($search = $scarabR.NewSearch)
#end
#set ($intake = $scarabR.getConditionalIntake($scarabG.Constant.CURRENT_QUERY))
#set ($searchGroup = $intake.SearchIssue.mapTo($search))
#set ($attrValues = $search.CommonAttributeValuesMap)
#set ($user = $data.User)

## we only show the edit link, if we are editing a saved query.
## It is easier to have the user use the back button if they are just creating
## a new query, otherwise we need to keep track of a lot of info. 
#set ($showButton = ($user.CurrentMITList.isModifiable() && $queryId))
#showMITList($l10n.SelectedIssueTypes $user $showButton)

<h3>$l10n.IssueIDQuery</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
<th width="120">
    $l10n.IssueIDRange
    #fieldErrorMsg($searchGroup.MinId "")
    #fieldErrorMsg($searchGroup.MaxId "")
</th>
<td>
from:&#160;<input type="text" size="20"
    name="$searchGroup.MinId.Key" value="$!searchGroup.MinId.Value" />
&#160;&#160;to:&#160;<input type="text" size="20"
    name="$searchGroup.MaxId.Key" value="$!searchGroup.MaxId.Value" />
</td>
</tr>
<tr>
<th width="120">
    $l10n.CreationDateRange
</th>
<td>
    #fieldErrorMsg($searchGroup.MinDate "")
    #fieldErrorMsg($searchGroup.MaxDate "")
from:&#160;<input type="text" size="20"
    name="$searchGroup.MinDate.Key" value="$searchGroup.MinDate.toString()" />
&#160;&#160;to:&#160;<input type="text" size="20"
    name="$searchGroup.MaxDate.Key" value="$searchGroup.MaxDate.toString()" />
<p><small>$l10n.DateEg</small></p>
</td>
</tr>
</table>
</div>

## ATTRIBUTES
#queryAttributesSection($search false 3)


##PERSONNEL
#set ($loopVar = 0)
<h3>$l10n.PersonnelSearch</h3>
<div class="colbar">$l10n.UserSearchOr</div>

<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
#set ($userAttrs = $search.UserAttributes) 
#set ($selectedUsers =  $data.User.SelectedUsersMap)
## If there is a working user map in memory, use that
## Otherwise check for saved query's users
#if ($selectedUsers)
  #set ($userList = $selectedUsers.keySet())
#else
  #set ($userList = $search.UserIdList)
  #set ($usingList = "true")
#end
#if ($userList && !$userList.isEmpty())
<th nowrap="nowrap">$l10n.Select</th>
<th align="left"><strong>$l10n.Name</strong></th>
#end
<th align="left"><strong>$l10n.Username</strong></th>
<th align="left"><strong>$l10n.Association</strong></th>
</tr>

#foreach ($userId in $userList)
 <input type="hidden" name="user_list" value="$userId"  />
#if ($usingList.equals("true"))
  #set ($attrId = $data.Parameters.getString("user_attr_$userId"))
#else
  #set ($attrId = $selectedUsers.get($userId))
#end
#set ($user = $scarabR.getUser($userId))
#indexedRows($velocityCount) 
#set ($loopVar = $velocityCount)

## Determine what the previous value of the selected user attribute
## In case page has been reloaded
  #set ($selectedAttr = "")
#if ($user.UserName.equals($data.Parameters.getString("add_user")))
  #set ($selectedAttr = $data.Parameters.getString("add_user_attr"))
#else
  #set ($selectedAttr = $data.Parameters.getString("user_attr_$userId"))
#end
#if ($userList && !$userList.isEmpty())
  <td><input type="checkbox" name="select_user" value="$userId"/></td>
  <td><a href="mailto:$user.Email"><strong>$!user.FirstName $!user.LastName</strong></a></td>
#end
  <td>$user.UserName</a></td>
  <td>
   <select name="user_attr_$userId" size="" >
      <option value="any"
         #if ($attrId.equals("any")) selected="selected" #end
         >$l10n.Any</option>
      <option value="created_by"
         #if ($attrId.equals("created_by")) selected="selected" #end
         >$l10n.CommittedBy</option>
    #foreach ($selectUserAttr in $userAttrs)
       #set ($selected = false)
       #if ($attrId.equals($selectUserAttr.AttributeId.toString())) 
          #set ($selected=true)
       #end
      <option value="$selectUserAttr.AttributeId"#selected($selected)>$selectUserAttr.Name:</option>
    #end
   </select>
  </td>
</tr>
#end

## Add user to search list
 #if ($loopVar % 2 > 0)
    <tr class="b">
 #else
    <tr class="a">
 #end
#if ($userList && !$userList.isEmpty())
  <td>&nbsp;</td>
  <td>&nbsp;</td>
#end
  <td><input type="text" name="add_user_by_username" /></td>
  <td><select name="add_user_attr" size="">
    #if ($userAttrs && !$userAttrs.isEmpty())
      <option value="any">$l10n.Any</option>
      <option value="created_by">$l10n.CommittedBy</option>
    #end
    #foreach ($selectUserAttr in $userAttrs)
      <option value="$selectUserAttr.AttributeId">$selectUserAttr.Name:</option>
    #end
    </select>
  </td>
</tr>
</table> 
<div class="functnbar3">
<input type="submit" value="$l10n.AddNew" name="eventSubmit_doAdduserbyusername" />&nbsp;
#if ($userList && !$userList.isEmpty())
<input type="submit" value="$l10n.DeleteSelected" name="eventSubmit_doRemoveusers" />&nbsp;
#end
<input type="submit" value="$l10n.EditList" name="eventSubmit_doGotoeditlist" />
</div>

## COMMENT QUERY
<div>
<h3>$l10n.CommentsTextSearch</h3>
<p>
#fieldErrorMsg($searchGroup.CommentQuery "")
#textAreaMedium("$searchGroup.CommentQuery.Key" $searchGroup.CommentQuery)
</p>
</div>


<h3>$l10n.StateChangeQuery</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th width="120">$l10n.Attribute</th>
 <td>
     <select name="$searchGroup.StateChangeAttributeId.Key">
#foreach ( $attKey in $attrValues.sequence() )
    #set ( $attVal = $attrValues.get($attKey) )
    #if ($attVal.Attribute.isOptionAttribute())
        #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
        #set ( $selected = false )
        #if ($searchGroup.StateChangeAttributeId.Value == $attVal.AttributeId )
            #set ( $selected = true )
            #set ( $selectedAttribute = $attVal.Attribute )
        #end
    <option#selected($selected) value="$attVal.AttributeId">
 #if ($attVal.Issue.Module && $attVal.Issue.IssueType)
        $attVal.RModuleAttribute.DisplayValue
 #else
        $attVal.Attribute.Name
 #end
    </option>
    #end
#end
     </select>
     <input name="eventSubmit_doRefresh" value="$l10n.UpdateOptions" type="submit" />
 </td>
</tr>
<tr>
 <th width="120">$l10n.StateChangeQuery</th>
 <td>
  <select name="$searchGroup.StateChangeFromOptionId.Key">
    #set ( $selected = false )
    #if ( !$searchGroup.StateChangeFromOptionId.Value )
  #set ( $selected = true )
 #end
    <option#selected($selected) value=0>$l10n.AnyValue</option>

#if ( $search.isXMITSearch() )
 #set ( $options = $search.getLeafRModuleOptions($selectedAttribute))
#else
 ## single module/issuetype search so we will show attribute groups
 #set ( $module = $search.getModule() )
 #set ( $issueType = $search.getIssueType() )
 #set ( $options = $module.getLeafRModuleOptions($selectedAttribute, $issueType) )
#end
#foreach ($option in $options)
    #set ( $selected = false )
    #if ( $searchGroup.StateChangeFromOptionId.Value && $option.OptionId == $searchGroup.StateChangeFromOptionId.Value )
  #set ( $selected = true )
 #end
    <option#selected($selected) value="$option.OptionId">
        $option.DisplayValue
    </option>
#end
  </select> $l10n.To
  <select name="$searchGroup.StateChangeToOptionId.Key">
    #set ( $selected = false )
    #if ( !$searchGroup.StateChangeToOptionId.Value )
      #set ( $selected = true )
    #end
    <option#selected($selected) value=0>$l10n.AnyValue</option>
#foreach ($option in $options)
    #set ( $selected = false )
    #if ( $searchGroup.StateChangeToOptionId.Value && $option.OptionId == $searchGroup.StateChangeToOptionId.Value )
        #set ( $selected = true )
    #end
    <option#selected($selected) value="$option.OptionId">
        $option.DisplayValue
    </option>
#end
      </select>
    </td>
 </tr>
 <tr>
    <th width="120">
        $l10n.DateRange
    </th>
    <td>
        #fieldErrorMsg($searchGroup.StateChangeFromDate "")
        #fieldErrorMsg($searchGroup.StateChangeToDate "")
        <input type="text" size=20 name="$searchGroup.StateChangeFromDate.Key"
            value="$searchGroup.StateChangeFromDate">&#160;
        to
        <input type="text" size=20 name="$searchGroup.StateChangeToDate.Key"
            value="$searchGroup.StateChangeToDate">
        <p><small>$l10n.DateEg</small></p>
    </td>
 </tr>
</table>
</div>


<h3>$l10n.ResultPrefs</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th width="120">$l10n.SortBy</th>
 <td>
 <select name="$searchGroup.SortAttributeId.Key">
    <option value="">$l10n.Choose</option>
#foreach ($rmua in $scarabR.RModuleUserAttributes)
#set ($attribute = $rmua.Attribute)
   <option value="$attribute.AttributeId"
     #if ($searchGroup.SortAttributeId.Value.equals($attribute.AttributeId))
          selected="selected" #end>
       $attribute.Name
   </option>
#end
</select>&#160;
<select name="$searchGroup.SortPolarity.Key">
    <option value="asc"
     #if ($searchGroup.SortPolarity.Value.equals("asc"))
          selected="selected" #end>
        $l10n.Ascending
    </option>
    <option value="desc"
     #if ($searchGroup.SortPolarity.Value.equals("desc"))
          selected="selected" #end>
        $l10n.Descending
    </option>
</select>
</td>
</tr>
<tr>
<th width="120">$l10n.IssuesPerPage</th>
<td>
#resultsPerPageRadioSelect($data.getParameters().getInt("resultsperpage", 25) true)
</td>
</tr>
<tr>
<th>Format</th>
<td>
 <input type="radio" name="format" value="" checked="checked">$l10n.Web</input>
 <input type="radio" name="format" value="excel">$l10n.Excel</input>
 <input type="radio" name="format" value="tsv">$l10n.TabSeparatedValues</input>
</td>
</tr>
</table>
</div>

#end

#macro (queryAttributesSection $search $optionsOnly $headerLevel)

#set ($attrValues = $search.CommonAttributeValuesMap)
<div class="axial">
#if ( $search.isXMITSearch() )
 <h$headerLevel>$l10n.CommonAttributes</h$headerLevel>
 <table cellpadding="3" cellspacing="2" border="0">
 #set ($firstTextWidget = true)
 #foreach ( $attKey in $attrValues.sequence() )
     #set ( $attVal = $attrValues.get($attKey) )
     #if (!$attVal.Attribute.isUserAttribute() && (!$optionsOnly || $attVal.Attribute.isOptionAttribute()))
         #attributeWidget($attVal)
     #end     
 #end
 </table>
#else
 ## single module/issuetype search so we will show attribute groups
 #set ( $module = $search.getModule() )
 #set ( $issueType = $search.getIssueType() )
 #set ($firstTextWidget = true)
 #foreach ($group in $module.getAttributeGroups($issueType))
  #if (($optionsOnly && $group.hasAnyOptionAttributes()) || (!$optionsOnly && !$group.Attributes.isEmpty()))
    <h$headerLevel>$group.Name</h$headerLevel>
    <table cellpadding="3" cellspacing="2" border="0">
   #foreach ($att in $group.Attributes)
    #set ($rma = $module.getRModuleAttribute($att, $issueType))
    #if ($rma.Active)
        #set ($attVal = $attrValues.get($att.Name.toUpperCase()))
        #if (!$optionsOnly || $attVal.Attribute.isOptionAttribute())
          #attributeWidget($attVal)
        #end
    #end
   #end
    </table>
  #end
 #end
#end
</div>
#end

#macro (attributeWidget $attVal)
    #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
    #if ( $attVal.Attribute.AttributeType.ValidationKey )
        #set ( $field = $attVal.Attribute.AttributeType.ValidationKey )
    #elseif ($attVal.Attribute.AttributeType.Name == $scarabG.Constant.DROPDOWN_LIST)
        #set ( $field = "OptionIds" )
    #else
        #set ( $field = "Value" )
    #end
  <tr>
    <th width="120">
 #if ($attVal.Issue.Module && $attVal.Issue.IssueType)
        $attVal.RModuleAttribute.DisplayValue
 #else
        $attVal.Attribute.Name
 #end
    </th>
    <td>
      #attrValueErrorMsg ( $attVal $field )
      #if ($attVal.Attribute.isOptionAttribute() )
        #if ($search.isXMITSearch())
          #attrValueCommonSelect ($search $attVal $field "4" true)
        #else
          #attrValueHierarchySelect ($attVal $field "4" true)
        #end
      #else
        #if ($attVal.Attribute.AttributeType.Name == "long-string" )
             #textAreaMedium("$attrInput.Value.Key" $attrInput.Value)
        #else
           <input name= "$attrInput.Value.Key"
                value="$!attrInput.Value" size="25" type="text" />
        #end
        #if ($firstTextWidget)
        <small>#enterHelp($link.setPage("help,UserQueryText.vm") "" " $l10n.TextQueries?")</small>
           #set ($firstTextWidget = false)
        #end
      #end
    </td>
  </tr>
#end

#macro (attrValueCommonSelect $search $attrValue $optionFieldName $size $multiple)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#set ($attr = $attrValue.Attribute)
#set ($values = $attrInput.get($optionFieldName).Value)
<select name="$attrInput.get($optionFieldName).Key"
#if($size.length() != 0)size="$size"#end #if($multiple)multiple="multiple"#end>
  #if ($size.length() == 0)
  <option value="">$l10n.Choose</option>
  #end
  #foreach ($option in $search.getCommonOptionTree($attr))
    #set ($selected = false)
    #if ($values)   
       #if ($multiple.toString().equals("true"))
         #foreach ($value in $values)
            #if ($value.equals($option.OptionId))
               #set ($selected=true)
            #end
         #end
       #else
         #if ($values.equals($option.OptionId))
           #set ($selected=true)
          #end
       #end
    #end
    <option value="$option.OptionId"#selected($selected)>
#foreach ($i in [0..$option.Level])#if($i != 0)&nbsp;&nbsp;&nbsp;&nbsp;#end#end
          $option.DisplayValue</option>
  #end
</select>
#end
