#macro ( attrValueLeafSelect $attrValue $optionFieldName $size)
  #set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
  #set ($attr = $attrValue.Attribute)
  #set ($module = $attrValue.Issue.Module)
<select name="$attrInput.get($optionFieldName).Key"
   #if($size.length())size="$size"#end>
  #if ($size.length() == 0)
   <option value="">Choose...</option>
  #end
  #foreach ($option in $module.getLeafRModuleOptions($attr))
    #set ($selected = "")
    #if ( $attrInput.get($optionFieldName).Value && $option.OptionId == $attrInput.get($optionFieldName).Value)
    <option selected="selected" value="$option.OptionId">$option.DisplayValue</option>
    #else
    <option value="$option.OptionId">$option.DisplayValue</option>
    #end
  #end
</select>
#end

#macro ( templateAttrValueLeafSelect $attrValue $templAttrValue $optionFieldName $size)
  #set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
  #set ($templAttrInput = $intake.AttributeValue.mapTo($templAttrValue))
  #set ($attr = $attrValue.Attribute)
  #set ($module = $attrValue.Issue.Module)

  #if ($attrInput.get($optionFieldName).Value)
    #set( $currentValue = $attrInput.get($optionFieldName).Value)
  #elseif ( $templAttrInput.get($optionFieldName).Value)
    #set( $currentValue = $templAttrInput.get($optionFieldName).Value)
  #end
<select name="$attrInput.get($optionFieldName).Key"
  #if($size.length())size="$size"#end>
  #if ($size.length() == 0)
  <option value="">Choose...</option>
  #end
  #foreach ($option in $module.getLeafRModuleOptions($attr))
    #set ($selected = "")
    #if ( $currentValue && $option.OptionId == $currentValue)
      <option selected="selected" value="$option.OptionId">$option.DisplayValue</option>
    #else
      <option value="$option.OptionId">$option.DisplayValue</option>
    #end
  #end
#end

#macro ( dependTypeLeafSelect $childIssue $type)
<select name="$type_depend_type_id_$childIssue.IssueId">
  <option>Choose dependency type</option>
  #foreach ($dependType in $currentIssue.getAllDependencyTypes())
    #set ($selected = "")
    #if ( $currentIssue.getDependency($childIssue).TypeId.toString().equals($dependType.DependTypeId.toString()))
    <option selected="selected" value="$dependType.DependTypeId">$dependType.Name</option>
    #else
    <option value="$dependType.DependTypeId">$dependType.Name</option>
    #end
  #end
  <option value="none">Remove dependency</option>
</select>
#end

#macro ( attrValueText $attrValue $size)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
<input type="text" name="$attrInput.Value.Key" value="$!attrInput.Value"#if($size.length()) size="$size"#end />
#end

#macro ( attrValueHierarchySelect $attrValue $optionFieldName $size)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#set ($attr = $attrValue.Attribute)
#set ($module = $attrValue.Issue.Module)
<select name="$attrInput.get($optionFieldName).Key"
      #if($size.length() != 1)size="$size"#end>
  #if ($size.length() == 0)
  <option value="">Choose...</option>
  #end
  #foreach ($option in $module.getOptionTree($attr))
    #set ($selected = "")
    #if ($attrInput.get($optionFieldName).Value && $option.OptionId == $attrInput.get($optionFieldName).Value)
      #set ($selected = " selected")
    #end
    <option$selected value="$option.OptionId">
#foreach ($i in [0..$option.Level])#if($i != 0)&nbsp;&nbsp;&nbsp;&nbsp;#end#end
          $option.DisplayValue</option>
  #end
</select>
#end

#macro ( attrValueErrorMsg $attrValue $fieldName)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#if ( !$attrInput.get($fieldName).isValid())
<p><strong class="alert">$attrInput.get($fieldName).Message</strong></p>
#end
#end

#macro ( fieldErrorMsg $field $br)
#if ( !$field.isValid())
<p><strong class="alert">$field.Message</strong></p>$br
#end
#end

#macro ( actionErrorMsg)
#if ($data.Message)
<p><strong class="alert">$data.Message</strong></p>
#end
#end

#macro ( stdIntakeMsg)
#if ( !$intake.isAllValid())
<p><strong class="alert">Please check your form fields for errors and resubmit.</strong></p>
#end
#end

#macro ( numericSelect $name $first $last $selected $size)
<select name="$name" size="$size">
#foreach ( $i in [$first..$last])
<option value="$i" #if ($i==$selected)selected="selected" #end>$i</option>
#end
</select>
#end

#macro ( booleanCheckbox $booleanField)
#if ($booleanField.Value)
<input type="checkbox" name="$booleanField.Key" value="true" checked="checked" />
#else
<input type="checkbox" name="$booleanField.Key" value="true" />
#end
<input type="hidden" name="$booleanField.ValueIfAbsent" value="false" />
#end

#macro (checked $v1 $v2)
#if ($v1.toString().equals($v2.toString()))checked="checked"#end
#end

#macro ( textField $field $size)
#if ( $field.Validator.MaxLength && $field.Validator.MaxLength > 0)
#set ($maxLength = $field.Validator.MaxLength)
#end
<input type="text" name="$field.Key" value="$!field.Value"#if($maxLength) maxlength="$maxLength"#end#if($size.length()) size="$size"#end />
#end

#macro (userSelectBox $attrValue $size $multiple)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#set ($attr = $attrValue.Attribute)
#set ($module = $attrValue.Issue.Module)
#if ($multiple == "true" || $multiple == "multiple")
<select name="$attrInput.get("UserIds").Key"
     #if($size.length())size="$size"#end multiple="multiple">
#else
<select name="$attrInput.get("UserId").Key"
     #if($size.length())size="$size"#end>
#end
 #if ($size.length() == 0)
 <option value="">Choose...</option>
 #end
 #foreach ($user in $module.getUsers($attr.Permission))
   #set ($selected = "")
   #if ($attrInput.UserId.Value && $user.PrimaryKey == $attrInput.UserId.Value)
   <option selected="selected" value="$user.PrimaryKey">$user.UserName</option>
   #else
   <option value="$user.PrimaryKey">$user.UserName</option>
   #end
 #end
</select>
#end

#macro (queryTypeSelectBox $query)
  #set ($queryGroup = $intake.Query.mapTo($query))
  <select name="$queryGroup.ScopeId.Key">
  #foreach ($scope in $scarabR.getScopes())
    <option value = "$scope.ScopeId" #if( $scope.ScopeId.equals("$query.ScopeId")) selected="selected" #end>
    $scope.Name
    </option>
  #end
  </select>
#end

#macro (templateTypeSelectBox $templateInfo)
  #set ($group = $intake.IssueTemplateInfo.mapTo($templateInfo))
  <select name="$group.ScopeId.Key">
  #foreach ($scope in $scarabR.getScopes())
    <option value = "$scope.ScopeId" #if( $scope.ScopeId.equals("$issue.ScopeId")) selected="selected" #end>
    $scope.Name
    </option>
  #end
  </select>
#end

#macro (frequencySelectBox $id)
  #foreach ($frequency in $scarabR.Frequencies)
    <option value = "$frequency.FrequencyId" #if( $frequency.FrequencyId.equals($id)) selected="selected" #end>
    $frequency.Name
    </option>
  #end
#end

#macro (indexedRows $count)
 #if ($count % 2 > 0)
    <tr class="a">
 #else
    <tr class="b">
 #end
#end

#macro (rows)
 #indexedRows($velocityCount)
#end


#macro ( datatitle $title)
<h3>$title</h3>
#end


#macro ( selected $boolean )
#if ($boolean) selected="selected"#end
#end


#macro ( option $optionModel )
<option #selected($optionModel.isSelected()) 
    value="$optionModel.Value">$optionModel.Name</option>
#end
