
#macro (attrValueLeafSelect $attrValue $optionFieldName $size $multiple)
  #set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
  #set ($attr = $attrValue.Attribute)
  #set ($module = $attrValue.Issue.Module)
  #set ($issueType = $attrValue.Issue.IssueType)
  ## initialize in case the second #set has null RHS
  #set ($values = "")
  #set ($values = $attrInput.get($optionFieldName).Value)

<select name="$attrInput.get($optionFieldName).Key"
   #if($size.length())size="$size"#end #if($multiple.equals("true"))multiple="multiple"#end>
  #if ($size.length() == 0)
   <option value="">$l10n.Choose</option>
  #end
  #if ($module.getLeafRModuleOptions($attr, $issueType))
  #foreach ($option in $module.getLeafRModuleOptions($attr, $issueType))
    #set ($selected = false)
    #set ($canMakeTransition = "true")
    #if ($values && $values.toString().length() > 0)   
       #if ($multiple.equals("true"))
         #foreach ($value in $values)
            #if ($value.equals($option.OptionId))
               #set ($selected=true)
            #end
         #end
       #else
         #set ($canMakeTransition = $scarabG.Workflow.canMakeTransition($data.User, $scarabR.getAttributeOption($values), $option.getAttributeOption(), $scarabR.Issue))
         #if ($values.equals($option.OptionId))
           #set ($selected=true)
          #end
       #end
    #else
         #set ($canMakeTransition = $scarabG.Workflow.canMakeTransition($data.User, $scarabR.getAttributeOption("0"), $option.getAttributeOption(), $scarabR.Issue))
    #end
    #if ($canMakeTransition.toString().equals("true"))
      <option value="$option.OptionId"#selected($selected)>
        $option.DisplayValue </option>
    #end
  #end
  #end
</select>
#end

#macro (templateAttrValueLeafSelect $attrValue $templAttrValue $optionFieldName $size $multiple)
  #set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
  #set ($templAttrInput = $intake.AttributeValue.mapTo($templAttrValue))
  #set ($attr = $attrValue.Attribute)
  #set ($module = $attrValue.Issue.Module)
  #if ($attrInput.get($optionFieldName).Value)
    #set($currentValue = $attrInput.get($optionFieldName).Value)
  #elseif ($templAttrInput.get($optionFieldName).Value)
    #set($currentValue = $templAttrInput.get($optionFieldName).Value)
  #end
<select name="$attrInput.get($optionFieldName).Key"
  #if($size.length())size="$size"#end #if($multiple)multiple="multiple"#end>
  #if ($size.length() == 0)
  <option value="">$l10n.Choose</option>
  #end
  #foreach ($option in $module.getLeafRModuleOptions($attr, $scarabR.CurrentIssueType))
    #if ($currentValue && $option.OptionId == $currentValue)
      <option selected="selected" value="$option.OptionId">$option.DisplayValue</option>
    #else
      <option value="$option.OptionId">$option.DisplayValue</option>
    #end
  #end
</select>
#end

#macro (dependTypeLeafSelect $childIssue $type)
<select name="$type_depend_type_id_$childIssue.IssueId">
  <option>Choose dependency type</option>
  #foreach ($dependType in $currentIssue.getAllDependencyTypes())
    #if ($currentIssue.getDependency($childIssue).TypeId.toString().equals($dependType.DependTypeId.toString()))
    <option selected="selected" value="$dependType.DependTypeId">$dependType.Name</option>
    #else
    <option value="$dependType.DependTypeId">$dependType.Name</option>
    #end
  #end
  <option value="none">$l10n.RemoveDependency</option>
</select>
#end

#macro (attrValueText $attrValue $size)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
        #if ($attVal.Attribute.AttributeType.Name == "long-string")
           #textAreaMedium("$attrInput.Value.Key" $attrInput.Value)
        #else
           <input type="text" name="$attrInput.Value.Key" value="$!attrInput.Value"#if($size.length()) size="$size"#end />
        #end
#end

#macro (templateAttrValueText $attrValue $size $templAttrValue)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#set ($value = $templAttrValue.Value)
#set ($currentValue = "")
#if ($attrInput.Value.toString().length() > 0)
     #set ($currentValue = $attrInput.Value)
#elseif ($value.length() > 0)
     #set ($currentValue = $value)
#end
#if ($attVal.Attribute.AttributeType.Name == "long-string")
   #textAreaMedium("$attrInput.Value.Key" $currentValue)
#else
   <input type="text" name="$attrInput.Value.Key" value="$!currentValue"#if($size.length()) size="$size"#end />
#end
#end

#macro (attrValueHierarchySelect $attrValue $optionFieldName $size $multiple)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#set ($attr = $attrValue.Attribute)
#set ($module = $attrValue.Issue.Module)
## initialize in case the second #set has null RHS
#set ($values = "")
#set ($values = $attrInput.get($optionFieldName).Value)
<select name="$attrInput.get($optionFieldName).Key"
#if($size.length() != 0)size="$size"#end #if($multiple)multiple="multiple"#end>
  #if($size.length() == 0 || $size == "1")
     <option value="">$l10n.Choose</option>
  #end
  #foreach ($option in $module.getOptionTree($attr, $attrValue.Issue.IssueType))
    #set ($selected = false)
    #if ($values && $values.toString().length() > 0)
       #if ($multiple.toString().equals("true"))
         #foreach ($value in $values)
            #if ($value.equals($option.OptionId))
               #set ($selected=true)
            #end
         #end
       #else
         #if ($values.equals($option.OptionId))
           #set ($selected=true)
          #end
       #end
    #end
    <option value="$option.OptionId"#selected($selected)>
#foreach ($i in [0..$option.Level])#if($i != 0)&nbsp;&nbsp;&nbsp;&nbsp;#end#end
          $option.DisplayValue</option>
  #end
</select>
#end

#macro (attrValueErrorMsg $attrValue $fieldName)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#if (!$attrInput.get($fieldName).isValid())
<p class="warningmark"><strong>$l10n.get($attrInput.get($fieldName).Message)</strong></p>
#end
#end

#macro (alert $text)
   <p class="warningmark"><strong>$text</strong></p>
#end

#macro (confirm $text)
   <p class="donemark"><em>$text</em></p>
#end

#macro (info $text)
   <p class="infomark">$text</em></p>
#end

#macro (alert $text)
   <p class="warningmark"><strong>Alert! $text</strong></p>
#end

#macro (fieldErrorMsg $field $br)
#if ($field && $field.Message.length() > 0 && !$field.isValid())
<p class="warningmark"><strong>$l10n.get($field.Message)</strong></p>$br
#end
#end

#macro (actionMessage)
#if ($data.Message)
  #confirm($data.Message)
#end
#if($scarabR.ConfirmMessage)
  #confirm($scarabR.ConfirmMessage)  
#end
#if($scarabR.InfoMessage)
  #info($scarabR.InfoMessage)  
#end
#if($scarabR.AlertMessage)
  #alert($scarabR.AlertMessage)  
#end
#end

#macro (stdIntakeMsg)
#if (!$intake.isAllValid())
<p class="warningmark"><strong>$l10n.CheckForErrors</strong></p>
#end
#end

#macro (numericSelect $name $first $last $selected $size)
<select name="$name" size="$size">
#foreach ($i in [$first..$last])
<option value="$i" #if ($i==$selected)selected="selected" #end>$i</option>
#end
</select>
#end

#macro (booleanCheckbox $booleanField)
#if ($booleanField.Value)
<input type="checkbox" name="$booleanField.Key" value="true" checked="checked" />
#else
<input type="checkbox" name="$booleanField.Key" value="true" />
#end
<input type="hidden" name="$booleanField.ValueIfAbsent" value="false" />
#end

#macro (booleanCheckboxLock $booleanField $locked)
#if ($locked)
   #set ($disabled = "disabled=disabled")
#else
   #set ($disabled = "")
#end
#if ($booleanField.Value)
<input type="checkbox" name="$booleanField.Key" value="true" checked="checked" $disabled/>
#else
<input type="checkbox" name="$booleanField.Key" value="true" $disabled/>
#end
<input type="hidden" name="$booleanField.ValueIfAbsent" value="false" $disabled />
#end

#macro (booleanRadio $booleanField)
#if ($booleanField.Value)
<input type="radio" name="$booleanField.Key" value="true" checked="checked" />
#else
<input type="radio" name="$booleanField.Key" value="true" />
#end
<input type="hidden" name="$booleanField.ValueIfAbsent" value="false" />
#end

#macro (Radio $field $value $default)
#if ($field.Value.equals($value))
<input type="radio" name="$field.Key" value="$value" checked="checked" />
#elseif (!$field.Value && $value.equals($default))
<input type="radio" name="$field.Key" value="$value" checked="checked" />
#else
<input type="radio" name="$field.Key" value="$value" />
#end
#end

#macro (textField $field $size)
#if ($field.Validator.MaxLength && $field.Validator.MaxLength > 0)
#set ($maxLength = $field.Validator.MaxLength)
#end
<input type="text" name="$field.Key" value="$!field.Value"#if($maxLength) maxlength="$maxLength"#end#if($size.length()) size="$size"#end />
#end

#macro (userSelectBox $attrValue $size $multiple)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#set ($attr = $attrValue.Attribute)
#set ($module = $attrValue.Issue.Module)
#if ($multiple == "true" || $multiple == "multiple")
<select name="$attrInput.get("UserIds").Key"
     #if($size.length())size="$size"#end multiple="multiple">
#else
<select name="$attrInput.get("UserId").Key"
     #if($size.length())size="$size"#end>
#end
 #if ($size.length() == 0)
 <option value="">$l10n.Choose</option>
 #end
   #foreach ($user in $module.getUsers($attr.Permission))
   #if ($attrInput.UserId.Value && $user.PrimaryKey == $attrInput.UserId.Value)
   <option selected="selected" value="$user.PrimaryKey">$user.UserName</option>
   #else
   <option value="$user.PrimaryKey">$user.UserName</option>
   #end
 #end
</select>
#end

#macro (templateUserSelectBox $attrValue $templAttrValue $size $multiple)
#set ($attrInput = $intake.AttributeValue.mapTo($attrValue))
#set ($templAttrInput = $intake.AttributeValue.mapTo($templAttrValue))
#set ($attr = $attrValue.Attribute)
#set ($module = $attrValue.Issue.Module)
  #set($currentValue = "")
  #if ($attrInput.UserId.toString().length() > 0)
    #set($currentValue = $attrInput.UserId)
  #elseif ($templAttrInput.UserId.toString().length() > 0)
    #set($currentValue = $templAttrInput.UserId)
  #end
#if ($multiple == "true" || $multiple == "multiple")
<select name="$attrInput.UserId.Key"
     #if($size.length())size="$size"#end multiple="multiple">
#else
<select name="$attrInput.UserId.Key"
     #if($size.length())size="$size"#end>
#end
 #if ($size.length() == 0)
 <option value="">$l10n.Choose</option>
 #end
   #foreach ($user in $module.getUsers($attr.Permission))
   #if ($user.PrimaryKey.toString().equals($currentValue.toString()))
   <option selected="selected" value="$user.PrimaryKey">$user.UserName</option>
   #else
   <option value="$user.PrimaryKey">$user.UserName</option>
   #end
 #end
</select>
#end

#macro (queryTypeSelectBox $query)
  #set ($queryGroup = $intake.Query.mapTo($query))
  <select name="$queryGroup.ScopeId.Key">
  #foreach ($scope in $scarabR.getScopes())
    <option value = "$scope.ScopeId" #if($scope.ScopeId.toString().equals("$queryGroup.ScopeId.Value")) selected="selected" #end>
    $scope.Name
    </option>
  #end
  </select>
#end

#macro (templateTypeSelectBox $templateInfo)
  #set ($group = $intake.IssueTemplateInfo.mapTo($templateInfo))
  <select name="$group.ScopeId.Key">
  #foreach ($scope in $scarabR.getScopes())
    <option value = "$scope.ScopeId" #if($scope.ScopeId.toString().equals("$group.ScopeId.Value")) selected="selected" #end>
    $scope.Name
    </option>
  #end
  </select>
#end

#macro (frequencySelectBox $id)
<option value="" >$l10n.Choose</option>
  #foreach ($frequency in $scarabR.Frequencies)
    <option value = "$frequency.FrequencyId" #if($frequency.FrequencyId.equals($id)) selected="selected" #end>
    $frequency.Name
    </option>
  #end
#end

#macro (indexedRows $count)
 #if ($count % 2 > 0)
    <tr class="a">
 #else
    <tr class="b">
 #end
#end

#macro (indexedRows2 $count)
 #if ($count % 2 > 0)
    <tr class="b">
 #else
    <tr class="a">
 #end
#end

#macro (rows)
 #indexedRows($velocityCount)
#end


#macro (datatitle $title)
<h3>$title</h3>
#end

#macro (selected $boolean)
#if ($boolean) selected="selected"#end
#end

#macro (checked $boolean)
#if ($boolean) checked="checked"#end
#end


#macro (option $optionModel)
<option #selected($optionModel.isSelected()) 
    value="$optionModel.Value">$optionModel.Name</option>
#end

#macro (resultsPerPageRadioSelect $resultsPerPage $showAll)

#if (!$resultsPerPage || $resultsPerPage == 0) 
  #set ($resultsPerPage = 25)
#end
#foreach ($num in [25, 50, 75, 100])
 <input type="radio" value="$num" name="resultsPerPage" #if ($resultsPerPage == $num) checked="checked" #end /> $num
#end
#if ($showAll.toString().equals("true"))
 <input type="radio" value="-1" name="resultsPerPage" #if ($resultsPerPage == -1) checked="checked" #end /> $l10n.All
#end

#end


#macro (paginate $resultsPerPage $pageNum $sortColumn $sortPolarity)
 <p class="paginate">
 #if($scarabR.PrevPage != 0)
  #set ($prevLink = $link.setPathInfo("resultsperpage", "$resultsPerPage").setPathInfo("pageNum", "$scarabR.PrevPage").setPathInfo("sortColumn", "$sortColumn").setPathInfo("sortPolarity", "$sortPolarity").setPage($scarabR.getCurrentTemplate()))
  <a href="$prevLink">&laquo; previous</a> |
 #end
 $pageNum of $scarabR.NbrPages
 #if ($scarabR.NextPage != 0)
  #set ($nextLink = $link.setPathInfo("resultsperpage", "$resultsPerPage").setPathInfo("pageNum", "$scarabR.NextPage").setPathInfo("sortColumn", "$sortColumn").setPathInfo("sortPolarity", "$sortPolarity").setPage($scarabR.getCurrentTemplate()))
  | <a href="$nextLink">next &raquo;</a>
 #end
 </p>
#end

#macro (paginateWithSearch $resultsPerPage $pageNum $sortColumn $sortPolarity $searchString $searchField $headingType)
 <p class="paginate">
 #if($scarabR.PrevPage != 0)
  #set ($prevLink = $link.setPathInfo("resultsperpage", "$resultsPerPage.toString()").setPathInfo("pageNum", "$scarabR.PrevPage").setPathInfo("sortColumn", "$sortColumn").setPathInfo("sortPolarity", "$sortPolarity").setPage($scarabR.getCurrentTemplate()).setPathInfo("searchString", $searchString).setPathInfo("searchField", $searchField).setPathInfo("headingtype","$headingType"))
  <a href="$prevLink">&laquo; previous</a> |
 #end
 $pageNum of $scarabR.NbrPages
 #if ($scarabR.NextPage != 0)
  #set ($nextLink = $link.setPathInfo("resultsperpage", "$resultsPerPage.toString()").setPathInfo("pageNum", "$scarabR.NextPage").setPathInfo("sortColumn", "$sortColumn").setPathInfo("sortPolarity", "$sortPolarity").setPage($scarabR.getCurrentTemplate()).setPathInfo("searchString", $searchString).setPathInfo("searchField", $searchField).setPathInfo("headingtype","$headingType"))
  | <a href="$nextLink">&raquo; next</a>
 #end
 </p>
#end

## ---------------------------------------------------------------------------
## Issue listing and reporting related macros
## ---------------------------------------------------------------------------

#macro (navigate)
 <p class="paginate">
#set ($prevIssue=$scarabR.PrevIssue)
 #if($prevIssue)
  #set ($prevLink = $link.setPathInfo("id", "$prevIssue").setPage($scarabR.getCurrentTemplate()))
 #foreach ($prevNextId in $data.Parameters.getStrings("issueList"))
    #set ($dummy = $prevLink.addPathInfo("issueList", $prevNextId))
 #end
  <a href="$prevLink">&laquo; $l10n.Previous</a> |
 #end
$scarabR.IssuePosInList of $scarabR.CurrentSearchResultsSize
#set ($nextIssue=$scarabR.NextIssue)
 #if ($nextIssue)
  #set ($nextLink = $link.setPathInfo("id", "$nextIssue").setPage($scarabR.getCurrentTemplate()))
 #foreach ($prevNextId in $data.Parameters.getStrings("issueList"))
    #set ($dummy = $nextLink.addPathInfo("issueList", $prevNextId))
 #end
  | <a href="$nextLink">$l10n.Next &raquo;</a>
 #end
 </p>
#end

#macro (processQueryResults $action)
<select name="next"
        onchange="javascript:submitFormTo(this.form, '$action');">
<option value="" selected="selected">Process results:</option>
#set ($module = $scarabR.CurrentModule)
#if ($user.hasPermission($scarabG.Permission.ISSUE__VIEW, $module))
    <option value="viewAll">$l10n.ViewAll</option>
    <option value="viewSelected">$l10n.ViewSelected</option>
#end
#if ($user.hasPermission($scarabG.Permission.ISSUE__ASSIGN, $module))
    <option value="assignAll">$l10n.AssignAll</option>
    <option value="assignSelected">$l10n.AssignSelected</option>
#end
#if ($user.hasPermission($scarabG.Permission.ISSUE__ENTER, $module))
    <option value="copyAll">$l10n.CopyAll</option>
    <option value="copySelected">$l10n.CopySelected</option>
#end
#if ($user.hasPermission($scarabG.Permission.ISSUE__MOVE, $module))
    <option value="moveAll">$l10n.MoveAll</option>
    <option value="moveSelected">$l10n.MoveSelected</option>
#end
</select>
<noscript>
<input type="submit" name="$action" value="$l10n.Go" />
</noscript>
#end

#macro (exportFormats $action)
<select name="format"
        onchange="javascript:submitFormTo(this.form, '$action');">
<option value="" selected="selected">$l10n.ExportResultsTo</option>
<option value="excel">$l10n.Excel</option>
<option value="tsv">$l10n.TabSeparatedValues</option>
</select>
<noscript>
<input type="submit" name="$action" value="$l10n.Go" />
</noscript>
#end

#macro (exportFormatsRow)
<tr>
<th>$l10n.Format</th>
<td>
 <input type="radio" name="format" value="" checked="checked" />$l10n.Web
 <input type="radio" name="format" value="excel" />$l10n.Excel
 <input type="radio" name="format" value="tsv" />$l10n.TabSeparatedValues
</td>
</tr>
#end


#macro (textAreaSmall $key $value)
 <textarea cols="30" rows="2" wrap="virtual" name="$key">#if ($value)$value#end</textarea>
#end

#macro (textAreaMedium $key $value)
 <textarea cols="50" rows="10" wrap="virtual" name="$key">#if ($value)$value#end</textarea>
#end

#macro (textAreaLarge $key $value)
 <textarea cols="70" rows="10" wrap="virtual" name="$key">#if ($value)$value#end</textarea>
#end

#macro (attributeCreatedBy $attribute)
## FIXME: getUser() takes an Object param, not an int (the return type
## of getCreatedBy()).  Post Beta milestone,
## SCARAB_ATTRIBUTE.CREATED_BY needs to have its FK reference to
## TURBINE_USER.USER_ID defined.

#set ($creatorID = "$attribute.CreatedBy")
#if ($creatorID == "0")
    Default
#else
  #set ($createdUser = $scarabR.getUser($attribute.CreatedBy))
  <a href="mailTo:$createdUser.Email">$!createdUser.Name</a>
#end
#end

#macro (userSort $shortName $longName $linkPage)
  #if (!$resultsPerPage) #set ($resultsPerPage = 25) #end
  #if ($sortColumn.equals($shortName))
    #if ($sortPolarity.equals("desc"))
      #set ($arrowLink = $link.setPage($linkPage).setPathInfo("sortColumn", "$shortName").setPathInfo("pageNum",$pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()).setPathInfo("sortPolarity", "asc").setPathInfo("searchString", $searchString).setPathInfo("searchField", $searchField))
      <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_downarrow_on.gif")" width="13" height="8" alt="sort descending" title="sort descending" border="0" /></a>&#160;
    #else
      #set ($arrowLink = $link.setPage($linkPage).setPathInfo("sortPolarity", "desc").setPathInfo("sortColumn", "$shortName").setPathInfo("pageNum", $pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()).setPathInfo("searchString", $searchString).setPathInfo("searchField", $searchField))
      <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_uparrow_on.gif")" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" /></a>&#160;
    #end $longName
  #else
    #set ($sortLink = $link.setPage($linkPage).setPathInfo("sortColumn", "$shortName").setPathInfo("sortPolarity", "$sortPolarity").setPathInfo("pageNum", $pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()).setPathInfo("searchString", $searchString).setPathInfo("searchField", $searchField))
    <a href="$sortLink">$longName</a>
  #end
#end

#macro (sort $shortName $longName)
#if (!$resultsPerPage) #set ($resultsPerPage = 25) #end
     #if ($sortColumn.equals($shortName))
        #if ($sortPolarity.equals("desc"))
           #set ($arrowLink = $link.setPage("$scarabR.CurrentTemplate").setPathInfo("sortPolarity", "asc").setPathInfo("sortColumn", "$shortName").setPathInfo("pageNum",$pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()))
           <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_downarrow_on.gif")" width="13" height="8" alt="sort descending" title="sort descending" border="0" /></a>&#160;
        #else
           #set ($arrowLink = $link.setPage("$scarabR.CurrentTemplate").setPathInfo("sortPolarity", "desc").setPathInfo("sortColumn", "$shortName").setPathInfo("pageNum", $pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()))
           <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_uparrow_on.gif")" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" /></a>&#160;
        #end $longName
     #else
        #set ($sortLink = $link.setPage("$scarabR.CurrentTemplate").setPathInfo("sortColumn", "$shortName").setPathInfo("sortPolarity", "$sortPolarity").setPathInfo("pageNum", $pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()))
        <a href="$sortLink">$longName</a>
     #end
#end

#macro (sortWithSearch $shortName $longName $searchString $searchField)
#if (!$resultsPerPage) #set ($resultsPerPage = 25) #end
     #if ($sortColumn.equals($shortName))
        #if ($sortPolarity.equals("desc"))
           #set ($arrowLink = $link.setPage("$scarabR.CurrentTemplate").setPathInfo("sortPolarity", "asc").setPathInfo("sortColumn", "$shortName").setPathInfo("pageNum",$pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()).setPathInfo("searchString", $searchString).setPathInfo("searchfield", $searchField))
           <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_downarrow_on.gif")" width="13" height="8" alt="sort descending" title="sort descending" border="0" /></a>&#160;
        #else
           #set ($arrowLink = $link.setPage("$scarabR.CurrentTemplate").setPathInfo("sortPolarity", "desc").setPathInfo("sortColumn", "$shortName").setPathInfo("pageNum", $pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()).setPathInfo("searchString", $searchString).setPathInfo("searchfield", $searchField))
           <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_uparrow_on.gif")" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" /></a>&#160;
        #end $longName
     #else
        #set ($sortLink = $link.setPage("$scarabR.CurrentTemplate").setPathInfo("sortColumn", "$shortName").setPathInfo("sortPolarity", "$sortPolarity").setPathInfo("pageNum", $pageNum.toString()).setPathInfo("resultsPerPage", $resultsPerPage.toString()).setPathInfo("searchString", $searchString).setPathInfo("searchfield", $searchField))
        <a href="$sortLink">$longName</a>
     #end
#end

#**
 * Outputs information about issues that have been modified prior to
 * the latest suggested changes.  Expects $lastActivities to exist in the
 * context as given by the BaseModifyIssue action. 
 *#
#macro (printCollisionInfo)
#if ($lastActivities && !$lastActivities.isEmpty())
  <p class="infomark"><em>
  $l10n.LastActivity
  </em></p>
  #foreach ($obj in $lastActivities)
    #set ($issue = $obj.get(0))
    <p>Issue $issue.UniqueId last modified by 
    <a href="mailto:$issue.CreatedBy.Email">$issue.CreatedBy.Name</a></p> 
    <ul>
    #foreach ($activity in $obj.get(1))
      <li>$activity.Description</li>
    #end
    </ul>
  #end
#end
#end

#macro (asterisk)
<p><small>"<strong>*</strong>" $l10n.RequiredFields</small></p>
#end

#macro (userList $mitList $includeAny $includeCommittedBy)
#set ($userAttrs = $mitList.getCommonUserAttributes())
#set ($modules = $mitList.Modules)

## SORTING
#set ($sortColumn = $data.Parameters.getString("sortColumn","username"))
#set ($sortPolarity = $data.Parameters.getString("sortPolarity","asc"))

## PAGINATION
## if results exceed limit, get subset list
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage", 25))
#set ($pageNum = $data.Parameters.getInt("pageNum", 1))
#set ($headingType = $data.Parameters.getInt("headingtype", 1))

## USER SEARCH
<h3><a name="add">$l10n.Users</a></h3> 
<div class="axial">

#if (!$userAttrs || $userAttrs.isEmpty())
  <p class="infomark"><em>$l10n.NoUserAttributesInCommon</em></p>
#else

<table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th>$l10n.FilterThisList</th>
   <td><input type="text" name="searchString" value="$!searchString" />&nbsp;
     <select name="searchField">
      <option value="FullName" #if($searchField.equals("FullName")) selected="selected"#end>$l10n.FullName</option>
      <option value="Username" #if($searchField.equals("Username")) selected="selected"#end>$l10n.Username</option>
     </select>&nbsp;<input type="submit" name="eventSubmit_doRefresh" value="$l10n.Filter" /></td>
  </tr>
</table>
</div>

#if ($searchString && $searchString.length() > 0)
    #set ($searchResults = $scarabR.getUserFilteredSearchResults($mitList, $pageNum, $resultsPerPage, $sortColumn, $sortPolarity, $includeCommittedBy))
    #if ( $searchResults.getList().isEmpty())
        <p class="infomark"><em>$l10n.NoUsersMatch</em></p>
        #set ($searchResults = $scarabR.getUserSearchResults($mitList, $pageNum, $resultsPerPage, $sortColumn, $sortPolarity, $includeCommittedBy))
    #end
#else
    #set ($searchResults = $scarabR.getUserSearchResults($mitList, $pageNum, $resultsPerPage, $sortColumn, $sortPolarity, $includeCommittedBy))
#end 

#set ($searchResultsSize = $searchResults.getTotalListSize())
#set ($searchResultsList = $searchResults.getList())

#set ($paginated = ($resultsPerPage > 0 && $searchResultsSize > $resultsPerPage))
#if ($paginated)
  #paginateWithSearch ($resultsPerPage $pageNum $sortColumn $sortPolarity $searchString $searchField $headingType)
#end

#if (!$searchResultsList || $searchResultsList.isEmpty()) 
  <p><em>$l10n.NoUsersAvailable</em></p>
#else

  <table width="100%" border="1" cellspacing="2" cellpadding="3">
   <tr>
    <th nowrap="nowrap">$l10n.Select</th>
  #set ($linkPage = $scarabG.replace($data.Target, '/', ','))
    <th>#userSort ("username" "$l10n.Username" $linkPage)</th>
    <th>#userSort ("name" "$l10n.FullName" $linkPage)</th>
    <th>$l10n.Association</th>
   </tr>
   #foreach ($user in $searchResultsList)
    #indexedRows($velocityCount)
    <td><input type="checkbox" name="add_user" value="$user.UserId" /></td>
    <td><a href="mailTo:$user.Email">$user.UserName</a></td>
    <td>$user.Name</td>
    <td><select name="user_attr_$user.UserId">
    #if ($includeAny)
       <option value="any">$l10n.Any</option>
    #end
    #if ($includeCommittedBy && $user.hasPermission($scarabG.Permission.ISSUE__ENTER, $modules))
       <option value="created_by">$l10n.CreatedBy</option>
    #end
     #foreach ($userAttr in $userAttrs)
      #if ($user.hasPermission($userAttr.Permission, $modules))
       <option value="$userAttr.AttributeId">$userAttr.Name</option>
      #end
     #end
    </select></td>
    </tr>
   #end
   </table>

#if ($paginated)
  #paginateWithSearch ($resultsPerPage $pageNum $sortColumn $sortPolarity $searchString $searchField $headingType)

<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
     <tr>
       <th>$l10n.MaxPerPage</th>
       <td>
           #resultsPerPageRadioSelect($resultsPerPage false)
           &#160;<input type="submit" value="$l10n.Refresh" />
       </td>
     </tr>
  </table>
</div>
#end

## keep track of state of the list, resultsPerPage should come after the
## chance to change it, because we will use the first value
<input type="hidden" name="sortColumn" value="$sortColumn" />
<input type="hidden" name="sortPolarity" value="$sortPolarity" />
<input type="hidden" name="pageNum" value="$pageNum" />
<input type="hidden" name="resultsPerPage" value="$resultsPerPage" />

#end ## ends the if (!$searchResultsList || $searchResultsList.isEmpty()) statement
#end ## ends the if (!$userAttrs || $userAttrs.isEmpty()) statement
#end


## ---------------------------------------------------------------------------
## Date related macros
## ---------------------------------------------------------------------------

#macro(selectDay $defaultDay)
 #foreach ($i in [1..31])
  <option value="$i"#if("$defaultDay" == "$i") selected="selected"#end>$i</option>
 #end
#end

#macro(selectHour $defaultHour)
 #foreach ($i in [0..23])
  <option value="$i"#if("$defaultHour" == "$i") selected="selected"#end>$i:00</option>
 #end
#end

#macro(printMonth $i $name $defaultMonth)
 <option value="$i"#if( $defaultMonth == $i ) selected="selected"#end>$name</option>
#end

#macro(selectMonth $defaultMonth) 
 #printMonth(1 $l10n.January $defaultMonth)
 #printMonth(2 $l10n.February $defaultMonth)
 #printMonth(3 $l10n.March $defaultMonth)
 #printMonth(4 $l10n.April $defaultMonth)
 #printMonth(5 $l10n.May $defaultMonth)
 #printMonth(6 $l10n.June $defaultMonth)
 #printMonth(7 $l10n.July $defaultMonth)
 #printMonth(8 $l10n.August $defaultMonth)
 #printMonth(9 $l10n.September $defaultMonth)
 #printMonth(10 $l10n.October $defaultMonth)
 #printMonth(11 $l10n.November $defaultMonth)
 #printMonth(12 $l10n.December $defaultMonth)
#end

#macro(selectYear $currentYear $defaultYear)
 #set ($minYear = 2001)
 #set ($maxYear = $currentYear + 1)
 #selectYear2($minYear $maxYear $defaultYear)
#end

#macro(selectYear2 $minYear $maxYear $defaultYear)
 #foreach ($year in [$minYear..$maxYear])
   <option value="$year"
     #if("$defaultYear" == "$year")selected="selected"#end
   >$year</option>
 #end
#end

#* -------------------------------------------------------------------------
Prints out a date entry form.
------------------------------------------------------------------------- *#
#macro(dateEntry $yearField $currentYear $selectedYear $monthField $selectedMonth $dayField $selectedDay $hourField $selectedHour)
 <select name="$yearField">
  $currentYear $selectedYear
  #selectYear($currentYear $selectedYear)
 </select> $l10n.YearMark
 &nbsp;
 <select name="$monthField">
  #selectMonth($selectedMonth)
 </select> $l10n.MonthMark
 &nbsp;
 <select name="$dayField">
  #selectDay($selectedDay)
 </select> $l10n.DayMark
 &nbsp;-&nbsp;
 <select name="$hourField">
  #selectHour($selectedHour)
 </select> $l10n.TimeMark
#end

## ---------------------------------------------------------------------------
