#macro( savedQueries )
<div id="topmodule">
 <table border="0" cellspacing="0" cellpadding="3" width="100%">
  <tr>
  <td nowrap="nowrap">
   <select>
    <option>saved queries</option>
    <option>query one</option>
    <option>query two</option>
   </select> 
   <input type="submit" name="query" value="Go" class="bttn" />
   &nbsp;<img src="../csi/images/seperator2.gif" width="2" height="15" alt="" border="0" />&nbsp;
   <input type="text" size="15" name="" />
   <input type="submit" name="query" value="Query" class="bttn" />
   &nbsp;<img src="../csi/images/seperator2.gif" width="2" height="15" alt="" border="0" />&nbsp;
   <a href="#">Advanced</a>&nbsp;|&nbsp;<a href="#">Custom</a>
  </td>   
  </tr>
 </table>
</div>
#end