## FIXME: define this macro in another file or in the database
##        so that it is more easily customized by end users
##
#macro (mimeTypeOptions $mimeA)
<option value="" #if (!$mimeA || $mimeA.length() == 0)selected="selected"#end>Select...</option>
<option value="text/plain" #if ($mimeA == "text/plain"))selected="selected"#end>Patch file (text/plain, diffs)</option>
<option value="text/plain" #if ($mimeA == "text/plain")selected="selected"#end>Plain text (text/plain)</option>
<option value="text/html" #if ($mimeA == "text/html")selected="selected"#end>HTML source (text/html)</option>
<option value="image/bmp" #if ($mimeA == "image/bmp")selected="selected"#end>BMP image (image/bmp)</option>
<option value="image/gif" #if ($mimeA == "image/gif")selected="selected"#end>GIF image (image/gif)</option>
<option value="image/jpeg" #if ($mimeA == "image/jpeg")selected="selected"#end>JPEG image (image/jpeg)</option>
<option value="image/png" #if ($mimeA == "image/png")selected="selected"#end>PNG image (image/png)</option>
<option value="application/mac-binhex40" #if ($mimeA == "application/mac-binhex40")selected="selected"#end>Mac binhex (application/mac-binhex40)</option>
<option value="application/pdf" #if ($mimeA == "application/pdf")selected="selected"#end>PDF Portable document format (application/pdf)</option>
<option value="application/x-zip-compressed" #if ($mimeA == "application/x-zip-compressed")selected="selected"#end>Zip compressed data (application/x-zip-compressed)</option>
<option value="application/x-gzip" #if ($mimeA == "application/x-gzip")selected="selected"#end>GZip compressed data (application/x-gzip)</option>
<option value="application/octet-stream" #if ($mimeA == "application/octet-stream")selected="selected"#end>Generic binary file (application/octet-stream)</option>
#end

#macro (viewIssue $currentIssue)

#set ($module = $currentIssue.Module)
#set ($issueType = $currentIssue.IssueType)
#set ($fullHistory = $data.Parameters.getString("fullhistory",""))
#set ($fullComments = $data.Parameters.getString("fullcomments",""))
#set ($canEdit = $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $module))
#set ($attrValues = $currentIssue.ModuleAttributeValuesMap)
#set ($currentIssueId = $currentIssue.UniqueId)
#set ($copyToModules = $data.User.getCopyToModules($module))
#set ($moveToModules = $data.User.getMoveToModules($module))

<input type="hidden" name="action" value="ModifyIssue" />
<input type="hidden" name="mod_ts" value="$scarabG.Now.Time" />
<input type="hidden" name="id" value="$currentIssueId" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="MoveIssue.vm" />
<input type="hidden" name="tab" value="$tab" />

<div class="functnbar">
#if (!$moveToModules.isEmpty() && ($data.User.hasPermission($scarabG.Permission.MODULE__EDIT, $scarabR.CurrentModule)))
    <input type="submit" value="Move this issue" name="eventSubmit_doMove" />&#160;
#end
#if (!$copyToModules.isEmpty())
    <input type="submit" value="Copy this issue" name="eventSubmit_doCopy" />
#end
</div>

#asterisk()

## PRIMARY INFO
#if ($tab.equals("1") || $tab.equals("all"))

<h3>$l10n.StaticIssueInfo</h3>
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
<th>Date/time committed</th>
<td>$format.getDate($scarabR.DateFormat, $currentIssue.CreatedDate)</td>
</tr>
<th>Last date/time modified</th>
<td>$format.getDate($scarabR.DateFormat, $currentIssue.ModifiedDate)</td>
</tr> </table>
</div>

<div class="axial">
#foreach ($group in $module.getAttributeGroups($issueType))
  #if (!$group.Attributes.isEmpty())
    <h3>$group.Name</h3>
    <table cellpadding="3" cellspacing="2" border="0">
      #foreach ($att in $group.Attributes)
        #set ($rma = $module.getRModuleAttribute($att, $issueType))
        #if ($rma.Active)
            #set ($attVal = $attrValues.get($att.getName().toUpperCase()))
            #set ($attrInput = $intake.AttributeValue.mapTo($attVal))
            #if ($att.AttributeType.ValidationKey)
               #set ($field = $attVal.Attribute.AttributeType.ValidationKey)
            #elseif ($att.isOptionAttribute())
               #set ($field = "OptionId")
            #else
              #set ($field = "Value")
            #end
            #if ($canEdit)
                 <tr>
                  <th> #if ($attVal.isRequired())*#end 
                  $rma.DisplayValue</th>
                  <td>
                #if ($att.isOptionAttribute())
                  #attrValueLeafSelect ($attVal $field "" false)
                  #attrValueErrorMsg ($attVal $field)
                #else
                  #attrValueErrorMsg($attVal "Value")
                  #if ($att.AttributeType.Name == "long-string")
                     #textAreaMedium("$attrInput.Value.Key" $attrInput.Value)
                  #else
                    <input name= "$attrInput.Value.Key"
                      value="$!attrInput.Value" size="50" type="text" />
                  #end
                #end
                  </td>
                 </tr>
            #elseif ($attVal.isSet())
                 <tr>
                   <th>$attVal.RModuleAttribute.DisplayValue</th>
                   <td>
                   #set ($attrInput = $intake.AttributeValue.mapTo($attVal))
                   #if ($attVal.Attribute.isOptionAttribute())
                     $!attVal.AttributeOption.Name
                   #else
                 $!attrInput.Value
               #end
              </td>
             </tr>
            #end
        #end
      #end
</table>
  #end
#end
</div>
 
#if ($canEdit)
<h3>$l10n.SaveChanges</h3>
<div class="axial">
   #set ($attCommentGroup = $intake.Attachment.setKey("attCommentKey"))
<table cellpadding="3" cellspacing="2" border="0">
<tr>
<th>* $l10n.ReasonForChange</th>
<td>$l10n.EnterReason
   #fieldErrorMsg($attCommentGroup.DataAsString "")
   
   <p>#textAreaMedium("$attCommentGroup.DataAsString.Key" $attCommentGroup.DataAsString.Value)
   <input type="hidden" name="$attCommentGroup.Name.Key" value="comment" />
</td>
</tr>
</table>
</div>

<div class="functnbar3">
<input type="submit" value="Save changes" name="eventSubmit_doSubmitattributes" />
</div>
#end
#end

#if ($tab.equals("2") || $tab.equals("all"))
### PERSONNEL
<h3>$l10n.Personnel</h3>
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
  <th>$l10n.Name</th>
  <th>$l10n.Username</th>
  <th>$l10n.Association</th>
</tr>

<tr class="a">
  #set ($createdUser = $currentIssue.CreatedBy)
  <td><a href="mailTo:$createdUser.Email">$!createdUser.Name</a></td>
  <td>$createdUser.UserName</td>
  <td>Committed by</td>
</tr>

#set ($userAttVals = $currentIssue.UserAttributeValues)
   #foreach ($attVal in $userAttVals)
      #indexedRows($velocityCount)
      #set ($userId = $attVal.UserId)
      #set ($assignedUser = $scarabR.getUser($userId))

      <td>
        <a href="mailto:$assignedUser.Email">$!assignedUser.Name</a>
        #if (!$assignedUser.hasPermission($attVal.Attribute.Permission, $module))
            <strong>(disabled)</strong>
        #end
      </td>
      <td>$assignedUser.UserName</td>
      <td>$scarabR.getAttribute($attVal.AttributeId).Name </td>
      </tr>
   #end
#* Commenting out to implement simple-assign, later
  #if ($userAttVals.size() % 2 > 0)
   <tr class="a">
  #else
   <tr class="b">
  #end
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><input type="text" name="add_user" value="" /></td>
    <td><select name="user_attr_id" size="">
    #foreach ($selectUserAttr in $module.getUserAttributes($issueType))
      <option value="$selectUserAttr.AttributeId">$selectUserAttr.Name:</option>
    #end
   </select>
   </tr>
*#

</table>

#if ($canEdit)
<div class="functnbar3">
##<input type="submit" value="Add new" name="eventSubmit_doAssign" />&#160;
##<input type="submit" value="Delete selected" name="eventSubmit_doUnassign" />&#160;
#if ($scarabR.hasPermission($scarabG.Permission.ISSUE__ASSIGN, $module))
<input type="submit" value="Edit list" name="eventSubmit_doEditassignees" />
#end
</div>
#end

#end 


## COMMENTS
#if ($tab.equals("3") || $tab.equals("all"))
#set ($canAddComment = $canEdit)
#set ($canEditComments = $scarabR.hasPermission($scarabG.Permission.MODULE__EDIT))
#set ($isEditComments = $canEditComments && $data.Parameters.getBoolean("edit_comments"))
#if ($fullComments.equals("true"))
  #set ($comments = $currentIssue.getComments(true))
#else
  #set ($comments = $currentIssue.getComments(false))
#end

<h3>$l10n.Comments</h3>
#if ($comments.isEmpty() && !$canAddComment)
$l10n.NoComments
#else
  #foreach ($comment in $comments)
     #set ($commentUser = $scarabR.getUser($comment.CreatedBy))
     <h4>$format.getDate($scarabR.DateFormat, $comment.CreatedDate)&#160;|&#160;Added by: <a href="mailto:$commentUser.Email">$!commentUser.Name</a></h4>
    #if ($isEditComments)
      <p>#textAreaLarge( "edit_comment_$comment.AttachmentId" $comment.DataAsString)</p>
    #else
      <p>$comment.DataAsString</p>
    #end
  #end

  #if ($isEditComments)
   <div class="functnbar3">
   <input type="submit" value="Edit comment(s)" name="eventSubmit_doEditcomment" />
   </div>
      #elseif ($canEditComments && !$comments.isEmpty())
         <div align="right"><small>
         $link.setPage("ViewIssue.vm").addPathInfo("id", $currentIssue.UniqueId).setLabel("Edit comments").addPathInfo("edit_comments", true)
         </small></div>
  #end

  #if ($canAddComment && !$isEditComments)
   <h4>$l10n.EnterComment</h4>
   <table cellspacing="2" cellpadding="3" border="0">
     <tr>
       <td>
          #set ($commentGroup = $intake.Attachment.setKey("commentKey"))
          #textAreaLarge("$commentGroup.DataAsString.Key" "")
          #fieldErrorMsg($commentGroup.DataAsString "")
          <input type="hidden" name="$commentGroup.Name.Key" value="comment" />
       </td>
     </tr>
   </table>
   <div class="functnbar3">
      <input type="submit" value="Save" name="eventSubmit_doSubmitcomment" />
   </div>
  #end

#end

#if ($currentIssue.isCommentsLong())
  #if ($fullComments.equals("true"))
    #set ($commentsLink = $link.setPage("ViewIssue.vm").addPathInfo("id", $currentIssue.UniqueId).addPathInfo("fullcomments", "false").addPathInfo("tab", $tab))
    <p><a href="$commentsLink">Hide complete comment list</a></p>
  #else
    #set ($commentsLink = $link.setPage("ViewIssue.vm").addPathInfo("id", $currentIssueId).addPathInfo("fullcomments", "true").addPathInfo("tab", $tab))
    <p><a href="$commentsLink">Show complete comment list</a></p>
  #end
#end
#end

## URL/Attachment/Dependency Tab
#if ($tab.equals("4") || $tab.equals("all"))
## URLS
<h3>$l10n.RelatedLinks</h3>
#if ($currentIssue.Urls.isEmpty() && !$canEdit)
    There are no links in this issue.
#else
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
   <tr>
     #if (!$currentIssue.Urls.isEmpty())
         #if ($canEdit)
             <th>$l10n.Select</th>
         #end
     <th>$l10n.Link</th>
     #end
     #if ($canEdit)
     <th>$l10n.URL</th>
     <th>$l10n.Description</th>
     #end
   </tr>
   #foreach ($url in $currentIssue.Urls)
    #indexedRows($velocityCount)
     #if ($canEdit)
     <td>
       <input type="checkbox" name="url_delete_$url.AttachmentId" />
     </td>
     #end
     <td><a href="$url.DataAsString">$url.Name</a></td>
     #if ($canEdit)
      #set ($urlGroup = $intake.Attachment.mapTo($url))
         <td><input type="text" size="25" name="$urlGroup.DataAsString.Key" 
                 value="$urlGroup.DataAsString" />
         #fieldErrorMsg($urlGroup.DataAsString "")
         </td>
         <td><input type="text" size="25" name="$urlGroup.Name.Key" 
                 value="$urlGroup.Name" />
         #fieldErrorMsg($urlGroup.Name "")
         </td>
     #end
    </tr>
   #end
   #if ($canEdit)
   <tr class="b">
     #if (!$currentIssue.Urls.isEmpty())
     <td>&#160;</td>
     <td>New</td>
     #end
     #set ($urlGroup = $intake.Attachment.setKey("urlKey"))
     <td>
     <input type="text" size="25" name="$urlGroup.DataAsString.Key" 
         value="$!urlGroup.DataAsString" />
     #fieldErrorMsg($urlGroup.DataAsString "")
     </td>
     <td>
     <input type="text" size="25" name="$urlGroup.Name.Key" 
         value="$!urlGroup.Name" />
     #fieldErrorMsg($urlGroup.Name "")
     </td>
   </tr>
   #end
 </table>
  #if ($canEdit)
<div class="functnbar3">
  #if (!$currentIssue.Urls.isEmpty())
  <input type="submit" value="Save" name="eventSubmit_doSaveurl" />&#160;
  #end
  <input type="submit" value="Add new link" name="eventSubmit_doSubmiturl" />&#160;
  #if (!$currentIssue.Urls.isEmpty())
  <input type="submit" value="Delete link"  name="eventSubmit_doDeleteurl" />
  #end
</div>
  #end
#end

## ATTACHMENT
#set ($atch = $scarabR.Attachment)
#set ($intakeAttachment = $intake.Attachment.mapTo($atch))
#set ($intakeAttachment = $intake.Attachment.setKey("fileKey"))
#set ($attachments = $currentIssue.ExistingAttachments)

<h3>$l10n.Attachments</h3>
#if ($attachments.isEmpty() && !$canEdit)
$l10n.NoAttachments
#else
 #if ($attachments.size() > 0)
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
   <tr>
     #if ($canEdit)
         <th>&#160;</th>
     #end
     <th>$l10n.Name</th>
     <th>$l10n.Description</th>
     <th>$l10n.Type</th>
   </tr>
   #foreach ($file in $attachments)
     #indexedRows($velocityCount)
     #if ($file.TypeId.toString().equals("1"))
       #if ($canEdit)
       <td>
           <input type="checkbox" name="file_delete_$file.AttachmentId" />
       </td>
       #end
## We add the filename here in case the file is saved, it gives a nice default name
       <td><a href="$link.setPage("ViewAttachment.vm").setPathInfo("attachId", $file.QueryKey).addPathInfo("filename", $file.FileName)"  
         onClick="fileWindow=window.open('',
         'filewindow','resizable=yes,menubar=yes,scrollbars=yes,height=450,width=700')" 
         target="filewindow">$file.FileName</a> 
       </td>
       <td>$file.Name</td>
       <td>$file.MimeType</td>
     </tr>
     #end
   #end
 </table>

#if ($canEdit)
<div class="functnbar3">
  <input type="submit" value="Delete attachment" name="eventSubmit_doDeletefile" />
</div>
#end
#end

#end

#if ($canEdit)
<h4>$l10n.AddAttachment</h4>
<div class="colbar">
* attachment fields are only required if the $l10n.Path is set
</div>
<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
    <tr>
      <th>$l10n.Path</th>
      <td>
       <input type="file" name="$intakeAttachment.File.Key" size="45"
            value="$!intakeAttachment.File.Value.FileName" />
       #fieldErrorMsg($intakeAttachment.File "")
       <p><small>$l10n.SelectFile</small></p>
      </td>
    </tr>
    <tr>
       <th>* $l10n.Description</th>
       <td>
        #textAreaMedium("$intakeAttachment.Name.Key" "$intakeAttachment.Name")
        #fieldErrorMsg($intakeAttachment.Name "")
       </td>
    </tr>
    <tr>
      <th>* $l10n.Type</th>
      <td>
        <select name="$intakeAttachment.MimeTypeA.Key" class="select">
        #if ($intakeAttachment.MimeTypeA)
          #set ($mimeA = $intakeAttachment.MimeTypeA.toString())
        #end
         #mimeTypeOptions($mimeA)
        </select>
        <p><small>Other (enter mime type:&#160;
        <input type="text" name="$intakeAttachment.MimeTypeB.Key" 
                          value="$intakeAttachment.MimeTypeB" />)</small></p>
        #fieldErrorMsg($intakeAttachment.MimeTypeA "")
      </td>
    </tr>
</table>
</div>

<div class="functnbar3">
  <input type="submit" value="Add attachment" name="eventSubmit_doSubmitfile"  />
</div>
#end

    
## DEPENDENCIES
<h3>$l10n.Dependencies</h3>
#set ($issueChildren = $currentIssue.Children)
#set ($issueParents = $currentIssue.Parents)

#if ($issueChildren.isEmpty() && $issueParents.isEmpty() && !$canEdit)
$l10n.NoDependencies
#else
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
#if ($canEdit && (!$issueParents.isEmpty() || !$issueChildren.isEmpty()))
 <th>$l10n.Select</th>
#end
 <th>$l10n.Issue $l10n.ID #</th>
 <th>$l10n.Relationship</th>
 <th>$l10n.Type</th>
</tr>

#foreach ($depend in $issueParents)
  #set ($parent = $scarabR.getIssueByPk($depend.ObservedId.toString()))
  #set ($dependGroup = $intake.Depend.mapTo($depend))
  #indexedRows($velocityCount)
#if ($canEdit && !$issueParents.isEmpty())
  <td>#booleanCheckbox($dependGroup.Deleted)</td>
#end
<td>$link.setPage("ViewIssue.vm").addPathInfo("id", $parent.UniqueId).setLabel("$parent.UniqueId")</td>
<td>$l10n.Parent</td>
<td>
#if ($canEdit)
<select name="$dependGroup.TypeId.Key" class="select">
  #foreach ($dependType in $currentIssue.AllDependencyTypes)
    #set ($selected = false)
    #if ($depend.TypeId.toString().equals($dependType.DependTypeId.toString()))
      #set ($selected = true)
    #end
    <option#selected($selected) value="$dependType.DependTypeId">
        $dependType.Name</option>
  #end
</select>
#else
  $depend.DependType.Name
#end
</td>
</tr>
#end

#foreach ($depend in $issueChildren)
  #set ($child = $scarabR.getIssueByPk($depend.ObserverId.toString()))
  #set ($dependGroup = $intake.Depend.mapTo($depend))
  #indexedRows($velocityCount)
#if ($canEdit && !$issueChildren.isEmpty())
    <td>#booleanCheckbox($dependGroup.Deleted)</td>
#end
<td>$link.setPage("ViewIssue.vm").addPathInfo("id", $child.UniqueId).setLabel("$child.UniqueId")</td>
<td>$l10n.Child</td>
<td> 
#if ($canEdit)
<select name="$dependGroup.TypeId.Key" class="select">
#foreach ($dependType in $currentIssue.AllDependencyTypes)
  #set ($selected = false)
  #if ($depend.TypeId.toString().equals($dependType.DependTypeId.toString()))
    #set ($selected = true)
  #end
  <option#selected($selected) value="$dependType.DependTypeId">
        $dependType.Name</option>
#end
</select>
#else
 $depend.DependType.Name
#end
</td>
</tr>
#end


#if ($canEdit)
#set ($newDependGroup = $intake.Depend.Default)
<tr class="a">
#if (!$issueParents.isEmpty() || !$issueChildren.isEmpty())
<td>&nbsp;</td>
#end
<td> 
 <input type="hidden" name="$newDependGroup.ObservedId.Key" value="$currentIssue.IssueId" />
 #if (!$newDependGroup.ObserverUniqueId.Message.equals(""))
  <p class="alert">$newDependGroup.ObserverUniqueId.Message</p>
 #end
    <input type="text" size="5" name="$newDependGroup.ObserverUniqueId.Key" value = "$!newDependGroup.ObserverUniqueId" />
</td>
<td>$l10n.Child</td>
<td> 
 #if (!$newDependGroup.TypeId.Message.equals(""))
  <p class="alert">$newDependGroup.TypeId.Message</p>
 #end
 <select name="$newDependGroup.TypeId.Key" class="select">
   <option value="">Choose dependency type</option>
 #foreach ($dependType in $currentIssue.AllDependencyTypes)
   #set ($selected = false)
   #if ($dependType.DependTypeId.toString().equals($newDependGroup.TypeId.toString()))
      #set ($selected = true)
   #end
   <option#selected($selected) value="$dependType.DependTypeId" >$dependType.Name</option>
 #end
 </select>
</td>
</tr>
#end
</table>

#if ($canEdit)
<div class="functnbar3">
#if (!$issueParents.isEmpty() || !$issueChildren.isEmpty())
   <input type="submit" value="Save changes"  name="eventSubmit_doUpdatedependencies" />&nbsp;
#end
   <input type="submit" value="Add new child" name="eventSubmit_doAdddependency" />&nbsp;
#if (!$issueParents.isEmpty() || !$issueChildren.isEmpty())
  <input type="submit" value="Delete selected"  name="eventSubmit_doUpdatedependencies" />
#end
</div>
#end

#end
#end

#if ($tab.equals("5") || $tab.equals("all"))
## ISSUE HISTORY
#set ($activity = $scarabG.reverse($currentIssue.getActivity(true)))
#if (!$fullHistory.equals("true"))
  #set ($activity = $scarabG.subset($activity, 0, $currentIssue.HistoryLimit))
#end

#if (!$activity.isEmpty())
<h3>$l10n.ChangeHistory</h3>
  <table width="100%" cellpadding="3" cellspacing="2" border="1">
  <tr>
    <th>$l10n.DateStamp</th>
    <th>$l10n.Action</th>
    <th>$l10n.Reason</th>
    <th>$l10n.By</th>
  </tr>
  #foreach ($act in $activity)
    #indexedRows($velocityCount)
     <td>
     #set ($activitySet = $act.ActivitySet)
     #if ($activitySet)
       $format.getDate($scarabR.DateFormat, $activitySet.CreatedDate)
     #end
     </td>
     <td>$act.Description</td>

     <td>
     #if ($activitySet && $activitySet.Attachment)
       #if ($activitySet.Attachment.DataAsString && !$activitySet.Attachment.AttachmentType.Name.equals("COMMENT"))
         $activitySet.Attachment.DataAsString
       #else Not provided. #end
     #elseif ($act.Attachment)
       #if ($act.Attachment.DataAsString && !$act.Attachment.AttachmentType.Name.equals("COMMENT"))
          $act.Attachment.DataAsString 
       #else Not provided. #end     
     #elseif ($activitySet && $activitySet.ActivitySetType.Name.equals("Create Issue"))
           $l10n.InitialEntry
     #else Not provided.
     #end
     </td>
     <td>
     #set ($user = $scarabR.getUser($activitySet.CreatedBy))
     <a href="mailto:$user.Email">$!user.Name</a>
     </td>
    </tr>
  #end
 </table>

#if ($currentIssue.isHistoryLong())
  #if ($fullHistory.equals("true"))
    #set ($historyLink = $link.setPage("ViewIssue.vm").addPathInfo("id", $currentIssueId).addPathInfo("fullhistory", "false"))
    #foreach ($issueId in $data.Parameters.getStrings("issue_ids"))
      #set ($historyLink = $historyLink.addPathInfo("issue_ids", $issueId))
    #end
    #if ($resultsPerPage)
      #set ($historyLink = $historyLink.addPathInfo("resultsPerPage", $resultsPerPage))
    #end
    <p><a href="$historyLink">$l10n.HideCompleteHistory</a></p>
  #else
    #set ($historyLink = $link.setPage("$template").addPathInfo("id", $currentIssueId).addPathInfo("fullhistory", "true"))
    #foreach ($issueId in $data.Parameters.getStrings("issue_ids"))
      #set ($historyLink = $historyLink.addPathInfo("issue_ids", $issueId))
    #end
    #if ($resultsPerPage)
      #set ($historyLink = $historyLink.addPathInfo("resultsPerPage", $resultsPerPage))
    #end
    <p><a href="$historyLink">$l10n.ShowCompleteHistory</a></p>
  #end
#end
#end
#end

<div class="functnbar2">
#if (!$moveToModules.isEmpty() && ($data.User.hasPermission($scarabG.Permission.MODULE__EDIT, $scarabR.CurrentModule)))
    <input type="submit" value="Move this issue" name="eventSubmit_doMove" />&#160;
#end
#if (!$copyToModules.isEmpty())
    <input type="submit" value="Copy this issue" name="eventSubmit_doCopy" />
#end
</div>


#end
