#macro (viewIssue $currentIssue $module)

<h2>$currentIssue.IssueType.Name ID: $currentIssue.UniqueId</h2>

<div class="functnbar">
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />&#160;
<input type="submit" value="Move" name="eventSubmit_doMove"  />&#160;
<input type="submit" value="Copy" name="eventSubmit_doCopy"  />&#160;issue
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="MoveIssue.vm" />
</div>

#set ($canEdit = $scarabR.hasPermission($scarabG.Permission.ISSUE__EDIT, $module))
#set ($attrValues = $currentIssue.ModuleAttributeValuesMap)
#set ($currentIssueId = $currentIssue.UniqueId)

<h3>Attributes</h3>

<div class="axial">
 <table cellpadding="3" cellspacing="2" border="0">
    <tr>
     <th>Issue ID</th>
     <td>$currentIssue.UniqueId</td>
    </tr>
#foreach ($attKey in $attrValues.sequence())
  #set ($attVal = $attrValues.get($attKey))
  #set ($attr = $attVal.Attribute)
  #set ($attrInput = $intake.AttributeValue.mapTo($attVal))
  #if ($attVal.Attribute.AttributeType.ValidationKey)
        #set ($field = $attVal.Attribute.AttributeType.ValidationKey)
  #elseif ($attVal.Attribute.isOptionAttribute())
        #set ($field = "OptionId")
  #else
        #set ($field = "Value")
  #end
  #if (!$attr.isUserAttribute())
  #if ($canEdit)
     <tr>
      <th> #if ($attVal.isRequired())*#end 
      $attVal.RModuleAttribute.DisplayValue</th>
      <td>
    #if ($attr.isOptionAttribute())
        #attrValueLeafSelect ($attVal $field "" false)
        #attrValueErrorMsg ($attVal $field)
    #else
        #attrValueErrorMsg($attVal "Value")
        #if ($attr.AttributeType.Name == "long-string")
           #textAreaMedium("$attrInput.Value.Key" $attrInput.Value)
        #else
           <input name= "$attrInput.Value.Key"
               value="$!attrInput.Value" size="20" type="text" />
        #end
    #end
  #else
    #if ($attVal.isSet())
     <tr>
      <th>$attVal.RModuleAttribute.DisplayValue</th>
      <td>
       #set ($attrInput = $intake.AttributeValue.mapTo($attVal))
       #if ($attVal.Attribute.isOptionAttribute())
          $!attVal.AttributeOption.Name
       #else
          $!attrInput.Value
       #end
    #end
      </td>
     </tr>
  #end
  #end
#end
</table>
</div>
 
#if ($canEdit)
<h4>Save changes</h4>
<div class="axial">
   #set ($attCommentGroup = $intake.Attachment.setKey("attCommentKey"))
<table cellpadding="3" cellspacing="2" border="0">
<tr>
<th>Reason for change</th>
<td>Please enter a reason for the changes made above before saving.
   #fieldErrorMsg($attCommentGroup.DataAsString "")
   
   <p>#textAreaMedium("$attCommentGroup.DataAsString.Key" $attCommentGroup.DataAsString.Value)
   <input type="hidden" name="$attCommentGroup.Name.Key" value="comment" />
</td>
</tr>
</table>
</div>

<div class="functnbar3">
<input type="submit" value="Save changes" name="eventSubmit_doSubmitattributes" />
</div>
#end

### PERSONNEL
<h3>Personnel associated with issue</h3>
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
  <th>Name</th>
  <th>Email</th>
  <th>Association</th>
</tr>

<tr class="a">
  #set ($createdUser = $currentIssue.CreatedBy)
  <td>$!createdUser.FirstName $!createdUser.LastName</td>
  <td><a href="mailTo:$createdUser.Email">$createdUser.Email</a></td>
  <td>Committed by</td>
</tr>

#set ($userAttVals = $currentIssue.UserAttributeValues)
#if ($userAttVals.isEmpty())
  <tr><td colspan="3">None assigned.</td></tr>
#else
   #foreach ($attVal in $userAttVals)
      #indexedRows($velocityCount)
      #set ($userId = $attVal.UserId)
      #set ($assignedUser = $scarabR.getUser($userId))

      <td>
        $!assignedUser.FirstName $!assignedUser.LastName
        #if (!$assignedUser.hasPermission($attVal.Attribute.Permission, $scarabR.CurrentModule))
            <strong>(disabled)</strong>
        #end
      </td>
      <td><a href="mailto:$assignedUser.Email">$assignedUser.Email</td>
      <td>$scarabR.getAttribute($attVal.AttributeId).Name </td>
      </tr>
   #end
#end
</table>

#if ($canEdit)
<div class="functnbar3">
<input type="submit" value="Edit list" name="eventSubmit_doEditassignees" />
</div>
#end

## URLS
#if (!$currentIssue.Urls.isEmpty() || $canEdit)
<h3>Related links</h3>
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
   <tr>
     <th>&#160;</th>
     <th>Link</th>
     <th>Link description</th>
   </tr>
   #foreach ($url in $currentIssue.Urls)
    #indexedRows($velocityCount)
     <td>
     #if ($canEdit)
       <input type="checkbox" name="url_delete_$url.AttachmentId" />
     #else
       &#160;
     #end
     </td>
     <td><input type="text" size="25" value="$url.Name" /> </td>
     <td><input type="text" size="25" value="$url.DataAsString" /></td>
    </tr>
   #end
   #if ($canEdit)
   <tr>
     <td><strong>Add url:</strong></td>
     #set ($urlGroup = $intake.Attachment.setKey("urlKey"))
     <td>
     <input type="text" size="25" name="$urlGroup.Name.Key" value="$!urlGroup.Name" />
     #fieldErrorMsg($urlGroup.Name "")
     </td>
     <td>
     <input type="text" size="25" name="$urlGroup.DataAsString.Key" value="$!urlGroup.DataAsString" />
     #fieldErrorMsg($urlGroup.DataAsString "")
     </td>
   </tr>
   #end
 </table>
  #if ($canEdit)
<div class="functnbar3">
  <input type="submit" value="Add link" name="eventSubmit_doSubmiturl"  />&#160;
  <input type="submit" value="Delete link"  name="eventSubmit_doDeleteurl" />
</div>
  #end
#end

## ADD DEPENDENCY
#if ($canEdit)
 #set ($dependGroup = $intake.Depend.setKey("dependKey"))
 <input type="hidden" name="$dependGroup.ObserverId.Key" value="$currentIssue.IssueId" />
 <h3>Dependencies</h3>
 #if (!$dependGroup.ObservedId.Message.equals(""))
  <p><strong class="alert">$dependGroup.ObservedId.Message</strong></p>
 #end
 #if (!$dependGroup.TypeId.Message.equals(""))
  <p><strong class="alert">$dependGroup.TypeId.Message</strong></p>
 #end

<div class="axial">
 <table cellspacing="2" cellpadding="3" border="0">
 <tr>
  <th>Add dependency on issue</th>
  <td>
    <input type="text" size="10" name="$dependGroup.ObservedId.Key" value = "$!dependGroup.ObservedId" />
    <select name="$dependGroup.TypeId.Key" class="select">
    <option value="0">Choose dependency type</option>
    #foreach ($dependType in $currentIssue.getAllDependencyTypes())
      <option value="$dependType.DependTypeId">
          $dependType.Name</option>
    #end
    </select>
  </td>
 </tr>
 </table>
</div>

<div class="functnbar3">
  <input type="submit" value="Add dependency"  name="eventSubmit_doAdddependency" />
</div>

#end

## PARENT ISSUES
#if (!$currentIssue.Parents.isEmpty())
<h3>Parent issues</h3>
  <table width="100%" border="1" cellspacing="2" cellpadding="3">
    <tr>
     <th>Issue Id</th>
     <th>Issue summary</th>
     <th>Dependency type</th>
    </tr>
    #foreach ($parent in $currentIssue.Parents)
      #indexedRows($velocityCount)
      <td>
      $link.setPage("ViewIssue.vm").addPathInfo("id", $parent.UniqueId).setLabel("$parent.UniqueId")
      </td>
      #set ($parentAttrValues = $parent.AllAttributeValuesMap)
      #set ($attVal = $parentAttrValues.get("SUMMARY"))
      <td>
      $link.setPage("ViewIssue.vm").addPathInfo("id", $parent.UniqueId).setLabel("$attVal.Value")
      </td>
      <td>
      #if ($canEdit)
        <select name="parent_depend_type_id_$parent.IssueId" class="select">
        #foreach ($dependType in $currentIssue.getAllDependencyTypes())
          #set ($selected = false)
          #if ($parent.getDependency($currentIssue).TypeId.equals($dependType.DependTypeId))
            #set ($selected = true)
          #end
          <option#selected($selected) value="$dependType.DependTypeId">
                $dependType.Name</option>
          #end
          <option value="none">Remove dependency</option>
        </select>
      #else
        $parent.getDependency($currentIssue).DependType.Name
      #end
      </td>
      </tr>
    #end
  </table>

  #if ($canEdit)
<div class="functnbar3">
   <input type="submit"  name="eventSubmit_doUpdateparent" value="Update parent issue" />
</div>
  #end
#end

## CHILD ISSUES
#if (!$currentIssue.Children.isEmpty())
<h3>Child issues</h3>
  <table width="100%" border="1" cellspacing="2" cellpadding="3">
   <tr>
    <th>Issue Id</th>
    <th>Issue summary</th>
    <th>Dependency type</th>
   </tr>
   #foreach ($child in $currentIssue.Children)
    #indexedRows($velocityCount)
    <td>
    $link.setPage("ViewIssue.vm").addPathInfo("id", $child.UniqueId).setLabel("$child.UniqueId")
    </td>
    #set ($childAttrValues = $child.AllAttributeValuesMap)
    #set ($attVal = $childAttrValues.get("SUMMARY"))
    <td>
    $link.setPage("ViewIssue.vm").addPathInfo("id", $child.UniqueId).setLabel("$attVal.Value")
    </td>
    <td>
    #if ($canEdit)
      <select name="child_depend_type_id_$child.IssueId" class="select">
      <option>Choose dependency type</option>
      #foreach ($dependType in $currentIssue.getAllDependencyTypes())
        #set ($selected = false)
        #if ($currentIssue.getDependency($child).TypeId.equals($dependType.DependTypeId))
          #set ($selected = true)
        #end
          <option#selected($selected) value="$dependType.DependTypeId">
             $dependType.Name</option>
      #end
      <option value="none">Remove dependency </option>
      </select>
   #else
      $currentIssue.getDependency($child).DependType.Name
   #end
    </td>
    </tr>
  #end
  </table>
  #if ($canEdit)
<div class="functnbar3">
     <input type="submit" value="Update child issue"  name="eventSubmit_doUpdatechild" />
</div>
  #end
#end

## COMMENTS
#if ($fullComments.equals("true"))
  #set ($comments = $currentIssue.getComments(true))
#else
  #set ($comments = $currentIssue.getComments(false))
#end

#if (!$comments || $canEdit)
<h3>Comments</h3>
  #foreach ($comment in $comments)
     #set ($commentUser = $scarabR.getUser($comment.CreatedBy))
     <h4>$format.getDate($scarabR.DateFormat, $comment.CreatedDate)&#160;|&#160;<a href="mailto:$commentUser.Email">$!commentUser.FirstName $!commentUser.LastName</a></h4>
    #if ($scarabR.hasPermission($scarabG.Permission.MODULE__EDIT))
      <P>#textAreaLarge( "edit_comment_$comment.AttachmentId" $comment.DataAsString)
    #else
        $comment.DataAsString
    #end
  #end

  #if ($canEdit)
   <h4>Enter new comment</h4>
   <table cellspacing="2" cellpadding="3" border="0">
     <tr>
       <td>
          #set ($commentGroup = $intake.Attachment.setKey("commentKey"))
          #textAreaLarge("$commentGroup.DataAsString.Key" "")
          #fieldErrorMsg($commentGroup.DataAsString "")
          <input type="hidden" name="$commentGroup.Name.Key" value="comment" />
       </td>
     </tr>
   </table>
   #end

   #if ($canEdit)
   <div class="functnbar3">
      <input type="submit" value="Save" name="eventSubmit_doSubmitcomment" />
      #if ($scarabR.hasPermission($scarabG.Permission.MODULE__EDIT) && $comments)
        &#160;<input type="submit" value="Edit comment(s)" name="eventSubmit_doEditcomment" />
      #end
   </div>
  #end
#end

#if ($currentIssue.isCommentsLong())
  #if ($fullComments.equals("true"))
    #set ($commentsLink = $link.setPage("ViewIssue.vm").addPathInfo("id", $currentIssue.UniqueId).addPathInfo("fullcomments", "false"))
    <p><a href="$commentsLink">Hide complete comment list</a></p>
  #else
    #set ($commentsLink = $link.setPage("ViewIssue.vm").addPathInfo("id", $currentIssueId).addPathInfo("fullcomments", "true"))
    <p><a href="$commentsLink">Show complete comment list</a></p>
  #end
#end

## ATTACHMENT
#set ($atch = $scarabR.Attachment)
#set ($intakeAttachment = $intake.Attachment.mapTo($atch))
#set ($intakeAttachment = $intake.Attachment.setKey("fileKey"))
#set ($attachments = $currentIssue.Attachments)
#if ($attachments.size() > 0)
<h3>Attachments</h3>
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
   <tr>
     <th>&#160;</th>
     <th>Attachment name</th>
     <th>Attachment description</th>
     <th>Attachment type</th>
   </tr>
   #foreach ($file in $currentIssue.ExistingAttachments)
     #indexedRows($velocityCount)
     #if ($file.TypeId.toString().equals("1"))
       <td>
         #if ($canEdit)
           <input type="checkbox" name="file_delete_$file.AttachmentId" />
         #end
       </td>
       <td><a href="$data.Request.ContextPath/$file.FilePath" 
         onClick="fileWindow=window.open('',
         'filewindow','resizable=yes,menubar=yes,scrollbars=yes,height=450,width=700')" 
         target="filewindow">$file.FileName</a> 
       </td>
       <td>$file.Name</td>
       <td>$file.MimeType</td>
     </tr>
     #end
   #end
 </table>

#if ($canEdit)
<div class="functnbar3">
  <input type="submit" value="Delete attachment" name="eventSubmit_doDeletefile"  />
</div>
#end

#end

#if ($canEdit)
<h4>Add Attachment</h4>

<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
    <tr>
      <th>Attachment path</th>
      <td>
       <input type="file" name="$intakeAttachment.File.Key" size="45"
            value="$!intakeAttachment.File.Value.FileName" />
       <p><small>Click Browse and select a file. If you do not see a Browse
       button, your browser does not support file uploads. Windows
       users, set Files of Type: to be All Files (*.*) to get a
       complete file listing. The File field cannot be used to
       rename files.</small></p>
      </td>
    </tr>
    <tr>
       <th>Attachment description</th>
       <td>
        #textAreaMedium("$intakeAttachment.Name.Key" "$intakeAttachment.Name")
        #fieldErrorMsg($intakeAttachment.Name "")
       </td>
    </tr>
    <tr>
      <th>Attachment type</th>
      <td>
        <select name="$intakeAttachment.MimeTypeA.Key" class="select">
        #if ($intakeAttachment.MimeTypeA)
          #set ($mimeA = $intakeAttachment.MimeTypeA.toString())
        #end
          <option value="" #if (!$mimeA || $mimeA.length() == 0)selected="selected"#end>Select...</option>
          <option value="text/plain" #if ($mimeA == "text/plain"))selected="selected"#end>Patch file (text/plain, diffs)</option>
          <option value="text/plain" #if ($mimeA == "text/plain")selected="selected"#end>Plain text (text/plain)</option> 
          <option value="text/html" #if ($mimeA == "text/html")selected="selected"#end>HTML source (text/html)</option> 
          <option value="image/gif" #if ($mimeA == "image/gif")selected="selected"#end>GIF Image (image/gif)</option> 
          <option value="image/jpeg" #if ($mimeA == "image/jpeg")selected="selected"#end>JPEG Image (image/jpeg)</option> 
          <option value="image/png" #if ($mimeA == "image/png")selected="selected"#end>PNG Image (image/png)</option> 
          <option value="application/octet-stream" #if ($mimeA == "application/octet-stream")selected="selected"#end>Binary file (application/octet-stream)</option>        
        </select>
        <p><small>Other (enter mime type:&#160;
        <input type="text" name="$intakeAttachment.MimeTypeB.Key" 
                          value="$intakeAttachment.MimeTypeB" />)</small></p>
        #fieldErrorMsg($intakeAttachment.MimeTypeA "")
      </td>
    </tr>
</table>
</div>

<div class="functnbar3">
  <input type="submit" value="Add attachment" name="eventSubmit_doSubmitfile"  />
</div>
#end

    
## ISSUE HISTORY
#set ($activity = $scarabG.reverse($currentIssue.getActivity(true)))
#if (!$fullHistory.equals("true"))
  #set ($activity = $scarabG.subset($activity, 0, $currentIssue.HistoryLimit))
#end

#if (!$activity.isEmpty())
<h3>Issue change history</h3>
  <table width="100%" cellpadding="3" cellspacing="2" border="1">
  <tr>
    <th>Date stamp</th>
    <th>Action</th>
    <th>Reason</th>
    <th>By</th>
  </tr>
  #foreach ($act in $activity)
    #indexedRows($velocityCount)
     <td>
     #if ($act.Transaction)
       $format.getDate($scarabR.DateFormat, $act.Transaction.CreatedDate)
     #end
     </td>
     <td>$act.Description
     </td>

     <td>
     #if ($act.Transaction.Attachment)
       #if ($act.Transaction.Attachment.DataAsString)
         $act.Transaction.Attachment.DataAsString
       #else Not provided. #end
     #else Not provided. #end
     </td>
     <td>
     #set ($user = $scarabR.getUser($act.Transaction.CreatedBy))
     <a href="mailto:$user.Email">$!user.FirstName $!user.LastName</a>
     </td>
    </tr>
  #end
 </table>

#if ($currentIssue.isHistoryLong())
  #if ($fullHistory.equals("true"))
    #set ($historyLink = $link.setPage("ViewIssue.vm").addPathInfo("id", $currentIssueId).addPathInfo("fullhistory", "false"))
    <p><a href="$historyLink">Hide complete history</a></p>
  #else
    #set ($historyLink = $link.setPage("$template").addPathInfo("id", $currentIssueId).addPathInfo("resultsPerPage", $resultsPerPage).addPathInfo("fullhistory", "true"))
    <p><a href="$historyLink">Show complete history</a></p>
  #end
#end
<div class="functnbar2">
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />&#160;
<input type="submit" value="Move" name="eventSubmit_doMove"  />&#160;
<input type="submit" value="Copy" name="eventSubmit_doCopy"  />&#160;issue
</div>

#end
#end
