<?xml version="1.0" encoding="UTF-8"?>

<menubar>

	<menu name="menu_file">
	    <menu name="menu_file_new">
	    	<menuitem action="OpenNewMailWindow"/>
	    	<menuitem action="OpenNewAddressbookWindow"/>
	    	<extensionpoint name="open" />
	    </menu>
	    <menuitem action="Close"/>
		<separator/>
		<extensionpoint name="top" />	
		<menuitem action="Print"/>	
		<menuitem action="PrintSetup"/>	
		<separator/>
		<extensionpoint name="bottom" />			
		<menuitem action="Exit"/>			
	</menu>
	
	<menu name="menu_edit">
		<menuitem action="Undo"/>			
		<menuitem action="Redo"/>			
		<separator/>
		<menuitem action="Cut"/>			
		<menuitem action="Copy"/>			
		<menuitem action="Paste"/>			
		<menuitem action="Delete"/>
		<menuitem action="SelectAll"/>					
		<separator/>
		<menuitem action="Find"/>
		<menuitem action="FindAgain"/>
		<separator/>
		<extensionpoint name="top"/>
		<extensionpoint name="bottom"/>
		<menuitem action="GlobalOptions"/>
	</menu>
	
	<menu name="menu_view">	
		<menuitem action="Cancel"/>
		<separator/>
		<menu name="menu_view_show_hide">
			<menuitem checkboxaction="ViewToolbar"/>	
			<extensionpoint name="view_hide"/>
		</menu>
		<separator/>
		<extensionpoint name="top"/>
		<extensionpoint name="bottom"/>
	</menu>

	<menu name="menu_help">
	 <menuitem action="ShowHelp"/>
	 <menuitem action="ShowFAQ"/>
	 <menuitem action="ShowBugDatabase"/>
	 <menuitem action="ShowLicense"/>
	 <menuitem action="ShowHomepage"/>
	 <menuitem action="ShowProjectPage"/>
	 <separator/>
	 <menuitem action="AboutDialog"/>
	</menu>

</menubar>