<?xml version="1.0" encoding="UTF-8"?>

<plugin id="org.columba.mail.EudoraMailImportFilter" 
        name="Eudora Mail Importfilter"
        description="Imports Eudora Mail boxes"
        version="1.0 beta" >
    <extension name="org.columba.mail.import">
        <filter name="EudoraMailImportFilter" class="org.columba.mail.EudoraMailImportFilter"/>
    </extension>
    <runtime type="java" jar="EudoraMailImportFilter.jar" />
</plugin>
