<div id="savereport" class="app">

<form method="post" action="$link.setPage("reports,ReportList.vm")" >
<input type="hidden" name="action" value="GenerateReport" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="reports,Step1.vm" />

##<p class="paginate">&#171; previous | 1 of 1 | next &#187;</p>

<h3>Saved reports</h3>

#set ($reports = $scarabR.CurrentModule.getSavedReports($data.User))
#if ($reports.size() > 0 )
<div>
Click on "Availability" to execute report.
</div>
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th nowrap="nowrap">Select</th>
<th>Name</th>
<th>Description</a></th>
<th>Availability</a></th>
<th>Author</a></th>
</tr>

#foreach ($report in $reports)
  #set ($group = $intake.Report.mapTo($report))
  #indexedRows($velocityCount)
<td><input type="checkbox" name="report_id" value="$report.ReportId">

<td>
#if ($report.isEditable($data.User))
$link.setPage("reports,Step1.vm").setLabel("$report.Name").addPathInfo("action", "GenerateReport").addPathInfo("eventSubmit_doEditstoredreport", "foo").addPathInfo("report_id", "$report.ReportId")
#else
$report.Name
#end
</td>

<td>$!report.Description</td>

<td>$link.setPage("reports,Step1.vm").setLabel("$report.Scope.Name").addPathInfo("action", "GenerateReport").addPathInfo("eventSubmit_doRunstoredreport", "foo").addPathInfo("report_id", "$report.ReportId")</td>

<td>
 #set ($createdUser = $scarabR.getUser($report.UserId.toString()))
<a href="mailto:$createdUser.Email">$createdUser.Name</a></td>
</tr>
#end

</table>
#else
 <p class="alert">There are no saved reports.</p>
#end

<div class="functnbar3">
  <input type="submit" value="Create new" name="eventSubmit_doGotoothertemplate" />&#160;
#if ($reports.size() >0)
  <input type="submit" value="Delete selected" name="eventSubmit_doDeletestoredreport" />
#end
</div> 

##<p class="paginate">&#171; previous | 1 of 1 | next &#187;</p>

$intake.declareGroups()
</form>
</div>
