<div id="savereport" class="app">

<form method="post" action="$link.setPage("reports,ReportList.vm")" >
<input type="hidden" name="action" value="GenerateReport" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="reports,Info.vm" />

##<p class="paginate">&#171; $l10n.Previous | 1 of 1 | $l10n.Next &#187;</p>

<h3>$l10n.SavedReports</h3>

#set ($reports = $scarabR.CurrentModule.getSavedReports($data.User))
#if ($reports.size() > 0 )
<div>
$l10n.ClickToExecute
</div>
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th nowrap="nowrap">$l10n.Select</th>
<th>$l10n.Name</th>
<th>$l10n.Description</a></th>
<th>$l10n.Availability</a></th>
<th>$l10n.Author</a></th>
</tr>

#foreach ($report in $reports)
  #set ($group = $intake.Report.mapTo($report))
  #indexedRows($velocityCount)
<td><input type="checkbox" name="report_id" value="$report.ReportId">

<td>
#if ($report.isEditable($data.User))
$link.setPage("reports,Step1.vm").setLabel("$report.Name").addPathInfo("action", "GenerateReport").addPathInfo("eventSubmit_doEditstoredreport", "foo").addPathInfo("report_id", "$report.ReportId")
#else
$report.Name
#end
</td>

<td>$!report.Description</td>

<td>$link.setPage("reports,Step1.vm").setLabel("$report.Scope.Name").addPathInfo("action", "GenerateReport").addPathInfo("eventSubmit_doRunstoredreport", "foo").addPathInfo("report_id", "$report.ReportId")</td>

<td>
 #set ($createdUser = $scarabR.getUser($report.UserId.toString()))
<a href="mailto:$createdUser.Email">$createdUser.Name</a></td>
</tr>
#end

</table>
#else
 <p class="alert">$l10n.NoSavedReports</p>
#end

<div class="functnbar3">
  <input type="submit" value="$l10n.CreateNew" name="eventSubmit_doCreatenew" />&#160;
#if ($reports.size() >0)
  <input type="submit" value="$l10n.DeleteSelected" name="eventSubmit_doDeletestoredreport" />
#end
</div> 

##<p class="paginate">&#171; $l10n.Previous | 1 of 1 | $l10n.Next &#187;</p>

$intake.declareGroups()
</form>
</div>
