#set ($report = $scarabR.Report)
#set ($intakeReport = $intake.Report.mapTo($report))
#set ($module = $scarabR.CurrentModule)

<div id="savereport" class="app">

<form method="post" action="$link.setPage("reports,Step1.vm")" >
<input type="hidden" name="action" value="GenerateReport" />
##set ($queryString = $data.Parameters.getString("queryString"))
## <input type="hidden" name="$intakeReport.QueryString.Key" value="$queryString" />


<p>
$l10n.GoToSavedReports $link.setPage("reports,ReportList.vm").setLabel("$l10n.SavedReportsList").
</p>

<h3>$l10n.ReportInfo</h3>
<div class="axial">
 <table cellpadding="3" cellspacing="2" border="0">

  <tr>
   <th width="120">$l10n.Name</th>
   <td>#fieldErrorMsg($intakeReport.Name "")
        <input type="text"  size="30" maxlength="255"
            name="$intakeReport.Name.Key" value="$intakeReport.Name" />
   </td>
  </tr>
  <tr>
   <th width="120">$l10n.Description</th>
   <td>
     #textAreaMedium("$intakeReport.Description.Key" $intakeReport.Description)
   </td>
  </tr>
  <tr>
   <th width="120">$l10n.Availability</th>
   <td>#reportScopeSelectBox ($intakeReport)
   </td>
  </tr>
  <tr>
   <th width="120">$l10n.Module</th>
   <td>$module.Name</td>
##   <input type = "hidden" name="$intakeReport.ModuleId.Key" value = "$module.ModuleId" />
  </tr>
 </table>
</div>

<div class="functnbar3">
  <input type="submit" value="$l10n.Save" name="eventSubmit_doSavereport" />
</div>

<input type="hidden" name="overwrite" value="true" />
$intake.declareGroups()
</form>
</div>
