#set ($report = $scarabR.Report)
#set ($intakeReport = $intake.Report.mapTo($report))

<div class="app" id="div2-4-1-step1">

#wizardLinks("reports,Step1.vm" $reportParameters $link)

<form method="get" action="$link.setPage("reports,Step1.vm")">
<input type="hidden" name="action" value="GenerateReport"/>
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="reports,Step2.vm"/>

<h3>$l10n.SummaryInfo</h3>
<p><strong>$l10n.Saving</strong> $l10n.EditInfo</p>

<div class="axial">
 <table cellpadding="3" cellspacing="2" border="0">
  <tr>
   <th width="120">$l10n.ReportName</th>
   <td>
   <input type="text" size="30" maxlength="255"
                name="$intakeReport.Name.Key" value="$intakeReport.Name" />
   </td>
  </tr>
  <tr>
   <th width="120">$l10n.ReportDescription</th>
   <td>
     #textAreaMedium("$intakeReport.Description.Key" $intakeReport.Description)
   </td>
  </tr>
 </table>
</div>

<h3>$l10n.ReportType</h3>

<div class="axial">
 <table border="1" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">$l10n.ReportType</th>
   <td>
    #if ($data.Parameters.getString($intakeReport.Type.Key))
      #set ( $reporttype = $data.Parameters.getInt($intakeReport.Type.Key) )
    #end
    <select name="$intakeReport.Type.Key">
    #foreach ( $option in $scarabR.Report.ReportTypes )
        #option($option)
    #end
    </select>
   </td>
  </tr>
  <tr>
   <th width="120">$l10n.Availability</th>
   <td>#reportScopeSelectBox ($intakeReport)</td>
  </tr>
 </table>
</div>


<div class="functnbar2">
  <input type="submit" value="$l10n.Continue" name="eventSubmit_doStep1" />
</div>

$intake.declareGroups()
</form>
</div>
