#set ($report = $scarabR.Report)
#set ($intakeReport = $intake.Report.mapTo($report))

<div class="app" id="div2-4-1-step4">

#wizardLinks("reports,Step3_1a.vm" $reportParameters $link)
#subWizardLinks("reports,Step3_1a.vm" $reportParameters $link "$l10n.Step3ALink" "reports,Step3_1a.vm" "$l10n.Step3BLink" "reports,Step3_1b.vm")

<h3>$l10n.ReportContentCA</h3>
<form method="get" action="$link.setPage("reports,Step3_1a.vm")">
<input type="hidden" name="action" value="GenerateReport" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="reports,Step3_1b.vm" />

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
  <th width="120">$l10n.ReportDate</th>
  <td>
    #fieldErrorMsg($intakeReport.NewDate "")
    <input type="text" size="20" name="$intakeReport.NewDate.Key"
        value="$intakeReport.NewDate" /> $l10n.LeaveBlank
  </td>
</tr>
<tr>
  <th>$l10n.RowsType</th>
  <td>
    <select name="$intakeReport.Axis1Category.Key">
      <option value="">$l10n.Select$l10n.Dots</option>
      #set ($options = $scarabR.Report.Axis1Categories)
      #foreach ( $option in $options )
        #option($option)
      #end
    </select>
    #fieldErrorMsg($intakeReport.Axis1Category "")
  </td>
</tr>
<tr>
  <th>$l10n.ColumnType</th>
  <td>
    <select name="$intakeReport.Axis2Category.Key">
      <option value="">$l10n.Select$l10n.Dots</option>
      #set ($options = $scarabR.Report.Axis2Categories)
      #foreach ( $option in $options )
        #option($option)
      #end
    </select>
    #fieldErrorMsg($intakeReport.Axis2Category "")
  </td>
</tr>
</table>
</div>

<div class="functnbar2">
  <input type="submit" value="$l10n.Continue" name="eventSubmit_doStep3_1a" />
  <!-- <input type="submit" value="back" /> -->
</div>

$intake.declareGroups()
</form>
</div>
