#set ($report = $scarabR.Report)
#set ($intakeReport = $intake.Report.mapTo($report))

<div class="app" id="div2-4-1-step2">
<h2>Define report</h2>
#wizardLinks("reports,Step2.vm" $reportParameters $link)
#subWizardLinks("reports,Step2.vm" $reportParameters $link "2a: Select PFA(s)" "reports,Step2.vm" "2b: PFA display options" "reports,Step2b.vm")

<h3>Select primary filter attribute(s)</h3>
<h4>Primary filter attribute</h4>
<p>This selection defines the subset of issues that this report will be drawn
from. It is often useful (but not required) to set the primary filter
attribute "state" or "status", limiting the report to options such as "open",
"open unassigned", "open assigned", "closed", or a combination of several of
these options.</p>
<p><strong>Note:</strong> Selecting the attribute's name will select all
options within that attribute. If you choose to "continue", without defining
PFA groups, each selected Attribute and/or Attribute Option will appear as a
seperate column (i.e. side-by-side comparison).</p>

<form method="get" action="$link.setPage("reports,Step2.vm")">
<input type="hidden" name="action" value="GenerateReport" />

<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">Attributes</th>
   <td>
   <select name="$intakeReport.AttributesAndOptionsForGrouping.Key"
                multiple="multiple" size="20">
                #attributeOptionOptionList( $report.AllOptionsForGrouping $report.AttributesAndOptionsForGrouping)
   </select>
   </td>
  </tr>
 </table>
</div>

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild"><input type="submit" value="Continue"  name="eventSubmit_doStep2agoto3" />
    &#160;
    <input type="submit" value="Define PFA/Option(s) group(s)"
        name="eventSubmit_doStep2agoto2b" />&#160;
    <input type="submit" value="Cancel"  name="eventSubmit_doCancel" /></td>
 </tr>
</table>
</div>
#addReportHiddenInputs($report "reports,Step2.vm")
$intake.declareGroups()
</form>
</div>
