#set ($report = $scarabR.Report)
#set ($intakeReport = $intake.Report.mapTo($report))

<div class="app" id="div2-4-1-step3_1b">

<h2>Define report</h2>

#wizardLinks("reports,Step3_1b.vm" $reportParameters $link)
#subWizardLinks("reports,Step3_1b.vm" $reportParameters $link "3a: Define row/column criteria" "reports,Step3_1a.vm" "3b: Select row/column content" "reports,Step3_1b.vm")

<h3>Select row/column content</h3>

<form method="get" action="$link.setPage("reports,Step3_1b.vm")">
<input type="hidden" name="action" value="GenerateReport" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="reports,Report_1.vm" />

<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th>Row content</th>
   <td>
#set ($options = $report.Axis1OptionList)
#if ($report.Axis1Category == 0 || $report.Axis1Category == 1 || $report.Axis1Category == 2)
   <select name="$intakeReport.Axis1Keys.Key"
                multiple="multiple" size="15">
                #attributeOptionOptionList( $options $report.Axis1Keys)
   </select>
#else
    No category was chosen, did you hack the url,
    or is this an application error?
#end
   </td>
  </tr>

  <tr>
   <th>Column content</th>
   <td>
#set ($options = $report.Axis2OptionList)
#if ($report.Axis2Category == 0 || $report.Axis2Category == 1 || $report.Axis2Category == 2)
   <select name="$intakeReport.Axis2Keys.Key"
                multiple="multiple" size="15">
                #attributeOptionOptionList( $options $report.Axis2Keys)
   </select>
#else
    No category was chosen, did you hack the url,
    or is this an application error?
#end
   </td>
  </tr>
 </table>
</div>

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
    <input type="submit" value="Generate report"
            name="eventSubmit_doStep3_1b" />
    &nbsp;
    <input type="submit" value="Cancel" name="eventSubmit_doCancel" />
  </td>
 </tr>
</table>
</div>

$intake.declareGroups()
</form>
</div>
