#set ($report = $scarabR.Report)
#set ($intakeReport = $intake.Report.mapTo($report))
#set ($action = $link.setPage("reports,Step1.vm").setAction("GenerateReport").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE", "reports,Step2.vm").toString())
<div class="app" id="div2-4-1-step1">

<h2>Define report (2.4.1)</h2>
#wizardLinks("Step1.vm" $reportParameters $link)
<form method="get" action="$action">

#set ($reports = $scarabR.CurrentModule.getSavedReports($data.User))
#if ($reports.size() > 0 && !$data.Parameters.getString("report_id"))
<h3>Saved reports</h3>
<select name="report_id">
        <option value="">Choose...</option>
    #foreach ( $report in $reports )
        <option value="$report.ReportId">$report.Name</option>
    #end
</select>
<input type="submit" value="Run" name="eventSubmit_doRunstoredreport"/>
<input type="submit" value="Edit" name="eventSubmit_doEditstoredreport"/>
<input type="submit" value="Delete" name="eventSubmit_doDeletestoredreport"/>
#end

<h3>Summary information</h3>
<p><strong>Considering saving this report?</strong> If so, enter the following information (it can be edited later).</p>
<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">Report name</th>
   <td>
   <input type="text" size="30" maxlength="255"
                name="$intakeReport.Name.Key" value="$intakeReport.Name" />
   </td>
  </tr>
  <tr>
   <th width="120">Report description (optional)</th>
   <td>
     <textarea name="$intakeReport.Description.Key" rows="3" cols="30">$intakeReport.Description</textarea>
 </td>
  </tr>
 </table>
 </div>

<h3>Type of report</h3>
<h4>Comparative analysis</h4>
<p>map attributes, attribute options, to  attributes, attribute options,
   or users for a single date/time</p>
<h4>Rate of change</h4>
<p>map attributes, attribute options, or users to multiple dates in an
   array</p>
<div class="axial">
 <table border="1" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">Type of report</th>
   <td>
#if ($data.Parameters.getString($intakeReport.Type.Key))
    #set ( $reporttype = $data.Parameters.getInt($intakeReport.Type.Key) )
#end
       <select name="$intakeReport.Type.Key">
    #foreach ( $option in $scarabR.Report.ReportTypes )
        #option($option)
    #end
        </select>
   </td>
  </tr>
 </table>
</div>
<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild"><input type="submit" value="Continue" name="eventSubmit_doStep1" />
</td>
 </tr>
</table>
</div>
#addReportHiddenInputs($report "reports,Step1.vm")
$intake.declareGroups()
</form>
</div>
