#set ($report = $scarabR.Report)
#set ($intakeReport = $intake.Report.mapTo($report))

<div class="app" id="div2-4-1-step2">
#wizardLinks("reports,Step2.vm" $reportParameters $link)
#subWizardLinks("reports,Step2.vm" $reportParameters $link "2a: Select report data-set" "reports,Step2.vm" "2b: Group related data" "reports,Step2b.vm")

<h3>Select report data-set</h3>
<p>Selecting attribute(s) and option(s) from the following list defines a sub-set of data that will be used to generate this report.</p>
<p>e.g. Selecting "Operating system;LINUX, Operating system;OSX" will limit the output of a report to only these options.</p>

<p><strong>Note:</strong> Selecting an attribute's name will select all
options within that attribute.</p>

<form method="get" action="$link.setPage("reports,Step2.vm")">
<input type="hidden" name="action" value="GenerateReport" />

<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">Attributes</th>
   <td>
   <select name="$intakeReport.AttributesAndOptionsForGrouping.Key"
                multiple="multiple" size="20">
                #attributeOptionOptionList( $report.AllOptionsForGrouping $report.AttributesAndOptionsForGrouping)
   </select>
   </td>
  </tr>
 </table>
</div>

<div class="functnbar2">
## <input type="submit" value="Continue"  name="eventSubmit_doStep2agoto3" />&#160;
  <input type="submit" value="Next" name="eventSubmit_doStep2agoto2b" />
</div>

$intake.declareGroups()
</form>
</div>
