#set ($report = $scarabR.Report)
#set ($reportDefn = $report.ReportDefinition)
#set ($user = $data.User)

<div class="app" id="div2-4-1-step1">

<div class="tabs">
  <table cellpadding="3" cellspacing="0" border="0">
    <tr>
      <th>$l10n.ReportInformation</th>
      <td>$l10n.RowContent</td>
      <td>$l10n.ColumnContent</td>
    </tr>
  </table>
</div>

<form method="get" action="$link.setPage("reports,XModuleList.vm")">
<input type="hidden" name="action" value="DefineXModuleList" />
 <input type="hidden" name="$scarabG.Constant.LAST_TEMPLATE" 
     value="reports,XModuleList" />
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" 
     value="reports,Info.vm" />

#createMITList("Finishedreportlist" $l10n.Done $user "reports,XModuleList.vm")

$intake.declareGroups()
</form>
</div>
