<!DOCTYPE html PUBLIC "-//CollabNet//DTD XHTML 1.0 Transitional//EN"
    "http://collabnet.com/dtds/collabnet_transitional_10.dtd">
<html>
 <head>
  <title>Scarab</title>
  <link rel="stylesheet" type="text/css" href="/scarab/style/main.css" />
  <link rel="stylesheet" type="text/css" href="/scarab/style/print.css" media="print" />
  <link rel="alternate stylesheet" title="compact" type="text/css" href="/scarab/style/compact.css" />
 </head>
 <body>
   <div id="globalnav">
    <p>
    #if ($data.User.hasLoggedIn())
    <a href="$link.setPage("Login.vm").setAction("Logout")">Logout</a>
    #else
    <a href="$link.setPage("Login.vm")">Login</a>
    #end
  | <a href="$link.setPage("Links.vm")">Links</a> 
  | <a href="$link.setPage("entry,Wizard1.vm")">Enter Issue</a>
  | <a href="http://scarab.tigris.org/nonav/ui/">UI Templates</a>
  </p>
   </div>
   <table border="0" cellspacing="0" cellpadding="0" width="95%">
    <tr>
     <td width="100" id="leftcol">
      <div id="projnav">
      <form action="$link.setPage("ViewIssue.vm")" method="get">
   Issue# <input type="text" name="id" size="8" maxlength="255" />
      <input type="submit" name="Submit" value="Find" />
   </form>
      </div>
     </td>
     <td id="bodycol">
      <div id="featurenav">
       <p class="crumbing"><a href="#">crumbing</a> &gt; <a href="#">item1</a> &gt; item2</p>
       <p><a href="#">primaryfeaturenav</a> | <a href="#">item1</a> | <a href="#">item2</a></p>
      </div>
#actionErrorMsg()
$renderer.render("screens", $data, $template) 
##$screen_placeholder
     </td>
    </tr>
   </table>
$renderer.render("navigations", $data, "/ScarabBottom.vm") 
 </body>
</html>
