<!DOCTYPE html PUBLIC "-//CollabNet//DTD XHTML 1.0 Transitional//EN"
    "http://www.collabnet.com/dtds/collabnet_transitional_10.dtd">
<html>
 <head>
  <title>Scarab</title>
<!--  <meta http-equiv="Content-type" content="text/html; charset=ISO-8859-1" /> -->
<!--  <meta http-equiv="Content-type" content="text/html; charset=EUC-KR" /> -->
  <meta http-equiv="Content-type" content="$data.ContentType" />

  <style type="text/css">
  @import url($data.Request.ContextPath/style/ns4_toxins.css);
  </style>

  <link rel="stylesheet" type="text/css" href="$data.Request.ContextPath/style/main.css" />
  <link rel="stylesheet" type="text/css" href="$data.Request.ContextPath/style/print.css" media="print" />
  <link rel="alternate stylesheet" title="compact" type="text/css" href="$data.Request.ContextPath/style/compact.css" />
 </head>
<body marginwidth="0" marginheight="0">
 <div id="banner">
  <table border="0" cellspacing="0" cellpadding="8" width="100%">
  <tr>
  <td>
  <a href="$link.setPage("Index.vm")"><img src="$data.Request.ContextPath/images/logo.gif" alt="Scarab" width="118" height="23" border="0" /></a>
  </td>
  <td>
  <div align="right" id="login">
   #if ($data.User.FirstName)
   <div>
    Logged in: <strong class="username">$data.User.FirstName $data.User.LastName</strong>
   </div>
   #end
   <div>
    #if ($data.User.hasLoggedIn())
    $link.setPage("Login.vm").setAction("Logout").setLabel("Logout")
    #else
    $link.setPage("Login.vm").setLabel("Login")
    #end
   </div>
  </div>
  </td>
  </tr>
  </table>
 </div>

#if ($scarabR.CurrentModule)
<div class="modbar">
  <small><strong>Current Module:
   $link.setPage("SelectModule.vm").setLabel("$scarabR.CurrentModule.Name")
  </strong></small>
</div>
#else
<div class="modbar"></div>
#end

<table border="0" cellspacing="0" cellpadding="8" width="98%" id="main">
 <tr valign="top">
  <td id="leftcol" width="20%">
  <div id="navcolumn">
$renderer.render("navigations", $data, $template, "Default.vm")
  </div>
  <div id="helptext">
   <table border="0" cellspacing="0" cellpadding="3" width="100%">
   <tr>
   <th>How do I...?</th>
   </tr>
   <tr>
   <td>
     <div>Learn more about this project? </div> <div>Print this page...</div>
     <div>Troubleshoot...</div>
   </td>
   </tr>
   </table>
 </div>
 </td>
 <td width="100%" id="bodycol">
 <!-- Scarab - App -->
$renderer.render("layouts", $data, "MainContent.vm")
<!-- Structural Elements -->
 </td>
#if ($template.equals("SelectModule.vm"))
  $renderer.render("layouts", $data, "/ModuleHelp.vm")
#elseif ($template.equals("SelectArtifactType.vm"))
  $renderer.render("layouts", $data, "/ArtifactTypeHelp.vm")
#end
 </tr>
</table>
<!-- Structural Elements -->
$renderer.render("navigations", $data, "/ScarabBottom.vm")
</body>
</html>
