#set ($page.Title = $l10n.Title)
#if (!$data.Parameters.getString("nonav") && !$data.Parameters.getString("nosearchnav"))
    $renderer.render("navigations", "SearchNav.vm")
#end
#actionErrorMsg()
$renderer.render("screens", $template)
