<?xml version="1.0" encoding="UTF-8"?>
<plugin name="ThinColumba Look And Feel" description="ThinColumba Look And Feel" id="org.columba.core.ThinColumbaLookAndFeel" version="1.0" category="Look and Feel" enabled="true">
  <extension name="org.columba.core.theme">
    <theme name="ThinColumba" class="org.columba.thincolumba.ThinColumbaPlugin"></theme>
  </extension>
  <runtime jar="ThinColumbaLookAndFeel.jar" type="java"></runtime>
</plugin>
