<div class="app" id="advancedquery">
<h3>Advanced Query</h3>

#set ($module = $scarabR.CurrentModule)

#if (!$module)
<div class="alert">
The currently selected module is invalid.
Please select another module.
</div>
#else

<form action="$link.setPage("AdvancedQuery.vm")" method="post">
<input type="hidden" name="nextTemplate" value="IssueList.vm" />
<input type="hidden" name="action" value="Search" />
<input type="hidden" name="searchType" value="advanced" />
<input type="hidden" name="pageNum" value="1" /> 

<p class="functnbar">
    <input type="submit" name="eventSubmit_doSearch" value="Search" />&#160;
    <input type="submit" name="eventSubmit_doCancel" value="Cancel" />&#160;
    <input type="submit" name="eventSubmit_doRedirecttosavequery" value="Save this Query" />
</p>

<h3>Search the Scarab Knowledge Base</h3>

#advancedQuery()

<p class="functnbar">
    <input type="submit" name="eventSubmit_doSearch" value="Search" />&#160;
    <input type="submit" name="eventSubmit_doCancel" value="Cancel" />&#160;
    <input type="submit" name="eventSubmit_doRedirecttosavequery" value="Save this Query" />
</p>
   
  
$intake.declareGroups()
</form>

</div>
#end
