     
<div id="projectlist" class="app">

#set ($att = $scarabR.Attribute)

#if (!$att.AttributeId)
  $page.setTitle("Assign users.")
  <p class="alert">No user attribute has been selected.</p>
#else
  $page.setTitle("Assign users to attribute $att.Name")

<div class="app" id="assignissue">
<h2>$page.Title</h2>
#if (!$scarabR.Issue.isNew())
 #set ($issue = $scarabR.Issue)
#elseif ( $scarabR.Issues )
 #set ($multiple = true)
 #set ($issue = $scarabR.Issues.get(0))
#elseif ($issueIdList)
 #set ($multiple = true)
 #set ($issue = $scarabR.getIssue($issueIdList.get(0)))
#else  ## this could grab all the issues
 #set ($multiple = true)
 #set ($issue = $scarabR.IssueList.get(0))
#end
#if ($data.Parameters.getString("action") && $data.Parameters.getString("action").equals("AssignIssue"))
 #set ( $reentry = true )
#end

#if (!$actionLink)
  #set ($actionLink = $link.setPage("AssignIssue.vm").toString())
#end

#set ($addedUsers = $data.Parameters.getStrings("addedusers"))
#set ($removedUsers = $data.Parameters.getStrings("removedUsers"))
#set ($assignedUsers =  $issue.getAttributeValues($att))

#if ($addedUsers || $removedUsers)
 <p><strong class="alert">
  Remember to add note and submit, when ready to save changes.
 </strong></p>
#end

<form action="$actionLink" method="post">
<input type="hidden" name="action" value="AssignIssue" />
<input type="hidden" name="$intake.Attribute.Default.Id.Key" value="$att.AttributeId" />
<input type="hidden" name="$scarabG.Constant.CURRENT_TEMPLATE" value="ViewIssue.vm" />
#if ($multiple)
  <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="ViewIssueLong.vm" />
#else
  <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="ViewIssue.vm" />
#end

#set ($issueGroup = $intake.Issue.Default)
#if ($multiple)
 #if ($issueIdList)
  #foreach ($id in $issueIdList)
   <input type="hidden" name="$issueGroup.Ids.Key" value="$id" />
  #end
 #elseif ($issueGroup.Ids.Value)
  #foreach ($id in $issueGroup.Ids.Value)
   <input type="hidden" name="$issueGroup.Ids.Key" value="$id" />
  #end
 #else
  #foreach ($issue in $scarabR.IssueList)
   <input type="hidden" name="$issueGroup.Ids.Key" value="$issue.IssueId" />
  #end
 #end
#else
 <input type="hidden" name="$issueGroup.Id.Key" value="$issue.UniqueId" />
#end


<div class="functnbar">
#if ($addedUsers || $removedUsers)
 <input type="submit" value="Done" name="eventSubmit_doSubmit" />&#160;
#end
<input type="submit" value="Cancel" />
</div>
		

## Determine if there are any users to show up in the added/assigned list
#set ($noAddedUsers = false)
#if ((!$reentry && !$addedUsers && $assignedUsers.isEmpty())
     || ($reentry && !$addedUsers))
  #set ($noAddedUsers = true)
#end

#if ($noAddedUsers)
     <p><strong class="alert">None assigned.</strong></P>
#else
		<h3>Assignee list</h3>
		
		<table width="100%" border="1" cellspacing="2" cellpadding="3">
		<tr>
		<th nowrap="nowrap">&#160;</th>
		<th>Name</th>
		<th><a href="#" title="sort">email</a></th>
		</tr>

  #if (!$reentry)
    #foreach ($assignee in $assignedUsers)
      #set ($assignedUser = $scarabR.getUserByUserName($assignee.Value))
      <input type="hidden" name="addedusers" value="$assignee.Value" />
		<tr class="a">
		<td><input type="checkbox" name="newremoveusers" value="$assignedUser.UserName" /></td>
		<td><strong>$assignedUser.FirstName $assignedUser.LastName</strong></td>
		<td><a href="mailto:$assignedUser.Email">$assignedUser.UserName</a></td>
		</tr>
    #end
  #else
   #foreach ($addedUserId in $addedUsers)
      #set ($addedUser = $scarabR.getUserByUserName($addedUserId))
      <input type="hidden" name="addedusers" value="$addedUser.UserName" />
		<tr class="a">
		<td><input type="checkbox" name="newremoveusers" value="$addedUser.UserName"/></td>
		<td><strong>$addedUser.FirstName $addedUser.LastName</strong></td>
		<td><a href="mailto:$addedUser.Email">$addedUser.UserName</a></td>
		</tr>
   #end
  #end
		
   </table>  

<div class="functnbar3">
 <input type="submit" name="eventSubmit_doRemove" value="Remove selected from assignee list" />
</div>
  #end

## ATTACHMENT
#if ($addedUsers || $removedUsers)
 #set ($atch = $scarabR.Attachment)
 #set ($intakeAttachment = $intake.Attachment.mapTo($atch))
 <h4>Message to assignees</h4>
 <div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
             <tr>
       <th>Message contents</td>
       <td>
                This message is emailed to the assignees, and is appended as a note on the issue's change history
                <p>
                #textAreaMedium ("$intakeAttachment.DataAsString.Key" $intakeAttachment.DataAsString.Value)
                     
       </td>
     </tr>
      </table>
</div>
#end

#set ($searchString = $data.Parameters.getString("searchString"))

		<h3>Users</h3>
<div class="axial">
<table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th>Filter string</th>
   <td><input type="text" name="searchString" />&nbsp;
     <select name="searchField" >
      <option value="First Name">First Name</option>
      <option value="Last Name">Last Name</option>
      <option value="Email">Email</option>
     </select>&nbsp;<input type="submit" name="eventSubmit_doRefresh" value="filter" /></td>
  </tr>
 <tr>
</table>
</div>

## USER SEARCH
#if ($searchString && $searchString.length() > 0)
   #set ($searchResults = $scarabR.UserSearchResults) 
   #if ( $searchResults.isEmpty())
      <p class="alert">No users match your criteria.</p>
   #else
        ##<p class="paginate">&#171; previous | 1 of 1 | next &#187;</p>
		
		<table width="100%" border="1" cellspacing="2" cellpadding="3">
		<tr>
		<th nowrap="nowrap">&#160;</th>
		<th>Name</th>
		<th><a href="#" title="sort">email</a></th>
		</tr>
		
       #foreach ($user in $searchResults)
		<tr class="a">
		<td><input type="checkbox" name="newaddusers" value="$user.UserName" /></td>
		<td><strong>$user.FirstName $user.LastName</strong></td>
		<td><a href="mailTo:$user.Email">$user.UserName</td>
		</tr>
       #end
   #end   
   </table>  

<div class="functnbar3">
 <input type="submit" name="eventSubmit_doAdd" value="Add selected to assignee list" />
</div>

		
#*
##<p class="paginate">&#171; previous | 1 of 1 | next &#187;</p>

<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
             <tr>
       <th>Max items per page</td>
       <td><input type="radio" name="foo" checked="checked" /> 25 <input type="radio" name="foo" /> 50 <input type="radio" name="foo" /> 75 <input type="radio" name="foo" /> 100&#160;<input type="submit" value="refresh" /></p>
</td>
     </tr>
      </table>
</div>
*#
#end


<div class="functnbar">
#if ($addedUsers || $removedUsers)
 <input type="submit" value="Done" name="eventSubmit_doSubmit" />&#160;
#end
<input type="submit" value="Cancel" />
</div>

    </td>
   </tr>
  </table>
$intake.declareGroups()
</form>
#end
