  <FORM METHOD="post" NAME="AssignForm" ACTION="">
  <INPUT TYPE="hidden" NAME="action" VALUE="Assign">

  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
    <TR>
      <TD>
<!-- top nav bar -->
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0">
          <TR>
            <TD NOWRAP CLASS="NavHeader">SCARAB:</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">My Issues</A></TD>
            <TD NOWRAP CLASS="NavHeader">|</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">Report</A></TD>
            <TD NOWRAP CLASS="NavHeader">|</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">Browse</A></TD>
            <TD NOWRAP CLASS="NavHeader">|</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">Assign (8)</A>&nbsp;</TD>
            <TD CLASS="NavHeaderOn" BGCOLOR="#CCCCCC">&nbsp;</TD>
            <TD NOWRAP CLASS="NavHeaderOn" BGCOLOR="#CCCCCC"><A HREF="query.html">Search</A></TD>
            <TD CLASS="NavHeaderOn" BGCOLOR="#CCCCCC">&nbsp;</TD>
            <TD NOWRAP CLASS="NavHeader">&nbsp;<A HREF="/">Admin</A></TD>
            <TD NOWRAP CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Help</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Prefs</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">Log Out</A></TD>
          </TR>
        </TABLE>
<!-- end top nav bar -->
      </TD>
    </TR>
    <TR>
      <TD HEIGHT="1" BGCOLOR="#000000"></TD>
    </TR>
</TABLE>

<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
	<TR>
		<TD nowrap class="SectionHeader" BGCOLOR="#cccccc">My Projects:</TD>
		<TD BGCOLOR="#cccccc">
		<SELECT NAME="MyProjectsList">
		<OPTION SELECTED>PacMan JVM</OPTION>
		<OPTION>Project 2</OPTION>
		<OPTION>Project 3</OPTION>
		</SELECT>
		</TD>
		<TD BGCOLOR="#cccccc" WIDTH="100%"><INPUT TYPE="submit" NAME="eventSubmit_doRefreshProjectData" VALUE="Refresh Project Data"></TD>
	</TR>
</TABLE>
<P>
<!-- current project and login -->
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
    <TR>
      <TD BGCOLOR="#FFFFFF" HEIGHT="1"></TD>
      <TD ALIGN="right" NOWRAP CLASS="PlainText">Logged in: <A HREF="/">jon 123</A></TD>
    </TR>
  </TABLE>

<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
	<TR>
	  <TD nowrap class="PlainText"><input type="submit" name="eventSubmit_doNext" value="Next"> <input type="submit" name="eventSubmit_doPrevious" value="Previous"> 7 of 8 Issues</TD>
	  <TD> &nbsp;</TD>
	  <TD nowrap align="right" class="PlainText" nowrap>Issue ID# <input type="text" name="issueID" value="34678"><input type="submit" name="eventSubmit_doViewIssue" value="ViewIssue"></TD>
	</TR>
</TABLE>
<!-- end current project and login -->
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
  <TR>
    <TD WIDTH="50%" VALIGN="top">
<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
	<TR>
		<TD CLASS="Header" BGCOLOR="#999999" COLSPAN="2" nowrap> VIEW ISSUE</TD>
	</TR>
</TABLE>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Issue ID#:</TD>
		<TD VALIGN="top" CLASS="TableData">34678</TD>
		<TD VALIGN="top">&nbsp;</TD>
		<TD VALIGN="top" CLASS="TableDataHeader">Status:</TD>
		<TD VALIGN="top" CLASS="TableData">Closed</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>

	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Assigned to:</TD>
		<TD VALIGN="top" CLASS="TableData"><A HREF="mailto:jon@collab.net">jon@collab.net</A></TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>

	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Component:</TD>
		<TD VALIGN="top" CLASS="TableData">Java SWING UI widget set</TD>
		<TD VALIGN="top">&nbsp;</TD>
		<TD VALIGN="top" CLASS="TableDataHeader">Resolution:</TD>
		<TD VALIGN="top" CLASS="TableData">$resolution</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
	
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Summary:</TD>
		<TD VALIGN="top" COLSPAN="4" CLASS="TableData">UI widgets don't accurately reflect the native widgets found on each wireless delivery platform</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
	
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Description:</TD>
		<TD VALIGN="top" CLASS="TableData">$description</TD>
		<TD VALIGN="top">&nbsp;</TD>
		<TD VALIGN="top" CLASS="TableDataHeader">Type:</TD>
		<TD VALIGN="top" CLASS="TableData">$type</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
	
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Reported by:</TD>
		<TD VALIGN="top" CLASS="TableData"><A HREF="cam@collab.net">cam@collab.net</A></TD>
		<TD VALIGN="top">&nbsp;</TD>
		<TD VALIGN="top" CLASS="TableDataHeader">Date Entered:</TD>
		<TD VALIGN="top" CLASS="TableData">2000-06-13</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
	
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top">&nbsp;</TD>
		<TD VALIGN="top" CLASS="TableDataHeader">Last Modified:</TD>
		<TD VALIGN="top" CLASS="TableData">2000-08-21</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
	
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Severity</TD>
		<TD VALIGN="top" CLASS="TableData">Minor</TD>
		<TD VALIGN="top">&nbsp;</TD>
		<TD VALIGN="top" CLASS="TableDataHeader">Priority:</TD>
		<TD VALIGN="top" CLASS="TableData">P4</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
	
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Keywords</TD>
		<TD VALIGN="top" CLASS="TableData">UI, widgets, swing</TD>
		<TD VALIGN="top">&nbsp;</TD>
		<TD VALIGN="top" CLASS="TableDataHeader">Votes:</TD>
		<TD VALIGN="top" CLASS="TableData">12</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
		
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD VALIGN="top" CLASS="TableDataHeader">Depends On:</TD>
		<TD VALIGN="top" CLASS="TableData"><A HREF="/">13567</A>, <A HREF="/">23084</A></TD>
		<TD VALIGN="top">&nbsp;</TD>
		<TD VALIGN="top" CLASS="TableDataHeader">Dependents:</TD>
		<TD VALIGN="top" CLASS="TableData">??</TD>
	</TR>
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
</TABLE>
<P>
<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
	<TR>
		<TD CLASS="SectionHeader" BGCOLOR="#cccccc">&nbsp;Comments</TD>
	</TR>
</TABLE>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
	<TR>
		<TD HEIGHT="2" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD CLASS="TableDataHeader" nowrap>From: <SPAN CLASS="TableData"><A HREF="mailto:bob@collab.net">bob@collab.net</A></SPAN></TD>
		<TD CLASS="TableDataHeader" nowrap>Date: <SPAN CLASS="TableData">2000-08-12</SPAN></TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD COLSPAN="2" CLASS="TableData">The Java SWING widget set is only cross-platform if you are using version 1.34 from Sun Microsystems. Issue #12856, #30856, and #2945 are also duplicates. Gervase needs to clean up this code.</TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
	
	<TR>
		<TD CLASS="TableDataHeader" nowrap>From: <SPAN CLASS="TableData"><A HREF="mailto:matt@collab.net">matt@collab.net</A></SPAN></TD>
		<TD CLASS="TableDataHeader" nowrap>Date: <SPAN CLASS="TableData">2000-08-12</SPAN></TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD COLSPAN="2" CLASS="TableData">Java is meant to be a cross-platform programming lnaguage, not a cross-platform user interface language. If using the Gecko browser this project can take advantage of the XUL language from Mozilla.</TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="5"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="5" BGCOLOR="#cccccc"></TD>
	</TR>
</TABLE>
		</TD>
		<TD>&nbsp;&nbsp;</TD>
		<TD WIDTH="50%" VALIGN="top">
			<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
				<TR>
					<TD CLASS="Header" BGCOLOR="#999999" COLSPAN="2" nowrap> ASSIGN THIS ISSUE</TD>
				</TR>
			</TABLE>
			<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
				<TR>
					<TD CLASS="SectionHeader" BGCOLOR="#cccccc" VALIGN="top">&nbsp;</TD>
					<TD CLASS="SectionHeader" BGCOLOR="#cccccc" VALIGN="top">Developer</TD>
					<TD CLASS="SectionHeader" BGCOLOR="#cccccc" VALIGN="top">Backlog</TD>
					<TD CLASS="SectionHeader" BGCOLOR="#cccccc" VALIGN="top" nowrap>Recent Contact</TD>
				</TR>
				<TR>
					<TD CLASS="TableDataHeader" nowrap valign="top"><-- <A HREF="/">Assign</A></TD>
					<TD VALIGN="top" CLASS="TableData" valign="top"><A HREF="/">jrobbins</A></TD>
					<TD VALIGN="top" CLASS="TableData" valign="top">23 bugs</TD>
					<TD VALIGN="top" CLASS="TableData" valign="top">10 days ago</TD>
				</TR>
				<TR>
					<TD CLASS="TableDataHeader" nowrap valign="top"><-- <A HREF="/">Assign</A></TD>
					<TD VALIGN="top" CLASS="TableData" valign="top"><A HREF="/">nhm</A></TD>
					<TD VALIGN="top" CLASS="TableData" valign="top">46 bugs</TD>
					<TD VALIGN="top" CLASS="TableData" valign="top">7 days ago</TD>
				</TR>
				<TR>
					<TD CLASS="TableDataHeader" nowrap valign="top"><-- <A HREF="/">Assign</A></TD>
					<TD VALIGN="top" CLASS="TableData" valign="top"><A HREF="/">lucas</A></TD>
					<TD VALIGN="top" CLASS="TableData" valign="top">12 bugs</TD>
					<TD VALIGN="top" CLASS="TableData" valign="top">3 days ago</TD>
				</TR>
			</TABLE>
			
			<P>
			<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
				<TR>
					<TD BGCOLOR="#cccccc">
					</TD>
				</TR>
			</TABLE>
</TD>
</tr>
</table>
</form>









