$page.setTitle("Change Your Password")

<div id="changepassword" class="app">

<h2>$page.Title</h2>

#set ($regGroup = $intake.Register.Default)
#if ($regGroup.Email.Value && $regGroup.Email.Value.length() > 0)
  #set ($emailValue = $regGroup.Email.Value)
#else
  #if ($intake.Login.Default.Username.Value && $intake.Login.Default.Username.Value.length() > 0)
    #set ($emailValue = $intake.Login.Default.Username.value)
  #else
    #set ($emailValue = $data.User.Email)
  #end
#end

<h3>Change Password</h3>

<form action="$link.setPage("ChangePassword.vm")" method="post">
 <input type="hidden" name="action" value="ChangePassword" />
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="Index.vm" />
 <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="Login.vm" />
 
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
 <tr>
  <th>Email Address</th>
  <td>
   <input type="text" size="25" name="$regGroup.Email.Key" value="$!emailValue" />
   #fieldErrorMsg($regGroup.Email "")
  </td>
 </tr>
 <tr>
  <th>Old Password</th>
  <td>
   <input type="password" size="25" name="$regGroup.OldPassword.Key" value="$!regGroup.OldPassword.value" />
   #fieldErrorMsg($regGroup.OldPassword "")
  </td>
 </tr>
 <tr>
  <th>New password</th>
  <td>
   <input type="password" size="25" name="$regGroup.Password.Key" value="$!regGroup.Password.value" />
   #fieldErrorMsg($regGroup.Password "")
  </td>
 </tr>
 <tr>
  <th>Password confirm</th>
  <td>
   <input type="password" size="25" name="$regGroup.PasswordConfirm.Key" value="$!regGroup.PasswordConfirm.value" />
   #fieldErrorMsg($regGroup.PasswordConfirm "")
  </td>
 </tr>
</table>
</div>

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
   <input type="submit" name="eventSubmit_doCancel" value="Cancel" />&#160;
   <input type="submit" name="eventSubmit_doChangepassword" value="Change Password" />
  </td>
 </tr>
</table>
</div>

$intake.declareGroups()
</form>
</div>
