<div id="changepassword" class="app">

#set ($regGroup = $intake.Register.Default)
#if ($regGroup.UserName.Value && $regGroup.UserName.Value.length() > 0)
  #set ($userNameValue = $regGroup.UserName.Value)
#else
  #if ($intake.Login.Default.Username.Value && $intake.Login.Default.Username.Value.length() > 0)
    #set ($userNameValue = $intake.Login.Default.Username.value)
  #else
    #set ($userNameValue = $data.User.UserName)
  #end
#end

<h3>$l10n.ChangePassword</h3>

<form action="$link.setPage("ChangePassword.vm")" method="post">
 <input type="hidden" name="action" value="ChangePassword" />
 <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="$data.User.HomePage" />
 
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
 <tr>
  <th>$l10n.Username</th>
  <td>
   <input type="text" size="25" name="$regGroup.UserName.Key" value="$!userNameValue" />
   #fieldErrorMsg($regGroup.UserName "")
  </td>
 </tr>
 <tr>
  <th>$l10n.OldPassword</th>
  <td>
   <input type="password" size="25" name="$regGroup.OldPassword.Key" value="$!regGroup.OldPassword.value" />
   #fieldErrorMsg($regGroup.OldPassword "")
  </td>
 </tr>
 <tr>
  <th>$l10n.NewPassword</th>
  <td>
   <input type="password" size="25" name="$regGroup.Password.Key" value="$!regGroup.Password.value" />
   #fieldErrorMsg($regGroup.Password "")
  </td>
 </tr>
 <tr>
  <th>$l10n.ConfirmPassword</th>
  <td>
   <input type="password" size="25" name="$regGroup.PasswordConfirm.Key" value="$!regGroup.PasswordConfirm.value" />
   #fieldErrorMsg($regGroup.PasswordConfirm "")
  </td>
 </tr>
</table>
</div>

<div class="functnbar2">
   <input type="submit" name="eventSubmit_doChangepassword" value="$l10n.ChangePassword" />&#160;
</div>

$intake.declareGroups()
</form>
</div>
