$page.setTitle("Confirm Your Email Address")

<div id="registerconfirm" class="app">

<h3>$page.Title</h3>

## attempt to get the user out of the temp hashtable
#set ($user = $data.User.getTemp($scarabG.Constant.SESSION_REGISTER))
#if ($user)
    #set ($regGroup = $intake.Register.mapTo($user))
    #set ($emailValue = $user.Email)
#else
    #set ($regGroup = $intake.Register.Default)
    #set ($emailValue = $data.Parameters.Email)
#end
#set ($confirmValue = $data.Parameters.Confirm)

<p>
Thanks for registering!
</p>

<p>
We have now sent you a confirmation message via email to verify that
the email address you supplied is working properly. To complete your
registration click on the link in the email or type in the confirmation
code below. If you do not choose to confirm your account now, you will
be asked to confirm it the next time you try to login.
</p>

<form method="post" action="$link.setPage("Confirm.vm")">
    <input type="hidden" name="action" value="Confirm">
    <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="Links.vm">
    <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="Login.vm">

<div class="axial">
<table cellpadding="3" cellspacing="2" border="1">
 <tr>
  <th>Email Address:</th>
  <td>
    <input type="text" size="25" name="$regGroup.Email.Key" value="$!emailValue">
    #fieldErrorMsg($regGroup.Email "")
  </td>
 </tr>
 <tr>
  <th>Confirmation Code:</th>
  <td>
    <input type="text" size="25" name="$regGroup.Confirm.Key" value="$!confirmValue">
    #fieldErrorMsg($regGroup.Confirm "")
  </td>
 </tr>
 <tr>
  <td colspan="2">
      <input type="submit" name="eventSubmit_doCancel" value="Cancel">
      <input type="submit" name="eventSubmit_doConfirm" value="Confirm">
  </td>
 </tr>
</table>
</div>
$intake.declareGroups()
</form>
