<div class="app" id="editquery">

#set ($queryId = $data.Parameters.getString("queryId"))
#set ($currentQuery = $scarabR.getQuery())
#set ($queryGroup = $intake.Query.mapTo($currentQuery))
#set ($module = $scarabR.CurrentModule)

<h2>Edit query</h2>

<p>
Go to your $link.setPage("QueryList.vm").setLabel("Stored Query List").
</p>

<h3>Query: $currentQuery.Name</h3>

#set ($action = $link.setPage("EditQuery.vm").setAction("Search").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE", "EditQuery.vm").toString())
<form action="$action" method="post">
<input type="hidden" name="queryId" value="$queryId" />
<input type="hidden" name="$queryGroup.Value.Key" value="$currentQuery.Value" />

<div class="axial">
 <table cellpadding="3" cellspacing="2" border="0">
  <tr>
   <th width="120">query Name</th>
   <td>
       <input type="text" name="$queryGroup.Name.Key" size="25" value="$!queryGroup.Name" /> 
       #fieldErrorMsg($queryGroup.Name "")
   </td>
  </tr>
  <tr>
   <th width="120">query description</th>
   <td>#textAreaMedium("$queryGroup.Description.Key" $queryGroup.Description)</td>
  </tr>
  <tr>
   <th width="120">availability</th>
   <td>#queryTypeSelectBox ($currentQuery)</td>
  </tr>
  <tr>
   <th width="120">location</th>
   <td>$module.Name</td>
   <input type = "hidden" name="$queryGroup.ModuleId.Key" value = "$module.ModuleId" />
  </tr>
 </table>
</div>

<div class="functnbar">
  <input type="submit" name="eventSubmit_doSavequery" value="Save" />&#160; 
  <input type="submit" name="eventSubmit_doCancel" value="Cancel" />
</div>
</form>

<h3>Attributes</h3>

#set ($action = $link.setPage("EditQuery.vm").setAction("Search").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE", "IssueList.vm").toString())
<form action="$action" method="get">
<input type="hidden" name="queryId" value="$queryId" />
<input type="hidden" name="searchType" value="advanced" />

#set ($search = $scarabR.Search)
#set ($query = $intake.SearchIssue.mapTo($search))
#set ($attrValues = $search.ModuleAttributeValuesMap)
##set ($searchTextAttributes = $search.QuickSearchTextAttributeValues)
##set ($searchValues = $search.QuickSearchOptionAttributeValues)

#advancedQuery($module)

#if ($currentQuery.QueryType.Name.equals("All users"))

<h3>Subscription info</h3>

<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">Default frequency</th>
   <td>
   <select name="$queryGroup.Frequency.Key">
   #frequencySelectBox ($currentQuery $currentQuery.SubscriptionFrequency)
   </select></td>
  </tr>
 </table>
</div>

#if (!$currentQuery.RQueryUsers.isEmpty())

<h3>Current subscriber list</h3>

 <table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
   <th>&#160;</th>
   <th>User</th>
   <th>User selected frequency</th>
  </tr>

#foreach ($su in $currentQuery.RQueryUsers)
  #set ($user = $su.ScarabUser)
  #indexedRows($velocityCount)
   <td><input type="checkbox" name="subscribed_user_$user.UserId" /></td>
   <td><a href="mailto:$user.Email">$user.FirstName $user.LastName</a></td>
   <td>$su.Frequency.Name</td>
  </tr>
#end
  </table>

  <input type="submit" value="revoke subscription" name="eventSubmit_doUnsubscribeusers" />
   #end
#end

<div class="functnbar2">
  <input type="submit" name="eventSubmit_doEditstoredquery" value="Save" />&#160; 
  <input type="submit" name="eventSubmit_doCancel" value="Cancel" /></td>
</div>

$intake.declareGroups()

</form>
</div>
