$page.setTitle("Scarab Error")

<div class="app" id="error">

<h2>$page.Title</h2>
#if( $data.getMessage() )
 Message: $data.getMessage()
#else
 #if ($data.StackTrace)
  <h3>Stack Trace</h3>

<table width="30%">
<tr>
<td>
If the stack trace below has at the top a mention of
"ResourceNotFoundException", that means that a template
could not be found (404) and is probably the result of a
broken link. If the stack trace has something else, please
send a copy of it <strong>and an explanation of what you did
to cause it</strong> to <a
href="mailto:jon@latchkey.com?subject=Scarab%20StackTrace">Jon</a>
for analysis. If you are a developer and think you know what
the problem is, feel free to send in a patch to fix the
problem. We would love your help and kiss your ass for 1000
days in appreciation.
</td>
</tr>
</table>

  <pre>
  $data.StackTrace
  </pre>
 #else
  <p>
Sorry, there was no error message. :-( If there was one, it would have been
shown here. Please believe me!
 </p>
 <p>
  Although, one common source of the error could be a result of not being able
  to find the requested template. Please try going back to the
  <a href="$link.setPage("Start.vm")">Start</a> screen and starting over.
 </p>
 #end
#end
</div>