<div id="register" class="app">

<h2>$page.Title</h2>

<h3>Forgot Password</h3>

<form action="$link.setPage("ForgotPassword.vm")" method="post" name="fgtpwd">
<input type="hidden" name="action" value="ForgotPassword" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="Login.vm" />

#set ($forgotPasswordGroup = $intake.ForgotPassword.Default)
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th> Email address</th>
 <td>
  <input name="$forgotPasswordGroup.Username.Key" value="$!forgotPasswordGroup.Username.value" type="text" size="25" />
  #fieldErrorMsg($forgotPasswordGroup.Username "")
 </td>
</tr>
</table>
</div>

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
   <input type="submit" name="eventSubmit_doCancel" value="Cancel" />&#160;
   <input type="submit" name="eventSubmit_doForgotpassword" value="Forgot Password" />
  </td>
 </tr>
</table>
</div>

$intake.declareGroups()
</form>
</div>
