$page.setTitle("Scarab functions index")

<div class="app" id="index">

<h3>Welcome to Scarab</h3>

#if (! $data.User.hasLoggedIn())
<p>
Most functions in Scarab require you to <a
href="$link.setPage("Login.vm")">Login</a> first. In the future, we will
provide a list of functions that do not require you to login first, but
for now, your safest bet is to login first.
</p>

#elseif (!$scarabR.CurrentModule)

<p>
Now that you have logged in, we suggest that you first <a
href="$link.setPage("SelectModule.vm").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE","Index.vm")"><strong>Select
A Module</strong></a> that you would like to work within. If there are
no modules that you have access to, please ask the Administrator to
assign you to a module.
</p>

#else

<p>
Congratulations young Jedi! You are able to follow directions
carefully. We will now grant you with the ability to select an Artifact
Type from the left hand side navigation. Once you have done that, you
will see a list of options in the menu that you can select from. You can
also change your currently selected module by clicking on the module
name in the upper right hand corner of the navigation.
</p>

#end

</div>
