<div class="app" id="index">

<h2>Welcome to Scarab</h2>

<table cellpadding="0" cellspacing="4" border="0">
<tr>

#if (! $data.User.hasLoggedIn())

<td>
<p>
Most functions in Scarab require you to <a
href="$link.setPage("Login.vm")">Login</a> first. In the future, we will
provide a list of functions that do not require you to login first, but
for now, your safest bet is to login first.
</p>

<p>
If you are not a registered user, please <a
href="$link.setPage("Register.vm")">create an account</a>.
</p>
</td>

#elseif (!$scarabR.CurrentModule)

<td>
#*
<p>
<img src="$staticLink.setPath("/images/module.gif")" alt="What is a
module?" width="260" height="105" />
</p>
*#

<p>
Select a <a
href="$link.setPage("SelectModule.vm").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE","Index.vm")"><strong>module</strong></a>.
A module is the unit of work space representing a unique set of
"issue types" (issues). Each new module also has the following unique
details:
</p>

<ul>
<li>a set of users</li>
<li>a set of roles</li>
<li>a set of permissions per role, per issue type</li>
</ul>

<p>Scarab uses the generic term "module" instead of the more common
term, "project", in order to avoid defining the application as simply a
"per project-issue management tool".</p>

<p>If you are a registered user, but do not have access to any modules,
contact the administrator.
</p>
</td>

#else

<td>
#*
<p>
<img src="$staticLink.setPath("/images/artifact_type.gif")" alt="What is an issue type?" width="260"
height="105" /></p> 
*#

<p>
Select an <a href="$link.setPage("SelectArtifactType.vm")">issue type</a> from the
left side navigation. An issue type encapsulates a unique set of
attributes and attribute options:
</p>

<ul>
<li>a customizable set of attributes</li>
<li>a customizable set of options (per attribute)</li>
<li>a unique set of permissions per role</li>
</ul>

<p>Once a user selects an issue type, Scarab's navigation will
indicate their selection state by dropping down a list of functions
within that issue type, giving authorized user's access to
functionality such as:</p>

<ul>
<li>enter a new issue</li>
<li>query the database</li>
<li>run reports on database activity</li>
</ul>

<p>The user's input remains confined to the selected issue type until
they select another issue type from the left side-bar navigation, or
from the issue type index.</p>

</td>

#end

</tr>
</table>

</div>
