<table border="0" cellpadding="4" cellspacing="0" width="100%">
 <tr>
  <td class="Header" bgcolor="#999999"> ADMIN: BROWSE FOR ISSUES</td>
 </tr>
</table>

<form name="IssueAdminForm" method="post" action="">
<input type="hidden" name="action" value="IssueAdmin">

<table border="0" cellpadding="8" cellspacing="0" width="100%">
 <tr>
  <td nowrap>
  <span class="InputHeader">Selected:</span><br>
  <select name="Select" multiple>
  <option selected value="">Resolution</option>
  <option value="">Status</option>
  </select>
 </td>
  <td valign="middle">
   <table border="0" cellpadding="3" cellspacing="0">
   	<tr>
   	 <td>
     <input type="submit" name="eventSubmit_do<--" value="<--">
     </td>
    </tr>
    <tr>
     <td>
     <input type="submit" name="eventSubmit_do-->" value="-->">
     </td>
    </tr>
   </table>
  </td>
  <td nowrap>
  <span class="InputHeader">Select Attribute:</span><br>
  <select name="selection1" multiple>
  <option value="">Resolution</option>
  <option value="">Status</option>
  <option selected value="">Category</option>
  <option value="">Assigned To</option>
  <option value="">Severity</option>
  </select>
 </td>
  <td width="100%" nowrap>
  <span class="InputHeader">Attribute Type:</span><br>
  <select name="selection1" multiple>
  <option value="">Keyword</option>
  <option value="">Operating System</option>
  <option value="">Server Type</option>
  </select>
 </td>
 </tr>
</table>

</form>
