<div class="app" id="issuelist">
#set ($user = $data.User)
#set ($searchType = $data.Parameters.getString("searchType",""))
#if (!$queryResults)
   #set ($queryResults = $scarabR.CurrentSearchResults)
#end
#set ($issueListSize = $queryResults.size())
#set ($totalCount = $issueListSize)

## if results exceed limit, get subset list
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage",25))
#set ($pageNum = $data.Parameters.getInt("pageNum",1))
#if ($resultsPerPage > 0 && $issueListSize > $resultsPerPage)
 #set ($paginated = "true")
 #set ($queryResults = $scarabR.getPaginatedList($queryResults, $pageNum, $resultsPerPage))
 #set ($issueListSize = $queryResults.size())
#end

#set ($mitlist = $user.CurrentMITList)
## do not show assign buttons if the list is greater than 10
## Or if this is a cross module or cross issue type search
#set ($showAssignButtons = $issueListSize <= 10 && !$mitlist)
#if ($issueListSize == 0)
<h3>
#if ($mitlist)
  $page.Title  
#else
  $page.Title for $scarabR.CurrentRModuleIssueType.DisplayName
#end
</h3>
  <p class="alert">There are no matching issues.</p>
#else
<form action="$link.setPage("IssueList.vm").setAction("Search")" method="post">
<input type="hidden" name="pageNum" value="$pageNum" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="IssueList.vm" />

#set ($queryString = $data.Parameters.getString("queryString"))
#if ($queryString)
  <input type="hidden" name="queryString" value="$queryString" />
#end

#if ($queryString && $searchType.equals("advanced"))
<div class="functnbar">
<input type="submit" value="$l10n.SaveQuery" name="eventSubmit_doRedirecttosavequery" />&#160;
<input type="submit" value="$l10n.RefineQuery" name="eventSubmit_doRefinequery" />
</div>
#end

<h3>
#if ($mitlist)
  $page.Title for the following modules and/or issue types  
#else
  $page.Title for $scarabR.CurrentRModuleIssueType.DisplayName
#end
$l10n.format("IssueListCount", $totalCount)</h3>

#if ($mitlist)
  <div class="colbar">
  #set ($list = $user.CurrentMITList)
  #if ($list.isModifiable())
    #foreach ($item in $list.ExpandedMITListItems)
      <div>$item.Module.Name $item.IssueType.Name</div>
    #end
  #else
    <div>$list.Name</div>
  #end
  </div>
#end

<div class="colbar">
<small>
$link.setPage("ConfigureIssueList.vm").setLabel("Add/remove attributes from view")
</small>
</div>
		
#set ($sortColumn = $data.Parameters.getString("sortColumn",""))
#set ($sortPolarity = $data.Parameters.getString("sortPolarity","asc"))

## PAGINATION
#if( $paginated)
  #paginate ($resultsPerPage $pageNum $sortColumn $sortPolarity)
#end

#macro (prepIssueListPageLink)
 #set ($dummy = $link.setPage("IssueList.vm").setPathInfo("resultsPerPage", "$resultsPerPage").setPathInfo("pageNum", "$pageNum"))
#end

 <table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
  <th width="70">Select</th>
 #if ($mitlist && !$mitlist.isSingleModule())
  <th>$l10n.CapModule</th> 
 #end
 #if ($mitlist && !$mitlist.isSingleIssueType())
  <th>$l10n.IssueType</th> 
 #end
  <th>
     #if (!$sortColumn || $sortColumn.length() == 0)
        #if ($sortPolarity.equals("desc"))
           #prepIssueListPageLink()
           #set ($arrowLink = $link.setPathInfo("sortPolarity", "asc").addPathInfo("sortColumn", ""))
           <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_downarrow_on.gif")" width="13" height="8" alt="sort descending" title="sort descending" border="0" /></a>&#160;
        #else
           #prepIssueListPageLink()
           #set ($arrowLink = $link.setPathInfo("sortPolarity", "desc").addPathInfo("sortColumn", ""))
           <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_uparrow_on.gif")" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" /></a>&#160;
        #end
     $l10n.IssueId
     #else
        #prepIssueListPageLink()
        #set ($sortLink = $link.setPathInfo("sortColumn","").setPathInfo("sortPolarity", $sortPolarity))
        <a href="$sortLink">$l10n.IssueId</a>
     #end
  </th>

#if (!$mitlist)
   #set ($module = $scarabR.CurrentRModuleIssueType.Module)
   #set ($issueType = $scarabR.CurrentRModuleIssueType.IssueType)
#end

## ISSUE ATTRIBUTE VALUES
#set ($rmuas = $scarabR.RModuleUserAttributes)
#foreach ($rmua in $rmuas)
 #set ($userAttribute = $rmua.Attribute)
 #set ($value = $userAttribute.Name)
 #if (!$mitlist)
   #set ($value = $module.getRModuleAttribute($userAttribute, $issueType).DisplayValue)
 #end
 <th>
     #if ($sortColumn.equals($userAttribute.AttributeId.toString()))
        #if ($sortPolarity.equals("desc"))
           #prepIssueListPageLink()
           #set ($arrowLink = $link.setPathInfo("sortPolarity", "asc").setPathInfo("sortColumn", "$userAttribute.AttributeId"))
           <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_downarrow_on.gif")" width="13" height="8" alt="sort descending" title="sort descending" border="0" /></a>&#160;
        #else
           #prepIssueListPageLink()
           #set ($arrowLink = $link.setPathInfo("sortPolarity", "desc").setPathInfo("sortColumn", "$userAttribute.AttributeId"))
           <a href="$arrowLink"><img src="$staticLink.setPath("/images/icon_uparrow_on.gif")" width="13" height="8" alt="sort descending" title="sort descending" border="0" /></a>&#160;
        #end
        $value
     #else
        #prepIssueListPageLink()
        #set ($sortLink = $link.setPathInfo("sortColumn", "$userAttribute.AttributeId").setPathInfo("sortPolarity", "$sortPolarity"))
        <a href="$sortLink">$value</a>
     #end
  </th>
#end
  </tr>

#set ($showModule = $mitlist && !$mitlist.isSingleModule())
#set ($showIssueType = $mitlist && !$mitlist.isSingleIssueType())
#foreach ($result in $queryResults)

 #set ($issueLink = $link.setPage("ViewIssue.vm").setPathInfo("id", $result.UniqueId.toString()))

 ## append some of the neighbor ids, so that we do not always have to rerun
 ## the query to create prev/next links
 #set ($min = $velocityCount - 2)
 #set ($max = $velocityCount + 2)
 #set ($prevNextList = $scarabG.subset($queryResults, $min, $max))
 #set ($dummy = $issueLink.addPathInfo("issueList", $min))
 #set ($dummy = $issueLink.addPathInfo("issueList", $totalCount))
 #foreach ($prevNextQueryResult in $prevNextList)
    #set ($dummy = $issueLink.addPathInfo("issueList", $prevNextQueryResult.UniqueId))
 #end

 #indexedRows($velocityCount)
  <td>
   <input type="hidden" name="all_issue_ids" value="$result.UniqueId" />
   <input type="checkbox" name="issue_ids" value="$result.UniqueId" />
  </td>
 #if ($showModule)
  <td>$result.Module.RealName</td> 
 #end
 #if ($showIssueType)
  <td>$result.RModuleIssueType.DisplayName</td> 
 #end
  <td><a href="$issueLink">$result.UniqueId</a></td>
#foreach ($value in $result.AttributeValuesAsCSV)
  <td>
  #if ($value.length() == 0)
    -------
  #else
    $value
  #end
  </td>
#end
  </tr>
#end
  </table>

<div class="axial">
  <table cellpadding="3" cellspacing="2" border="0">
    <tr>
       <th>$l10n.MaxPerPage</td>
 <td>
     #resultsPerPageRadioSelect($resultsPerPage)
     <input type="submit" name="eventSubmit_doRefresh" value="$l10n.Refresh" />
 </td>
   </tr>
  </table>
</div>

<div class="functnbar3">
#if ($showAssignButtons)
   <input type="submit" value="$l10n.Assign" name="eventSubmit_doReassignselected" />&#160;
#end
<input type="submit" value="$l10n.ViewVerbose"  name="eventSubmit_doViewselected" />&#160;
<small>selected</small>&#160;&#160;<img src="$staticLink.setPath("/images/seperator.gif")" width="2" height="15" alt="" border="0" align="middle" />&#160;&#160;
#if ($showAssignButtons)
  <input type="submit" value="$l10n.Assign" name="eventSubmit_doReassignall" />&#160;
#end
<input type="submit" value="$l10n.ViewVerbose" name="eventSubmit_doViewall" />&#160;
<small>all</small>
</div>
        
#if ($paginated)
  #paginate ($resultsPerPage $pageNum $sortColumn $sortPolarity)
#end

#end

#if ($queryString && $searchType.equals("advanced"))
<div class="functnbar2">
<input type="submit" value="$l10n.SaveQuery" name="eventSubmit_doRedirecttosavequery" />&#160;
<input type="submit" value="$l10n.RefineQuery" name="eventSubmit_doRefinequery" />
</div>
#end

</form>
</div>
