$page.setTitle("Queue list")

<div class="app" id="issuelist">

<h2>$page.Title</h2>

#set ($action = $link.setPage("IssueList.vm").setAction("Search").toString())
#set ($user = $data.User)
#set ($module = $scarabR.CurrentModule)
#set ($search = $scarabR.Search)
#set ($searchGroup = $intake.SearchIssue.mapTo($search))
#set ($searchType = $data.Parameters.getString("searchType"))
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage"))
#set ($pageNum = $data.Parameters.getInt("pageNum"))
#set ($issueList = $scarabR.IssueList)


#if ($issueList.size() == 0)
  <p class="alert">There are no matching issues.</p>
#else

#if ($resultsPerPage == 0)
  #set ($resultsPerPage = 25)
#end

#if ($issueList.size() > $resultsPerPage)
 #set ($paginated = "true")
 #set ($issueList = $scarabR.getPaginatedList($issueList, $pageNum, $resultsPerPage))
#end
<form action="$action" method="post">
<input type="hidden" name="pageNum" value="$pageNum" />
<input type="hidden" name="$scarabG.Constant.CURRENT_QUERY" value="$queryString" />

## PAGINATION
#if( $paginated)
 <p class="paginate">
 #if($scarabR.PrevPage != 0)
  #set ($prevLink = $link.setPathInfo("resultsperpage", "$resultsPerPage").setPathInfo("pageNum", "$scarabR.PrevPage").setPage("IssueList.vm").toString())
  <a href="$prevLink">&laquo;</a> previous |
 #end
 $pageNum of $scarabR.NbrPages
 #if ($scarabR.NextPage != 0)
  #set ($nextLink = $link.setPathInfo("resultsperpage", "$resultsPerPage").setPathInfo("pageNum", "$scarabR.NextPage").setPage("IssueList.vm").toString())
  | <a href="$nextLink">&raquo;</a> next
 #end
 </p>
#end

<div class="functnbar">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
#if ($searchType.equals("advanced"))
 <div>Save</div>
 <input type="submit" value="query" name="eventSubmit_doRedirecttosavequery" />
 </td>
 
 <td>
#end
  <div>Verbose view</div>
  <input type="submit" value="Selected"  name="eventSubmit_doViewselected" name="eventSubmit_doViewselected" />&#160;
  <input type="submit" value="All" name="eventSubmit_doViewall" />
 </td>
 <td>
 <div>Reassign</div>
  <input type="submit" value="Selected" name="eventSubmit_doReassignselected" />&#160;
  <input type="submit" value="All" name="eventSubmit_doReassignall" />
 </td>

#if ($searchType.equals("advanced"))
  <td>
  <div>Refine query</div>
  <input type="submit" value="go" name="eventSubmit_doRefinequery" />
  </td>
#end
 </tr>
 </table>
</div>

<h3>Search results</h3>

<p>(<a href="$link.setPage("ConfigureIssueList.vm")">Add/remove attributes from view</a>)</p>

 <table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
  <th>
   <img src="$data.Request.ContextPath/images/icon_uparrow.gif" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" />
   <img src="$data.Request.ContextPath/images/icon_downarrow.gif" width="13" height="8" alt="sort descending" title="sort descending" border="0" />
  </th>

  <th>Issue ID</th>
#set ($rmuas = $user.getRModuleUserAttributes($module, $scarabR.CurrentIssueType))
#if ($rmuas.isEmpty())
 #set ($rmuas = $module.getDefaultRModuleUserAttributes($scarabR.CurrentIssueType))
#end

#foreach ($rmua in $rmuas)
 #set ($userAttribute = $rmua.Attribute)
 <th>$userAttribute.Name</th>
#end
  </tr>

#foreach ($issue in $issueList)
 #set ($issueLink = $link.setPage("ViewIssue.vm").setPathInfo("id", $issue.IssueId.toString()))
 #indexedRows($velocityCount)
  <td><input type="checkbox" name="selected_$issue.IssueId" /></td>
  <td><a href="$issueLink">$issue.UniqueId</a></td>
#foreach ($rmua in $rmuas)
 #set ($userAttribute = $rmua.Attribute)
  <td>
  #set ($value = "")
  #set ($value = $issue.ModuleAttributeValuesMap.get($userAttribute.Name.toString().toUpperCase()).Value)
  #if (!$value.equals(""))
   $value
  #else
    Not set
  #end
  </td>
#end
  </tr>
#end
  </table>

<p class="paginate">
 issues per page:&#160;
 <input type="radio" value="25" name="resultsPerPage" #if( $resultsPerPage == 25 ) checked="checked" #end /> 25
 <input type="radio" name="resultsPerPage" value="50" #if( $resultsPerPage == 50 ) checked="checked" #end /> 50
 <input type="radio" name="resultsPerPage" value="75" #if( $resultsPerPage == 75 ) checked="checked" #end /> 75
 <input type="radio" name="resultsPerPage" value="100" #if( $resultsPerPage == 100 ) checked="checked" #end /> 100
 <input type="submit" name="eventSubmit_doSearch" value="Refresh" />
</p>

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
#if ($searchType.equals("advanced"))
 <div>Save</div>
 <input type="submit" value="query" name="eventSubmit_doRedirecttosavequery" />
  </td>
  <td>
#end
  <div>Verbose view</div>
  <input type="submit" value="Selected"  name="eventSubmit_doViewselected" name="eventSubmit_doViewselected" />&#160;
  <input type="submit" value="All" name="eventSubmit_doViewall" />
  </td>
  <td>
  <div>Reassign</div> 
  <input type="submit" value="Selected" name="eventSubmit_doReassignselected" />&#160;
  <input type="submit" value="All" name="eventSubmit_doReassignall" />
  </td>
#if ($searchType.equals("advanced"))
  <td>
  <div>Refine query</div>

#if ($paginated)
 <p class="paginate">
 #if ($scarabR.PrevPage != 0)
  #set ($prevLink = $link.setPage("IssueList.vm").setPathInfo("resultsperpage", "$resultsPerPage").setPathInfo("pageNum", "$scarabR.PrevPage").toString())
  <a href="$prevLink">&laquo;</a> previous |
 #end
 $pageNum of $scarabR.NbrPages
 #if ($scarabR.NextPage != 0)
  #set ($nextLink = $link.setPage("IssueList.vm").setPathInfo("resultsperpage", "$resultsPerPage").setPathInfo("pageNum", "$scarabR.NextPage").toString())
  | <a href="$nextLink">&raquo;</a> next
 #end
#end
 </p>
  </td>
#end
  </tr>
</table>
</div>

$intake.declareGroups()
</form>
</div>
#end
