#set ( $action = $link.setPage("IssueList.vm").setAction("Search") )
#set ($user = $scarabR.User)
#set ($module = $user.CurrentModule)
#set($search = $scarabR.Search)
#set ( $searchGroup = $intake.SearchIssue.mapTo($search) ) 

	<h3>Search Results</h3>
	
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</p>
	
<form name="IssueListForm" action="$action" method="post">
<input type="hidden" name="queryString" value="$queryString">
      <div class="functnbar">
       <table width="100%" cellpadding="3" cellspacing="2" border="1">
        <tr>
         <td><input type="submit" name="eventSubmit_doEditissues" value="bulk edit selected issues" class="buttonfunc" />&#160;<input type="submit" value="bulk reassign" class="buttonfunc" />&#160;<input type="submit" value="save query" class="buttonfunc" name="eventSubmit_doSavequery"/></td>
        </tr>
       </table>
      </div>
	
<P>

	<div class="misc"><a href="#">&laquo;</a> <a href="#">previous</a> | 3 of 5 | <a href="#">next</a> <a href="#">&raquo;</a> (<a href="ConfigureIssueList.vm">add/remove attributes from view</a>)</div>


	<div class="datatable">
		<table width="100%" border="1" cellspacing="2" cellpadding="3">
		<tr>
		<th nowrap="nowrap"><a href="#"><img src="scarab/images/icon_uparrow.gif" width="13" height="8" alt="sort" border="0" /></a><a href="#"><img src="scarab/images/icon_downarrow.gif" width="13" height="8" alt="sort" border="0" /></a></th>
		<th><a href="#" class="header" title="sort">issue ID:</a></th>
#foreach( $userAttribute in $user.getAttributesForIssueList($module))
		<th><a href="#" class="header" title="sort">$userAttribute.Name:</a></th>
#end
		</tr>
		
#set( $issueList = $user.getTemp("issueList") )
#foreach ($issue in $issueList)

    #set ( $issueLink = $link.addPathInfo($data.Parameters).setPathInfo("id", $issue.IssueId.toString()).setPage("ViewIssue.vm").toString() )
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end
		<td><input type="checkbox" /></td>
		<td><a href="$issueLink">$issue.UniqueId</a></td>
#foreach( $userAttribute in $user.getAttributesForIssueList($module))
    <td><a href="$issueLink">$issue.ModuleAttributeValuesMap.get($userAttribute.Name.toString().toUpperCase()).Value</a></td>
#end
		</tr>
		
#end
		</table>
	</div>
	<div class="misc">issues per page:&#160; <input type="radio" name="issue_limit" value="25"/> 25 <input type="radio" name="issue_limit" value="50"/> 50 <input type="radio" name="issue_limit" value="50"/> 75 <input type="radio" name="issue_limit" value="100"/> 100&nbsp; <input type="submit" name="eventSubmit_doSearch" value="Refresh"></div>
	<div class="functnbar">
		<table width="100%" cellpadding="3" cellspacing="2" border="1">
		<tr>
		<td><input type="submit" value="bulk edit selected issues" class="button" name="eventSubmit_doEditissues"/>&nbsp;<input type="submit" value="bulk reassign" class="button" /></td>
		</tr>
		</table>
	</div>
$intake.declareGroups()
</form>
