#set ( $action = $link.setPage("IssueView.vm").setAction("ModifyIssue").addPathInfo("nextTemplate", "Links.vm") )
#set ( $currentIssueId = $data.Parameters.getString("id") )
#set ( $currentIssue = $scarabR.getIssue($currentIssueId) )
#if ($currentIssue)
    #set ($attrValues = $currentIssue.AllAttributeValuesMap)

<form name="IssueForm" method="post" action="$action" >

#set($attVal =  $attrValues.get("DESCRIPTION"))
#set ( $attrInput = $intake.AttributeValue.mapTo($attVal) ) 
 
      <p> $attrInput.Value </p>

      <div class="functnbar">
       <table width="100%" cellpadding="3" cellspacing="2" border="1">
        <tr>
         <td><input type="submit" value="previous" class="buttonfunc" />&#160;<input type="submit" value="next" class="buttonfunc" />&#160;issues | 3 of 5</td>
        </tr>
       </table>
      </div>

      <div class="grouper">
       <div class="datatitle">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <td>Issue ID #$currentIssue.UniqueId</td>
         </tr>
        </table>
       </div>

       <div class="listtable">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <td width="120" class="a"><strong>issue id #:</strong></td>

          <td class="b">#$currentIssue.UniqueId</td>
         </tr>
#foreach ( $attKey in $attrValues )
  #set ( $attVal = $attrValues.get($attKey.toString().toUpperCase()) )
  #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) ) 


  #if ( $attVal.Attribute.AttributeType.ValidationKey )
        #set ( $field = $attVal.Attribute.AttributeType.ValidationKey )
  #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )
        #set ( $field = "OptionId" )
  #else
        #set ( $field = "Value" )  
  #end

  #if ($attVal.Value && !$attVal.Attribute.Name.equals("Description") )
         <tr>
          <td width="120" class="a">
             <strong>$attVal.Attribute.Name:</strong>
          </td> 
          <td class="b">

    #if ($attVal.Attribute.AttributeType.AttributeClass.Name == "user")
       #userSelectBox ($attVal "")
    #elseif ($attVal.Attribute.AttributeType.Name == "combo-box" )
          #attrValueLeafSelect ($attVal $field "")
    #else

        #if ($attVal.Attribute.AttributeType.Name == "long-string" )        

            <textarea name="$attrInput.Value.Key" cols="40" 
               rows="5">$!attrInput.Value</textarea>
        #else

           <input name= "$attrInput.Value.Key"
                value="$!attrInput.Value" size="20" type="text">

        #end
    #end
          </td>
         </tr>
  #end
#end

         <tr>
          <td width="120" class="a"><strong>assignee(s):</strong></td>
          <td>
           #foreach( $user in $currentIssue.AssignedTo)
            #set ( $comma = "" )
            <td class="b">
            ${comma}${user}
            #set ( $comma = "," )
           #end
           </td>
         </tr>
         <tr>
           <td>
           <input type="submit" value="edit assignees" class="button" /></td>
           <td></td>
         </tr>
        </table>
       </div>
      </div>


## URLS
      <div class="grouper">
       <div class="datatitle">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <td>Related Links</td>
         </tr>
        </table>
       </div>

       <div class="datatable">
        <table width="100%" border="1" cellspacing="2" cellpadding="3">
         <tr>
          <th><a href="#"><img src="./images/icon_uparrow.gif" width="13" height="8" alt="sort" border="0" /></a><a href="#"><img src="./images/icon_downarrow.gif" width="13" height="8" alt="sort" border="0" /></a></th>

          <th><a href="#">URL:</a></th>

          <th><a href="#">description:</a></th>
         </tr>

    #foreach($url in $currentIssue.Url)
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end
          <td><input type="checkbox" /></td>

          <td><input type="text" size="25" class="text" value="$url.DataAsString" /></td>

          <td><input type="text" size="25" class="text" value="$url.Name" /></td>
         </tr>
    #end

        </table>
       </div>

       <p><input type="submit" value="add url" class="button" />&#160;<input type="submit" value="delete url" class="button" /></p>
      </div>

## PARENT ISSUES
#if (!$currentIssue.Parents.isEmpty() )

      <div class="grouper">
       <div class="datatitle">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <td>Parent Issues</td>
         </tr>
        </table>
       </div>

       <div class="datatable">
        <table width="100%" border="1" cellspacing="2" cellpadding="3">
         <tr>
          <th><a href="#"><img src="./images/icon_uparrow.gif" width="13" height="8" alt="sort" border="0" /></a><a href="#"><img src="./images/icon_downarrow.gif" width="13" height="8" alt="sort" border="0" /></a></th>

          <th><a href="#">issue id#:</a></th>

          <th><a href="#">issue summary:</a></th>

          <th><a href="#">dependency type:</a></th>
         </tr>

       #foreach( $parent in $currentIssue.Parents )
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end
          <td><input type="checkbox" /></td>

          <td><a href="IssueView.vm?id=$parent.IssueId">$parent.IssueId</a></td>

          <td><a href="IssueView.vm?id=$parent.IssueId">
             #set ($parentAttrValues = $parent.AllAttributeValuesMap)
             #set($attVal =  $parentAttrValues.get("SUMMARY"))
             #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
           $attVal.Value</a></td>

          <td>
        <select name="parent_depend_type_id" class="select">
            #foreach ($dependType in $currentIssue.getAllDependencyTypes())
              #set ( $selected = "" )
              #if ( $parent.getDependencyType($currentIssue).equals($dependType.DependTypeId.toString()))
                #set ( $selected = " selected" )
              #end
              <option$selected value="$dependType.DependTypeId">
                  $dependType.Name</option>
            #end
        </select>
          </td>
         </tr>
       #end

        </table>

       <p><input type="submit" value="edit child issue" class="button" />&#160;<input type="submit" value="add child issue" class="button" /></p>
       </div>
      </div>
#end


## CHILD ISSUES
#if (!$currentIssue.Children.isEmpty() )
      <div class="grouper">
       <div class="datatitle">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <td>Child Issues</td>
         </tr>
        </table>
       </div>

       <div class="datatable">
        <table width="100%" border="1" cellspacing="2" cellpadding="3">
         <tr>
          <th><a href="#"><img src="./images/icon_uparrow.gif" width="13" height="8" alt="sort" border="0" /></a><a href="#"><img src="./images/icon_downarrow.gif" width="13" height="8" alt="sort" border="0" /></a></th>

          <th><a href="#">issue id#:</a></th>

          <th><a href="#">issue summary:</a></th>

          <th><a href="#">dependency type:</a></th>
         </tr>

       #foreach( $child in $currentIssue.Children )
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end
          <td><input type="checkbox" /></td>

          <td><a href="IssueView.vm?id=$child.IssueId">$child.IssueId</a></td>

          <td><a href="IssueView.vm?id=$child.IssueId">
             #set ($childAttrValues = $child.AllAttributeValuesMap)
             #set($attVal =  $childAttrValues.get("SUMMARY"))
             #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )
           $attVal.Value</a></td>

          <td>
        <select name="child_depend_type_id" class="select">
            #foreach ($dependType in $currentIssue.getAllDependencyTypes())
              #set ( $selected = "" )
              #if ( $currentIssue.getDependencyType($child).equals($dependType.DependTypeId.toString()))
                #set ( $selected = " selected" )
              #end
              <option$selected value="$dependType.DependTypeId">
                  $dependType.Name</option>
            #end
        </select>
          </td>
         </tr>
       #end

        </table>

       <p><input type="submit" value="edit child issue" class="button" />&#160;<input type="submit" value="add child issue" class="button" /></p>
       </div>
      </div>
#end

## COMMENTS
      <div class="grouper">
       <div class="datatitle">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <td>Comments <a href="#">hide section</a></td>
         </tr>
        </table>
       </div>
       <div class="listtable">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
    #foreach($comment in $currentIssue.Comments)
         <tr>
          <td width="120" class="a">
           #if( $comment.ModifiedBy && $commentModifiedDate)
            #set ( $email = $comment.ScarabUserRelatedByModifiedBy.Email )
            <strong>$comment.ModifiedDate <a href="mailto:$email">$email</a></strong></td>
           #end
          </td>

          <td class="b"><textarea rows="2" cols="35" class="text">
          $comment.DataAsString
          </textarea></td>
         </tr>
    #end

         <tr>
          <td width="120" class="a"><strong>add comment:</strong></td>

          <td class="b">
           <textarea rows="2" cols="35" class="text">
           </textarea>

           <p><input type="submit" value="submit comment" name="eventSubmit_doAddcomment" class="button" /></p>
          </td>
         </tr>
        </table>
       </div>
      </div>


## ISSUE HISTORY
      <div class="grouper">
       <div class="datatitle">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <td>Issue History (up to first ten)</td>
         </tr>
        </table>
       </div>

       <div class="datatable">
        <table width="100%" cellpadding="3" cellspacing="2" border="1">
         <tr>
          <th width="120"><strong>date stamp:</strong></th>

          <th><strong>action:</strong></th>

          <th><strong>note:</strong></th>
         </tr>

       #foreach( $activity in $currentIssue.Activity )
         #if( $velocityCount % 2 > 0 )
            <tr class="a">
         #else 
            <tr class="b">
         #end
          <td width="120">
            #if( $activity.Transaction)
              $activity.Transaction.CreatedDate
            #end
          </td>

          <td width="120">changed $activity.Attribute.Name from $activity.OldAttributeOption.Name to $activity.NewAttributeOption.Name</td>

          <td>$activity.Attachment.DataAsString</td>
         </tr>
       #end

        </table>
       </div>
      </div>

      <p><a href="#">view complete history</a></p>

      <p><input type="submit" value="submit append" class="button" />&#160;<input type="submit" value="cancel" class="button" />&#160;<input type="reset" value="reset" class="button" /></p>

      <div class="grouper">
        <div class="functnbar">
           <table width="100%" cellpadding="3" cellspacing="2" border="1">
            <tr>
             <td><input type="submit" value="previous" class="buttonfunc" />&#160;<input type="submit" value="next" class="buttonfunc" />&#160;issues | 3 of 5</td>
            </tr>
           </table>
       </div>
      </div>
</form>

#else     ## issue id was not valid

    #if ($currentIssueId)

        The issue id, $currentIssueId, is not valid.

    #else
    
        You need to enter an issue id.

    #end

#end
