$page.setTitle("Scarab Links")

<div class="app" id="links">

<h2>$l10n.SCARAB_LINKS</h2>

<h3>Site Pages</h3>
<ul>
<li><a href="$link.setPage("Index.vm")">Index.vm</a></li>
<li><a href="$link.setPage("Register.vm")">Register.vm</a></li>
<li><a href="$link.setPage("Login.vm")">Login.vm</a></li>
<li><a href="$link.setPage("IssueList.vm")">IssueList.vm</a></li>
<li><a href="$link.setPage("Search.vm")">Custom Query</a></li>
<li><a href="$link.setPage("AdvancedQuery.vm")">Advanced Query</a></li>
<li><a href="$link.setPage("entry,Wizard1.vm")">Enter Issue</a></li>
<li><a href="$link.setPage("entry,Wizard3.vm")">Enter Issue (one-step)</a></li>
<li><a href="$link.setPage("ConfigureIssueList.vm").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE", "Links.vm")">Configure Issue List</a></li>
<li><a href="$link.setPage("MoveIssue.vm").addPathInfo("id",1)">Move/Copy Issue?id=1</a></li>
<li><a href="$link.setPage("QueryList.vm")">Stored Query List</a></li>
<li><a href="$link.setPage("SaveTemplate.vm")">Create Enter Issue Template</a></li>
<li><a href="$link.setPage("TemplateList.vm")">Enter Issue Template List</a></li>
<li><a href="$link.setPage("reports,Step1.vm")">Reports</a></li>
<li><a href="$link.setPage("Approval.vm")">Approval.vm</a></li>
<li><a href="$link.setPage("ViewIssue.vm").addPathInfo("id", 1)">ViewIssue.vm?id=1</a></li>
</ul>

<h3>Admin Pages</h3>
<ul>
<li>
 <a href="$link.setPage("admin,GlobalArtifactTypeShow.vm")">admin,GlobalArtifactTypeShow.vm</a>
</li>
<li>
 <a href="$link.setPage("admin,GlobalAttributeShow.vm")">admin,GlobalAttributeShow.vm</a>
</li>
<li>
 <a href="$link.setPage("admin,ManageArtifactTypes.vm")">admin,ManageArtifactTypes.vm</a>
</li>
<li>
 <a href="$link.setPage("admin,ManageModules.vm")">admin,ManageModules.vm</a>
</li>
<li>
 <a href="$link.setPage("FluxIndex.vm")">Flux</a>
</li>
</ul>

<h3>Documentation</h3>
<ul>
<li>
 <a href="http://scarab.whichever.com/api/">Javadoc API Documentation</a>
</li>
</ul>
</div>
