$page.setTitle("Scarab Links")

<div class="app" id="links">

<h2>$l10n.SCARAB_LINKS</h2>

<h3>Site Pages</h3>
<ul>
<li>$link.setPage("Index.vm").setLabel("Index.vm")</li>
<li>$link.setPage("Register.vm").setLabel("Register.vm")</li>
<li>$link.setPage("Login.vm").setLabel("Login.vm")</li>
<li>$link.setPage("ChangePassword.vm").setLabel("ChangePassword.vm")</li>
<li>$link.setPage("IssueList.vm").setLabel("IssueList.vm")</li>
<li>$link.setPage("Search.vm").setLabel("Custom Query")</li>
<li>$link.setPage("AdvancedQuery.vm").setLabel("Advanced Query")</li>
<li>$link.setPage("entry,Wizard1.vm").setLabel("Enter Issue")</li>
<li>$link.setPage("entry,Wizard3.vm").setLabel("Enter Issue (one-step)")</li>
<li>$link.setPage("ConfigureIssueList.vm").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE", "Links.vm").setLabel("Configure Issue List")</li>
<li>$link.setPage("MoveIssue.vm").addPathInfo("id",1).setLabel("Move/Copy Issue?id=1")</li>
<li>$link.setPage("QueryList.vm").setLabel("Stored Query List")</li>
<li>$link.setPage("SaveTemplate.vm").setLabel("Create Enter Issue Template")</li>
<li>$link.setPage("TemplateList.vm").setLabel("Enter Issue Template List")</li>
<li>$link.setPage("reports,Step1.vm").setLabel("Reports")</li>
<li>$link.setPage("admin,Approval.vm").setLabel("Approval.vm")</li>
<li>$link.setPage("ViewIssue.vm").addPathInfo("id", 1).setLabel("ViewIssue.vm?id=1")</li>
</ul>

<h3>Admin Pages</h3>
<ul>
<li>
 $link.setPage("admin,GlobalArtifactTypeShow.vm").setLabel("admin,GlobalArtifactTypeShow.vm")
</li>
<li>
 $link.setPage("admin,GlobalAttributeShow.vm").setLabel("admin,GlobalAttributeShow.vm")
</li>
<li>
 $link.setPage("admin,ManageArtifactTypes.vm").setLabel("admin,ManageArtifactTypes.vm")
</li>
<li>
 $link.setPage("admin,ManageModules.vm").setLabel("admin,ManageModules.vm")
</li>
<li>
 $link.setPage("admin,XMLExportSelect.vm").setLabel("admin,XMLExportSelect.vm")
</li>
<li>
 $link.setPage("admin,AdminIndex.vm").setLabel("New Administrator Piece Index") (replacement for Flux)
</li>
</ul>

<h3>Documentation</h3>
<ul>
<li>
 <a href="http://scarab.whichever.com/api/">Javadoc API Documentation</a>
</li>
</ul>
</div>
