<div class="app" id="links">

<h2>$page.Title</h2>

<h3>Site Pages</h3>
<ul>
<li>$link.setPage("Index.vm").setLabel("Index.vm").setAlternateText("Index.vm (Access denied)")</li>
<li>$link.setPage("Register.vm").setLabel("Register.vm").setAlternateText("Register.vm (Access denied)")</li>
<li>$link.setPage("Login.vm").setLabel("Login.vm").setAlternateText("Login.vm (Access denied)")</li>
<li>$link.setPage("ChangePassword.vm").setLabel("ChangePassword.vm").setAlternateText("ChangePassword.vm (Access denied)")</li>
<li>$link.setPage("IssueList.vm").setLabel("IssueList.vm").setAlternateText("IssueList.vm (Access denied)")</li>
<li>$link.setPage("Search.vm").setLabel("Custom Query").setAlternateText("Custom Query (Access denied)")</li>
<li>$link.setPage("AdvancedQuery.vm").setLabel("Advanced Query").setAlternateText("Advanced Query (Access denied)")</li>
<li>$link.setPage("entry,Wizard1.vm").setLabel("Enter Issue").setAlternateText("Enter Issue (Access denied)")</li>
<li>$link.setPage("entry,Wizard3.vm").setLabel("Enter Issue (one-step)").setAlternateText("Enter Issue (one-step) (Access denied)")</li>
<li>$link.setPage("ConfigureIssueList.vm").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE", "Links.vm").setLabel("Configure Issue List").setAlternateText("Configure Issue List (Access denied)")</li>
<li>$link.setPage("MoveIssue.vm").addPathInfo("id",1).setLabel("Move/Copy Issue?id=1").setAlternateText("Move/Copy Issue?id=1 (Access denied)")</li>
<li>$link.setPage("QueryList.vm").setLabel("Stored Query List").setAlternateText("Stored Query List (Access denied)")</li>
<li>$link.setPage("SaveTemplate.vm").setLabel("Create Enter Issue Template").setAlternateText("Create Enter Issue Template (Access denied)")</li>
<li>$link.setPage("TemplateList.vm").setLabel("Enter Issue Template List").setAlternateText("Enter Issue Template List (Access denied)")</li>
<li>$link.setPage("reports,Step1.vm").setLabel("Reports").setAlternateText("Reports (Access denied)")</li>
<li>$link.setPage("admin,Approval.vm").setLabel("Approval.vm").setAlternateText("Approval.vm (Access denied)")</li>
<li>$link.setPage("ViewIssue.vm").addPathInfo("id", 1).setLabel("ViewIssue.vm?id=1").setAlternateText("ViewIssue.vm?id=1 (Access denied)")</li>
</ul>

<h3>Admin Pages</h3>
<ul>
<li>
 $link.setPage("admin,GlobalArtifactTypeShow.vm").setLabel("admin,GlobalArtifactTypeShow.vm").setAlternateText("admin,GlobalArtifactTypeShow.vm (Access denied)")
</li>
<li>
 $link.setPage("admin,GlobalAttributeShow.vm").setLabel("admin,GlobalAttributeShow.vm").setAlternateText("admin,GlobalAttributeShow.vm (Access denied)")
</li>
<li>
 $link.setPage("admin,ManageArtifactTypes.vm").setLabel("admin,ManageArtifactTypes.vm").setAlternateText("admin,ManageArtifactTypes.vm (Access denied)")
</li>
<li>
 $link.setPage("admin,ManageModules.vm").setLabel("admin,ManageModules.vm").setAlternateText("admin,ManageModules.vm (Access denied)")
</li>
<li>
 $link.setPage("admin,XMLExportSelect.vm").setLabel("admin,XMLExportSelect.vm").setAlternateText("admin,XMLExportSelect.vm (Access denied)")
</li>
<li>
 $link.setPage("admin,AdminIndex.vm").setLabel("New Administrator Piece Index").setAlternateText("New Administrator Piece Index (Access denied)") (replacement for Flux)
</li>
</ul>

<h3>Documentation</h3>
<ul>
<li>
 <a href="http://scarab.whichever.com/api/">Javadoc API Documentation</a>
</li>
</ul>
</div>
