$page.setTitle("Copy/move issue")
<div class="app" id="moveissue2">

<h2>$page.Title</h2>

#set ($moveIssueGroup = $intake.MoveIssue.Default)
#set ($issueId = $moveIssueGroup.IssueId)
#set ($issue = $scarabR.getIssue("$issueId"))

#if (!$issueId || $issueId.length() == 0 || !$issue)

<h3>Error</h3>
<p><strong class="alert">Sorry, the requested issue could not be found.</strong></p>

#else

#if ($selectAction.equals("move"))
 #set ($actionText = "Move")
#else
 #set ($actionText = "Copy")
#end

#set ($selectAction = $moveIssueGroup.Action)
#set ($moduleId = $moveIssueGroup.ModuleId)
#set ($module = $scarabR.CurrentModule)

#set ($matchingAttributes = $issue.getMatchingAttributeValuesList("$moduleId"))
#set ($orphanAttributes = $issue.getOrphanAttributeValuesList("$moduleId"))

<form method="post" action="$link.setPage("MoveIssue2.vm").setAction("MoveIssue")">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="Index.vm" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="MoveIssue.vm" />
<input type="hidden" name="id" value="$issueId" />
<input type="hidden" name="$moveIssueGroup.IssueId.key" value="$issueId" />
<input type="hidden" name="$moveIssueGroup.ModuleId.key" value="$moduleId" />

<div class="functnbar">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
  <input type="submit" value="Back" name="eventSubmit_doBacktoone" />&#160; 
  <input type="submit" value="$actionText Issue" name="eventSubmit_doSaveissue" />
  </td>
 </tr>
</table>
</div>

#set ($attrValues = $issue.AllAttributeValuesMap)
#set ($attVal = $attrValues.get("SUMMARY"))
#set ($attrInput = $intake.AttributeValue.mapTo($attVal))

<h3>Issue to be copied/moved</h3>
<table width="100%" border="1" cellspacing="2" cellpadding="3">
 <tr>
#if ($attVal)
  <th>Summary</th>
#end
  <th>Date committed</th>
  <th>Committed by</th>
 </tr>
 <tr class="a">
#if ($attVal)
  <td>
   $attVal.Value
  </td>
#end
  <td>$format.getDate($scarabG.DateFormat, $issue.CreatedDate)</td>
  <td>
   #set ($createdUser = $issue.CreatedBy)
   <a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a>
  </td>
 </tr>
</table>

<h3>Source module</h3>
<p>
$issue.Module.Name
</p>

<h3>Destination module</h3>
<p>
 #set($newModule = $scarabR.getModule("$moduleId"))
 $newModule.Name
</p>

<h3>Action</h3>

#set ($userAction = "$moveIssueGroup.Action")
<p>
<input type="radio" name="$moveIssueGroup.Action.Key" value="copy" 
#checked($userAction.toString() 'copy') /> Copy
<input type="radio" name="$moveIssueGroup.Action.Key" value="move" 
#checked($userAction.toString() 'move') /> Move
</p>

<h3>Attribute mapping results</h3>
<div class="sidebyside">
<table border="1" cellspacing="2" cellpadding="3" width="100%">
 <tr>
  <th>Attributes from issue to be copied/moved</th>
  <th>Matching attributes in destination module</th>
 </tr>
 <tr>
  <td>
  <div class="datatablechild">
   <table width="100%" border="1" cellspacing="2" cellpadding="3">
    <tr>
     <th>Attribute name (alias)</th>
     <th>Value (list option/content)</th>
    </tr>
    #foreach ($attr in $matchingAttributes)
     #indexedRows($velocityCount)
     <td>$attr.Attribute.Name
      #set ($displayValue = $module.getRModuleAttribute($attr.Attribute, $scarabR.CurrentIssueType).getDisplayValue())
      #if (!$attr.Attribute.Name.equals($displayValue))
       ($displayValue)
      #end
     </td>
     <td>$attr.Value</td>
    </tr>
    #end
   </table>
  </div>
 </td>
 <td>
 <div class="datatablechild">
  <table width="100%" border="1" cellspacing="2" cellpadding="3">
   <tr>
    <th>Attribute name (alias)</th>
    <th>Value (list option/content)</th>
   </tr>
   #foreach ($attr in $matchingAttributes)
    #indexedRows($velocityCount)
    <td>$attr.Attribute.Name
     #set ($displayValue = $newModule.getRModuleAttribute($attr.Attribute, $scarabR.CurrentIssueType).getDisplayValue())
     #if (!$attr.Attribute.Name.equals($displayValue))
      ($displayValue)
     #end
    </td>
    <td>$attr.Value</td>
   #end
   </tr>
  </table>
 </div>
 </td>
 </tr>
</table>
</div>

#if (!$orphanAttributes.isEmpty())
 <h3>Attributes that do not exist in destination Module (saved as comment)</h3>
 <table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
   <th>Include</th>
   <th>Attribute name</th>
   <th>Option name</th>
  </tr>
  #foreach($attr in $orphanAttributes)
   #indexedRows($velocityCount)
   <td><input type="checkbox" name="x" value="x" checked="checked" /></td>
   <td><input type="text" name="x" value="$attr.Attribute.Name" /></td>
   <td><input type="text" name="x" value="$attr.Value" /></td>
  </tr>
  #end
 </table>
#end

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
  <input type="submit" value="Back" name="eventSubmit_doBacktoone" />&#160; 
  <input type="submit" value="$actionText Issue" name="eventSubmit_doSaveissue" />
  </td>
 </tr>
</table>
</div>

$intake.declareGroups()
</form>

#end
</div>
