<form method="post" name="QueryResultsForm" action="">
<input type="hidden" name="action" value="QueryResults">

  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
<!-- top nav bar -->
        <table border="0" cellpadding="2" cellspacing="0">
          <tr>
            <td nowrap class="NavHeader">SCARAB:</span></td>
            <td nowrap class="NavHeader"><a href="/">My Bugs</a></span></td>
            <td nowrap class="NavHeader">|</span></td>
            <td nowrap class="NavHeader"><a href="/">Report</a></span></td>
            <td nowrap class="NavHeader">|</span></td>
            <td nowrap class="NavHeader"><a href="/">Browse</a></span></td>
            <td nowrap class="NavHeader">|</span></td>
            <td nowrap class="NavHeader"><a href="/">Assign (8)</a>&nbsp;</span></td>
            <td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</span></td>
            <td nowrap class="NavHeaderOn" bgcolor="#cccccc"><a href="query.html">Search</a></td>
            <td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</span></td>
            <td nowrap class="NavHeader">&nbsp;<a href="/">Admin</a></span></td>
            <td nowrap class="NavHeader">|</span></td>
            <td class="NavHeader"><a href="/">Help</a></span></td>
            <td class="NavHeader">|</span></td>
            <td class="NavHeader"><a href="/">Prefs</a></span></td>
            <td class="NavHeader">|</span></td>
            <td nowrap class="NavHeader"><a href="/">Log Out</a></span></td>
          </tr>
        </table>
<!-- end top nav bar -->
      </td>
    </tr>
    <tr>
      <td height="1" bgcolor="#000000"></td>
    </tr>
</table>
<p>
<!-- current project and login -->
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td bgcolor="#FFFFFF" height="1"></td>
      <td align="right" nowrap class="PlainText">Logged in: <a href="/">jon 123</a></td>
    </tr>
  </table>
<!-- end current project and login -->

<!-- issues being tracked -->
  <table border="0" cellpadding="2" cellspacing="1" width="100%">
    <tr>
      <td nowrap class="Header" bgcolor="#999999">QUERY RESULTS</td>
    </tr>
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr><td bgcolor="#FFFFFF" height="2"></td></tr>
 </table>
      </td>
    </tr>
    <tr>
      <td class="PlainText">Your query produced <span class="StatisticText">$numHits</span> hits, of which <span class="StatisticText">$openStatusPercent %</span> are open and <span class="StatisticText">$highPriorityPercent %</span> are high priority.  <a href="">More metrics.</td>
    </tr>
  </table>
<p>

  <table border="0" cellpadding="2" cellspacing="1" width="100%">
    <tr>
      <td class="SectionHeader" bgcolor="#CCCCCC">Save</td>
      <td class="SectionHeaderOn" bgcolor="#999999"><a href="">ID#</a></td>
      <td class="SectionHeader" bgcolor="#CCCCCC"><a href="">Severity</a></td>
      <td class="SectionHeader" bgcolor="#CCCCCC"><a href="">Summary</a></td>
      <td class="SectionHeader" bgcolor="#CCCCCC"><a href="">Resolution</a></td>
      <td class="SectionHeader" bgcolor="#CCCCCC"><a href="">Status</a></td>
      <td class="SectionHeader" bgcolor="#CCCCCC"><a href="">Reporter</a></td>
      <td class="SectionHeader" bgcolor="#CCCCCC"><a href="">Platform</a></td>
    </tr>
    <tr>
      <td><input type="checkbox" name="save1" value="$save1"></td>
      <td class="TableData"><a href="IssueView.html">23</a></td>
      <td class="TableData">Show-stopper</td>
      <td class="TableData">Broken link</td>
      <td class="TableData">Fixed</td>
      <td class="TableData">New</td>
      <td class="TableData"><a href="mailto:jrobbins@latchkey.com">jrobbins</a></td>
      <td class="TableData">All</td>
    </tr>
    <tr>
      <td colspan="9">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr><td bgcolor="#CCCCCC" height="1"></td></tr>
 </table>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" name="save2" value="$save2"></td>
      <td class="TableData"><a href="IssueView.html">101</a></td>
      <td class="TableData">High</td>
      <td class="TableData">Type of attribute is lost to classdiagram when reloading a project</td>
      <td class="TableData">Invalid</td>
      <td class="TableData">New</td>
      <td class="TableData"><a href="mailto:jofrank@hecker.org">frankhecker</a></td>
      <td class="TableData">MacOS, Win</td>
    </tr>
    <tr>
      <td colspan="9">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr><td bgcolor="#CCCCCC" height="1"></td></tr>
 </table>
      </td>
    </tr>
    <tr>
      <td><input type="checkbox" name="save3" value="$save3"></td>
      <td class="TableData"><a href="IssueView.html">14363</a></td>
      <td class="TableData">High</td>
      <td class="TableData">HTML tables render differently across 4.x browsers</td>
      <td class="TableData">Fixed</td>
      <td class="TableData">Old</td>
      <td class="TableData"><a href="mailto:cameron@collab.net">cameronb</a></td>
      <td class="TableData">Linux</td>
    </tr>
    <tr>
      <td colspan="9">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
   <tr><td bgcolor="#CCCCCC" height="1"></td></tr>
 </table>
      </td>
    </tr>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td><input type="submit" name="eventSubmit_doViewSelectedIssues" value="View Selected Issues">
        </form>
      </td>
    </tr>
  </table>



