#set ($user = $scarabR.User)
#set ($module = $user.CurrentModule)

	<h3>Advanced Query (2.2.0)</h3>
	
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip</p>


        <form action="$link.setPage("Search.vm")" method="GET">
        <input type="hidden" name="nextTemplate" value="IssueList.vm" />
        <input type="hidden" name="action" value="Search" />
	
	<div class="functnbar">
		<table width="100%" cellpadding="3" cellspacing="2" border="1">
		<tr>
		<td>
            <input type="submit" name="eventSubmit_doSearch" 
                value="Search" class="button" />&#160;
            <input type="reset" value="Reset" class="button" />
           $intake.declareGroups()
        </form>
        </td>
		</tr>
		</table>
	</div>
	
	<h4>Search the Scarab Knowledge Base</h4>
	<div class="listtable">
		<table width="100%" cellpadding="3" cellspacing="2" border="1">
		<tr>
		<th width="120">issue ID# range:</th>
		<td>from:&nbsp;<input type="text" size="20" class="text" value="" />&nbsp;&nbsp;to:&nbsp;<input type="text" size="20" class="text" value="" /></td>
		</tr>
		
		<tr>
		<th width="120">issue creation date range:</th>
		<td>from:&nbsp;<input type="text" size="20" class="text" value="" />&nbsp;&nbsp;to:&nbsp;<input type="text" size="20" class="text" value="" /></td>
		</tr>
		
		<tr>
		<th width="120">state change query:</th>
		<td>
			<select class="select">
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">votes:</th>
		<td><input type="text" size="25" class="text" value="" /></td>
		</tr>
		
		<tr>
		<th width="120">summary:</th>
		<td><input type="text" size="25" class="text" value="" /></td>
		</tr>
		
		<tr>
		<th width="120">description:</th>
		<td><textarea rows="4" cols="40" class="text"></textarea></td>
		</tr>
		
		<tr>
		<th width="120">version:</th>
		<td>
			<select class="select">
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">platform:</th>
		<td>
			<select class="select">
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">os:</th>
		<td>
			<select class="select">
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">found during:</th>
		<td>
			<select class="select">
			<option>normal use</option>
			<option>QA</option>
			<option>Beta</option>
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">issue type:</th>
		<td>	
			<select class="select">
			<option>change requirements</option>
			<option>bug</option>
			<option>enhancement</option>
			<option>documentation change</option>
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">functional area:</th>
		<td><input type="checkbox" /> UI <input type="checkbox" />setup <input type="checkbox" />help</td>
		</tr>
		
		<tr>
		<th width="120">severity:</th>
		<td>
			<select class="select">
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">priority:</th>
		<td>
			<select class="select">
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">URL:</th>
		<td><input type="text" size="25" class="text" value="http://" /></td>
		</tr>
		
		<tr>
		<th width="120">boolean search:</th>
		<td>
			<select class="select">
			<option value="noop">---</option>
			<option value="groupset">groupset</option>
			<option value="everconfirmed">everconfirmed</option>
			<option value="bug_id">Bug #</option>
			<option value="short_desc">Summary</option>
			<option value="product">Product</option>
			<option value="version">Version</option>
			<option value="rep_platform">Platform</option>
			<option value="bug_file_loc">URL</option>
			<option value="op_sys">OS/Version</option>
			<option value="bug_status">Status</option>
			<option value="status_whiteboard">Status Whiteboard</option>
			<option value="keywords">Keywords</option>
			<option value="resolution">Resolution</option>
			<option value="bug_severity">Severity</option>
			<option value="priority">Priority</option>
			<option value="component">Component</option>
			<option value="assigned_to">AssignedTo</option>
			<option value="reporter">ReportedBy</option>
			<option value="votes">Votes</option>
			<option value="qa_contact">QAContact</option>
			<option value="cc">CC</option>
			<option value="dependson">BugsThisDependsOn</option>
			<option value="blocked">OtherBugsDependingOnThis</option>
			<option value="attachments.description">Attachment description</option>
			<option value="attachments.thedata">Attachment data</option>
			<option value="attachments.mimetype">Attachment mime type</option>
			<option value="attachments.ispatch">Attachment is patch</option>
			<option value="target_milestone">Target Milestone</option>
			<option value="delta_ts">Last changed date</option>
			<option value="(to_days(now()) - to_days(bugs.delta_ts))">Days since bug changed</option>
			<option value="longdesc">Comment</option>
			</select>
			
			<select class="select">
			<option value="noop">---</option>
			<option value="equals">equal to</option>
			<option value="notequals">not equal to</option>
			<option value="casesubstring">contains (case-sensitive) substring</option>
			<option value="substring">contains (case-insensitive) substring</option>
			<option value="notsubstring">does not contain (case-insensitive) substring</option>
			<option value="allwordssubstr">all words as (case-insensitive) substrings</option>
			<option value="anywordssubstr">any words as (case-insensitive) substrings</option>
			<option value="regexp">contains regexp</option>
			<option value="notregexp">does not contain regexp</option>
			<option value="lessthan">less than</option>
			<option value="greaterthan">greater than</option>
			<option value="anywords">any words</option>
			<option value="allwords">all words</option>
			<option value="nowords">none of the words</option>
			<option value="changedbefore">changed before</option>
			<option value="changedafter">changed after</option>
			<option value="changedto">changed to</option>
			<option value="changedby">changed by</option>
			</select>
			
			<input type="text" size="25" class="text" value="" />
			<div class="misc"><input type="submit" value="and" class="button" />&nbsp;<input type="submit" value="or" class="button" />&nbsp;<input type="submit" value="add additional boolean search" class="button" /></div>
		</td>
		</tr>
		
		<tr>
		<th width="120">sort by:</th>
		<td>
			<select class="select">
			<option>choice 1</option>
			<option>choice 2</option>
			<option>choice 3</option>
			</select>
		</td>
		</tr>
		
		<tr>
		<th width="120">issues per page:</th>
		<td><input type="radio" name="foo" /> 25 <input type="radio" name="foo" /> 50 <input type="radio" name="foo" /> 75 <input type="radio" name="foo" /> 100</td>
		</tr>
		</table>
	</div>
	
	<div class="functnbar">
		<table width="100%" cellpadding="3" cellspacing="2" border="1">
		<tr>
		<td>
            <input type="submit" name="eventSubmit_doSearch" 
                value="Search" class="button" />&#160;
            <input type="reset" value="Reset" class="button" />
        </td>
		</tr>
		</table>
	</div>
           
$intake.declareGroups()
</form>
