<div class="app" id="querylist">

#set ($module = $scarabR.CurrentModule)
#set ($issueType = $scarabR.CurrentIssueType)
#set ($user = $data.User)
#set ($canDeleteAtLeastOne = false)

<form method="post" action="$link.setPage("QueryList.vm").setAction("QueryList")">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="QueryList.vm" />

## SORTING
#set ($sortColumn = $data.Parameters.getString("sortColumn",""))
#set ($sortPolarity = $data.Parameters.getString("sortPolarity",""))
#if (!$sortColumn || $sortColumn.length() == 0)
   #set ($sortColumn = "avail")
#end
#if (!$sortPolarity || $sortPolarity.length() == 0)
   #set ($sortPolarity = "desc")
#end

#if ($scarabR.hasPermission($scarabG.Permission.ITEM__APPROVE, $module))
   #set ($queries = $scarabR.AllQueries)
#else
   #set ($queries = $scarabR.PrivateQueries)
#end

## PAGINATION
## if results exceed limit, get subset list
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage", 25))
#set ($pageNum = $data.Parameters.getInt("pageNum", 1))
#if ($resultsPerPage > 0 && $queries.size() > $resultsPerPage)
 #set ($paginated = "true")
 #set ($pagList = $scarabR.getPaginatedList($queries, $pageNum, $resultsPerPage))
 #if ($pagList)
   #set ($queries = $pagList)
 #end
#end

<h3>$l10n.SavedQueries</h3>

#if ($queries.size() < 1)
 <p class="alert">$l10n.NoSavedQueries $link.setPage("AdvancedQuery.vm").setLabel("Advanced query").
 </p>

#else
#if ($paginated)
  #paginate ($resultsPerPage $pageNum $sortColumn $sortPolarity)
#end

<div class="colbar">
$l10n.Click
</div>

<table width="100%" border="1" cellspacing="2" cellpadding="3">
 <tr>
  <th nowrap="nowrap">$l10n.Select</th>
##  <th>$l10n.Subscribe</th>
##  <th>$l10n.SubscribeFrequency</th>
  <th>#sort ("name" "$l10n.Name")
  <th>#sort ("desc" "$l10n.Description")</th>
  <th>Default</th>
  <th>#sort ("avail" "$l10n.Availability")</th>
  <th>#sort ("user" "$l10n.CreatedBy")</th>
 </tr>
 
 #foreach ($query in $queries)
  #set ($rqu = $query.getRQueryUser($user))
  #set ($rquGroup = $intake.RQueryUser.mapTo($rqu))
  #set ($canDelete = $query.canDelete($user))
  #if ($canDelete) #set ($canDeleteAtLeastOne = true) #end
  #indexedRows($velocityCount)
  <td>
  #if ($canDelete)
    <input type="checkbox" name="action_$query.QueryId" />
  #else
    &#160;
  #end
  </td>
##  <td>#booleanCheckbox($rquGroup.Subscribed) </td>
##  <td>#fieldErrorMsg ($rquGroup.Frequency "")
##    <select name="$rquGroup.Frequency.Key">
##        #frequencySelectBox ($rqu.SubscriptionFrequency)
##    </select>
##  </td>
               
  <td>
      <a href="$scarabR.getEditLink($link.setPage("EditQuery.vm").toString(),$query)">$query.Name</a></td>
  <td>#if($query.Description)  $query.Description #else &#160; #end</td>
  <td><input type="radio" name="default" value="$query.QueryId" 
          #if ($rqu.Isdefault) checked="checked" #end /></td>
  <td>
  #if (!$query.Approved)
   <a href="$scarabR.getExecuteLink($link.setPage("IssueList.vm").toString(), $query)">$l10n.Personal ($l10n.UntilApproved)</a>
  #else
  <a href="$scarabR.getExecuteLink($link.setPage("IssueList.vm").toString(), $query)">$query.Scope.Name</a>
#end
  </td>
  #set ($createdUser = $scarabR.getUser($query.UserId.toString()))
  <td><a href="mailto:$createdUser.Email">$!createdUser.Name</a></td>
  </tr>
 #end
</table>

<div class="functnbar3">
<input type="submit" value="$l10n.Save" name="eventSubmit_doSave" />&#160;
<input type="submit" value="$l10n.CopySelected" name="eventSubmit_doCopyquery" />
  #if ($canDeleteAtLeastOne)
   &#160;<input type="submit" value="$l10n.DeleteSelected" name="eventSubmit_doDeletequeries" />
  #end
   &#160;<input type="submit" value="$l10n.CreateNewQuery" name="eventSubmit_doNewquery" />
</div>

#end

$intake.declareGroups()
</form>
</div>
