<div id="register" class="app">

<h2>$page.Title</h2>

<h3>Registration</h3>

<form name="RegisterForm" action="$link.setPage("Register.vm")" method="post">
<input type="hidden" name="action" value="Register" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="RegisterConfirm.vm" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="Login.vm" />

## we set $password because we don't want the mapped users password to
## show up in the form! Doh!
#set ($user = $data.User.getTemp($scarabG.Constant.SESSION_REGISTER))
#if ($user.FirstName)
  #set ($regGroup = $intake.Register.mapTo($user))
  #set ($password = "")
#else
  #set ($regGroup = $intake.Register.Default)
  #set ($password = $regGroup.Password)
#end

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th>* First name</th>
 <td>
  <input name="$regGroup.FirstName.Key" value="$regGroup.FirstName" type="text" size="25" tabindex="1"/>
  #fieldErrorMsg($regGroup.FirstName "")
 </td>
</tr>
<tr>
 <th> *Last name</th>
 <td>
  <input name="$regGroup.LastName.Key" value="$regGroup.LastName" type="text" size="25"  tabindex="2"/>
  #fieldErrorMsg($regGroup.LastName "")
 </td>
</tr>
<tr>
 <th> *Email address</th>
 <td>
  <input name="$regGroup.Email.Key" value="$regGroup.Email" type="text" size="25"  tabindex="3"/>
  #fieldErrorMsg($regGroup.Email "")
<p><small>
 Note: Enter your valid email address - including your "@serviceprovider" domain.
 For example, if your AOL screen name is joe cool, your email address is joecool@aol.com.
 If you enter an invalid email address, you will not be able to log in and use the system.
</small></p>
 </td>
</tr>
<tr>
 <th> *Password</th>
 <td>
  <input name="$regGroup.Password.Key" type="password" value="$password" size="25"  tabindex="4"/>
  #if ($password.Message) ## hack
  #fieldErrorMsg($password "")
  #end
 </td>
</tr>
<tr>
 <th> *Password confirm</th>
 <td>
  <input name="$regGroup.PasswordConfirm.Key" type="password" value="$regGroup.PasswordConfirm" size="25"  tabindex="5"/>
  #fieldErrorMsg($regGroup.PasswordConfirm "")
 </td>
</tr>
</table>
</div>

<p>* Required field</p>

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
 <input type="submit" name="eventSubmit_doRegister" value="Register" tabindex="6"/>
 <input type="submit" name="eventSubmit_doCancel" value="Cancel" tabindex="7"/>&#160;
  </td>
 </tr>
</table>
</div>

$intake.declareGroups()
</form>
</div>
