$page.setTitle("Registration Confirmation")

<!-- top nav bar -->
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
    <TR>
      <TD>
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0">
          <TR>
            <TD nowrap class="NavHeader">SCARAB:</TD>
            <TD nowrap class="NavHeaderOn" BGCOLOR="#cccccc"><A HREF="$link.setPage("Login.vm")">Return to Login</A></TD>
          </TR>
        </TABLE>
      </TD>
    </TR>
    <TR>
      <TD HEIGHT="1" BGCOLOR="#000000"><SPACER TYPE="block" HEIGHT="1"></TD>
    </TR>
</TABLE>
<!-- end top nav bar -->
<TABLE BORDER="0" CELLPADDING="3" CELLSPACING="0" WIDTH="100%">
	</TR>
		<TD class="PlainTextHeader">Scarab: Registration</TD>
	</TR>
	<TR>
		<TD CLASS="Header" BGCOLOR="#999999">&nbsp;USER REGISTRATION: CONFIRMATION</TD>
	</TR>
	<TR>
	&nbsp;
	</TR>
</TABLE>

<ul>
    <li class="PlainText">Please confirm that the information below is accurate and then click the Confirm Registration
        button to continue.</li>
</ul>

#if ($data.getMessage())
    <p>
    <TABLE BORDER="0" CELLPADDING="3" CELLSPACING="0" WIDTH="100%">
            <TR>
                <TD class="MessageText">$data.getMessage()</TD>
            </TR>
    </TABLE>
#end

<P>
<FORM name="RegisterConfirmForm" action="$link.setPage("RegisterConfirm.vm")" method="post">
    <input type="hidden" name="action" value="RegisterConfirm">
    <input type="hidden" name="cancelTemplate" value="Register.vm">
    <input type="hidden" name="nextTemplate" value="Confirm.vm">

## get the user out of the temp hashtable
#set ( $user = $data.User.getTemp($scarabG.Constant.SESSION_REGISTER) )

<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
	<TR>
		<TD HEIGHT="4" COLSPAN="3"><SPACER TYPE="block" HEIGHT="4"></TD>
	</TR>
	<TR>
		<TD class="PlainTextHeader">&nbsp;Email Address:</TD>
		<TD class="PlainText">$user.Email</TD>
		<TD class="PlainText">To be verified via email</TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="3"><SPACER TYPE="block" HEIGHT="4"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"><SPACER TYPE="block" HEIGHT="1"></TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="3"><SPACER TYPE="block" HEIGHT="4"></TD>
	</TR>
	<TR>
		<TD class="PlainTextHeader">&nbsp;Full Name:</TD>
		<TD class="PlainText">$user.FirstName $user.LastName</TD>
		<TD class="PlainText">OK</TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="3"><SPACER TYPE="block" HEIGHT="4"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"><SPACER TYPE="block" HEIGHT="1"></TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="3"><SPACER TYPE="block" HEIGHT="4"></TD>
	</TR>
	<TR>
		<TD>&nbsp;</TD>
		<TD>
            <INPUT TYPE="submit" NAME="eventSubmit_doBack" VALUE="Back">
    		<INPUT TYPE="submit" NAME="eventSubmit_doConfirmRegistration" VALUE="Confirm Registration">
		</TD>
	</TR>
	<TR>
		<TD HEIGHT="4" COLSPAN="3"><SPACER TYPE="block" HEIGHT="4"></TD>
	</TR>
	<TR>
		<TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"><SPACER TYPE="block" HEIGHT="1"></TD>
	</TR>
</TABLE>
</FORM>








