  <div id="register" class="app">
   $page.setTitle("Scarab Registration") 

   <h2>$page.getTitle()</h2>

   <p>Please enter the contact information below. Fields marked with a * are required.</p>
   #if ($data.getMessage()) 
   <p>$data.getMessage()</p>
   #end 

   <form name="RegisterForm" action="$link.setPage("register.vm")" method="post">
    <input type="hidden" name="action" value="Register" /> <input type="hidden" name="nextTemplate" value="RegisterConfirm.vm" /> <input type="hidden" name="cancelTemplate" value="Login.vm" /> 
## Attempt to populate the Scarab API User object on re-display $data.Parameters.setProperties($scarabR.getUser()) 

    <div class="axial">
     <table cellpadding="3" cellspacing="2" border="1">
      <tr>
       <th>* First Name:</th>
       <td><input name="FirstName" value="$!scarabR.User.FirstName" type="text" size="25" /></td>
      </tr>
      <tr>
       <th> *Last Name:</th>
       <td><input name="LastName" value="$!scarabR.User.LastName" type="text" size="25" /></td>
      </tr>
      <tr>
       <th> *Email Address:</th>
       <td><input name="Email" value="$!scarabR.User.Email" type="text" size="25" /> 
      <p>
 Note: Enter your valid email address - including your "@serviceprovider" domain.
       For example, if your AOL screen name is joe cool, your email address is joecool@aol.com.
</p>
       </td>
      </tr>
      <tr>
       <th> *Password:</th>
       <td><input name="password" type="password" size="25" /></td>
      </tr>
      <tr>
       <th> *Password Confirm:</th>
       <td><input name="password_confirm" type="password" size="25" /></td>
      </tr>
      <tr>
       <td> </td>
       <td><input type="submit" name="eventSubmit_doCancel" value="Cancel" /> <input type="submit" name="eventSubmit_doRegister" value="Register" /></td>
      </tr>
     </table>
    </div>
   </form>
  </div>
