  <FORM METHOD="post" NAME="Report3Form" action="">
  <input type="hidden" name="action" value="Report3">
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
    <TR>
      <TD>

<!-- top nav bar -->
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0">
          <TR>
            <TD NOWRAP CLASS="NavHeader">SCARAB:</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">My Bugs</A>&nbsp;</TD>
            <TD CLASS="NavHeaderOn" BGCOLOR="#cccccc">&nbsp;</TD>
            <TD CLASS="NavHeaderOn" NOWRAP BGCOLOR="#cccccc">Report</TD>
            <TD CLASS="NavHeaderOn" BGCOLOR="#cccccc">&nbsp;</TD>
            <TD NOWRAP CLASS="NavHeader">&nbsp;<A HREF="/">Browse</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">Assign (8)</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">Search</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">Admin</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Help</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Prefs</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD NOWRAP CLASS="NavHeader"><A HREF="/">Log Out</A></TD>
          </TR>
        </TABLE>
<!-- end top nav bar -->

      </TD>
    </TR>
    <TR>
      <TD HEIGHT="1" BGCOLOR="#000000"><SPACER TYPE="block" HEIGHT="1"></TD>
    </TR>
</TABLE>
<P>
<!-- current project and login -->
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
    <TR>
      <TD BGCOLOR="#FFFFFF" HEIGHT="1"><SPACER HEIGHT="1" TYPE="block"></TD>
      <TD ALIGN="right" NOWRAP CLASS="PlainText">Logged in: <A HREF="/">jon 123</A></TD>
    </TR>
  </TABLE>
<!-- end current project and login -->

<!-- report an issue -->
  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
    <TR>
      <TD NOWRAP CLASS="Header" BGCOLOR="#999999">REPORT AN ISSUE: STEP 4</TD>
    </TR>
    <TR>
      <TD CLASS="SectionHeader" BGCOLOR="#CCCCCC">Issue Entry Confirmation</TD>
    </TR>

  <!-- confirmation message -->
    <TR>
      <TD CLASS="PlainText">Your issue report has been entered into the database.</TD>
    </TR>
    <TR>
      <TD CLASS="PlainText">A notification has been sent to the module owner.</TD>
    </TR>
    <TR>
      <TD CLASS="PlainText">You are now "<A HREF="/">watching</A>" this issue and you will receive a notification email whenever it is modified.</TD>
    </TR>
    <TR>
      <TD CLASS="PlainText">Thank you for entering this report.  The
success of open source projects depends on contributions like this.</TD>
    </TR>
    <TR>
      <TD>
        <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
          <TR><TD BGCOLOR="#CCCCCC" HEIGHT="1"><SPACER
HEIGHT="1" TYPE="block"></TD></TR>
        </TABLE>
      </TD>
    </TR>
  </TABLE>
