$page.setTitle("Issue template")

#set ($module = $scarabR.CurrentModule)
#set ($issueId = $data.Parameters.getString("issue_id"))
#set ($issue = $scarabR.Issue)
#set ($templateInfo = $scarabR.IssueTemplateInfo)
#set ($templateGroup = $intake.IssueTemplateInfo.mapTo($templateInfo))
#set ($issueGroup = $intake.Issue.mapTo($issue))

#macro (SaveTemplateBar $var)
<div class="functnbar$var">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
<input type="submit" value="Save" name="eventSubmit_doSubmit" />&#160;
<input type="submit" value="Cancel" name="eventSubmit_doCancel"  />&#160;
  </td>
  <td>
<input type="submit" value="Back" name="eventSubmit_doBack"  />&#160;
  </td>
 </tr>
</table>
</div>
#end

<div class="app" id="savetemplate">

<h2>$page.Title</h2>

<form method="post" action="$link.setPage("SaveTemplate.vm").setAction("TemplateList")">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="TemplateList.vm" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="SaveTemplate.vm" />

#if ($issueId)
  <input type="hidden" name="issue_id" value="$issueId" />
#end

#SaveTemplateBar("")

<h3>Template Details</h3>

<div class="axial">
<table border="0" cellspacing="2" cellpadding="3">
<tr>
  <th>Template name</th>
  <td>
  <input type="text" size="25" value="$!templateGroup.Name" name="$templateGroup.Name.Key" />
  #fieldErrorMsg($templateGroup.Name "")
  </td>
</tr>
<tr>
  <th>Template desc</th>
  <td>
  <textarea rows="4" cols="40" name="$templateGroup.Description.Key">$!templateGroup.Description</textarea>
  </td>
</tr>
<tr>
  <th width="120">Availability</th>
  <td>#templateTypeSelectBox ($templateInfo)</td>
</tr>
<tr>
  <th width="120">Current module</th>
  <td>$module.Name</td>
  <input type="hidden" name="$issueGroup.ModuleId.Key" value="$module.ModuleId" />
</tr>
#if ($issueId)
<tr>
  <th>Created by</th>
  #set ($createdUser = $issue.CreatedBy)
  <td>
  #if ($createduser)
  <a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a>
  #else
  &#160;
  #end
  </td>
</tr>
#end
</table>
</div>

<h3>Template Attributes</h3>

<div class="axial">
 <table cellspacing="2" cellpadding="3" border="0">
#set ($attrValues = $issue.getModuleAttributeValuesMap($scarabR.CurrentIssueType))
#set ($group = $intake.AttributeValue.mapTo($attrValue))
#foreach ($attKey in $attrValues.sequence())
  #set ($attVal = $attrValues.get($attKey))
 <tr>
 <th>
  #if ($attVal.Attribute.AttributeType.ValidationKey)
    #set ($field = $attVal.Attribute.AttributeType.ValidationKey)
  #elseif ($attVal.Attribute.AttributeType.Name == "combo-box")
    #set ($field = "OptionId")
  #elseif ($attVal.Attribute.AttributeType.Name == "string")
    #set ($field = "Value")
  #end
#*
  #if ( $attVal.isRequired() ) * #end
*#
  $attVal.RModuleAttribute.DisplayValue
 </th>
 <td>
 #if ($attVal.Attribute.AttributeType.AttributeClass.Name == "user")
       #userSelectBox ($attVal "")
 #elseif ($attVal.Attribute.AttributeType.Name == "combo-box")
      #attrValueLeafSelect ($attVal $field "")
 #else
     #attrValueErrorMsg($attVal "Value")
     #if ($attVal.Attribute.AttributeType.Name == "long-string")
        <textarea name= "$attrInput.Value.Key" cols="40"
            rows="4">$!attrInput.Value</textarea>
     #else
        <input name= "$attrInput.Value.Key"
            value="$!attrInput.Value" size="45" type="text" />
     #end
 #end
 </td>
 </tr>
#end
</table>
</div>

#SaveTemplateBar("2")

$intake.declareGroups()

</form>
</div>
