$page.setTitle("Save query")

<h2>$page.Title</h2>

#set ($action = $link.setPage("SaveQuery.vm").setAction("Search").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE", "QueryList.vm").toString())
#set ($query = $scarabR.Query)
#set ($queryGroup = $intake.Query.mapTo($query))
#set ($user = $data.User)
#set ($module = $scarabR.CurrentModule)
#set ($queryString = $data.Parameters.getString("queryString"))

<div id="savequery" class="app">

#if ($queryString)
<form method="post" action="$action" >
<input type="hidden" name="$queryGroup.Value.Key" value="$queryString" />

<div class="functnbar">
  <input type="submit" value="Save" name="eventSubmit_doSavequery" />&#160;
  <input type="submit" value="Cancel" name="eventSubmit_doCancel"  />
</div>

<p>
Go to your <a href="$link.setPage("QueryList.vm")">Stored Query List</a>.
</p>

<h3>Saved query information</h3>
<div class="axial">
 <table cellpadding="3" cellspacing="2" border="0">
  <tr>
   <th width="120">Query name</th>
   <td>#fieldErrorMsg($queryGroup.Name "")<input type="text" name="$queryGroup.Name.Key" size="25" value="$!queryGroup.Name" /></td>
  </tr>
  <tr>
   <th width="120">Query description</th>
   <td><textarea name="$queryGroup.Description.Key" rows="4" cols="40">$!queryGroup.Description</textarea></td>
  </tr>
  <tr>
   <th width="120">Availability</th>
   <td>#queryTypeSelectBox ($query)
   </td>
  </tr>
  <tr>
   <th width="120">Location</th>
   <td>$module.Name</td>
   <input type = "hidden" name="$queryGroup.ModuleId.Key" value = "$module.ModuleId" />
  </tr>
 </table>
</div>

<div class="functnbar2">
  <input type="submit" value="Save" name="eventSubmit_doSavequery" />&#160;
  <input type="submit" value="Cancel" name="eventSubmit_doCancel"  />
</div>

$intake.declareGroups()
</form>

#else
  <p><strong class="alert">No query to save. Please <a
  href="$link.setPage("AdvancedQuery.vm")">enter a
  query.</a></strong></p>
#end

</div>
