#set ($action = $link.setPage("SaveQuery.vm").setAction("Search").addPathInfo("nextTemplate", "QueryList.vm"))
#set ($query = $scarabR.Query)
#set ($queryGroup = $intake.Query.mapTo($query)) 
#set ($user = $data.User)
#set ($module = $scarabR.CurrentModule)
#set ($queryString = $data.Parameters.getString("queryString"))


   
<form method="post" action="$action" >
<input type="hidden" name="$queryGroup.Value.Key" value="$queryString" />

#if ($queryString)

<p class="functnbar"><input type="submit" value="save/submit" name="eventSubmit_doSavequery" />&#160;<input type="submit" value="cancel" name="eventSubmit_doCancel"  /></p>

<h3>Save Your Query</h3>

      <div class="axial">
       <table width="100%" cellpadding="3" cellspacing="2" border="1">
        <tr>
         <th width="120">query name:</th>

         <td>#fieldErrorMsg($queryGroup.Name "")<input type="text" name="$queryGroup.Name.Key" size="25" value="$!queryGroup.Name" /></td>
        </tr>

        <tr>
         <th width="120">query description:</th>

         <td><textarea name="$queryGroup.Description.Key" rows="4" cols="40">$!queryGroup.Description</textarea></td>
        </tr>

        <tr>
         <th width="120">Availability:</th>

         <td>#queryTypeSelectBox ($query)
         </td>
        
        </tr>

        <tr>
         <th width="120">location:</th>
         <td>current project '$module.Name'</td>
         <input type = "hidden" name="$queryGroup.ModuleId.Key" value = "$module.ModuleId">
        </tr>
       </table>
      </div>

<p class="functnbar"><input type="submit" value="save/submit" name="eventSubmit_doSavequery"/>&#160;<input type="submit" value="cancel" name="eventSubmit_doCancel" /></p>
     </div></td>
    </tr>
   </table>
$intake.declareGroups()

#else
  <p class="alert">No query to save. Please <a href="$link.setPage("AdvancedQuery.vm")">enter a query.</a>
#end


</form>
