$page.setTitle("Save/edit template")

#set ($module = $scarabR.CurrentModule)
#set ($templateId = $data.Parameters.getString("templateId"))
#set ($currentTemplate = $scarabR.getIssueTemplate())
#set ($templateInfo = $scarabR.IssueTemplateInfo)
#set ($templateGroup = $intake.IssueTemplateInfo.mapTo($templateInfo))
#set ($issueGroup = $intake.Issue.mapTo($currentTemplate ))

#macro (SaveTemplateBar $var)
<div class="functnbar$var">
<input type="submit" value="Done" name="eventSubmit_doSubmit" />&#160;
<input type="submit" value="Use template" name="eventSubmit_doGotoothertemplate" />&#160;
<input type="submit" value="Cancel" name="eventSubmit_doCancel"  />&#160;
<input type="submit" value="Reset" name="eventSubmit_doReset"  />
</div>
#end

<div class="app" id="savetemplate">

<h2>$page.Title</h2>

<form method="post" action="$link.setPage("SaveTemplate.vm").setAction("TemplateList")">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="TemplateList.vm" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="TemplateList.vm" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="entry,Wizard1.vm" />

#if ($templateId)
  <input type="hidden" name="templateId" value="$templateId" />
#end

#SaveTemplateBar("")

<h3>Template details</h3>

<div class="axial">
<table border="0" cellspacing="2" cellpadding="3">
<tr>
  <th>Template name</th>
  <td>
  <input type="text" size="25" value="$!templateGroup.Name" name="$templateGroup.Name.Key" />
  #fieldErrorMsg($templateGroup.Name "")
  </td>
</tr>
<tr>
  <th>Template descr</th>
  <td>
  #textAreaMedium("$templateGroup.Description.Key" $templateGroup.Description)
  </td>
</tr>
<tr>
  <th width="120">Availability</th>
  <td>#templateTypeSelectBox ($templateInfo)</td>
</tr>
#if ($templateId)
<tr>
  <th>Created by</th>
  #set ($createdUser = $currentTemplate.CreatedBy)
  <td>
  #if ($createdUser)
  <a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a>
  #else
  &#160;
  #end
  </td>
</tr>
#end
</table>
</div>

<h3>Template Attributes</h3>

<div class="axial">
 <table cellspacing="2" cellpadding="3" border="0">
#set ($attrValues = $currentTemplate.ModuleAttributeValuesMap)
#set ($group = $intake.AttributeValue.mapTo($attrValue))
#foreach ($attKey in $attrValues.sequence())
  #set ($attVal = $attrValues.get($attKey))
 <tr>
 <th>
  #if ($attVal.Attribute.AttributeType.ValidationKey)
    #set ($field = $attVal.Attribute.AttributeType.ValidationKey)
  #elseif ($attVal.Attribute.AttributeType.Name == "combo-box")
    #set ($field = "OptionId")
  #elseif ($attVal.Attribute.AttributeType.Name == "string")
    #set ($field = "Value")
  #end
  $attVal.RModuleAttribute.DisplayValue
 </th>
 <td>
    #if ($attVal.Attribute.isUserAttribute())
      #userSelectBox ($attVal "3" "true") 
    #elseif ($attVal.Attribute.isOptionAttribute())
      #attrValueLeafSelect ($attVal $field "")
 #else
     #attrValueErrorMsg($attVal "Value")
     #if ($attVal.Attribute.AttributeType.Name == "long-string")
        #textAreaMedium("$attrInput.Value.Key" $attrInput.Value)
     #else
        <input name= "$attrInput.Value.Key"
            value="$!attrInput.Value" size="45" type="text" />
     #end
 #end
 </td>
 </tr>
#end
</table>
</div>

#SaveTemplateBar("2")

$intake.declareGroups()

</form>
</div>
