<div id="savequery" class="app">

#asterisk()

<h3>$l10n.SavedQueryInfo</h3>

#set ($query = $scarabR.Query)
#set ($queryGroup = $intake.Query.mapTo($query))
#set ($user = $data.User)
#set ($module = $scarabR.CurrentModule)
#set ($queryString = $data.User.MostRecentQuery)

#if ($queryString)
<form method="post" action="$link.setPage("SaveQuery.vm")">
<input type="hidden" name="action" value="Search" />
<input type="hidden" name="eventSubmit_doSavequery" value="foo" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="QueryList.vm" />
<input type="hidden" name="$queryGroup.Value.Key" value="$queryString" />

<div class="axial">
  #if (!$data.User.hasPermission($scarabG.Permission.ITEM__APPROVE, $module))
    <p class="alert">$l10n.QueryWarning</p>
  #end
 <table cellpadding="3" cellspacing="2" border="0">
  <tr>
   <th width="120">* $l10n.Name</th>
   <td>#fieldErrorMsg($queryGroup.Name "")
       <input type="text" name="$queryGroup.Name.Key" size="25" value="$!queryGroup.Name" />
   </td>
  </tr>
  <tr>
   <th width="120">$l10n.Description</th>
   <td>#textAreaMedium("$queryGroup.Description.Key" $queryGroup.Description)</td>
  </tr>
  <tr>
   <th width="120">$l10n.Availability</th>
   <td>
#if (!$user.CurrentMITList || $user.CurrentMITList.isSingleModule())
    #queryTypeSelectBox ($query)
#else
    $l10n.CrossModuleQueriesScope
#end
   </td>
  </tr>
  <tr>
   <th width="120">$l10n.Location</th>
   <td>$module.Name</td>
   <input type = "hidden" name="$queryGroup.ModuleId.Key" value = "$module.ModuleId" />
  </tr>
 </table>
</div>

<div class="functnbar2">
  <input type="submit" value="$l10n.Save" name="eventSubmit_doSavequery" />
</div>

$intake.declareGroups()
</form>

#else
  <p class="alert">$l10n.NoQueryToSave
<div class="functnbar3">
  <input type="submit" value="$l10n.CreateNew" name="eventSubmit_doGotoadvancedquery" />
</div>
#end

</div>
