#set ($module = $scarabR.CurrentModule)
<div class="app" id="search">

#set ($search = $scarabR.NewSearch)
#set ($searchGroup = $intake.SearchIssue.mapTo($search))
#set ($issueType = $scarabR.CurrentIssueType)
#set ($searchTextAttributes = $search.QuickSearchTextAttributeValues)
#set ($searchValues = $search.QuickSearchOptionAttributeValues)
#set ($attrValues = $search.ModuleAttributeValuesMap)

#if ($searchTextAttributes.isEmpty() && $searchValues.isEmpty())
    <p class="alert">$l10n.NoSimpleSearch</p> 
    $renderer.render("screens", "AdvancedQuery.vm")
#else

<form action="$link.setPage("Search.vm")" method="post">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="IssueList.vm" />
<input type="hidden" name="action" value="Search" />
<input type="hidden" name="searchType" value="custom" />

<p class="functnbar">
<input type="submit" value="Search" name="eventSubmit_doSearch" />&#160;
</p>

#if (!$searchTextAttributes.isEmpty())
<h3>$l10n.TextSearch</h3>

<div class="axial">
  <table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">Select text attributes</th>
   <td>
    ## default to first attribute if none was selected previously
    #if ($searchGroup.TextScope.isSet())
      #set ($selectedIds = $searchGroup.TextScope.Value)
      #set ($selected = false)
    #else
      #set ($selected = true)
    #end
    <select name="$searchGroup.TextScope.Key" size="5" multiple="multiple">
    #if ($searchTextAttributes.size() > 4)
      <option value="$search.ALL_TEXT"#selected($selected)>$l10n.SearchAll</option>
      #set ($selected = false)
    #end

#foreach ($att in $searchTextAttributes)
  #if ($selectedIds)
    #foreach ($id in $selectedIds)
      #if ($id == $att.PrimaryKey)
        #set ($selected = true)
      #end
    #end
  #end
  <option value="$att.Attribute.QueryKey"#selected($selected)>$att.RModuleAttribute.DisplayValue</option>
  #set ($selected = false)
#end
   </select>
   </td>
  </tr>

  <tr>
   <th width="120">$l10n.EnterString</th>
   <td>#textAreaSmall("$searchGroup.SearchWords.Key" $searchGroup.SearchWords)
   </td>
  </tr>
 </table>
</div>
#end

#if (!$searchValues.isEmpty())
<h3>$l10n.MultiChoiceSearch</h3>
 <div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
#foreach ($attVal in $searchValues)
  #if ($attVal.Attribute.AttributeType.ValidationKey)
    #set ($field = $attVal.Attribute.AttributeType.ValidationKey)
  #elseif ($attVal.Attribute.AttributeType.Name == $scarabG.Constant.DROPDOWN_LIST)
    #set ($field = "OptionId")
  #end
  <tr>
   <th width="120">$attVal.RModuleAttribute.DisplayValue</th>
   <td>
     #attrValueErrorMsg ($attVal $field)
     #attrValueHierarchySelect ($attVal $field $searchValues.size() true)
   </td>
  </tr>
#end
 </table>
 </div>
#end

## FIXME: use intake
<h3>$l10n.ResultDisplayOptions</h3>
        
<div class="axial">
<table  cellpadding="3" cellspacing="2" border="1">
  <tr>
    <th width="120">Sort by</th>
    <td>
      <select name="sortColumn">
        #foreach ($attKey in $attrValues.sequence())
           #set ($attVal = $attrValues.get($attKey))
           <option value="$attVal.AttributeId">$attVal.Attribute.Name</option>
        #end
      </select>
        &#160;
      <select name="sortPolarity">
        <option value="asc">$l10n.Ascending</option>
        <option value="desc">$l10n.Descending</option>
      </select>
    </td>
  </tr>
  <tr>
   <th>$l10n.IssuesPerPage</th>
   <td>
   <input type="hidden" name="pageNum" value="1" />
   <input type="radio" name="resultsPerPage" value="25" checked="checked" />25 
   <input type="radio" name="resultsPerPage" value="50" />50
   <input type="radio" name="resultsPerPage" value="75" />75
   <input type="radio" name="resultsPerPage" value="100" />100
   </td>
  </tr>
</table>
</div>

<p class="functnbar2">
<input type="submit" value="Search" name="eventSubmit_doSearch" />&#160;
</p>

$intake.declareGroups()

</form>
#end ## end if (any options exist to search on)
</div>
