<FORM METHOD="post" NAME="projectRefresh">
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
 <TR>
  <TD>
#parse("/navigations/MyBugs.vm")
  </TD>
 </TR>
 <TR>
  <TD HEIGHT="1" BGCOLOR="#000000"></TD>
 </TR>
 <TR>
  <TD HEIGHT="2" BGCOLOR="#cccccc"></TD>
 </TR>
</TABLE>

#parse("/navigations/ProjectSelect.vm")

<P>

<!-- begin tabbed sub-ui -->
<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
 <TR>
  <TD>&nbsp;&nbsp;</TD>
  <TD nowrap>&nbsp;<SPAN CLASS="SectionHeader"><A HREF="/">By Bug ID#</A></SPAN>&nbsp;</TD>
  <TD BGCOLOR="#003399">&nbsp;<SPAN CLASS="boldFFFFFF12px">By&nbsp;Component</SPAN>&nbsp;</TD>
  <TD ALIGN="right" NOWRAP CLASS="SectionHeader" WIDTH="100%">Logged in: <A HREF="/" CLASS="bold0000ee11px">jon 123</A></TD>
 </TR>
</TABLE>
<!-- end tabbed sub-ui -->

<!-- issues being tracked -->
<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
 <TR BGCOLOR="#003399">
  <TD WIDTH="100%" NOWRAP CLASS="boldffffff11px">ISSUES THAT I'M TRACKING</TD>
 </TR>
</TABLE>

<!-- specific component issues -->
<TABLE BGCOLOR="#FFFFFF" BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
 <TR BGCOLOR="#FFFFFF">
  <TD CLASS="NavHeader">COMPONENT: <A HREF="" CLASS="bold0000ee11px">Browser</A></TD>
 </TR>
</TABLE>

<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
 <TR>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">ID#</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Severity</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Summary</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Resolution</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Status</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Assigned&nbsp;to</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Depends&nbsp;on</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Opened</TD>
    </TR>
    <TR>
      <TD><A HREF="IssueView.html" CLASS="normal0000ee11px">23</A></TD>
      <TD CLASS="NavHeader">Low</TD>
      <TD CLASS="NavHeader">Broken link</TD>
      <TD CLASS="NavHeader">Fixed</TD>
      <TD CLASS="NavHeader">New</TD>
      <TD><A HREF="mailto:jon@latchkey.com" CLASS="normal0000ee11px">jon@latchkey.com</A></TD>
      <TD CLASS="NavHeader"><A HREF="IssueView.html" CLASS="normal0000ee11px">12</A>,<A HREF="singleBug.html" CLASS="normal0000ee11px">18</A></TD>
      <TD CLASS="NavHeader">05-21-2000</TD>
    </TR>
    <TR>
      <TD COLSPAN="9">
        <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
	  <TR><TD BGCOLOR="#CCCCCC" HEIGHT="1"></TD></TR>
	</TABLE>
      </TD>
    </TR>
    <TR>
      <TD><A HREF="IssueView.html" CLASS="normal0000ee11px">101</A></TD>
      <TD CLASS="NavHeader">High</TD>
      <TD CLASS="NavHeader">Type of attribute is lost to classdiagram when reloading a project</TD>
      <TD CLASS="NavHeader">Invalid</TD>
      <TD CLASS="NavHeader">New</TD>
      <TD><A HREF="mailto:jofrank@hecker.org" CLASS="normal0000ee11px">frank@hecker.org</A></TD>
      <TD CLASS="NavHeader">N/A</TD>
      <TD CLASS="NavHeader">05-16-2000</TD>
    </TR>
    <TR>
      <TD COLSPAN="9">
	<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
	  <TR><TD BGCOLOR="#CCCCCC" HEIGHT="1"></TD></TR>
	</TABLE>
      </TD>
    </TR>
  </TABLE>
  <!-- end specific component issues -->

  <!-- specific component issues -->
  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
    <TR BGCOLOR="#FFFFFF">
      <TD CLASS="NavHeader">COMPONENT: <A HREF="" CLASS="bold0000ee11px">Web Site</A></TD>
    </TR>
  </TABLE>

  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
    <TR>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">ID#</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Priority</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Summary</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Status</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Assigned&nbsp;to</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Depends&nbsp;on</TD>
      <TD BGCOLOR="#CCCCCC" CLASS="NavHeader">Opened</TD>
    </TR>
    <TR>
      <TD><A HREF="IssueView.html" CLASS="normal0000ee11px">14363</A></TD>
      <TD CLASS="NavHeader">High</TD>
      <TD CLASS="NavHeader">HTML tables render differently across 4.x browsers</TD>
      <TD CLASS="NavHeader">Old</TD>
      <TD><A HREF="mailto:cameron@collab.net" CLASS="normal0000ee11px">cameron@collab.net</A></TD>
      <TD><A HREF="IssueView.html" CLASS="normal0000ee11px">674</A>, <A HREF="singleBug.html" CLASS="normal0000ee11px">297</A></TD>
      <TD CLASS="NavHeader">05-05-2000</TD>
    </TR>
    <TR>
      <TD COLSPAN="9">
        <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
	  <TR><TD BGCOLOR="#CCCCCC" HEIGHT="1"></TD></TR>
	</TABLE>
      </TD>
    </TR>
  </TABLE>
  <!-- end specific component issues -->
<!-- end issues being tracked -->

<P>

  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
    <TR>
      <TD VALIGN="top">

<!-- saved searches -->
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
	  <TR BGCOLOR="#003A9F">
	    <TD COLSPAN="6" WIDTH="100%" CLASS="boldffffff11px">SAVED SEARCHES</TD>
	    <TD CLASS="boldffffff11px" NOWRAP><A HREF="" CLASS="normalffffff11px">All&nbsp;Searches</A>&nbsp;|&nbsp;<A HREF="" CLASS="normalffffff11px">1 of 5 of 25 Votes</A></TD>
	  </TR>
	</TABLE>
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
	  <TR BGCOLOR="#CCCCCC">
	    <TD CLASS="NavHeader">Search Name</TD>
	    <TD CLASS="NavHeader">Date Saved</TD>
	  </TR>
	  <TR>
	    <TD CLASS="NavHeader"><A HREF="" CLASS="normal0000ee11px">Crash on reload</A></TD>
	    <TD CLASS="NavHeader">08-22-2000</TD>
	  </TR>
	  <TR>
	    <TD CLASS="NavHeader"><A HREF="" CLASS="normal0000ee11px">CSS, font-style</A></TD>
	    <TD CLASS="NavHeader">12-04-1999</TD>
	  </TR>
	</TABLE>
<!-- end saved searches -->

      </TD>
      <TD VALIGN="top">

<!-- vote counts -->
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
	  <TR BGCOLOR="#003A9F">
	    <TD COLSPAN="6" WIDTH="100%" CLASS="boldffffff11px">VOTE COUNTS</TD>
	    <TD CLASS="boldffffff11px" NOWRAP><A HREF="" CLASS="normalffffff11px">All&nbsp;Searches</A>&nbsp;|&nbsp;<A HREF="" CLASS="normalffffff11px">1 of 5 of 25 Votes</A></TD>
	  </TR>
	</TABLE>
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
	  <TR BGCOLOR="#CCCCCC">
	    <TD CLASS="NavHeader">ID#</TD>
	    <TD CLASS="NavHeader"># of My Votes</TD>
	    <TD CLASS="NavHeader">Severity</TD>
	    <TD CLASS="NavHeader">Total Votes</TD>
	  </TR>
	  <TR>
	    <TD CLASS="NavHeader"><A HREF="" CLASS="normal0000ee11px">22529</A></TD>
	    <TD CLASS="NavHeader">2</TD>
	    <TD CLASS="NavHeader">High</TD>
	    <TD CLASS="NavHeader">21</TD>
	  </TR>
	  <TR>
	    <TD CLASS="NavHeader"><A HREF="" CLASS="normal0000ee11px">12657</A></TD>
	    <TD CLASS="NavHeader">1</TD>
	    <TD CLASS="NavHeader">Low</TD>
	    <TD CLASS="NavHeader">18</TD>
	  </TR>
	  <TR>
	    <TD CLASS="NavHeader"><A HREF="" CLASS="normal0000ee11px">3479</A></TD>
	    <TD CLASS="NavHeader">1</TD>
	    <TD CLASS="NavHeader">Low</TD>
	    <TD CLASS="NavHeader">12</TD>
	  </TR>
	</TABLE>
<!-- end vote counts -->

      </TD>
    </TR>
  </TABLE>
	
<P>

<!-- browse -->
  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
    <TR BGCOLOR="#003A9F">
      <TD COLSPAN="2" WIDTH="100%" CLASS="boldffffff11px">BROWSE FOR ISSUES</TD>
    </TR>
    <TR BGCOLOR="#CCCCCC">
      <TD CLASS="NavHeader">Browse by Issue Resolution</TD>
      <TD CLASS="NavHeader">Browse by Severity</TD>
    </TR>
    <TR>
      <TD>
	<FORM METHOD="post" ACTION="searchResults.html" NAME="browse">
	<SELECT NAME="selection1">
	<OPTION SELECTED VALUE="">Open</OPTION>
	<OPTION VALUE="">Closed</OPTION>
	<OPTION VALUE="">Fixed</OPTION>
	<OPTION VALUE="">Invalid</OPTION>
	</SELECT>
	<INPUT TYPE="submit" VALUE="Browse">
      </TD>
      <TD>
<SELECT NAME="issue_severity" MULTIPLE SIZE=7>
<OPTION VALUE="blocker">blocker
<OPTION VALUE="critical">critical
<OPTION VALUE="major">major
<OPTION VALUE="normal">normal
<OPTION VALUE="minor">minor
<OPTION VALUE="trivial">trivial
<OPTION VALUE="enhancement">enhancement
</SELECT>
	<INPUT TYPE="submit" VALUE="Browse">
      </TD>
    </TR>
    <TR>
      <TD COLSPAN="2">
	<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
	  <TR><TD BGCOLOR="#CCCCCC" HEIGHT="1"></TD></TR>
	</TABLE>
      </TD>
    </TR>
  </TABLE>
  </FORM>
