
  <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
    <TR>
      <TD>
<!-- top nav bar -->
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0">
          <TR>
            <TD>&nbsp;</TD>
            <TD CLASS="NavHeaderOn" BGCOLOR="#cccccc">&nbsp;</TD>
            <TD NOWRAP CLASS="NavHeaderOn" BGCOLOR="#cccccc">My Issues</TD>
            <TD CLASS="NavHeaderOn" BGCOLOR="#cccccc">&nbsp;</TD>
            <TD CLASS="NavHeader">&nbsp;<A HREF="/">Report</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Browse</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Assign (8)</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Search</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Admin</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Help</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader"><A HREF="/">Prefs</A></TD>
            <TD CLASS="NavHeader">|</TD>
            <TD CLASS="NavHeader" NOWRAP><A HREF="$link.setPage("Login.vm").setAction("Logout")">Log Out</A></TD>
          </TR>
        </TABLE>
<!-- end top nav bar -->
      </TD>
    </TR>
    <TR>
      <TD HEIGHT="1" BGCOLOR="#000000"></TD>
    </TR>
    <TR>
      <TD HEIGHT="2" CLASS="SectionHeader" BGCOLOR="#cccccc"></TD>
    </TR>
</TABLE>

<!-- project select area -->
<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
  <TR>
    <TD CLASS="SectionHeader" BGCOLOR="#cccccc" NOWRAP>
        <FORM METHOD="post" action="$link.setPage("Start.vm")">
            My Projects: <input type="hidden" name="action" value="SetSelectedProject">
            $userProjectsBox
            <INPUT TYPE="submit" name="eventSubmit_doSelect" VALUE="Refresh">
        </form>
    </TD>
    <TD CLASS="SectionHeader" BGCOLOR="#cccccc" WIDTH="100%" NOWRAP>&nbsp;</TD>
    <TD CLASS="SectionHeader" BGCOLOR="#cccccc" WIDTH="100%" NOWRAP>
        <FORM METHOD="post" action="$link.setPage("QueryResults.vm")">
            <INPUT TYPE="text" VALUE="$searchString" name="searchString" size="10">
            <INPUT TYPE="submit" VALUE="Search" name="evenSubmit_doSearch">
            <a href="Search.vm">adv. search</a>
        </form>
    </TD>
  </TR>
</TABLE>    
<!-- end project select area -->


<P>
#if ($data.getMessage())
    <TABLE BORDER="0" CELLPADDING="3" CELLSPACING="0" WIDTH="100%">
            <TR>
                <TD class="MessageText">$data.getMessage()</TD>
            </TR>
    </TABLE>
    <p>
#end
<!-- begin tabbed sub-ui -->
<TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
<TR>
    <TD>&nbsp;&nbsp;</TD>
    <TD NOWRAP CLASS="ProjectTabOn" BGCOLOR="#999999">&nbsp;By Project&nbsp;</TD>
    <TD NOWRAP CLASS="ProjectTabOff">&nbsp;<A HREF="/">By Component</A>&nbsp;</TD>
    <TD ALIGN="right" NOWRAP CLASS="PlainText" WIDTH="100%">Logged in: <A HREF="$link.setPage("UserAdmin.vm")">$data.User.UserName</A></TD>
</TR>
</TABLE>
<!-- end tabbed sub-ui -->

<!-- issues being tracked -->
  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
    <TR>
      <TD WIDTH="100%" NOWRAP CLASS="Header" BGCOLOR="#999999">Issues That I'm Tracking</TD>
    </TR>
  </TABLE>

  <!-- specific component issues -->
  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
    <TR>
      <TD width="100%" COLSPAN="8" CLASS="SectionHeader" BGCOLOR="#cccccc">PROJECT: <A HREF="">Browser</A></TD>
    </TR>
    <TR>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">ID#</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Severity</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Summary</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Resolution</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Status</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc" NOWRAP>Tracking</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc" NOWRAP>Depends on</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc" NOWRAP>Opened</TD>
    </TR>
    <TR>
      <TD CLASS="TableData" VALIGN="top"><A HREF="singleIssue.html">23</A></TD>
      <TD CLASS="TableData" VALIGN="top">Low</TD>
      <TD CLASS="TableData" VALIGN="top">Broken link</TD>
      <TD CLASS="TableData" VALIGN="top">Fixed</TD>
      <TD CLASS="TableData" VALIGN="top">New</TD>
      <TD CLASS="TableData" VALIGN="top">Assigned</TD>
      <TD CLASS="TableData" VALIGN="top"><A HREF="singleIssue.html">12</A>,<A HREF="singleIssue.html">18</A></TD>
      <TD CLASS="TableData" VALIGN="top">05-21-2000</TD>
    </TR>
    <TR>
      <TD COLSPAN="8">
        <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
            <TR><TD CLASS="SectionHeader" BGCOLOR="#cccccc" HEIGHT="1"></TD></TR>
        </TABLE>
      </TD>
    </TR>
    <TR>
      <TD CLASS="TableData" VALIGN="top"><A HREF="singleIssue.html">101</A></TD>
      <TD CLASS="TableData" VALIGN="top">High</TD>
      <TD CLASS="TableData" VALIGN="top">Type of attribute is lost to classdiagram when reloading a project</TD>
      <TD CLASS="TableData" VALIGN="top">Invalid</TD>
      <TD CLASS="TableData" VALIGN="top">New</TD>
      <TD CLASS="TableData" VALIGN="top">Watching</TD>
      <TD CLASS="TableData" VALIGN="top">N/A</TD>
      <TD CLASS="TableData" VALIGN="top">05-16-2000</TD>
    </TR>
    <TR>
      <TD COLSPAN="8">
        <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
          <TR>
           <TD CLASS="SectionHeader" BGCOLOR="#cccccc" HEIGHT="1"></TD>
          </TR>
        </TABLE>
      </TD>
    </TR>
  <!--  </TABLE> -->
  <!-- end specific component issues -->

  <!-- specific component issues -->
  <!--  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%"> -->
    <TR>
      <TD COLSPAN="8" CLASS="SectionHeader" BGCOLOR="#cccccc">PROJECT: <A HREF="">Web Site</A></TD>
    </TR>
    <TR>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">ID#</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Severity</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Summary</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Resolution</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Status</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Tracking</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc" NOWRAP>Depends on</TD>
      <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Opened</TD>
    </TR>
    <TR>
      <TD CLASS="TableData" VALIGN="top"><A HREF="singleIssue.html">14363</A></TD>
      <TD CLASS="TableData" VALIGN="top">High</TD>
      <TD CLASS="TableData" VALIGN="top">HTML tables render differently across 4.x browsers</TD>
      <TD CLASS="TableData" VALIGN="top">No Fix</TD>
      <TD CLASS="TableData" VALIGN="top">Old</TD>
      <TD CLASS="TableData" VALIGN="top">Not Assigned</TD>
      <TD CLASS="TableData" VALIGN="top"><A HREF="singleIssue.html">674</A>, <A HREF="singleIssue.html">297</A></TD>
      <TD CLASS="TableData" VALIGN="top">05-05-2000</TD>
    </TR>
    <TR>
      <TD COLSPAN="8">
        <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
      <TR><TD CLASS="SectionHeader" BGCOLOR="#cccccc" HEIGHT="1"></TD></TR>
    </TABLE>
      </TD>
    </TR>
  </TABLE>
  <!-- end specific component issues -->
<!-- end issues being tracked -->

<P>

  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="1" WIDTH="100%">
    <TR>
      <TD VALIGN="top" WIDTH="50%">

<!-- saved searches -->
     <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
      <TR>
        <TD CLASS="Header" BGCOLOR="#999999" WIDTH="100%" COLSPAN="2">Saved Searches</TD>
      </TR>
      <TR >
        <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Search Name</TD>
        <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Date Saved</TD>
      </TR>
      <TR>
        <TD CLASS="TableData" VALIGN="top"><A HREF="">Crash on reload</A></TD>
        <TD CLASS="TableData" VALIGN="top">08-22-2000</TD>
      </TR>
      <TR>
        <TD CLASS="TableData" VALIGN="top"><A HREF="">CSS, font-style</A></TD>
        <TD CLASS="TableData" VALIGN="top">12-04-1999</TD>
      </TR>
      <TR>
        <TD CLASS="TableData" VALIGN="top"><A HREF="">Crash on reload. blah blah, blah</A></TD>
        <TD CLASS="TableData" VALIGN="top">08-22-2000</TD>
      </TR>
      <TR>
        <TD CLASS="TableData" VALIGN="top"><A HREF="">CSS, font-style, rendering</A></TD>
        <TD CLASS="TableData" VALIGN="top">12-04-1999</TD>
      </TR>
      <TR>
        <TD CLASS="TableData" VALIGN="top"><A HREF="">Crash on reload</A></TD>
        <TD CLASS="TableData" VALIGN="top">08-22-2000</TD>
      </TR>
      <TR>
        <TD NOWRAP CLASS="SectionHeader" BGCOLOR="#cccccc" ALIGN="left"><A HREF="">All</A></td>
        <TD NOWRAP CLASS="SectionHeader" BGCOLOR="#cccccc" ALIGN="right"><A HREF="">Prev 5</A> | 15-20 of 25 | <A HREF="">Next 5</a></TD>
      </TR>
    </TABLE>
<!-- end saved searches -->

      </TD>
      <TD VALIGN="top" WIDTH="50%">

<!-- vote counts -->
        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
      <TR>
        <TD COLSPAN="4" WIDTH="100%" CLASS="Header" BGCOLOR="#999999">Vote Counts</TD>
      </TR>
      <TR>
        <TD CLASS="SectionHeader" BGCOLOR="#cccccc">ID#</TD>
        <TD CLASS="SectionHeader" BGCOLOR="#cccccc"># of My Votes</TD>
        <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Severity</TD>
        <TD CLASS="SectionHeader" BGCOLOR="#cccccc">Total Votes</TD>
      </TR>
      <TR>
        <TD CLASS="TableData"><A HREF="">22529</A></TD>
        <TD CLASS="TableData">2</TD>
        <TD CLASS="TableData">High</TD>
        <TD CLASS="TableData">21</TD>
      </TR>
      <TR>
        <TD CLASS="TableData"><A HREF="">12657</A></TD>
        <TD CLASS="TableData">1</TD>
        <TD CLASS="TableData">Low</TD>
        <TD CLASS="TableData">18</TD>
      </TR>
      <TR>
        <TD CLASS="TableData"><A HREF="">3479</A></TD>
        <TD CLASS="TableData">1</TD>
        <TD CLASS="TableData">Low</TD>
        <TD CLASS="TableData">12</TD>
      </TR>
      <TR>
        <TD CLASS="TableData"><A HREF="">5675</A></TD>
        <TD CLASS="TableData">1</TD>
        <TD CLASS="TableData">High</TD>
        <TD CLASS="TableData">6</TD>
      </TR>
      <TR>
        <TD CLASS="TableData"><A HREF="">2754</A></TD>
        <TD CLASS="TableData">1</TD>
        <TD CLASS="TableData">Low</TD>
        <TD CLASS="TableData">4</TD>
      </TR>
      <TR>
        <TD NOWRAP CLASS="SectionHeader" BGCOLOR="#cccccc" ALIGN="left"><A HREF="">All</A></td>
        <TD NOWRAP colspan="3" CLASS="SectionHeader" BGCOLOR="#cccccc" ALIGN="right"><A HREF="">Prev 5</A> | 15-20 of 25 | <A HREF="">Next 5</a></TD>
      </TR>
    </TABLE>
<!-- end vote counts -->

      </TD>
    </TR>
  </TABLE>

<P>


<!-- browse -->
  <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0" WIDTH="100%">
    <TR BGCOLOR="#003A9F">
        <TD CLASS="Header" BGCOLOR="#999999" WIDTH="100%" COLSPAN="2">Browse For Issues</TD>
    </TR>
    <TR BGCOLOR="#CCCCCC">
      <TD CLASS="SectionHeader">Browse by Issue Resolution &nbsp; <a href="IssueAdmin.vm">Admin</a></TD>
      <TD CLASS="SectionHeader">Browse by Severity</TD>
    </TR>
    <TR>
      <TD>
    <FORM METHOD="post" ACTION="searchResults.html" NAME="browse">
    <SELECT NAME="selection1">
    <OPTION SELECTED VALUE="">Open</OPTION>
    <OPTION VALUE="">Closed</OPTION>
    <OPTION VALUE="">Fixed</OPTION>
    <OPTION VALUE="">Invalid</OPTION>
    </SELECT>
    <INPUT TYPE="submit" VALUE="Browse">
      </TD>
      <TD>
<SELECT NAME="issue_severity">
<OPTION VALUE="blocker">blocker
<OPTION VALUE="critical">critical
<OPTION VALUE="major">major
<OPTION VALUE="normal">normal
<OPTION VALUE="minor">minor
<OPTION VALUE="trivial">trivial
<OPTION VALUE="enhancement">enhancement
</SELECT>
    <INPUT TYPE="submit" VALUE="Browse">
      </TD>
    </TR>
    <TR>
      <TD COLSPAN="2">
        <TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
      <TR><TD CLASS="SectionHeader" BGCOLOR="#cccccc" HEIGHT="1"></TD></TR>
    </TABLE>
      </TD>
    </TR>
  </TABLE>
  </FORM>










