$page.setTitle("Template List")
#set ($action = $link.setPage("TemplateList.vm").setAction("TemplateList").addPathInfo("nextTemplate", "TemplateList.vm").toString())
#set ($module = $scarabR.CurrentModule)
#set ($user = $data.User)
#if ( ($module.getPrivateTemplates($user).isEmpty()) && ($module.GlobalTemplates.isEmpty()))
   #set ($noTemplates = "true")
#end
<div class="app" id="templateList">
<form method="post" action="$action" >
<p class="functnbar">
   <input type="submit" value="create new" name="eventSubmit_doCreatenew" />&#160;
   <input type="submit" value="Delete selected" name="eventSubmit_doDeletetemplates" />
      &#160;<input type="submit" value="Cancel" name="eventSubmit_doCancel" /></p>
<h3>$page.Title</h3>
#if ($noTemplates.equals("true"))
    <p><strong class="alert">
    There are no stored templates, click <a
    href="$link.setPage("SaveTemplate.vm")">here</a> to create a new
    one.
    </strong></p>
#else
##  FIXME: add prev/next nav       <p>&#171; previous | 1 of 1 | next &#187;</p>
        <table width="100%" border="1" cellspacing="2" cellpadding="3">
        <tr>
        <th nowrap="nowrap">
        <img src="/scarab/images/icon_uparrow.gif" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" />
        <img src="/scarab/images/icon_downarrow.gif" width="13" height="8" alt="sort descending" title="sort descending" border="0" />
        </th>
        <th>Template name</th>
        <th>Template desc</th>
        <th>Location</th>
        <th>Initiated By</th>
        </tr>
#foreach ( $template in $module.getPrivateTemplates($user) )
         #indexedRows($velocityCount)
        <td><input type="checkbox" name="delete_$template.IssueId" /></td>
        #set ( $editLink = $link.setPathInfo("issue_id", $template.IssueId.toString()).setPage("SaveTemplate.vm").toString())
        <td><a href="$editLink">$template.TemplateInfo.Name</a></td>
        <td>#if($template.TemplateInfo.Description)  $template.TemplateInfo.Description #else &nbsp; #end</td>
        <td>$template.IssueType.Name
           #if (!$template.TemplateInfo.Approved)
             (until approved)
           #end
        </td>
         #set ($createdUser = $template.CreatedBy)
         <td>#if ($createdUser)
         <a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a>
         #else
         &#160;
         #end
         </td>
        </tr>
#end
#foreach ( $template in $module.GlobalTemplates )
         #indexedRows($velocityCount)
      #if ($security.hasPermission("Item | Delete", $module))
        <td><input type="checkbox" name="delete_$template.IssueId" /></td>
      #else
        <td>&nbsp;</td>
      #end
        <td>
          #if ($security.hasPermission("Item | Delete", $module))
            #set ( $editLink = $link.setPathInfo("issue_id", $template.IssueId.toString()).setPage("SaveTemplate.vm").toString())
            <a href="$editLink">$template.TemplateInfo.Name</a>
          #else
            $template.TemplateInfo.Name
          #end
        </td>
        <td>#if($template.TemplateInfo.Description)  $template.TemplateInfo.Description #else &nbsp; #end</td>
        <td>$template.IssueType.Name
           #if (!$template.TemplateInfo.Approved)
             (until approved)
           #end
        </td>
         #set ($createdUser = $template.CreatedBy)
         <td>#if ($createdUser)
         <a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a>
         #else
         &#160;
         #end
         </td>
        </tr>
#end
        </table>
##  FIXME: add prev/next nav       <p>&#171; previous | 1 of 1 | next &#187;</p>
   <p class="functnbar">
   #if ($user.UserId)
        <input type="submit" value="create new" name="eventSubmit_doCreatenew" />&#160;
        <input type="submit" value="Delete selected" name="eventSubmit_doDeletetemplates" />
   #end
      &#160;<input type="submit" value="Cancel" name="eventSubmit_doCancel" /></p>
#end
</div>
