$page.setTitle("Template list")

#set ($module = $scarabR.CurrentModule)
#set ($issueType = $scarabR.CurrentIssueType)
#set ($user = $data.User)
#if (($module.getPrivateTemplates($user, $issueType).isEmpty()) && ($module.getGlobalTemplates($issueType).isEmpty()))
   #set ($noTemplates = "true")
#elseif (($module.getPrivateTemplates($user, $issueType).isEmpty()) || ($module.getGlobalTemplates($issueType).isEmpty()))
   #set ($someTemplates = "true")
#end

#macro (TemplateListBar $val)
<div class="functnbar$val">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
  #if ($user.UserId)
  <input type="submit" value="Create new" name="eventSubmit_doCreatenew" />&#160;
  #if ($someTemplates.equals("true"))
  <input type="submit" value="Delete selected" name="eventSubmit_doDeletetemplates" />
  #end
  #end
  #if ($someTemplates.equals("true"))
  &#160;<input type="submit" value="Cancel" name="eventSubmit_doCancel" />
  #end
  </td>
 </tr>
</table>
</div>
#end

<div class="app" id="templateList">

<h2>$page.Title</h2>

<form method="post" action="$link.setPage("TemplateList.vm").setAction("TemplateList")">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="TemplateList.vm" />

#TemplateListBar("")

<h3>Stored Templates</h3>

#if ($noTemplates.equals("true"))
    <p><strong class="alert">
    There are no stored templates, click <a
    href="$link.setPage("SaveTemplate.vm")">here</a> to create a new
    one.
    </strong></p>
#else
  
<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
  <th nowrap="nowrap">
  <img src="$data.Request.ContextPath/images/icon_uparrow.gif" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" />
  <img src="$data.Request.ContextPath/images/icon_downarrow.gif" width="13" height="8" alt="sort descending" title="sort descending" border="0" />
  </th>
  <th>Template name</th>
  <th>Template desc</th>
  <th>Location</th>
  <th>Created by</th>
  </tr>

#foreach ($template in $module.getPrivateTemplates($user, $issueType))
   #indexedRows($velocityCount)
  <td><input type="checkbox" name="delete_$template.IssueId" /></td>
  #set ($editLink = $link.setPathInfo("issue_id", $template.IssueId.toString()).setPage("SaveTemplate.vm").toString())
  <td><a href="$editLink">$template.TemplateInfo.Name</a></td>
  <td>
    #if($template.TemplateInfo.Description)
      $template.TemplateInfo.Description
    #else
      &#160;
    #end
  </td>
  <td>$template.templateInfo.Scope.Name
     #if (!$template.TemplateInfo.Approved)
       (until approved)
     #end
  </td>
   <td>
   #set ($createdUser = $template.CreatedBy)
   #if ($createdUser)
   <a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a>
   #else
   &#160;
   #end
   </td>
  </tr>
#end

#foreach ($template in $module.getGlobalTemplates($issueType))
#indexedRows($velocityCount)
#if ($scarabR.hasPermission($scarabG.Permission.ITEM__DELETE, $module))
  <td><input type="checkbox" name="delete_$template.IssueId" /></td>
#else
  <td>&#160;</td>
#end
  <td>
    #if ($scarabR.hasPermission($scarabG.Permission.ITEM__DELETE, $module))
      #set ($editLink = $link.setPathInfo("issue_id", $template.IssueId.toString()).setPage("SaveTemplate.vm").toString())
      <a href="$editLink">$template.TemplateInfo.Name</a>
    #else
      $template.TemplateInfo.Name
    #end
  </td>
  <td>
    #if($template.TemplateInfo.Description)
      $template.TemplateInfo.Description 
    #else
      &#160; 
    #end
  </td>
  <td>$template.IssueType.Name
     #if (!$template.TemplateInfo.Approved)
       (until approved)
     #end
  </td>
   <td>
   #set ($createdUser = $template.CreatedBy)
   #if ($createdUser)
     <a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a>
   #else
     &#160;
   #end
   </td>
  </tr>
#end

  </table>

#end

#TemplateListBar("2")

</form>
</div>
