<div id="userlist" class="app">

## USER SEARCH
<form action="$link.setPage("UserList.vm")" method="post">
<input type="hidden" name="action" value="Search" />
#set ($cancelPage = $data.Parameters.getString("$scarabG.Constant.CANCEL_TEMPLATE", "AdvancedQuery.vm"))
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="$cancelPage" />
#set ($queryId = $data.Parameters.getString("queryId"))
#if ($queryId)
<input type="hidden" name="queryId" value="$queryId" />
#end

#set ($module = $scarabR.CurrentModule)
#set ($issueType = $scarabR.CurrentIssueType)
#set ($searchString = $data.Parameters.getString("searchString" , ""))

<h3>$l10n.Users</h3>

<div class="functnbar">
  <input type="submit" value="$l10n.Cancel" name="eventSubmit_doCancelUserList" />
</div>

<div class="axial">
<table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th>$l10n.FilterThisList</th>
   <td><input type="text" name="searchString" />&nbsp;
     <select name="searchField" >
      <option value="First Name">$l10n.FirstName</option>
      <option value="Last Name">$l10n.LastName</option>
      <option value="Email">$l10n.Email</option>
     </select>&nbsp;<input type="submit" name="eventSubmit_doRefresh" value="$l10n.Filter" /></td>
  </tr>
</table>
</div>

#set ($searchString = $data.Parameters.getString("searchString" , ""))
#if ($searchString && $searchString.length() > 0)
   #set ($searchResults = $scarabR.UserSearchResults) 
   #if ( $searchResults.isEmpty())
      <p class="alert">$l10n.NoUserMatch</p>
      #set ($searchResults = $module.getUsers($module.getUserPermissions($issueType)))
   #end
#else
      #set ($searchResults = $module.getUsers($module.getUserPermissions($issueType)))
#end


<table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
    <th nowrap="nowrap">&#160;</th>
    <th>$l10n.Name</th>
    <th>$l10n.Username</th>
  </tr>
  ##<p class="paginate">&#171; previous | 1 of 1 | next &#187;</p>
    
  #foreach ($user in $searchResults)
    <tr class="a">
    <td><input type="checkbox" name="user_list" value="$user.UserId" /></td>
    <td><a href="mailTo:$user.Email"><strong>$!user.Name</strong></a></td>
    <td>$user.UserName</td>
    </tr>
   #end
</table>  

<div class="functnbar3">
 <input type="submit" name="eventSubmit_doAddUserList" value="$l10n.AssociateSelectedUserWithIssue" />
</div>

<div class="functnbar2">
  <input type="submit" value="$l10n.Cancel" name="eventSubmit_doCancelUserList" />
</div>
		
$intake.declareGroups()
</form>

</div>
