#set ($action = $link.setPage("ViewIssue.vm").setAction("ModifyIssue").addPathInfo("nextTemplate", "ViewIssue.vm"))
#set ($currentIssueId = $data.Parameters.getString("issue_id", $data.Parameters.getString("id")))
#set ($currentIssue = $scarabR.getIssue($currentIssueId))
#set ($fullHistory = $data.Parameters.getString("fullhistory",""))

#set ($currentIssueModuleId = $currentIssue.ModuleId)
#set ($currentModuleId = $scarabR.CurrentModule.ModuleId)
#set ($currentModuleName = $scarabR.CurrentModule.Name)
#if ($currentIssueModuleId != $currentModuleId)

<p><strong class="alert">
The issue id, $currentIssueId, is not valid for the $currentModuleName Module	
</strong></p>

<p class="warn">
</p>
#else

#if ($currentIssue)
    #set ($attrValues = $currentIssue.ModuleAttributeValuesMap)
#set ($module = $scarabR.CurrentModule)


<form name="IssueForm" method="post" action="$action" >
#if ($fullHistory) <input type="hidden" name="fullHistory" value="$fullHistory"> #end
<input type="hidden" name="id" value="$currentIssue.IssueId">

 #viewIssue( $currentIssue )

$intake.declareGroups()
</form>

#else     ## issue id was not valid

    #if ($currentIssueId)
        <p><strong class="alert">
        The issue id, $currentIssueId, is not valid.
        </strong></p>
    #else
        <p><strong class="alert">
        You need to enter an issue id.
        </strong></p>
    #end

#end
#end
