#set ($action = $link.setPage("ViewIssue.vm").setAction("ModifyIssue").addPathInfo("nextTemplate", "ViewIssue.vm"))
#set ($currentIssueId = $data.Parameters.getString("id"))
#set ($currentIssue = $scarabR.getIssue($currentIssueId))
#set ($fullHistory = $data.Parameters.getString("fullhistory",""))


#if ($currentIssue)
    #set ($attrValues = $currentIssue.ModuleAttributeValuesMap)
#set ($user = $data.User)
#set ($module = $user.CurrentModule)

#set ( $canEdit = $security.hasPermission("Issue | Edit", $module) )

<form name="IssueForm" method="post" action="$action" >
#if ($fullHistory) <input type="hidden" name="fullHistory" value="$fullHistory"> #end
<input type="hidden" name="id" value="$currentIssue.IssueId">

 #viewIssue( $currentIssue )

$intake.declareGroups()
</form>

#else     ## issue id was not valid

    #if ($currentIssueId)

        The issue id, $currentIssueId, is not valid.

    #else
    
        You need to enter an issue id.

    #end

#end
