<div class="app" id="viewissue">

#set ($action = $link.setPage("ViewIssueLong.vm").setAction("ModifyIssue").addPathInfo("$scarabG.Constant.NEXT_TEMPLATE", "ViewIssueLong.vm").toString())
#set ($issueList = $data.Parameters.getStrings("issue_ids"))
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage"))
#set ($pageNum = $data.Parameters.getInt("pageNum"))

#if ($issueList.size() > $resultsPerPage)
   #set ($paginated = "true")
   #set ($issueList = $scarabR.getPaginatedList($issueList, $pageNum, $resultsPerPage))
#end

#if ($issueList)
## PAGINATION
#if ($paginated)
 <div class="misc">
  #if ($scarabR.PrevPage != 0)
    #set ($prevLink = $link.setPathInfo("resultsperpage", $resultsPerPage.toString()).setPathInfo("pageNum", $scarabR.PrevPage.toString()).setPage("ViewIssueLong.vm").toString())
    <a href="$prevLink">&laquo;</a> previous |
  #end
     $pageNum of $scarabR.NbrPages
  #if( $scarabR.NextPage != 0)
    #set ($nextLink = $link.setPathInfo("resultsperpage", $resultsPerPage.toString()).setPathInfo("pageNum", $scarabR.NextPage.toString()).setPage("ViewIssueLong.vm").toString())
    | <a href="$nextLink">&raquo;</a> next
  #end
#end
  #set ($currentModule = $scarabR.CurrentModule)
  #foreach ($issueId in $issueList)
     #set ($currentIssue = $scarabR.getIssueByPk($issueId.toString()))
  <form method="post" action="$action">
    <input type="hidden" name="id" value="$currentIssue.UniqueId">
    <input type="hidden" name="resultsPerPage" value="$resultsPerPage">
    #viewIssue ($currentIssue $currentModule)
  $intake.declareGroups()
  </form>
  #end
#else
   <p><strong class="alert">You have not selected any issues to view.</strong></p>
#end

</div>
