#**
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@version $Id: AddRole.vm,v 1.9 2003/04/15 23:39:44 beril Exp $
*#

#set ($lastAction = $data.Parameters.getString("lastAction"))

<div id="addrole" class="app">

<h3>$l10n.AddRole</h3>

<form name="EditUserForm" action="admin%2cAddRole.vm" method="post">
  <input type="hidden" name="action" value="admin.ManageRoles" />
  <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ManageRoles.vm" />
  <input type="hidden" name="lastAction" value="" />

#set ($regGroup = $intake.EditRole.Default)
#if (($lastAction) && ($lastAction == "addedrole"))
    #set ($roleNameData = "")
#else
    #set ($roleNameData = $regGroup.RoleName)
#end

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th>Role</th>
 <td>
   <input name="$regGroup.RoleName.Key" value="$roleNameData" type="text" size="25" />
   #fieldErrorMsg($regGroup.RoleName "")
 </td>
</tr>
</table>
</div>

<div class="functnbar2">
 <input type="submit" name="eventSubmit_doAddrole" value="$l10n.Add" />&#160;
 <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
</div>

$intake.declareGroups()

</form>
</div>
