#**
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@author <a href="mailto:jon@collab.net">Jon Stevens</a>
@version $Id: AdminIndex.vm,v 1.15 2002/02/11 20:52:45 maartenc Exp $
*#

<div id="adminIndex" class="app">

<h2>$page.Title</h2>

#if ($scarabR.hasPermission($scarabG.Permission.DOMAIN__ADMIN,$scarabR.CurrentModule))

<h3>Users</h3>

<ul>
 <li> <a href="admin,ManageUserSearch.vm">User Management</a> </li>
 <li> $link.setPage("admin,AddUser.vm").addQueryData("state","showadduser").setLabel("Add New User") </li>
</ul>


<h3>Roles</h3>

<ul>
 <li> <a href="admin,ManageRoles.vm">Role List</a> </li>
 <li> <a href="admin,AddRole.vm">Add New Role</a> </li>
</ul>

#end

#if ($scarabR.hasPermission($scarabG.Permission.DOMAIN__EDIT, $scarabR.CurrentModule))

<h3>Global Data</h3>
<ul>
 <li>$link.setPage("admin,GlobalArtifactTypeShow.vm").setLabel("Global Issue Types")</li>
 <li>$link.setPage("admin,GlobalAttributeShow.vm").setLabel("Global Attributes")</li>
</ul>

#end

<h3>Modules</h3>
<ul>
#if ($link.setPage("admin,ManageArtifactTypes.vm").isAllowed())
 <li>$link.setLabel("Manage Issue Types")</li>
#end
#if ($link.setPage("admin,ManageModules.vm").isAllowed())
 <li>$link.setLabel("Manage Modules")</li>
#end
#if ($scarabR.hasPermission($scarabG.Permission.ITEM__APPROVE, $scarabR.CurrentModule))
 <li>$link.setPage("admin,Approval.vm").setLabel("Approve")</li>
#end
</ul>

</div>


