$page.setTitle("Select Artifact Type")

#set ($nextTemplate = $data.Parameters.getString("nextTemplate"))
#if (!$nextTemplate)
   #set ($nextTemplate = "SelectArtifactType.vm")
#end
     <div class="app" id="divselect_module">
        <h3>Admin screens</h3>
        
        <table width="100%" border="1" cellspacing="2" cellpadding="3">
        <tr>
          <td>
<ul>
<li>
 <a href="$link.setPage("admin,GlobalArtifactTypeShow.vm")">Global Artifact Types</a>
</li>
<li>
 <a href="$link.setPage("admin,GlobalAttributeShow.vm")">Global Attributes</a>
</li>
<li>
 <a href="$link.setPage("admin,ManageArtifactTypes.vm")">Manage Artifact Types</a>
</li>
<li>
 <a href="$link.setPage("admin,ManageModules.vm")">Manage Modules</a>
</li>
<li>
 <a href="$link.setPage("admin,AdminIndex.vm")">New Administrator Piece Index</a> (replacement for Flux)
</li>
</ul>
        </td>
      </tr>
        </table>
     </div>
