<FORM METHOD="post" NAME="AdminHomeForm" ACTION="">
  <INPUT TYPE="hidden" NAME="action" VALUE="AdminHome">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td class="NavHeader">SCARAB:</td>
<td class="NavHeader"><a href="/">My Bugs</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Report</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Browse</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Search</a></td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeaderOn" bgcolor="#cccccc">Admin</td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeader"><a href="/">Help</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Prefs</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Log Out</a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap class="NavHeaderOn" bgcolor="#CCCCCC">Home | <a href="/">Modify Project</a> | <a href="/">Modify Component</a> | <a href="/">Modify User</a> | <a href="/">Modify Role</a> | <a href="/">Modify Permission</a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="1" bgcolor="#000000"></td>
</tr>
</table>

<p>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td class="Header" bgcolor="#999999">&nbsp;SCARAB ADMINISTRATION:</td>
</tr>
</table>
<p>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td class="PlainText">
<ul>
<li><a href="modify_projects_home.html">Modify Projects</a>
<li><a href="currentusers.html">Find a Current User</a>
<li><a href="modifyuser.html">Modify Users</a>
<li><a href="modify_roles.html">Modify Roles</a>
<li><a href="modify_permission.html">Role-Permission Relationship</a>
</td>
</tr>
</table>
</form>