<div id="approval" class="app">
<form action="$link.setPage("admin,Approval.vm")" method="post">
<input type="hidden" name="action" value="admin.Approval" />

#if (!$scarabR.hasItemsToApprove())

 <h3>$l10n.OpenSubmissions</h3>

 <p><em>$l10n.NoItemsToApprove</em></p>

#else

#set ($module = $scarabR.CurrentModule)
#if (!$module.UnapprovedQueries.isEmpty() || !$module.UnapprovedTemplates.isEmpty())

 <div class="functnbar">
   <input type="submit" value="$l10n.Submit" name="eventSubmit_doSubmit" />&#160; 
 </div>

 <h3>$l10n.OpenSubmissions</h3>

 <table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
   <th nowrap="nowrap">$l10n.Select</th>
   <th>$l10n.Date</th>
   <th>$l10n.Type</th>
   <th>$l10n.SubmittedBy</th>
   ##<th>$l10n.Project</th>
   ##<th>$l10n.UserRole</th>
   <th>$l10n.Name</th>
   <th>$l10n.Description</th>
   <th>$l10n.Comments</th>
   <th>$l10n.Action</th>
  </tr>

#foreach($query in $module.UnapprovedQueries)

  #indexedRows($velocityCount)

  <td><input type="checkbox" name="query_id_$query.QueryId" /></td>
  <td>$format.getDate($scarabR.DateFormat, $query.CreatedDate)</td>
  <td>$l10n.Query</td>

  #set ($createdUser = $scarabR.getUser($query.UserId))
  <input type = "hidden" name="query_user_$query.QueryId" value = "$createdUser.UserId" />
  <td><a href="mailTo:$createdUser.Email">$!createdUser.Name</a></td>
  <td><a href="$scarabR.getEditLink($link.setPage("EditQuery.vm").toString(), $query)">$query.Name</a></td>
  <td>#if ($query.Description) $query.Description #else &#160; #end</td>
  <td>#textAreaSmall("query_comment_$query.QueryId" "")</td>
  <td><select name="query_action_$query.QueryId">
   <option value="none">$l10n.NoAction</option>
   <option value="comment">$l10n.CommentOnly</option>
   <option value="approve">$l10n.Approve</option>
   <option value="reject" >$l10n.Reject</option>
   </select>
  </td>
 </tr>
#end

#foreach ($template in $module.UnapprovedTemplates)

  #indexedRows($velocityCount)

  <td><input type="checkbox" name="template_id_$template.IssueId" /></td>
  <td>$format.getDate($scarabR.DateFormat, $template.CreatedDate)</td>
  <td>$l10n.EnterIssueTemplate</td>
  #set ($createdUser = $template.CreatedBy)
  <input type = "hidden" name="template_user_$template.IssueId" value="$createdUser.UserId" />
  <td><a href="mailTo:$createdUser.Email">$!createdUser.Name</a></td>
   ##<td>$template.Module.Name</td>
   ##<td>$l10n.RoleX</td>
   #set ($editLink = $link.setPathInfo("id", $template.UniqueId.toString()).setPage("SaveTemplate.vm").toString())
   <td><a href="$editLink">$template.TemplateInfo.Name</a></td>
   <td>#if ($template.TemplateInfo.Description) $template.TemplateInfo.Description #else &#160; #end</td>
   <td>#textAreaSmall("template_comment_$template.IssueId" "")</textarea></td>
   <td>
    <select name="template_action_$template.IssueId">
   <option value="none">$l10n.NoAction</option>
   <option value="comment">$l10n.CommentOnly</option>
   <option value="approve">$l10n.Approve</option>
   <option value="reject" >$l10n.Reject</option>
    </select>
   </td>
  </tr>
#end
</table>

<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">$l10n.Comments ($l10n.SentToSelected)</th>
   <td>#textAreaMedium("global_comment" "")</td>
  </tr>
 </table>
</div>

<div class="functnbar2">
  <input type="submit" value="$l10n.Submit" name="eventSubmit_doSubmit" />&#160; 
  <input type="submit" value="$l10n.ClearForm" />
</div>

#end ## end of if (!list.empty || !list2.empty)

#if (!$securityAdmin.getPendingGroupUserRoles($module).isEmpty() && $scarabR.hasPermission($scarabG.Permission.USER__APPROVE_ROLES, $module))

 <div class="functnbar">
   <input type="submit" value="$l10n.Submit" name="eventSubmit_doSubmit" />&#160; 
 </div>

<h3>$l10n.ApproveRoleRequests</h3>

 <table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
    <th>$l10n.User</th>
      
    #foreach ($role in $securityAdmin.NonRootRoles)
    <th>$role.Name</th>
    #end
    <th>$l10n.Defer</th>
    <th>$l10n.Deny</th>

  </tr>

  #set ($module = $scarabR.CurrentModule)
  #foreach ($pending in $securityAdmin.getPendingGroupUserRoles($module))
  #set ($user = $scarabR.getUser($pending.UserId))
  #indexedRows ($velocityCount)
    <td>
        <a href="mailto:$user.Email">$user.UserName</a> - $user.Name
    </td>

    #foreach ($role in $securityAdmin.NonRootRoles)
      #if ($securityAdmin.hasRequestedRole($user, $role, $module))
        #set ($checked = "checked")
      #else
        #set ($checked = "")
      #end
    
    <td>
      <input type="radio" name="$user.UserName" value="$role.Name" $checked />
    </td>
    #end    
    <td>
      <input type="radio" name="$user.UserName" value="$l10n.Defer" />
    </td>
    <td>
      <input type="radio" name="$user.UserName" value="$l10n.Deny" />
    </td>
  </tr>
  #end
    
</table>

<div class="functnbar2">
 <input type="submit" name="eventSubmit_doApproveroles" 
     value="$l10n.Submit" />
</div>

#end ## end of if (!list.empty)
## end of role approval

#end
##end of if (all lists are empty) 

</form>
</div>
