<div id="approval" class="app">

<h2>$page.Title</h2>

<form action="$link.setPage("Approval.vm")" method="post">
<input type="hidden" name="action" value="admin.Approval" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="Approval.vm" />

<h3>Open submissions</h3>

#set ($module = $scarabR.CurrentModule)
#if (($module.UnapprovedQueries.isEmpty()) && ($module.UnapprovedTemplates.isEmpty()))

  <p><strong class="alert">There are no items to approve at this time.</strong></p>

#else

 <div class="functnbar">
   <input type="submit" value="Submit" name="eventSubmit_doSubmit" />&#160; 
   <input type="submit" value="Cancel" name="eventSubmit_doCancel" />
 </div>

 <table width="100%" border="1" cellspacing="2" cellpadding="3">
  <tr>
   <th nowrap="nowrap">&#160;</th>
   <th>Date</th>
   <th>Type</th>
   <th>Submitted by</th>
   ##<th>Project</th>
   ##<th>User role</th>
   <th>Name</th>
   <th>Description</th>
   <th>Comments</th>
   <th>Action</th>
  </tr>

#foreach( $query in $module.UnapprovedQueries )

  #indexedRows($velocityCount)

  <td><input type="checkbox" name="query_id_$query.QueryId" /></td>
  <td>$format.getDate($scarabR.DateFormat, $query.CreatedDate)</td>
  <td>Query</td>

  #set ($createdUser = $scarabR.getUser($query.UserId))
  <input type = "hidden" name="query_user_$query.QueryId" value = "$createdUser.UserId" />
  <td><a href="mailTo:$createdUser.Email">$!createdUser.FirstName $!createdUser.LastName</a></td>
  <td><a href="$query.getEditLink($link.toString())">$query.Name</a></td>
  <td>#if ($query.Description) $query.Description #else &#160; #end</td>
  <td>#textAreaSmall("query_comment_$query.QueryId" "" )</td>
  <td><select name="query_action_$query.QueryId">
   <option value="none">No action</option>
   <option value="comment">Comment only</option>
   <option value="approve">Approve</option>
   <option value="reject" >Reject</option>
   </select>
  </td>
 </tr>
#end

#foreach ($template in $module.UnapprovedTemplates)

  #indexedRows($velocityCount)

  <td><input type="checkbox" name="template_id_$template.IssueId" /></td>
  <td>$format.getDate($scarabR.DateFormat, $template.CreatedDate)</td>
  <td>enter issue template</td>
  #set ($createdUser = $template.CreatedBy)
  <input type = "hidden" name="template_user_$template.IssueId" value="$createdUser.UserId" />
  <td><a href="mailTo:$createdUser.Email">$!createdUser.FirstName $!createdUser.LastName</a></td>
   ##<td>$template.Module.Name</td>
   ##<td>role X</td>
   #set ($editLink = $link.setPathInfo("id", $template.UniqueId.toString()).setPage("SaveTemplate.vm").toString())
   <td><a href="$editLink">$template.TemplateInfo.Name</a></td>
   <td>#if ($template.TemplateInfo.Description) $template.TemplateInfo.Description #else &#160; #end</td>
   <td>#textAreaSmall("template_comment_$template.IssueId" "")</textarea></td>
   <td>
    <select name="template_action_$template.IssueId">
    <option>No action</option>
    <option>Comment only</option>
    <option>Approve</option>
    <option>Reject</option>
    </select>
   </td>
  </tr>
#end
</table>

<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
  <tr>
   <th width="120">Comments (sent to selected submittees)</th>
   <td>#textAreaMedium("global_comment" "")</td>
  </tr>
 </table>
</div>

<div class="functnbar2">
  <input type="submit" value="Submit" name="eventSubmit_doSubmit" />&#160; 
  <input type="submit" value="Cancel" name="eventSubmit_doCancel" />&#160; 
  <input type="submit" value="Clear form" />
</div>
#end

</form>
</div>
