$page.setTitle("Attribute Editor")

<div class="app" id="div2-1-4-0">
<h2>Customize/create artifact type</h2>

#set ($module = $scarabR.CurrentModule)
#set ($issueType = $scarabR.IssueType)
#set ($issueTypeId = $data.Parameters.getString("issueTypeId"))

#if (!$issueTypeId)
<p class="alert">Artifact type not found. Please click <a href="$link.setPage("admin,ManageArtifactTypes.vm")">here</a> to proceed.</p>
#else
#set ($groups = $issueType.getAttributeGroups($module))
#set ($rmit= $module.getRModuleIssueType($issueType))
#set ($rmitGroup = $intake.RModuleIssueType.mapTo($rmit))

#macro (ArtifactTypeEditBar $var)
<div class="functnbar$var">
    <table cellpadding="4" cellspacing="0" border="1">
    <tr>
    <td class="firstchild">
    <div>Screen options:</div>
      <input type="submit" value="Save" name="eventSubmit_doModifyissuetype" />&#160;
      <input type="submit" value="Back" name="eventSubmit_doBack" />&#160;
      <input type="submit" value="Cancel" name="eventSubmit_doCancel"  />
    </td>
#if (!$groups.isEmpty())
    <td nowrap="nowrap">
    <div>Attribute group options:</div>
      <input type="submit" value="Add new" name="eventSubmit_doCreatenewgroup" />&#160;
      <!-- FIXME: <input type="submit" value="Copy" />&#160; -->
      <input type="submit" value="Delete" name="eventSubmit_doDeletegroup" />&#160;
      <!-- FIXME: <input type="submit" value="Resort" /> -->
    </td>
#end
  </tr>
  </table>
</div>
#end


<form method="get" action="$link.setPage("admin,ArtifactTypeEdit.vm")">
<input type="hidden" name="action" value="admin.ModifyModuleAttributes" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,ManageArtifactTypes.vm" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ArtifactTypeEdit.vm" />
<input type="hidden" name="$scarabG.Constant.BACK_TEMPLATE" value="admin,ManageArtifactTypes.vm" />
<input type="hidden" name="issueTypeId" value="$issueTypeId" />

#ArtifactTypeEditBar("")

<h3>Artifact type details</h3>
<div class="axial">
    <table border="0" cellspacing="2" cellpadding="3">
    <tr>
    <th>Artifact type name</th>
    <td><input type="text" size="25" name="$rmitGroup.DisplayName.Key" 
      #if ($rmitGroup.DisplayName.Value.toString().length() != 0)
          value="$rmitGroup.DisplayName.Value"/>
      #else
          value="$issueType.Name"/>
      #end
    </td>
    </tr>
    <tr>
    <th>Artifact type desc</th>
    <td><textarea rows="4" cols="40" name="$rmitGroup.DisplayDesc.Key">#if($rmitGroup.DisplayDesc.Value.toString().length() != 0)$rmitGroup.DisplayDesc.Value#else$!issueType.Description#end</textarea></td>
    </tr>
    </table>
</div>

#if ($groups.isEmpty())
   #if ($issueType.IssueTypeId)
   ## NO GROUPS YET - user must push button to create default groups
   <p><strong class="alert">This module has no groups. Please click to create default groups.</strong></p>
   <p><input type="submit" value="Create default attribute groups" name="eventSubmit_doCreatedefaults" /></p>
   #end
#else

<h3>Artifact instance "history" and "Comments" display options</h3>

<p>
<input type="checkbox" checked="checked" />&#160;Show&#160;
<select class="select" name="$rmitGroup.Comments.Key">
<option #if ($rmitGroup.Comments.Value == 5) selected="selected" #end>5</option>
<option #if ($rmitGroup.Comments.Value == 10) selected="selected" #end>10</option>
<option #if ($rmitGroup.Comments.Value == 15) selected="selected" #end>15</option>
<option #if ($rmitGroup.Comments.Value == 20) selected="selected" #end>20</option>
</select>
most recent artifact instance history entries (otherwise, a link will
appear leading to a seperate page).
</p>
<p><input type="checkbox" checked="checked" />&#160;Show&#160;
<select class="select" name="$rmitGroup.History.Key">
<option #if ($rmitGroup.History.Value == 5) selected="selected" #end>5</option>
<option #if ($rmitGroup.History.Value == 10) selected="selected" #end>10</option>
<option #if ($rmitGroup.History.Value == 15) selected="selected" #end>15</option>
<option #if ($rmitGroup.History.Value == 20) selected="selected" #end>20</option>
</select>
most recent artifact instance comments (otherwise, a link will appear to
a seperate page).
</p>

## LIST GROUPS

<h3>Attribute groups</h3>
#set ($maxNum = $groups.size()+1)
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th nowrap="nowrap">Select</th>
<th>Attribute group name</th>
<th>Active/inactive</th>
<th>Sequence #</th>
</tr>

#set ($issueDedupeSequence = $issueType.getDedupeSequence($module))
#foreach ($group in $groups)
## DEDUPE
 #if ($velocityCount == $issueDedupeSequence)
 <tr>
   <td>&#160;</td>
   <td>Duplicate check</td>
   <td>#booleanCheckbox ($module.Dedupe)</td>
   <td>#numericSelect("dupe_order" 1 $maxNum $issueDedupeSequence 1)</td>
 </tr>
 #end

  #set ($agGroup = $intake.AttributeGroup.mapTo($group))
  #indexedRows($velocityCount)
  <td><input type="checkbox" name="delete_group_$group.AttributeGroupId" /></td>
  <td><a href="$link.setPage("admin,AttributeGroup.vm").addPathInfo("groupid", $group.AttributeGroupId).addPathInfo("issueTypeId", $issueTypeId)">$group.Name</a></td>
  <td>#booleanCheckbox ($agGroup.Active)</td>
  <td>
  #numericSelect($agGroup.Order.Key 1 $maxNum $agGroup.Order.Value 1)</td> </tr>
#end

</td>
</tr>
</table>

#end

#ArtifactTypeEditBar("2")

$intake.declareGroups()
</form>
</div>
#end
