#set ($module = $scarabR.CurrentModule)
#set ($issueType = $scarabR.IssueType)
#set ($group = $intake.IssueType.mapTo($issueType))

#macro (ArtifactTypeCreateBar)
<div class="functnbar">
      <input type="submit" value="Done" name="eventSubmit_doDone" />&#160;
      <input type="submit" value="Cancel" name="eventSubmit_doCancel"  />&#160;
</div>
#end

<div class="app" id="div2-1-4-0">

<h2>$page.Title</h2>

<form method="get" action="$link.setPage("admin,ArtifactTypeCreate.vm")">
<input type="hidden" name="action" value="admin.GlobalArtifactTypeCreate" />

#ArtifactTypeCreateBar()

<h3>Artifact type details</h3>
<div class="axial">
  <table border="0" cellspacing="2" cellpadding="3">
    <tr>
    <th>* Artifact type name</th>
    <td><input type="text" size="25" name="$group.Name.Key" value="$!group.Name.Value"/>
    </td>
    </tr>
    <tr>
    <th>* Artifact type desc</th>
    <td>#textAreaMedium("$group.Description.Key" $group.Description.Value)</td>
    </tr>
  </table>
</div>

#ArtifactTypeCreateBar()

$intake.declareGroups()
</form>
</div>
