$page.setTitle("Attribute Editor")

#set ($attribute = $scarabR.Attribute)
#set ($attOptions = $attribute.getAttributeOptions())

<p><b>Editing Attribute</b>: <i>$attribute.Name</i></p>
<p>Each Attribute can have zero or more Attribute Options.</p>

#if ($attOptions.size() > 0)
<p>This Attribute has the following Attribute Options (in order):</p>

<blockquote><i>
#foreach ($option in $attOptions)
$option.DisplayValue,
#end
</i></blockquote>
#end

  <p>
  <form action="$link.setPage("admin,AttributeEdit.vm")" method="POST">
    #set ( $attgroup = $intake.Attribute.Default )
    <input type="hidden" name="$attgroup.CID" value="$attgroup.OID">
    <input type="hidden" name="$attgroup.Id.Key" value="$attribute.AttributeId">

    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="admin,AttributeEditOptions.vm">
    <input type="submit" name="eventSubmit_doModifyattributeoptions" value="Modify Attribute Options">
  </form>
  </p>

<p>
In order to modify this attribute, please choose from the options below:
</p>

  <p>
    <form action="$link.setPage("admin,AttributeEdit.vm")" method="POST">
        #set ( $attgroup = $intake.Attribute.Default )
        <input type="hidden" name="$attgroup.CID" value="$attgroup.OID">
        <input type="hidden" name="$attgroup.Id.Key" value="$attribute.AttributeId">
<!-- fix me! not sure what goes here for the type="text" below...-->
        <input type="text" name="$attgroup.Name.Key" value="$attribute.Name">
        <input type="submit" name="eventSubmit_doModifyattributename" value="Modify Name">
        <input type="submit" name="eventSubmit_doDeleteattribute" value="Delete Attribute">
    </form>
  </p>

<p>
  <form action="$link.setPage("admin,AttributeEdit.vm")" method="POST">
    #set ( $attgroup = $intake.Attribute.Default )
    <input type="hidden" name="$attgroup.CID" value="$attgroup.OID">
    <input type="hidden" name="$attgroup.Id.Key" value="$attribute.AttributeId">

    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="admin,AttributeEdit.vm">

    #set ($attType = $attribute.AttributeType)
    #set ( $atttgroup = $intake.AttributeType.Default )
    <input type="hidden" name="$atttgroup.CID" value="$atttgroup.OID">

    <select name="$atttgroup.AttributeTypeId.Key" size="1">
    #foreach ( $atype in $attribute.AllAttributeTypes )
      <option value="$atype.AttributeTypeId" #if($attType.AttributeTypeId == $atype.AttributeTypeId)selected#end>$atype.Name</option>
    #end
    </select>
    <input type="submit" name="eventSubmit_doModifyattributetype" value="Modify Attribute Type">
  </form>
</p>

<p>
  <form action="$link.setPage("admin,AttributeEdit.vm")" method="POST">
    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="admin,AttributeShow.vm">
    <input type="submit" name="eventSubmit_doAlldone" value="All Done">
  </form>
</p>
