#set ($attribute = $scarabR.Attribute)
$page.setTitle("Add global attribute option to attribute '$attribute.Name'")

#set ($canEditDomain=$scarabR.hasPermission($scarabG.Permission.DOMAIN__EDIT))
#set ($editIssueType = $scarabR.getIssueType($data.Parameters.getString("issuetypeid")))
#set ($availOptions = $scarabR.CurrentModule.getAvailableAttributeOptions($attribute, $editIssueType))

<div class="app" id="AttributeOptionSelect">

<h2>$page.Title</h2>

<form action="$link.setPage("admin,AttributeOptionSelect.vm")" method="get">
<input type="hidden" name="action" value="admin.ModuleAttributeEdit" />
<input type="hidden" name="attributeId" value="$data.Parameters.getString("attributeId","").trim()" />
<input type="hidden" name="att_0id" value="$data.Parameters.getString("attributeId","").trim()" />
<input type="hidden" name="issueTypeId" value="$data.Parameters.getString("issueTypeId","").trim()" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,ModuleAttributeEdit.vm" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,GlobalAttributeEdit.vm" />
		
<div class="functnbar">
#if ($availOptions.size() > 0)
<input type="submit" value="Add to attribute" name="eventSubmit_doSelectattributeoption" />&#160;
#end
#if ($canEditDomain)
<input type="submit" value="Create new" name="eventSubmit_doGotoothertemplate"/>
 &#160;
#end
<input type="submit" value="Cancel"  name="eventSubmit_doCancel" />&#160;
</div>



#if ($availOptions.size() == 0)

<p><strong class="alert">There are no more global attribute options that are not already
associated with this attribute in this module.</strong></p>

#else

<p>The following attributes are available for use in this artifact type.</p>
<h3>Global attributes</h3>

<table border="1" cellspacing="2" cellpadding="3" width="100%">
<tr>
<th nowrap="nowrap" width="8%"></th>
<th>Option name</th>
</tr>

#set ($optionGroup = $intake.AttributeOption.Default)
#foreach ($option in $availOptions)
 #indexedRows($velocityCount)
  <td><input type="radio" name="$optionGroup.OptionId.Key" value="$option.OptionId" /></td>
  <td>$option.Name</td>
#end
</table>
#end


<div class="functnbar2">
#if ($availOptions.size() > 0)
<input type="submit" value="Add to attribute" name="eventSubmit_doSelectattributeoption" />&#160;
#end
#if ($canEditDomain)
<input type="submit" value="Create new" name="eventSubmit_doGotoothertemplate"/>
 &#160;
#end
<input type="submit" value="Cancel"  name="eventSubmit_doCancel" />&#160;
</div>


</form>

</div>
