#set ($groupId = $data.Parameters.getString("groupid"))
#set ($group = $scarabR.getAttributeGroup($groupId))
#set ($issueTypeId = $data.Parameters.getString("issueTypeId"))

<div class="app" id="div2-1-4-0">

#if (!$groupId)
<p class="alert">$l10n.GroupNotFound
<a href="$link.setPage("admin,ManageArtifactTypes.vm")>here</a>.</p>
#else

<form method="post" action="$link.setPage("admin,AttributeGroupEdit.vm")">
<input type="hidden" name="action" value="admin.AttributeGroupEdit">
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,AttributeSelect.vm" />
<input type="hidden" name="groupId" value="$groupId" />
<input type="hidden" name="issueTypeId" value="$issueTypeId" />
<input type="hidden" name="$scarabG.Constant.LAST_TEMPLATE" value="admin,AttributeGroupEdit.vm" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ArtifactTypeEdit.vm" />

<div class="functnbar">
<input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />
<input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
</div>

<h3>$l10n.AttributeGroupInfo</h3>

#set ($agGroup = $intake.AttributeGroup.mapTo($group))
<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
 <tr>
 <th>Name</th>
 <td><input type="text" size="25" name="$agGroup.Name.Key" value="$!agGroup.Name" /></td>
 </tr>
 <tr>
 <th>$l10n.Description</th>
 <td>#textAreaMedium("$agGroup.Description.Key" $agGroup.Description.Value)</td>
 </tr>
 </table>
</div>

<div class="functnbar3">
<input type="submit" value="$l10n.Save" name="eventSubmit_doSaveinfo" />&#160;
</div>

<h3>$l10n.AttributesInGroup</h3>
#if (!$group.Attributes.isEmpty())
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th>$l10n.Select</th>
<th>$l10n.Name</th>
<th>$l10n.PerProjectName</th>
<th>$l10n.Active</th>
<th>$l10n.Required</th>
<th>$l10n.IncludedInCustomQuery</th>
<th>$l10n.DefaultTxt</th>
<th>$l10n.Sequence</th>
</tr>
#foreach ($attribute in $group.Attributes)
   #set ($rma = $scarabR.CurrentModule.getRModuleAttribute($attribute, $group.IssueType))
   #set ($rmaGroup = $intake.RModuleAttribute.mapTo($rma))
   #set ($raag = $group.getRAttributeAttributeGroup($attribute))
   #set ($raagGroup = $intake.RAttributeAttributeGroup.mapTo($raag))
 #indexedRows($velocityCount)
 <td><input type="checkbox" name="att_delete_$attribute.AttributeId" /></td>
 <td>$link.setPage("admin,ModuleAttributeEdit.vm").addPathInfo("att_0id", "$attribute.AttributeId").addPathInfo("key", "groupId").addPathInfo("groupId", $groupId).addPathInfo("issueTypeId", $group.IssueTypeId).setLabel("$attribute.Name")</td>
 <td><input type="text" size="15" name="$rmaGroup.DisplayValue.Key"
    #if ($rmaGroup.DisplayValue.toString().length() > 0)
          value="$rmaGroup.DisplayValue" 
    #else
          value="$attribute.Name"
    #end
 /></td>
 <td>#booleanCheckbox ($rmaGroup.Active)</td>
 <td>#booleanCheckbox ($rmaGroup.Required)</td>
 <td>#booleanCheckbox ($rmaGroup.QuickSearch)</td>
 <td>
#if ($rma.Attribute.isTextAttribute())
    #set ($defaultText = $data.Parameters.getString("default_text",""))
    #if ($defaultText.length() > 0)
        #if($defaultText == $rma.Attribute.QueryKey)
            #set ($checked = true)
        #end
    #elseif ($rma.IsDefaultText)
        #set ($checked = true)
    #end        
    <input type="radio"  #if($checked)checked="checked"#end
        name="default_text" value="$rma.Attribute.QueryKey"/>
    #set ($checked = false)    
#else
    N/A
#end
</td>
 <td>#numericSelect( "$raagGroup.Order.Key" 1 $group.Attributes.size() $raagGroup.Order.Value 1 )</td>
 </tr>
 </td>
 </tr>
#end
</table>
<p><small>$l10n.DefaultText </small></p>
#else
  <p class="alert">$l10n.ClickAddButton</p>
#end

<div class="functnbar3">
#if (!$group.Attributes.isEmpty())
<input type="submit" value="$l10n.Save" name="eventSubmit_doSave" />&#160;
#end
<input type="submit" value="$l10n.AddNew" name="eventSubmit_doGotoothertemplate" />&#160;
##<input type="submit" value="$l10n.CopySelected" />&#160;
#if (!$group.Attributes.isEmpty())
<input type="submit" value="$l10n.DeleteSelected" name="eventSubmit_doDeleteattributes" />&#160;
<input type="submit" value="$l10n.Resort" name="eventSubmit_doSave" />
#end
</div>


<div class="functnbar2">
<input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />
<input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
</div>

$intake.declareGroups()
</form>
#end
