$page.setTitle("Select global attribute")
#set ($canEditDomain=$scarabR.hasPermission($scarabG.Permission.DOMAIN__EDIT))
#macro (AttributeSelectBar $val)
<div class="functnbar$val">
#set ($attributes = $scarabR.CurrentModule.getAvailableAttributes($scarabR.CurrentIssueType))
<table cellpadding="4" cellspacing="0" border="1">
#if ($attributes.size() == 0)
<tr>
<td class="firstchild" nowrap="nowrap">
<div>General functions</div>
#if ($canEditDomain)
<input type="submit" value="Create new" name="eventSubmit_doCreatenewglobalattribute"/>
 &#160;
#end
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />
</td>
</tr>
#else
<tr>
<td class="firstchild">
<div>Select items to</div>
<input type="submit" value="Add to attribute group" name="eventSubmit_doSelectattribute" />
</td>
<td nowrap="nowrap">
<div>General functions</div>
#if ($canEditDomain)
<input type="submit" value="Create new" name="eventSubmit_doCreatenewglobalattribute"/>
 &#160;
#end
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />
</td>
</tr>
#end
</table>
</div>
#end

<div class="app" id="globalAttributeSelect">

<h2>$page.Title</h2>

#set ($rmaGroup = $intake.RModuleAttribute.Default)
#set ($agGroup = $intake.AttributeGroup.Default)
#set ($attGroup = $intake.Attribute.Default)
<form action="$link.setPage("admin,AttributeSelect.vm")" method="get">
<input type="hidden" name="action" value="admin.ModifyModuleAttributes" />
<input type="hidden" name="$agGroup.AttributeGroupId.Key" value="$data.Parameters.getString("groupId","").trim()" />
<input type="hidden" name="issueTypeId" value="$data.Parameters.getString("issueTypeId","").trim()" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,GlobalAttributeEdit.vm" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,AttributeGroup.vm" />


#AttributeSelectBar("")

#if ($attributes.size() == 0)

<p><strong class="alert">There are no more global attributes that are not already associated with an attribute group in this module.</strong></p>

#else

<h3>Global attributes</h3>

<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th nowrap="nowrap">
<img src="$data.Request.ContextPath/images/icon_uparrow_off.gif" width="13" height="8" alt="sort ascending" title="sort ascending" border="0" />
<img src="$data.Request.ContextPath/images/icon_downarrow_on.gif" width="13" height="8" alt="sort descending" title="sort descending" border="0" />
</th>
<th>Input type</th>
<th>Attribute name</th>
<th>Description</th>
<th>Author</th>
<th>Creation date</th>
</tr>

#foreach ($attribute in $attributes)
 #indexedRows($velocityCount)
  <td><input type="radio" name="$attGroup.Id.Key" value="$attribute.AttributeId" /></td>
  <td>$attribute.AttributeType.Name</td>
  <td>$attribute.Name</td>
  <td>$attribute.Description</td>
  #set ($createdUser = $scarabR.getUser($attribute.CreatedBy))
  <td><a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a></td>
  <td>$format.getDate($scarabG.DateFormat, $attribute.CreatedDate)</td>
 </tr>
#end
</table>

#end

#AttributeSelectBar("2")

</form>

</div>
