$page.setTitle("Attribute Editor")

#set ($user = $scarabR.User)
#set ($module = $user.CurrentModule)

<p>
Please select an attribute from the list below, then click the "Modify
Attribute" button:
</p>

<form action="$link.setPage("admin,AttributeShow.vm")" method="GET">
    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="admin,AttributeEdit.vm">

#set ( $attgroup = $intake.Attribute.Default )
    <input type="hidden" name="$attgroup.CID" value="$attgroup.OID">

    <select name="$attgroup.Id.Key" size="5">
#foreach( $attribute in $module.AllAttributes )
    <option value="$attribute.AttributeId">$attribute.Name</option>
#end
    </select>

<p>
<input type="submit" name="eventSubmit_doSelectattribute" value="Modify Attribute">
</p>
</form>
