$page.setTitle("Attribute Editor")

#set ( $attribute = $scarabR.Attribute )

<p><b>Editing Attribute</b>: <i>$attribute.Name</i></p>
<p>Modify Attribute Options<br>
</p>
<form action="$link.setPage("admin,AttributeEditOptions.vm")" method="GET">
    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="admin,AttributeEdit.vm">

  <table width="35%" border="1">
    <tr>
      <td width="25%">
        <div align="center"><strong>Delete</strong>
      </div>
      </td>
      <td width="25%">
        <div align="center"><strong>Attribute Option</strong>
      </div>
      </td>
      <td width="75%">
        <div align="center"><strong>Attribute Option Order</strong>
      </div>
      </td>
    </tr>


#set ( $maxNum = $attribute.AttributeOptions.size() )
#foreach ( $option in $attribute.AttributeOptions )
    #set ( $intakeOption = $intake.AttributeOption.mapTo($option) )

    <tr>
      <input type="hidden" name="$intakeOption.CID" value="$intakeOption.OID">

      <td width="25%">
        <div align="center">

          <input type="checkbox" name="$intakeOption.Deleted.Key" value="true"
              #if ($intakeOption.Deleted.Value.Value) checked #end>
          <input type="hidden" name="$intakeOption.Deleted.ValueIfAbsent"
                 value="false">
      
      </div>
      </td>

      <td width="25%">          
        <div align="center">
#if (!$intakeOption.DisplayValue.isValid())
    $intakeOption.DisplayValue.Message<br>
#end
          <input type="text" name="$intakeOption.DisplayValue.Key" 
                  value="$intakeOption.DisplayValue">
    
      </div>
      </td>

      <td width="75%">          
        <div align="center">

    #numericSelect( $intakeOption.NumericValue.Key 1 $maxNum $intakeOption.NumericValue.Value.Value 1 )

      </div>
      </td>
    </tr>
#end

    #set ( $newOption = $scarabR.AttributeOption )
    #set ( $intakeOption = $intake.AttributeOption.mapTo($newOption) )

    <tr>
      <input type="hidden" name="$intakeOption.CID" value="$intakeOption.OID">

      <td width="25%">
        <div align="center">

            <b>New</b>
      
      </div>
      </td>

      <td width="25%">          
        <div align="center">

          <input type="text" name="$intakeOption.NewDisplayValue.Key" 
                  value="$!intakeOption.NewDisplayValue">
    
      </div>
      </td>

      <td width="75%">          
        <div align="center">

#set ( $maxNum = $maxNum + 1 )
#if ($intakeOption.NumericValue.Value.Value != 0)
    #set ( $selected = $intakeOption.NumericValue.Value.Value )
#else
    #set ( $selected = $maxNum )
#end
#numericSelect( $intakeOption.NumericValue.Key 1 $maxNum $selected 1 )

      </div>
      </td>
    </tr>

    <tr>
      <td width="25%">
        
        <div align="center">&nbsp;</div>
      </td>
      <td width="25%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="75%">          
        <div align="center">
          <input type="submit" name="eventSubmit_doAddormodifyattributeoptions" 
                value="Save">
      </div>
      </td>
    </tr>
  </table> 

    <input type="submit" name="eventSubmit_doAlldone" value="All Done">
</form>
