$page.setTitle("Attribute Editor")

#set ($attribute = $scarabR.Attribute)

## only get the AttributeOptions that are marked as not being deleted
#set ($attOptions = $attribute.getAttributeOptions(false))

#set ($attType = $attribute.AttributeType)
#set ($attgroup = $intake.Attribute.Default )
#set ($atttgroup = $intake.AttributeType.Default )

<h1>Add / Edit Attribute</h1>

<p>
Back to <a href="$link.setPage("admin,AttributeShow.vm")">Attribute Show</a>
</p>

  <form action="$link.setPage("admin,AttributeEdit.vm")" method="get">
    <input type="hidden" name="action" value="admin.ModifyAttributes"/>
    <input type="hidden" name="nextTemplate" value="admin,AttributeEdit.vm"/>
    <input type="hidden" name="$attgroup.Id.Key" value="$attgroup.Id.Value"/>

#datatitle ( "General Info" )

<div class="listtable">
<table width="100%" cellpadding="3" cellspacing="2" border="1">
 <tr>
  <td width="120" class="a"><strong>input type:</strong></td>
  <td class="b">
    <select name="$atttgroup.AttributeTypeId.Key" size="1">
    #foreach ( $atype in $attribute.AllAttributeTypes )
      <option value="$atype.AttributeTypeId" #if($attType.AttributeTypeId == $atype.AttributeTypeId)selected#end>$atype.Name</option>
    #end
    </select>
  </td>

 <tr>
  <td width="120" class="a"><strong>attribute name:</strong></td>
  <td class="b">
    <input type="text" name="$attgroup.Name.Key" value="$attribute.Name"/>
  </td>
 </tr>

 <tr>
  <td width="120" class="a"><strong>attribute description:</strong></td>
  <td class="b">
    <textarea rows="4" cols="40" name="$attgroup.Description.Key" class="text">$!attribute.Description</textarea>
  </td>
 </tr>

 <tr>
  <td width="120" class="a"><strong>creation date:</strong></td>
  <td class="b">
    $attribute.CreatedDate</textarea>
  </td>
 </tr>

</tr>
</table>
</div>
</div>

#set ( $maxNum = $attOptions.size() )

<div class="grouper">
<div class="datatable">
<table width="70%" border="0" cellspacing="2" cellpadding="2">
<tr>
#if ( $maxNum > 0 )
 <th>delete:</th>
 <th>id:</th>
#else
 <th colspan="2">&nbsp;</th>
#end
 <th>parent id:</th>
 <th>attribute option:</th>
 <th>numeric order:</th>
</tr>

#foreach ($option in $attOptions)
#set ( $intakeOption = $intake.AttributeOption.mapTo($option) )

#if ( $velocityCount % 2 > 0 )<tr class="a">#else<tr class="b">#end

     <td>#booleanCheckbox ($intakeOption.Deleted)</td>
     <td>$option.PrimaryKey</td>
     <td>
        <input type="text" name="$intakeOption.ParentIds.Key" 
                value="$intakeOption.ParentIds" size="5">
     </td>
     <td><input type="text" size="25" class="text" name="$intakeOption.Name.Key" value="$intakeOption.Name"/></td>
     <td>
        #numericSelect( $intakeOption.NumericValue.Key 1 $maxNum $intakeOption.NumericValue.Value 1 )
     </td>
</tr>
#end

#set ( $newOption = $scarabR.AttributeOption )
#set ( $intakeOption = $intake.AttributeOption.mapTo($newOption) )
#if ( ($maxNum + 1) % 2 > 0 )<tr class="a">#else<tr class="b">#end
     <td colspan="2">New</td>
     <td>
        <input type="text" name="$intakeOption.ParentIds.Key" 
                value="$intakeOption.ParentIds" size="5">
     </td>
     <td><input type="text" size="25" class="text" name="$intakeOption.NewName.Key" value="$intakeOption.NewName"/></td>
     <td>
#set ( $maxNum = $maxNum + 1 )
#if ($intakeOption.NumericValue.Value != 0)
    #set ( $selected = $intakeOption.NumericValue.Value )
#else
    #set ( $selected = $maxNum )
#end
#numericSelect( $intakeOption.NumericValue.Key 1 $maxNum $selected 1 )
     </td>
</tr>


</table>
  <input type="submit" name="eventSubmit_doAddormodifyattributeoptions" 
        value="Save"/>

</div>
</div>
$intake.declareGroups()
</form>











#*



<p><b>Editing Attribute</b>: <i>$attribute.Name</i></p>
<p>Each Attribute can have zero or more Attribute Options.</p>

#if ($attOptions)
<p>This Attribute has the following Attribute Options (in order):</p>

<blockquote><i>
#set ( $comma = "" )
#foreach ($option in $attOptions)
$comma$option.Name
#set ( $comma = ", " )
#end
</i></blockquote>
#end

  <p>
  <form action="$link.setPage("admin,AttributeEdit.vm")" method="get">
    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" 
            value="admin,AttributeEditOptions.vm">
    <input type="hidden" name="$intake.Attribute.Default.Id.Key" 
            value="$intake.Attribute.Default.Id">

    <input type="submit" name="eventSubmit_doModifyattributeoptions" 
            value="Modify Attribute Options">
  </form>
  </p>

<p>
In order to modify this attribute, please choose from the options below:
</p>

  <p>
    <form action="$link.setPage("admin,AttributeEdit.vm")" method="get">
        <input type="hidden" name="action" value="admin.ModifyAttributes">

        #set ( $attgroup = $intake.Attribute.Default )
        <input type="hidden" name="$attgroup.Id.Key" value="$attribute.AttributeId">

        <input type="text" name="$attgroup.Name.Key" value="$attribute.Name">
        <input type="submit" name="eventSubmit_doModifyattributename" value="Modify Name">
        <!-- <input type="submit" name="eventSubmit_doDeleteattribute" value="Delete Attribute"> -->
        $intake.declareGroups()
    </form>
  </p>

<p>
  <form action="$link.setPage("admin,AttributeEdit.vm")" method="POST">
    #set ( $attgroup = $intake.Attribute.Default )
    <input type="hidden" name="$attgroup.Id.Key" value="$attribute.AttributeId">

    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="admin,AttributeEdit.vm">

    #set ($attType = $attribute.AttributeType)
    #set ( $atttgroup = $intake.AttributeType.Default )

    <select name="$atttgroup.AttributeTypeId.Key" size="1">
    #foreach ( $atype in $attribute.AllAttributeTypes )
      <option value="$atype.AttributeTypeId" #if($attType.AttributeTypeId == $atype.AttributeTypeId)selected#end>$atype.Name</option>
    #end
    </select>
    <input type="submit" name="eventSubmit_doModifyattributetype" value="Modify Attribute Type">
    $intake.declareGroups()
  </form>
</p>

<p>
  <form action="$link.setPage("admin,AttributeEdit.vm")" method="get">
    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="admin,AttributeShow.vm">
    <input type="hidden" name="$intake.Attribute.Default.Id.Key" 
            value="$intake.Attribute.Default.Id">
    <input type="submit" name="eventSubmit_doAlldone" value="All Done">
  </form>
</p>
*#