#set ($groupId = $data.Parameters.getString("groupId"))
#set ($issueTypeId = $data.Parameters.getString("issueTypeId"))
$page.setTitle("Add/Edit attribute group to Issue Type '$scarabR.getIssueType($issueTypeId).Name'")

#macro (AttributeGroupBar $val)
<div class="functnbar$val">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild"><div>Screen options</div>
<input type="submit" value="Save" name="eventSubmit_doModifygroup" />&#160;
<input type="submit" value="Back" name="eventSubmit_doBack"  />&#160;
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />
</td>
<td nowrap="nowrap"><div>Attributes</div>
<input type="submit" value="Add" name="eventSubmit_doGotoattributeselect" />&#160;
<!-- FIXME: <input type="submit" value="Copy" />&#160; -->
<input type="submit" value="Delete" name="eventSubmit_doDeleteattributes" />&#160;
<!-- FIXME: <input type="submit" value="Resort" /> -->
</td>
</table>
</div>
#end

<div class="app" id="div2-1-4-0">
<h2>$page.Title</h2>


<form method="get" action="$link.setPage("admin,AttributeGroup.vm")">
<input type="hidden" name="action" value="admin.ModifyModuleAttributes">
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,AttributeGroup.vm"/>
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,AttributeGroup.vm"/>
<input type="hidden" name="$scarabG.Constant.BACK_TEMPLATE" value="admin,ArtifactTypeEdit.vm" />

<input type="hidden" name="groupId" value="$groupId">
#if ($issueTypeId && $issueTypeId.length() > 0)
<input type="hidden" name="issueTypeId" value="$issueTypeId" />
#end

#AttributeGroupBar("")

<h3>Attribute group details</h3>

#set ($group = $scarabR.getAttributeGroup($groupId))
#set ($agGroup = $intake.AttributeGroup.mapTo($group))
<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
 <tr>
 <th>Group name</th>
 <td><input type="text" size="25" name="$agGroup.Name.Key" value="$!agGroup.Name" /></td>
 </tr>
 <tr>
 <th>Group desc</th>
 <td><textarea rows="4" cols="40" name="$agGroup.Description.Key">$!agGroup.Description.Value</textarea></td>
 </tr>
 </table>
</div>

#if (!$group.Attributes.isEmpty())
<h3>Attributes in this group</h3>
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th>Select</th>
<th>Attribute name</th>
<th>Per project name</th>
<th>(In)active</th>
<th>Required</th>
<th>Quick search</th>
<th>Sequence #</th>
</tr>
#foreach ($attribute in $group.Attributes)
   #set ($rma = $scarabR.CurrentModule.getRModuleAttribute($attribute, $group.IssueType))
   #set ($rmaGroup = $intake.RModuleAttribute.mapTo($rma))
   #set ($raag = $group.getRAttributeAttributeGroup($attribute))
   #set ($raagGroup = $intake.RAttributeAttributeGroup.mapTo($raag))
   #set ($maxNum = $group.Attributes.size())
 #indexedRows($velocityCount)
 <td><input type="checkbox" name="att_delete_$attribute.AttributeId" /></td>
 #if ($scarabR.hasPermission($scarabG.Permission.DOMAIN__EDIT))
 <td><a href="$link.setPage("admin,ModuleAttributeEdit.vm").addPathInfo("att_0id", "$attribute.AttributeId")">$attribute.Name</a></td>
 #else
 <td>$attribute.Name</td>
 #end
 <td><input type="text" size="15" name="$rmaGroup.DisplayValue.Key"
    #if ($rmaGroup.DisplayValue.toString().length() > 0)
          value="$rmaGroup.DisplayValue" 
    #else
          value="$attribute.Name"
    #end
 /></td>
 <td>#booleanCheckbox ($rmaGroup.Active)</td>
 <td>#booleanCheckbox ($rmaGroup.Required)</td>
 <td>#booleanCheckbox ($rmaGroup.QuickSearch)</td>
 <td>#numericSelect( "$raagGroup.Order.Key" 1 $maxNum $raagGroup.Order.Value 1 )</td>
 </tr>
 </td>
 </tr>
#end
</table>

#else
  <h3>Attributes in this group</h3>
  <p><strong class="alert">Click the Add button to add attributes to this group.</strong></p>
#end

#AttributeGroupBar("2")

$intake.declareGroups()
</form>
