$page.setTitle("Attribute Editor")

#set ( $attribute = $scarabR.Attribute )

<p><b>Editing Attribute</b>: <i>$attribute.Name</i></p>
<p>Modify Attribute Options<br>
</p>
<form action="$link.setPage("admin,AttributeEditOptions.vm")" method="GET">
    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="admin,AttributeEdit.vm">
    <input type="hidden" name="$intake.Attribute.Default.Id.Key" 
            value="$intake.Attribute.Default.Id">

  <table width="55%" border="1">
    <tr>
      <td width="10%">
        <div align="center"><strong>Delete</strong></div>
      </td>
      <td width="10%">
        <div align="center"><strong>ID</strong></div>
      </td>
      <td width="10%">
        <div align="center"><strong>Parent ID</strong></div>
      </td>
      <td width="50%">
        <div align="center"><strong>Option Name</strong>
      </div>
      </td>
      <td width="20%">
        <div align="center"><strong>Numeric Value</strong>
      </div>
      </td>
    </tr>

#set ($options = $attribute.AllAttributeOptions)
#set ( $maxNum = $options.size() )
#foreach ( $option in $options )
    #set ( $intakeOption = $intake.AttributeOption.mapTo($option) )

    <tr>

      <td width="10%">
        <div align="center">

          #booleanCheckbox ($intakeOption.Deleted)
      
      </div>
      </td>

      <td width="10%">          
        <div align="center">$option.PrimaryKey</div>
      </td>

      <td width="10%">          
        <div align="center">

          #fieldErrorMsg($intakeOption.ParentIds "<br>")
          <input type="text" name="$intakeOption.ParentIds.Key" 
                  value="$intakeOption.ParentIds" size="5">
    
      </div>
      </td>

      <td width="50%">          
        <div align="center">

          #fieldErrorMsg($intakeOption.Name "<br>")
          <input type="text" name="$intakeOption.Name.Key" 
                  value="$intakeOption.Name">
    
      </div>
      </td>

      <td width="20%">          
        <div align="center">

    #numericSelect( $intakeOption.NumericValue.Key 1 $maxNum $intakeOption.NumericValue.Value 1 )

      </div>
      </td>
    </tr>
#end

    #set ( $newOption = $scarabR.AttributeOption )
    #set ( $intakeOption = $intake.AttributeOption.mapTo($newOption) )

    <tr>

      <td width="10%">
        <div align="center">

            <b>New</b>
      
      </div>
      </td>


      <td width="10%">          
        <div align="center">&nbsp;</div>
      </td>

      <td width="10%">          
        <div align="center">

          #fieldErrorMsg($intakeOption.ParentIds "<br>")
          <input type="text" name="$intakeOption.ParentIds.Key" 
                  value="$intakeOption.ParentIds" size="5">
    
      </div>
      </td>


      <td width="50%">          
        <div align="center">

          <input type="text" name="$intakeOption.NewName.Key" 
                  value="$!intakeOption.NewName">
    
      </div>
      </td>

      <td width="20%">          
        <div align="center">

#set ( $maxNum = $maxNum + 1 )
#if ($intakeOption.NumericValue.Value != 0)
    #set ( $selected = $intakeOption.NumericValue.Value )
#else
    #set ( $selected = $maxNum )
#end
#numericSelect( $intakeOption.NumericValue.Key 1 $maxNum $selected 1 )

      </div>
      </td>
    </tr>

    <tr>
      <td width="10%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="10%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="10%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="50%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="20%">          
        <div align="center">
          <input type="submit" name="eventSubmit_doAddormodifyattributeoptions" 
                value="Save">
      </div>
      </td>
    </tr>
  </table> 

    <input type="submit" name="eventSubmit_doAlldone" value="All Done">
    
$intake.declareGroups()
</form>
