#set ($groupId = $data.Parameters.getString("groupid"))
#set ($group = $scarabR.getAttributeGroup($groupId))
#set ($issueTypeId = $data.Parameters.getString("issueTypeId"))

#if ($group)
  $page.setTitle("Edit attribute group '$group.Name'")
#else
  $page.setTitle("Add attribute group")
#end

<div class="app" id="div2-1-4-0">
<h2>$page.Title</h2>

#if (!$groupId)
<p class="alert">Group not found. Please click 
<a href="$link.setPage("admin,ManageArtifactTypes.vm")>here</a> to proceed.</p>
#else

<form method="post" action="$link.setPage("admin,AttributeGroupEdit.vm")">
<input type="hidden" name="action" value="admin.AttributeGroupEdit">
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,AttributeSelect.vm" />
<input type="hidden" name="groupId" value="$groupId" />
<input type="hidden" name="issueTypeId" value="$issueTypeId" />

<div class="functnbar">
<input type="submit" value="Done"  name="eventSubmit_doDone" />&#160;
<input type="submit" value="Cancel"  name="eventSubmit_doCancel" />
</div>

<h3>Attribute group details</h3>

#set ($agGroup = $intake.AttributeGroup.mapTo($group))
<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
 <tr>
 <th>Group name</th>
 <td><input type="text" size="25" name="$agGroup.Name.Key" value="$!agGroup.Name" /></td>
 </tr>
 <tr>
 <th>Group description</th>
 <td>#textAreaMedium("$agGroup.Description.Key" $agGroup.Description.Value)</td>
 </tr>
 </table>
</div>

<h3>Attributes in this group</h3>
#if (!$group.Attributes.isEmpty())
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th></th>
<th>Attribute name</th>
<th>Per project name</th>
<th>Active</th>
<th>Required</th>
<th>Included in custom query</th>
<th>Default text</th>
<th>Sequence #</th>
</tr>
#foreach ($attribute in $group.Attributes)
   #set ($rma = $scarabR.CurrentModule.getRModuleAttribute($attribute, $group.IssueType))
   #set ($rmaGroup = $intake.RModuleAttribute.mapTo($rma))
   #set ($raag = $group.getRAttributeAttributeGroup($attribute))
   #set ($raagGroup = $intake.RAttributeAttributeGroup.mapTo($raag))
   #set ($maxNum = $group.Attributes.size())
 #indexedRows($velocityCount)
 <td><input type="checkbox" name="att_delete_$attribute.AttributeId" /></td>
 #if ($scarabR.hasPermission($scarabG.Permission.DOMAIN__EDIT))
 <td>$link.setPage("admin,ModuleAttributeEdit.vm").addPathInfo("att_0id", "$attribute.AttributeId").addPathInfo("key", "groupId").addPathInfo("groupId", $groupId).addPathInfo("issueTypeId", $group.IssueTypeId).setLabel("$attribute.Name")</td>
 #else
 <td>$attribute.Name</td>
 #end
 <td><input type="text" size="15" name="$rmaGroup.DisplayValue.Key"
    #if ($rmaGroup.DisplayValue.toString().length() > 0)
          value="$rmaGroup.DisplayValue" 
    #else
          value="$attribute.Name"
    #end
 /></td>
 <td>#booleanCheckbox ($rmaGroup.Active)</td>
 <td>#booleanCheckbox ($rmaGroup.Required)</td>
 <td>#booleanCheckbox ($rmaGroup.QuickSearch)</td>
 <td>
#if ($rma.Attribute.isTextAttribute())
    #set ($defaultText = $data.Parameters.getString("default_text",""))
    #if ($defaultText.length() > 0)
        #if($defaultText == $rma.Attribute.QueryKey)
            #set ($checked = true)
        #end
    #elseif ($rma.IsDefaultText)
        #set ($checked = true)
    #end        
    <input type="radio"  #if($checked)checked="checked"#end
        name="default_text" value="$rma.Attribute.QueryKey"/>
    #set ($checked = false)    
#else
    N/A
#end
</td>
 <td>#numericSelect( "$raagGroup.Order.Key" 1 $maxNum $raagGroup.Order.Value 1 )</td>
 </tr>
 </td>
 </tr>
#end
</table>
<p><small>
 * Default text attribute is used when more distinguishing information than
   the issue id is needed.  It is used in emails after an issue is entered,
   for example.
</small></p>
#else
  <p><strong class="alert">Click the Add button to add attributes to this group.</strong></p>
#end

<div class="functnbar3">
<input type="submit" value="Save" name="eventSubmit_doSave" />&#160;
<input type="submit" value="Add new" name="eventSubmit_doGotoothertemplate" />&#160;
<input type="submit" value="Copy" />&#160;
<input type="submit" value="Delete selected" name="eventSubmit_doDeleteattributes" />&#160;
<input type="submit" value="Resort" name="eventSubmit_doSave" />
</div>


<div class="functnbar2">
<input type="submit" value="Done"  name="eventSubmit_doDone" />&#160;
<input type="submit" value="Cancel"  name="eventSubmit_doCancel" />
</div>

$intake.declareGroups()
</form>
#end
