<FORM METHOD="post" NAME="ConfirmUserForm" ACTION="">
  <INPUT TYPE="hidden" NAME="action" VALUE="ConfirmUser">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<!-- top nav bar -->
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td nowrap class="NavHeader">SCARAB:</td>
<td nowrap class="NavHeader">&nbsp;</td>
<td nowrap class="NavHeader"><a href="/">My Bugs</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Report</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Browse</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Assign (8)</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Search</a>&nbsp;</td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeaderOn" nowrap bgcolor="#cccccc">Admin</td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeader">&nbsp;<a href="/">Help</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Prefs</a></td>
<td class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Log Out</a></td>
</tr>
</table>
<!-- end top nav bar -->
</td>
</tr>
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap class="NavHeaderOn" bgcolor="#CCCCCC"><a href="/">Home</a> | <a href="/">Modify Project</a> | <a href="/">Modify Component</a> | Modify User | <a href="/">Modify Role</a> | <a href="/">Modify Permission</a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="1" bgcolor="#000000"></td>
</tr>
</table>
<p>
<table border="0" cellpadding="3" cellspacing="0" width="100%">
<tr>
<td colspan="3" class="PlainText">Modify Users</td>
</tr>
<tr>
<td class="Header" bgcolor="#999999">&nbsp;CONFIRM USER INFORMATION</td>
</tr>
<tr>
  <td class="PlainText">
    <ul>
      <li>$companyname is now sending the user a confirmation message to verify that the address you supplied is working properly
      <li>To complete user modification, user will click on the link in the email
    </ul>
  </td>
</tr>
</table>
<p>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Email Address:</td>
<td class="PlainText">cam@collab.net</td>
<td class="PlainText">To be verified via email</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Full Name:</td>
<td class="PlainText">Cameron Barrett</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Company Name:</td>
<td class="PlainText">CollabNet</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Address:</td>
<td class="PlainText">150 W. 22nd St., 10th Floor</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;City:</td>
<td class="PlainText">New York</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;State:</td>
<td class="PlainText">New York</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Country:</td>
<td class="PlainText">USA</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Phone:</td>
<td class="PlainText">212-414-4212</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Alt Phone:</td>
<td class="PlainText">212-000-0000</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Fax:</td>
<td class="PlainText">212-414-4233</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Cell:</td>
<td class="PlainText">000-000-0000</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Pager:</td>
<td class="PlainText">1-800-123-4567</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Username:</td>
<td class="PlainText">cameoworld</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Password:</td>
<td class="PlainText">*******</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td class="PlainTextHeader">&nbsp;Roles:</td>
<td class="PlainText">Bug Reporter, Overlord</td>
<td class="PlainText">OK</td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td>&nbsp;</td>
<td><input type="button" name="Confirm" value="Confirm"></td>
</tr>
<tr>
<td height="4" colspan="3"></td>
</tr>
<tr>
<td height="1" colspan="3" bgcolor="#cccccc"></td>
</tr>
</table>
</form>
