<FORM METHOD="post" NAME="CurrentPermissionsForm" ACTION="">
  <INPUT TYPE="hidden" NAME="action" VALUE="CurrentPermissions">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<!-- top nav bar -->
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td nowrap class="NavHeader">SCARAB:</td>
<td nowrap class="NavHeader">&nbsp;</td>
<td nowrap class="NavHeader"><a href="/">My Bugs</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Report</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Browse</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Assign (8)</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Search</a></td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeaderOn" nowrap bgcolor="#cccccc">Admin</td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeader"><a href="/">Help</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Prefs</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Log Out</a></td>
</tr>
</table>
<!-- end top nav bar -->
</td>
</tr>
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap class="NavHeader" bgcolor="#CCCCCC"><a href="/">Home</a> | <a href="/">Modify Project</a> | <a href="/">Modify Component</a> | <a href="/">Modify User</a> | <a href="/">Modify Role</a> | Modify Permission</td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="1" bgcolor="#000000"></td>
</tr>
</table>
<p>
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td colspan="3" class="PlainText">Modify Permissions</td>
</tr>
<tr>
<td class="Header" bgcolor="#999999" width="50%">&nbsp;CURRENT PERMISSIONS:</td>
<td>&nbsp;</td>
<td class="Header" bgcolor="#999999" width="50%">&nbsp;ADD A PERMISSION:</td>
</tr>
<tr>
<td valign="top" width="50%">
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td colspan="2" class="PlainText">Select the permission you'd like to modify or delete from the list below:</td>
</tr>
<tr>
<td valign="top">
<select name="permissions" size="5" width="20">
<option value="1">edit a component</option>
<option value="2">edit a project</option>
<option value="5">add a project</option>
<option value="22">edit a user</option>
<option value="25">add a user</option>
<option value="25">add a component</option>
</select>
<br>
<input type="submit" name="eventSubmit_doModify" value="Modify"> <input type="submit" name="eventSubmit_doDelete" value="Delete">
</td>
<td valign="top">
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td nowrap class="InputHeader">Permission Name:<br>
<input type="text" size="25" name="permname" value="$permname"></td>
</tr>
<tr>
<td nowrap class="InputHeader">Description:<br>
<input type="text" size="25" name="permdescription" value="$permdescription"></td>
</tr>
<tr>
<td><input type="submit" name="eventSubmit_doApplyModifications" value="<-- Apply Modifications"></td>   
</tr>
</table>
</td>
</tr>
</table>
</td>
<td valign="top">&nbsp;</td>
<td valign="top" width="50%">
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td colspan="2" class="PlainText">Note: To edit a new permission, select it from the list and select "Modify".</td>
</tr>
<tr>
<td class="InputHeader">Description:</td>
<td><input type="text" name="addpermdescription" value="$addpermdescription" size="20"></td>
</tr>
<tr>
<td></td>
<td><input type="submit" name="eventSubmit_doAdd" value="<- Add"></td>
</tr>
</table>
</td>
</tr>
</table>
