<FORM METHOD="post" NAME="CurrentUsersForm" ACTION="">
  <INPUT TYPE="hidden" NAME="action" VALUE="CurrentUsers">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<!-- top nav bar -->
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td nowrap class="NavHeader">SCARAB:</td>
<td nowrap class="NavHeader">&nbsp;</td>
<td nowrap class="NavHeader"><a href="/">My Bugs</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Report</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Browse</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Assign (8)</a></td>
<td nowrap class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Search</a></td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td nowrap class="NavHeaderOn" bgcolor="#cccccc">Admin</td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeader"><a href="/">Help</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Prefs</a></td>
<td class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Log Out</a></td>
</tr>
</table>
<!-- end top nav bar -->
</td>
</tr>
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap class="NavHeaderOn" bgcolor="#CCCCCC"><a href="/">Home</a> | <a href="/">Modify Project</a> | <a href="/">Modify Component</a> | Modify User | <a href="/">Modify Role</a> | <a href="/">Modify Permission</a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="1" bgcolor="#000000"></td>
</tr>
</table>
<p>
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td class="PlainText">Modify Users</td>
</tr>
<tr>
<td class="Header" bgcolor="#999999" width="100%">&nbsp;SEARCH FOR A USER:</td>
</tr>
<tr>
<td valign="top" width="50%">
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td>
<select name="userattribute" width="20">
<option value="username">username</option>
<option value="userid">user id</option>
<option value="role">role</option>
<option value="email">email address</option>
<option value="other">other attr</option>
</select>
&nbsp;
<select name="searchcriteria" width="20">
<option value="begins">begins with</option>
<option value="contains">contains</option>
<option value="sounds">sounds like</option>
<option value="ends">ends with</option>
</select>
</td>
</tr>
<tr>
<td>
<input type="text" name="searchstring" value="$searchstring">
<input type="submit" name="eventSubmit_doSearch" value="Search">	     	
</td>
</tr>
<tr>
<td class="PlainText">Note: Use this search form to find a user to modify or delete.</td>
</tr>
<tr>
<td class="PlainText"><a href="AddUser.vm">Add a new user</a>.</td>
</tr>
</table>
</td>
</tr>
</table>
</form>
