<FORM METHOD="post" NAME="DeleteItemForm" ACTION="">
  <INPUT TYPE="hidden" NAME="action" VALUE="DeleteItem">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td class="NavHeader">SCARAB:</td>
<td class="NavHeader"><a href="/">My&nbsp;Bugs</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Report</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Browse</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Assign (8)</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Search</a></td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeaderOn" bgcolor="#cccccc">Admin</td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeader"><a href="/">Help</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Prefs</a></td>
<td class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Log Out</a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap class="NavHeaderOn" bgcolor="#CCCCCC"><a href="/">Home</a> | <a href="/">Modify Project</a> | <a href="/">Modify Component</a> | <a href="/">Modify User</a> | <a href="/">Modify Role</a> | <a href="/">Modify Permission</a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td height="1" bgcolor="#000000"></td>
</tr>
</table>

<p>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td class="Header" bgcolor="#999999">&nbsp;DELETE ITEM</td>
</tr>
<tr>
<td valign="top" class="PlainTextHeader">&nbsp;<br>Are you sure you want to delete item $item?
<p>
<input type="submit" name="eventSubmit_doConfirm" value="Confirm"> <input type="submit" name="eventSubmit_doCancel" value="Cancel"></td>
</tr>
</table>
</form>