#**
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@version $Id: EditUser.vm,v 1.12 2003/04/11 16:25:57 jmcnally Exp $
*#

#set ($state = $data.Parameters.getString("state",""))

<div id="edituser" class="app">

<h3>$l10n.EditUser</h3>

<form name="EditUserForm" action="$link.setPage("admin,EditUser.vm")" method="post">
  <input type="hidden" name="action" value="admin.ManageUser" />
  <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,EditUser.vm" />
  <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ManageUserSearch.vm" />
  <input type="hidden" name="state" value="execedituser" />
  <input type="hidden" name="lastAction" value="" />
  <input type="hidden" name="username" value="$data.Parameters.getString("username")" />

#set ($lastAction = $data.Parameters.getString("lastAction"))

#set ($user2 = $data.User.getTemp($scarabG.Constant.SESSION_REGISTER))
#if (!$user2 && ($state == "showedituser"))
  #set ($user2 = $securityAdmin.getUserByUsername($data.Parameters.getString("username")))
  #set ($regGroup = $intake.Register.Default)
  #set ($firstNameData = $user2.FirstName)
  #set ($lastNameData = $user2.LastName)
  #set ($emailData = $user2.Email)
  #set ($passwordData = "")
#elseif ($user2)
  #set ($regGroup = $intake.Register.mapTo($user2))
  #set ($firstNameData = $regGroup.FirstName)
  #set ($lastNameData = $regGroup.LastName)
  #set ($emailData = $regGroup.Email)
  #set ($passwordData = "")
#else
  #set ($regGroup = $intake.Register.Default)
  #set ($firstNameData = $regGroup.FirstName)
  #set ($lastNameData = $regGroup.LastName)
  #set ($emailData = $regGroup.Email)
  #set ($passwordData = $regGroup.Password)
#end

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th>* $l10n.FirstName</th>
 <td>
  <input name="$regGroup.FirstName.Key" value="$firstNameData" type="text" size="25" />
  #fieldErrorMsg($regGroup.FirstName "")
 </td>
</tr>
<tr>
 <th>* $l10n.LastName</th>
 <td>
  <input name="$regGroup.LastName.Key" value="$lastNameData" type="text" size="25" />
  #fieldErrorMsg($regGroup.LastName "")
 </td>
</tr>
<tr>
 <th>* $l10n.Email</th>
 <td>
  <input name="$regGroup.Email.Key" value="$emailData" type="text" size="25" />
  #fieldErrorMsg($regGroup.Email "")
 </td>
</tr>
<tr>
 <th>
 #if ($state != "showedituser")*#end
 $l10n.Password
 </th>
 <td>
  #if ($state != "showedituser")
  <input name="$regGroup.Password.Key" value="$passwordData" type="text" size="25" />
  #fieldErrorMsg($regGroup.Password "")
  #else
  <input name="editpassword" value="$passwordData" type="text" size="25" />
  #end
 </td>
</tr>
</table>
</div>

<p>* $l10n.Required</p>

<div class="functnbar2">
  <input type="submit" name="eventSubmit_doEdituser" value="$l10n.Save" />&#160;
  <input type="submit" name="eventSubmit_doCancel" value="$l10n.Cancel" />
</div>

$intake.declareGroups()

</form>
</div>
