#** 
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@version $Id: EditRole.vm,v 1.1 2001/11/28 19:22:55 dr Exp $
*#

#set ($role = $flux.Role)

<div id="manageRoles" class="app">

<h2>Role Administration</h2>
<h3>Edit Permissions [for the $role.Name role]</h3>

<form method="post" action="admin%2CEditRole.vm">
  <input type="hidden" name="action" value="admin.ManageRoles">
  <input type="hidden" name="name" value="$role.Name">
  <input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ManageRoles.vm" />

<table cellpadding="2" cellspacing="0">
  <tr>
    <th>Permission</th>
    <th>Enable</th>
  </tr>
  #foreach ($permission in $scarabG.Permissions)
  #indexedRows ($velocityCount)
    <td>
        $permission.Name
    </td>

    #if ($role.Permissions.contains($permission))
      #set ($checked = "checked")
    #else
      #set ($checked = "")
    #end
    
    <td>
      <center>
      <input type="checkbox" name="${role.Name}${permission.Name}" $checked>
      </center>
    </td>
    
  </tr>
  #end
</table>

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
   <input type="submit" name="eventSubmit_doCancel" value="Cancel">
   <input type="submit" name="eventSubmit_doEditrole" value="Update Permissions">
  </td>
 </tr>
</table>
</div>
    
</form>


