$page.setTitle("Global Issue Types")

<div id="globalartifactshow" class="app">
<h2>$page.Title</h2>
<p>
This page is for selecting an Artifact Type to edit which is defined in a global scope.
</p>

<form action="$link.setPage("admin,GlobalArtifactTypeShow.vm")" method="get">
<input type="hidden" name="action" value="admin.GlobalArtifactTypes" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,ArtifactTypeCreate.vm" />
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,GlobalArtifactTypeShow.vm" />

<div class="functnbar">
<input type="submit" value="Done" name="eventSubmit_doDone" />&#160;
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />
</div>       

<h3>Issue Types</h3>

<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th>&#160;</th>
<th>Issue Type Name</th>
<th>Description</th>
</tr>
#foreach ($issueType in $scarabG.AllIssueTypes)
#set ($group = $intake.IssueType.mapTo($issueType))
#indexedRows($velocityCount)
<td>#booleanCheckbox ($group.Deleted)</td>
<td>
    <input type="text" name="$group.Name.Key" value="$group.Name.Value">
    #fieldErrorMsg($group.Name "")
</td>
<td>#textAreaMedium("$group.Description.Key" $group.Description)</td>
</tr>
#end
</table>

<div class="functnbar3">
<input type="submit" value="Save" name="eventSubmit_doSave" />&#160;
<input type="submit" value="Add new" name="eventSubmit_doGotoothertemplate" />&#160;
<input type="submit" value="Copy" />&#160;
<input type="submit" value="Delete selected" name="eventSubmit_doSave" />&#160;
<small>artifact type(s)</small>
</div>

<div class="functnbar2">
<input type="submit" value="Done" name="eventSubmit_doDone" />&#160;
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />
</div>       

$intake.declareGroups()

</form>
</div>
