$page.setTitle("Global Attributes")

<div id="globalattributeshow" class="app">
<h2>$page.Title</h2>
<p>
This page is for selecting an Attribute to edit which is defined in a global scale.
</p>

#set ($allAttributes = $scarabG.AllAttributes)

## if results exceed limit, get subset list
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage",0))
#set ($pageNum = $data.Parameters.getInt("pageNum",0))
#if ($resultsPerPage == 0)
  #set ($resultsPerPage = 9)
#end
#if ($pageNum == 0)
  #set ($pageNum = 1)
#end
#if ($allAttributes.size() > $resultsPerPage)
 #set ($paginated = "true")
 #set ($pagList = $scarabR.getPaginatedList($allAttributes, $pageNum.toString(), $resultsPerPage.toString()))
 #if ($pagList)
   #set ($allAttributes = $pagList)
 #end
#end

<form action="$link.setPage("admin,GlobalAttributeShow.vm")" method="post">
<input type="hidden" name="action" value="admin.GlobalAttributes" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,GlobalAttributeEdit.vm" />

<div class="tabs">
<table cellpadding="3" cellspacing="0" border="0">
<tr>
<th>Global attributes</th>
<td><a href="$link.setPage("admin,GlobalUserAttributes.vm")">User attributes</a></td>
</tr>
</table>
</div>

<div class="functnbar">
<input type="submit" value="Done" name="eventSubmit_doDone" />&#160;
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />
</div>       

#if ($paginated)
  #paginate ($resultsPerPage $pageNum)
#end

<h3>Global Attributes</h3>

<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th>&#160;</th>
<th>Attribute name</th>
<th>Description</th>
<th>Input type</th>
<th>Author</th>
<th>Creation date</th>
</tr>
#foreach( $attribute in $allAttributes )
  #if (!$attribute.isUserAttribute()) 
    #set ($attgroup = $intake.Attribute.mapTo($attribute))
    #indexedRows($velocityCount)
  <td>#booleanCheckbox ($attgroup.Deleted)</td>
  <td>$link.setPage("admin,GlobalAttributeEdit.vm").addPathInfo("att_0id", "$attgroup.Id").setLabel("$attribute.Name")</td>
  <td>#if ($attribute.Description) $attribute.Description #else &nbsp; #end</td>
  <td>
    ## Input type
    #set ($attType = $attribute.AttributeType)
    #foreach ( $atype in $attribute.AllAttributeTypes )
      #if ($attType.AttributeTypeId == $atype.AttributeTypeId)
        $atype.Name
      #end
    #end
  </td>
  <td>#attributeCreatedBy($attribute)</td>
  <td>$format.getDate($scarabR.DateFormat, $attribute.CreatedDate)</td>
  </tr>
  #end
#end
</table>

<div class="functnbar3">
<input type="submit" value="Create new"  name="eventSubmit_doCreatenew" />&#160;
<input type="submit" value="Copy selected" />&#160;
<input type="submit" value="Delete selected"  name="eventSubmit_doSave" />&#160;
<small>attribute(s)</small>&#160;
</div>

#if ($paginated)
  #paginate ($resultsPerPage $pageNum)
#end

<div class="functnbar2">
<input type="submit" value="Done" name="eventSubmit_doDone" />&#160;
<input type="submit" value="Cancel" name="eventSubmit_doCancel" />&#160;
</div>       

$intake.declareGroups()

</form>
</div>
