<div class="app" id="div3-0-0-1">

#set ($module = $scarabR.CurrentModule)

<div class="tabs">
<table cellpadding="3" cellspacing="0" border="0">
<tr>
<td><a href="$link.setPage("admin,GlobalAttributeShow.vm")">$l10n.GlobalAttributes</a></td>
<th>$l10n.GlobalUserAttributes</th>
</tr>
</table>
</div>

<form action="$link.setPage("admin,GlobalUserAttributes.vm")" method="post">
<input type="hidden" name="action" value="admin.GlobalAttributes" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,UserAttributeEdit.vm" />
<input type="hidden" name="$scarabG.Constant.LAST_TEMPLATE" value="admin,GlobalUserAttributes.vm" />
<input type="hidden" name="attributeType" value="user" />

## SORTING
#set ($sortColumn = $data.Parameters.getString("sortColumn",""))
#set ($sortPolarity = $data.Parameters.getString("sortPolarity",""))
#if (!$sortColumn || $sortColumn.length() == 0)
   #set ($sortColumn = "name")
#end
#if (!$sortPolarity || $sortPolarity.length() == 0)
   #set ($sortPolarity = "asc")
#end
#set ($userAttrs = $scarabG.getUserAttributes(true, $sortColumn, $sortPolarity))

## PAGINATION
## if results exceed limit, get subset list
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage", 25))
#set ($pageNum = $data.Parameters.getInt("pageNum", 1))
#if ($resultsPerPage > 0 && $userAttrs.size() > $resultsPerPage)
 #set ($paginated = "true")
 #set ($pagList = $scarabR.getPaginatedList($userAttrs, $pageNum, $resultsPerPage))
 #if ($pagList)
   #set ($userAttrs = $pagList)
 #end
#end

#if ($paginated)
  #paginate ($resultsPerPage $pageNum $sortColumn $sortPolarity)
#end

<h3>$l10n.GlobalUserAttributes</h3>

#if ($userAttrs.isEmpty())
<p><em>$l10n.CreateNewUserAttribute</em></p>
#else
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th nowrap="nowrap">$l10n.Select</th>
<th>#sort("name" "$l10n.Name")</th>
<th>#sort("desc" "$l10n.Description")</th>
<th>$l10n.EmailAction</th>
<th>$l10n.BasePermission</th>
<th>#sort("user" "$l10n.Author")</th>
<th>#sort("date" "$l10n.CreationDate")</th>
</tr>

#macro (strikeS $attribute)
#if($attribute.Deleted)<strike>#end
#end
#macro (strikeE $attribute)
#if($attribute.Deleted)</strike>#end
#end

#foreach ($attr in $userAttrs)
  #set ($attgroup = $intake.Attribute.mapTo($attr))
  #indexedRows($velocityCount)
  <td><input type="checkbox" name="action_$attr.AttributeId" /></td>
  <td>#strikeS($attr)$link.setPage("admin,UserAttributeEdit.vm").addPathInfo("att_0id", "$attgroup.Id").addPathInfo("$scarabG.Constant.LAST_TEMPLATE", "admin,GlobalUserAttributes.vm").setLabel("$attr.Name")#strikeE($attr)</td>
  <td>#strikeS($attr)$attr.Description#strikeE($attr)</td>
  <td>
    #fieldErrorMsg($attgroup.Action "")
    <select name="$attgroup.Action.Key" size="1">
     <option value="none" #if (!$attgroup.Action.Value || $attgroup.Action.Value.equals("none")) selected="selected" #end>$l10n.None</option>
    <option value="to" #if ($attgroup.Action.Value.equals("to")) selected="selected" #end>$l10n.ToColon</option>
    <option value="cc" #if ($attgroup.Action.Value.equals("cc")) selected="selected" #end>$l10n.CC</option>
    </select>
  </td>
  <td>
    #fieldErrorMsg($attgroup.Permission "")
    <select name="$attgroup.Permission.Key">
    #foreach ($permission in $scarabG.AllPermissions)
     <option value="$permission"
         #if ($permission.equals($attgroup.Permission.Value))
           selected="selected"
         #end
     >$permission</option>
    #end
    </select>
  </td>
  <td>#strikeS($attr)#attributeCreatedBy($attr)#strikeE($attr)</td>
  <td>#strikeS($attr)$format.getDate($scarabR.DateFormat, $attr.CreatedDate)#strikeE($attr)</td>
  </tr>
#end        
</table>
#end

<div class="functnbar3">
#if (!$userAttrs.isEmpty())
<input type="submit" value="$l10n.Save"  name="eventSubmit_doSave" />&#160;
#end
<input type="submit" value="$l10n.CreateNew"  name="eventSubmit_doCreatenew" />&#160;
#if (!$userAttrs.isEmpty())
<input type="submit" value="$l10n.CopySelected"  name="eventSubmit_doCopy" />
#end
</div>

#if ($paginated)
  #paginate ($resultsPerPage $pageNum $sortColumn $sortPolarity)
#end

$intake.declareGroups()
</form>
</div>
