#set ($module = $scarabR.CurrentModule)
#set ($attribute = $scarabR.Attribute)
#set ($lastTemplate = $data.Parameters.getString("$scarabG.Constant.LAST_TEMPLATE", ""))

#if ($attribute.AttributeId)
   #set ($attgroup = $intake.Attribute.mapTo($attribute))
   #set ($createNew = "false")
   $page.setTitle("Edit Global Attribute '$attribute.Name'")
#else
   #set ($attgroup = $intake.Attribute.Default)
   #set ($createNew = "true")
   $page.setTitle("Create New Global Attribute")
#end

<div class="app" id="div3-0-2-0">
<h2>$page.Title</h2>

<p>
On this screen, one can modify system wide Attribute information.
</p>

<form action="$link.setPage("admin,GlobalAttributeEdit.vm")" method="post">
<input type="hidden" name="action" value="admin.GlobalAttributeEdit" />
#if ($createNew.equals("false"))
   <input type="hidden" name="attId" value="$attribute.AttributeId" />
#end
#if (!$lastTemplate.equals(""))
  <input type="hidden" name="$scarabG.Constant.LAST_TEMPLATE" value="$lastTemplate" />
#end

<input type="hidden" name="groupId" value="$data.Parameters.getString("groupId")" />
<input type="hidden" name="issueTypeId" value="$data.Parameters.getString("issueTypeId")" />

<div class="functnbar">
#if ($createNew.equals("false"))
<input type="submit" value="Done"  name="eventSubmit_doDone" />&#160;
#end
<input type="submit" value="Cancel"  name="eventSubmit_doCancel" />&#160;
</div>

<h3>Attribute info</h3>

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
 <tr>
  <th>Input type</th>
  <td>
    <select name="$attgroup.TypeId.Key" size="1">
    #foreach ( $atype in $attribute.AllAttributeTypes )
      #if (!$atype.Name.equals("user"))
      <option value="$atype.AttributeTypeId" #if($attribute.TypeId == $atype.AttributeTypeId)selected#end>$atype.Name</option>
      #end
    #end
    </select>
  </td>
 <tr>
  <th>Attribute name</th>
  <td>
    <input type="text" name="$attgroup.Name.Key" value="$!attribute.Name" />
    #fieldErrorMsg($attgroup.Name "")
  </td>
 </tr>
 <tr>
  <th>Attribute description</th>
  <td>
    <textarea rows="4" cols="40" name="$attgroup.Description.Key">$!attribute.Description</textarea>
    #fieldErrorMsg($attgroup.Description "")
  </td>
 </tr>
  #if ($attribute.CreatedDate)
 <tr>
  <th>Created by</th>
  <td>#attributeCreatedBy($attribute)</td>
 </tr>
  #end
  #if ($attribute.CreatedDate)
 <tr>
  <th>Creation date</th>
  <td>
    $attribute.CreatedDate
  </td>
 </tr>
  #end
</tr>
</table>
</div>

<div class="functnbar3">
   <input type="submit" value="Save"  name="eventSubmit_doSaveattributedata" />
</div>


#if ($attribute.AttributeType.AttributeClass.Name.equals("select-one"))
#datatitle ("Attribute Options")
#set ($pcaos = $attribute.ParentChildAttributeOptions)
#set ($maxNum = $pcaos.size())

<table width="70%" border="0" cellspacing="2" cellpadding="2">
<tr>
#if ($maxNum > 0)
 <th>Deleted</th>
#else
 <th>&#160;</th>
#end
 <th>Parent attribute option</th>
 <th>Attribute option</th>
 <th>Preferred order</th>
 <th>Weight</th>
</tr>
#foreach ($pcao in $pcaos)
    #set ($pcaoGroup = $intake.ParentChildAttributeOption.mapTo($pcao))
    #indexedRows($velocityCount)
     <td>#booleanCheckbox ($pcaoGroup.Deleted)</td>
     <td>
     <select name="$pcaoGroup.ParentId.Key">
     #if ($pcao.ParentId.toString().equals("0"))
        <option selected="selected" value="0">Root</option>
     #else
        <option value="0">Root</option>
     #end
     #foreach ($parentAttrOption in $attribute.ParentChildAttributeOptions)
       #if (! $parentAttrOption.Name.equals($pcao.Name) )
         #set ($pcaoGroupTemp = $intake.ParentChildAttributeOption.mapTo($parentAttrOption))
         #if($pcao.ParentId.toString().equals($parentAttrOption.OptionId.toString()))
            <option selected="selected" value="$pcaoGroupTemp.OptionId">$pcaoGroupTemp.Name</option>
         #else
            <option value="$pcaoGroupTemp.OptionId">$pcaoGroupTemp.Name</option>
         #end
       #end
     #end
     </select>
     </td>
     <td><input type="text" size="25" name="$pcaoGroup.Name.Key" value="$pcaoGroup.Name" /></td>
     <td>
        #numericSelect($pcaoGroup.PreferredOrder.Key 1 $maxNum $pcaoGroup.PreferredOrder.Value 1)
     </td>
     <td>
        #numericSelect($pcaoGroup.Weight.Key 1 $maxNum $pcaoGroup.Weight.Value 1)
     </td>
    </tr>
#end
#set ($newPCAO = $scarabR.ParentChildAttributeOption)
#set ($newPCAOGroup = $intake.ParentChildAttributeOption.mapTo($newPCAO))
    #set ($number = $maxNum + 1)
    #indexedRows($number)
     <td>New</td>
     <td>
     <select name="$newPCAOGroup.ParentId.Key">
     <option value="0" $select>Root</option>
     #foreach ($parentAttrOption in $attribute.ParentChildAttributeOptions)
         #set ($pcaoGroupTemp = $intake.ParentChildAttributeOption.mapTo($parentAttrOption))
         <option value="$pcaoGroupTemp.OptionId">$pcaoGroupTemp.Name</option>
     #end
     </select>
     </td>
     <td><input type="text" size="25" name="$newPCAOGroup.NewName.Key" value="$newPCAOGroup.NewName" /></td>
     <td>
#set ($maxNum = $maxNum + 1)
#if ($newPCAOGroup.PreferredOrder.Value != 0)
    #set ($selected = $newPCAOGroup.PreferredOrder.Value)
#else
    #set ($selected = $maxNum)
#end
#numericSelect($newPCAOGroup.PreferredOrder.Key 1 $maxNum $selected 1)
     </td>
     <td>
#if ($newPCAOGroup.Weight.Value != 0)
    #set ($selected = $newPCAOGroup.Weight.Value)
#else
    #set ($selected = $maxNum)
#end
#numericSelect($newPCAOGroup.Weight.Key 1 $maxNum $selected 1)
     </td>
</tr>
</table>

<div class="functnbar3">
<input type="submit" value="Save"  name="eventSubmit_doSaveoptions" />&#160;
<input type="submit" value="Add new"  name="eventSubmit_doSaveoptions" />&#160;
<input type="submit" value="Delete selected"  name="eventSubmit_doSaveoptions" />&#160;
</div>

<p><small>Please note: Once created, Attribute Options cannot be deleted
from the database. They can only be marked as deleted and will always
show up in the list above (but will not show up in the application
itself). Therefore, please use caution when creating new Attribute
Options because you can quickly end up with a mess.</small></p>

#end

<div class="functnbar2">
#if ($createNew.equals("false"))
<input type="submit" value="Done"  name="eventSubmit_doDone" />&#160;
#end
<input type="submit" value="Cancel"  name="eventSubmit_doCancel" />&#160;
</div>
$intake.declareGroups()
</form>
</div>
