#set ($groupId = $data.Parameters.getString("groupid"))
#set ($group = $scarabR.getAttributeGroup($groupId))
#set ($issueTypeId = $data.Parameters.getString("issueTypeId"))
#set ($issueType = $scarabR.IssueType)

<div class="app" id="div2-1-4-0">

#if (!$groupId)
<p class="infomark"><em>$l10n.GroupNotFound
<a href="$link.setPage("admin,ManageArtifactTypes.vm")>here</a>.</em></p>
#else

<form method="post" action="$link.setPage("admin,GlobalAttributeGroupEdit.vm")">
<input type="hidden" name="action" value="admin.AttributeGroupEdit" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,GlobalAttributeSelect.vm" />
<input type="hidden" name="groupId" value="$groupId" />
<input type="hidden" name="issueTypeId" value="$issueTypeId" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,GlobalArtifactTypeEdit.vm" />

<div class="functnbar">
<input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />
<input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
</div>

<h3>$l10n.AttributeGroupInfo</h3>

#set ($agGroup = $intake.AttributeGroup.mapTo($group))
<div class="axial">
 <table border="0" cellspacing="2" cellpadding="3">
 <tr>
 <th>* $l10n.Name</th>
 <td>
  #fieldErrorMsg($agGroup.Name "")
  <input type="text" size="25" name="$agGroup.Name.Key" value="$!agGroup.Name" /></td>
 </tr>
 <tr>
 <th>$l10n.Description</th>
 <td>#textAreaMedium("$agGroup.Description.Key" $agGroup.Description.Value)</td>
 </tr>
 </table>
</div>

<div class="functnbar3">
<input type="submit" value="$l10n.Save" name="eventSubmit_doSaveinfo" />&#160;
</div>

<h3>$l10n.AttributesInGroup</h3>
#if (!$group.Attributes.isEmpty())
<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th>$l10n.Select</th>
<th>$l10n.Name</th>
<th>$l10n.Active</th>
<th>$l10n.Required</th>
<th>$l10n.Locked</th>
<th>$l10n.IncludedInCustomQuery</th>
<th>$l10n.DefaultTxt</th>
<th>$l10n.Sequence</th>
</tr>
#foreach ($attribute in $group.Attributes)
   #set ($ria = $issueType.getRIssueTypeAttribute($attribute))
   #set ($riaGroup = $intake.RIssueTypeAttribute.mapTo($ria))
   #set ($raag = $group.getRAttributeAttributeGroup($attribute))
   #set ($raagGroup = $intake.RAttributeAttributeGroup.mapTo($raag))
 #indexedRows($velocityCount)
 <td><input type="checkbox" name="att_delete_$attribute.AttributeId" /></td>
 <td>$link.setPage("admin,IssueTypeAttributeEdit.vm").addPathInfo("att_0id", "$attribute.AttributeId").addPathInfo("key", "groupId").addPathInfo("groupId", $groupId).addPathInfo("issueTypeId", $group.IssueTypeId).setLabel("$attribute.Name")</td>
 <td>#booleanCheckbox ($riaGroup.Active)</td>
 <td>#booleanCheckbox ($riaGroup.Required)</td>
 <td>#booleanCheckbox ($riaGroup.Locked)</td>
 <td>#booleanCheckbox ($riaGroup.QuickSearch)</td>
 <td>
#if ($ria.Attribute.isTextAttribute())
    #set ($defaultText = $data.Parameters.getString("default_text",""))
    #if ($defaultText.length() > 0)
        #if($defaultText == $ria.Attribute.QueryKey)
            #set ($checked = true)
        #end
    #elseif ($ria.IsDefaultText)
        #set ($checked = true)
    #end        
    <input type="radio"  #if($checked)checked="checked"#end
        name="default_text" value="$ria.Attribute.QueryKey"/>
    #set ($checked = false)    
#else
    N/A
#end
</td>
 <td>#numericSelect( "$raagGroup.Order.Key" 1 $group.Attributes.size() $raagGroup.Order.Value 1 )</td>
 </tr>
 </td>
 </tr>
#end
</table>
<p><small>$l10n.DefaultText </small></p>
#else
  <p><em>$l10n.ClickAddButton</em></p>
#end

<div class="functnbar3">
#if (!$group.Attributes.isEmpty())
<input type="submit" value="$l10n.Save" name="eventSubmit_doSaveglobal" />&#160;
#end
<input type="submit" value="$l10n.AddNew" name="eventSubmit_doGotoothertemplate" />&#160;
##<input type="submit" value="$l10n.CopySelected" />&#160;
#if (!$group.Attributes.isEmpty())
<input type="submit" value="$l10n.DeleteSelected" name="eventSubmit_doDeleteattributes" />&#160;
<input type="submit" value="$l10n.Resort" name="eventSubmit_doSaveglobal" />
#end
</div>


<div class="functnbar2">
<input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />
<input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
</div>

$intake.declareGroups()
</form>
#end

</div>
