<div id="globalattributeshow" class="app">
$page.setTitle("Global Attribute Editor")

<h2>$page.Title</h2>

<p>
This page is for editing the Global Attributes.
</p>

<form action="$link.setPage("admin,GlobalAttributeShow.vm")" method="get">
    <input type="hidden" name="action" value="admin.GlobalAttributes">
    <input type="hidden" name="nextTemplate" value="admin,GlobalAttributeEdit.vm">

<p class="functnbar">
<input type="submit" value="Create New Attribute" name="eventSubmit_doCreatenew" class="buttonfunc"/>
<input type="submit" value="Delete Selected Attributes" name="eventSubmit_doDeleteaelectedattributes" class="buttonfunc"/>
</p>

<div class="grouper">

#datatitle("Attributes")

<div class="datatable">

<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th>Deleted:</th>
<th>Attribute Name:</th>
<th>Input Type:</th>
<th>Description:</th>
<th>Author:</th>
<th>Creation Date:</th>
</tr>

#* #set ($attgroup = $intake.Attribute.Default) *#
#set ($allAttributes = $scarabG.AllAttributes)

#foreach( $attribute in $allAttributes )
#set ($attgroup = $intake.Attribute.mapTo($attribute))
#if ( $velocityCount % 2 > 0 )
<tr class="a">
#else
<tr class="b">
#end
<td>#booleanCheckbox ($attgroup.Deleted)</td>
<td>$attribute.Name (<a href="$link.setPage("admin,GlobalAttributeShow.vm").setAction("admin.GlobalAttributes").addPathInfo("nextTemplate","admin,GlobalAttributeEdit.vm").addPathInfo("eventSubmit_doSelectattribute", "foo").addPathInfo("intake-grp", "att").addPathInfo("att", "_0").addPathInfo("att_0id", "$attgroup.Id")">edit</a>)</td>
<td>
    #set ($attType = $attribute.AttributeType)
    #foreach ( $atype in $attribute.AllAttributeTypes )
      #if($attType.AttributeTypeId == $atype.AttributeTypeId)
        $atype.Name
      #end
    #end
</td>
<td>#if ($attribute.Description) $attribute.Description #else &nbsp; #end</td>
#set ($createdUser = $scarabR.getUser($attribute.CreatedBy) )
<td><a href="mailTo:$createdUser.Email">$createdUser.FirstName $createdUser.LastName</a></td>
<td>$format.getDate($scarabG.DateFormat, $attribute.CreatedDate)</td>
</tr>
#end
</table>
</div>

$intake.declareGroups()

<p class="functnbar">
<input type="submit" value="Create New Attribute" name="eventSubmit_doCreatenew" class="buttonfunc"/>
<input type="submit" value="Delete Selected Attributes" name="eventSubmit_doDeleteaelectedattributes" class="buttonfunc"/>
</p>
</form>

</div>