#**
@author <a href="mailto:dr@bitonic.com">Douglas B.Robertson</a>
@version $Id: ManagePermissions.vm,v 1.3 2002/03/13 21:34:44 jon Exp $
*#

<div id="managePermissions" class="app">

<h2>$page.Title</h2>

<h3>Permission List</h3>

<form action="$link.setPage("admin,ManagePermissions.vm")" method="post">
  <input type="hidden" name="action" value="admin.ManagePermissions" />

<table cellspacing="0" cellpadding="2">
<tr>
  <th>Select</th>
  <th>Permission</th>
</tr>

#foreach ($permission in $securityAdmin.Permissions)
#indexedRows ($velocityCount)
  <td><center><input type="radio" name="name" value="$permission.Name"></center></td>
  <td>$permission.Name</td>
</tr>
#end
</table>

<div class="functnbar2">
 <input type="submit" name="eventSubmit_doGotodeletepermission" value="Delete permission" />&#160;
 <input type="submit" name="eventSubmit_doGotoaddpermission" value="Add new permission" />
</div>

</form>
