#**
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@version $Id: ManageRoles.vm,v 1.7 2002/01/22 00:47:16 jon Exp $
*#

$page.setTitle("Role Administration")

<div id="manageRoles" class="app">

<h2>$page.Title</h2>

<h3>Role List</h3>

<form action="admin%2CManageRoles.vm" method="post">
  <input type="hidden" name="action" value="admin.ManageRoles" />

<table cellspacing="0" cellpadding="2">
<tr>
  <th>Select</th>
  <th>Role</th>
</tr>

#foreach ($role in $securityAdmin.Roles)
#indexedRows ($velocityCount)
  <td align="center">
    <input type="radio" name="name" value="$role.Name" />
  </td>
  <td>
    $role.Name
  </td>
  <!--
  <td>
      $link.setPage("role,FluxRoleForm.vm").addPathInfo("name",$role.Name).addQueryData("mode","modify").setLabel("Details") &nbsp;
      $link.setPage("role,FluxRoleForm.vm").addPathInfo("name",$role.Name).addQueryData("mode","delete").setLabel("Remove")
  </td>
  -->

</tr>
#end
</table>

<div class="functnbar2">
   <input type="submit" name="eventSubmit_doGotoeditrole" value="Edit Role" />&#160;
   <input type="submit" name="eventSubmit_doGotodeleterole" value="Delete Role" />&#160;
   <input type="submit" name="eventSubmit_doGotoaddrole" value="Add New Role" />
</div>

</form>

</div>
