#**
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@author <a href="mailto:jon@collab.net">Jon Stevens</a>
@version $Id: ManageUserSearch.vm,v 1.6 2002/01/14 10:16:37 maartenc Exp $
*#

$page.setTitle("User Search")

#set ($formSearchCriteria = "")
#set ($user = $data.User)
#set ($searchCommand = $data.Parameters.getString("searchCommand"))
#set ($resultsPerPage = $data.Parameters.getInt("resultsPerPage"))
#set ($pageNum = $data.Parameters.getInt("pageNum"))
#set ($formSearchCriteria = $data.Parameters.getString("searchCriteria"))
#set ($formOrderBy = $data.Parameters.getString("orderbyField"))

#if ($resultsPerPage == 0)
  #set ($resultsPerPage = 25)
#end

#if ($pageNum == 0)
  #set ($pageNum = 1)
#end


<div id="adminIndex" class="app">

<h2>$page.Title</h2>

<h3>Search</h3>

<p>
Enter search criteria.
</p>

<form action="$link.setPage("admin,ManageUserSearch.vm")" method="post">
  <input type="hidden" name="action" value="admin.ManageUser" />
  <input type="hidden" name="searchCommand" value="search" />

<table cellspacing="0" cellpadding="2">
<tr>
<td>
<select name="searchField">
 <option value="FIRST_NAME" #if ($data.Parameters.getString("searchField").equals("FIRST_NAME")) selected #end>First Name
 <option value="LAST_NAME" #if ($data.Parameters.getString("searchField").equals("LAST_NAME")) selected #end>Last Name
 <option value="EMAIL" #if ($data.Parameters.getString("searchField").equals("EMAIL")) selected #end>E-mail Address
 <option value="LOGIN_NAME" #if ($data.Parameters.getString("searchField").equals("LOGIN_NAME")) selected #end>Login Name
</select>
<input type="text" name="searchCriteria" value="$formSearchCriteria">
</td>
<td>
Order by: <select name="orderbyField">
 <option value="FIRST_NAME" #if ($data.Parameters.getString("orderbyField").equals("FIRST_NAME")) selected #end>First Name
 <option value="LAST_NAME" #if ($data.Parameters.getString("orderbyField").equals("LAST_NAME")) selected #end>Last Name
 <option value="EMAIL" #if ($data.Parameters.getString("orderbyField").equals("EMAIL")) selected #end>E-mail Address
 <option value="LOGIN_NAME" #if ($data.Parameters.getString("orderbyField").equals("LOGIN_NAME")) selected #end>Login Name
</select>
<select name="ascOrDesc">
  <option value="ASC">Ascending
  <option value="DESC">Descending
</select>  
</td>
</tr>
</table>

<p>
Results per page: 
<input type="radio" name="resultsPerPage" value="25" #if ($resultsPerPage == 25) checked #end> 25 &nbsp;
<input type="radio" name="resultsPerPage" value="50" #if ($resultsPerPage == 50) checked #end> 50 &nbsp;
<input type="radio" name="resultsPerPage" value="75" #if ($resultsPerPage == 75) checked #end> 75 &nbsp;
<input type="radio" name="resultsPerPage" value="100" #if ($resultsPerPage == 100) checked #end> 100
</p>

<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
   <input type="submit" name="eventSubmit_doSearch" value="Search" />
   &#160;&#160;&#160;
   <input type="submit" name="eventSubmit_doGotoadduser" value="Add User" />

  </td>
 </tr>
</table>
</div>
</form>


#if ($searchCommand.equals("search"))

<h3>Search results</h3>

 #set ($userList = $scarabG.getSearchUsers($data.Parameters.searchField,$data.Parameters.searchCriteria,$data.Parameters.orderbyField,$data.Parameters.ascOrDesc))

 #if ($userList.size() == 0)
<p class="warn">There are no users matching the specified crieteria.</p>
 #else

<form name="ManageUserSearchForm" action="$link.setPage("admin,ManageUserSearch.vm")" method="post">
 <input type="hidden" name="action" value="admin.ManageUser">
 <input type="hidden" name="state" value="">

<table cellspacing="0" cellpadding="2" width="100%">
 <tr>
   <th>Select</th>
   <th>Username</th>
   <th>Name</th>
   <th>Email</th>
 </tr>

## this is the results list stuff
#if ($userList.size() > $resultsPerPage)
 #set ($paginated = "true")
 #set ($userList = $scarabR.getPaginatedList($userList, $pageNum, $resultsPerPage))
 #set ($totalPages = $scarabR.NbrPages)
 #set ($searchField = $data.Parameters.getString("searchField"))
 #set ($searchCriteria = $data.Parameters.getString("searchCriteria"))
 #set ($orderbyField = $data.Parameters.getString("orderByField"))
 #set ($ascOrDesc = $data.Parameters.getString("ascOrDesc"))
#end

## PAGINATION
#if ($paginated)
 <p class="paginate">
 #if($scarabR.PrevPage != 0)
  #set ($prevLink = $link.setPathInfo("searchCommand", "search").setPathInfo("searchField", "$searchField").setPathInfo("searchCriteria", "$searchCriteria").setPathInfo("orderbyField", "$orderbyField").setPathInfo("ascOrDesc", "$ascOrDesc").setPathInfo("resultsperpage", "$resultsPerPage").setPathInfo("pageNum", "$scarabR.PrevPage").setPage("admin,ManageUserSearch.vm").toString())
  <a href="$prevLink">&laquo;</a> previous |
 #end

 $pageNum of $totalPages

 #if ($scarabR.NextPage != 0)
  #set ($nextLink = $link.setPathInfo("searchCommand", "search").setPathInfo("searchField", "$searchField").setPathInfo("searchCriteria", "$searchCriteria").setPathInfo("orderbyField", "$orderbyField").setPathInfo("ascOrDesc", "$ascOrDesc").setPathInfo("resultsperpage", "$resultsPerPage").setPathInfo("pageNum", "$scarabR.NextPage").setPage("admin,ManageUserSearch.vm").toString())
  | next <a href="$nextLink">&raquo;</a>
 #end
 </p>
#end

#foreach ($user in $userList)
  #indexedRows ($velocityCount)
   <td width="10"><center><input type="radio" name="username" value="$!user.UserName"></center></td>
   <td>$!user.UserName</td>
   <td>$!user.FirstName $!user.LastName</td>
   <td><a href=mailto:$!user.Email>$!user.Email</a>
 </tr>
#end

</table>

#if ($userList.size() > 0)
<div class="functnbar2">
<table cellpadding="4" cellspacing="0" border="1">
 <tr>
  <td class="firstchild">
 <input type="submit" name="eventSubmit_doGotoedituser" value="Edit User" />
 <input type="submit" name="eventSubmit_doGotoeditroles" value="Edit Roles" />
 <input type="submit" name="eventSubmit_doGotodeleteuser" value="Delete" />
  </td>
 </tr>
</table>
</div>
#end

#end

#end

