$page.setTitle("Manage artifact types")

#set ($issueTypes = $scarabR.CurrentModule.AvailableIssueTypes)

<form method="post" action="$link.setPage("admin,ManageArtifactTypes.vm")">
<input type="hidden" name="action" value="admin.ManageArtifactTypes" />
<input type="hidden" name=$scarabG.Constant.CANCEL_TEMPLATE value="$data.Parameters.getString($scarabG.Constant.CANCEL_TEMPLATE)">
<input type="hidden" name=$scarabG.Constant.OTHER_TEMPLATE value="admin,ArtifactTypeSelect.vm" />

<div class="app" id="div2-1-4-0">

<h2>$page.Title</h2>

<div class="functnbar">
<input type="submit" value="Done"  name="eventSubmit_doDone" />&#160;<input type="submit" value="Cancel" name="eventSubmit_doCancel" />&#160;<small>changes</small>
</div>

<h3>Artifact types</h3>

<table width="100%" border="1" cellspacing="2" cellpadding="3">
<tr>
<th>select</th>
<th>Artifact type name</th>
<th>(in)active</th>
<th>Show in left hand nav*</th>
<th>Sequence #</th>
</tr>

#set ($module = $scarabR.CurrentModule)
#set ($rmits = $module.RModuleIssueTypes)

#foreach ($rmit in $rmits)
#set ( $rmitGroup = $intake.RModuleIssueType.mapTo($rmit) )
#indexedRows($velocityCount)
<td><input type="checkbox" name="delete_$rmit.IssueTypeId"/></td>
<td>$link.setPage("admin,ArtifactTypeEdit.vm").addPathInfo("issueTypeId", $rmit.IssueTypeId).setLabel("#if ($rmit.DisplayName)${rmit.DisplayName}#else${rmit.IssueType.Name}#end")</td>
<td>#booleanCheckbox ($rmitGroup.Active)</td>
<td>#booleanCheckbox ($rmitGroup.Display)</td>
<td>#numericSelect( $rmitGroup.Order.Key 1 5 $rmit.Order 1 )</td>
</tr>        
#end
</table>

<div class="functnbar3">
<input type="submit" value="save"  name="eventSubmit_doSave"/>&#160;<input type="submit" value="add new"  name="eventSubmit_doGotoothertemplate"/>&#160;<input type="submit" value="copy" />&#160;<input type="submit" value="delete selected" name="eventSubmit_doDeletemoduleissuetype"  />&#160;<input type="submit" value="resort" name="eventSubmit_doSave" />&#160;<small>artifact type(s)</small>		</div>


<p>* Maximum of five Artifact types in left hand navigation (first four selected will appear).</p>

<div class="functnbar2">
<input type="submit" value="Done"  name="eventSubmit_doDone" />&#160;<input type="submit" value="Cancel" name="eventSubmit_doCancel" />&#160;<small>changes</small>
</div>

$intake.declareGroups()
</form>

</div>
