$page.setTitle("Manage Modules ")

#set ($userModules = $data.User.EditableModules)
<div id="managemodule" class="app">

<h2>$page.Title</h2>

<h3>Modules</h3>
#if ($userModules.size() > 0)
<table border="1" cellspacing="2" cellpadding="3" width="100%">
<tr>
    <th>Module name</th>
    <th>Module description</th>
</tr>

#foreach ($module in $userModules)
#indexedRows($velocityCount)
<td>
$link.setPage("admin,ModifyModule.vm").addPathInfo("moduleId", $module.ModuleId).setLabel("$module.Name")
</td>
<td>
$module.Description
</td>
</tr>
#end

</table>
#end

<form action="$link.setPage("admin,ModifyModule.vm").addPathInfo("new", "true")" method="post">
<div class="functnbar2">
<input type="submit" name="maxumusDorkus" value="Create new module" />
</div>
</form>

</div>
