#**
@author <a href="mailto:dr@bitonic.com">Douglas B. Robertson</a>
@version $Id: ManageRoles.vm,v 1.12 2002/07/12 20:47:00 jon Exp $
*#

<div id="manageRoles" class="app">

<h3>Role list</h3>

<form action="admin%2CManageRoles.vm" method="post">
  <input type="hidden" name="action" value="admin.ManageRoles" />

<table cellpadding="3" cellspacing="2" border="1" width="100%">
<tr>
  <th width="60">Select</th>
  <th>Role</th>
</tr>

#foreach ($role in $securityAdmin.Roles)
#indexedRows ($velocityCount)
  <td>
    <label for="radio_$role.Name">
      <input type="radio" name="name" value="$role.Name" />
    </label>
  </td>
  <td>
    $role.Name
  </td>
</tr>
#end
</table>

<div class="functnbar2">
 <input type="submit" name="eventSubmit_doGotoeditrole" value="Edit" />&#160;
 <input type="submit" name="eventSubmit_doGotodeleterole" value="Delete" />&#160;
 <input type="submit" name="eventSubmit_doGotoaddrole" value="Add new" />
</div>

</form>

</div>
