<form action="$link.setPage("admin,ModifyAttributes.vm")" method="POST">
    <input type="hidden" name="action" value="admin.ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="">
    <input type="hidden" name="fvalue" value="1">

#set ($user = $scarabR.User)
#set ($module = $user.CurrentModule)

<p>
Please select an attribute from the list below, then click the "Modify
Attribute Options" button:
</p>

#set ( $attgroup = $intake.Attribute.Default )
<input type="hidden" name="$attgroup.CID" value="$attgroup.OID">

<select name="$attgroup.Id.Key" size="5">
#foreach( $attribute in $module.AllAttributes )
<option value="$attribute.AttributeId"
#if ("$attribute.AttributeId" == "$!attgroup.Id.Value")selected#end
>$attribute.Name</option>
#end
</select>


<p>
<input type="submit" name="eventSubmit_doSelectattribute" value="Modify Attribute">
</p>

</form>

#if ($data.Parameters.getString("fvalue") == "1")
<hr>

#set ($attribute = $scarabR.Attribute)
<form action="$link.setPage("admin,ModifyAttributes.vm")" method="POST">
    <input type="hidden" name="action" value="ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="">
    <input type="hidden" name="attribute_id" value="$attribute.AttributeId">
    <input type="hidden" name="fvalue" value="2">

#set ( $attogroup = $intake.AttributeOption.Default )
<input type="hidden" name="$attogroup.CID" value="$attogroup.OID">

#set ( $attOptions = $attribute.getAttributeOptions())
<select name="$attogroup.OptionId.Key" size="5">
    #if ( $attOptions.size() > 0 )
    #foreach ($option in $attOptions)
    <option value="$option.OptionId">$option.DisplayValue</option>
    #end
    #end
</select>

#set ( $attgroup = $intake.Attribute.Default )
<input type="hidden" name="$attgroup.CID" value="$attgroup.OID">
<input type="text" name="$attgroup.Id.Key" value="$attribute.Name">

<p>
<input type="submit" name="eventSubmit_doSelectattributeoption" value="Modify Attribute Options">
</p>

</form>
#end

#if ($data.Parameters.getString("fvalue") == "2")
<hr>

#set ($attribute = $scarabR.Attribute)
<form action="$link.setPage("admin,ModifyAttributes.vm")" method="POST">
    <input type="hidden" name="action" value="ModifyAttributes">
    <input type="hidden" name="nextTemplate" value="">
    <input type="hidden" name="attribute_id" value="$attribute.AttributeId">

#set ( $attogroup = $intake.AttributeOption.Default )
<input type="hidden" name="$attogroup.CID" value="$attogroup.OID">

#set ( $attOptions = $attribute.getAttributeOptions())
<select name="$attogroup.OptionId.Key" size="5">
    #if ( $attOptions.size() > 0 )
    #foreach ($option in $attOptions)
    <option value="$option.OptionId">$option.DisplayValue</option>
    #end
    #end
</select>

<p>
<input type="submit" name="eventSubmit_doSelectattributeoption" value="Modify Attribute Options">
</p>

</form>
#end
