<FORM METHOD="post" NAME="ModifyUserForm" ACTION="">
  <INPUT TYPE="hidden" NAME="action" VALUE="ModifyUser">
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td class="NavHeader">SCARAB:</td>
<td nowrap class="NavHeader"><a href="/">My Bugs</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Report</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Browse</a></td>
<td class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Assign (8)</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Search</a></td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeaderOn" bgcolor="#cccccc">Admin</td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Prefs</a></td>
<td class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Log Out</a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap class="NavHeaderOn" bgcolor="#CCCCCC"><a href="/">Home</a> | Modify Project | <a href="/">Modify Component</a> | <a href="/"">Modify Role</a> | <a href="/">Modify Permission</a></td>
                                </TR>
                        </TABLE>
                </TD>
        </TR>

        <TR>
                <TD HEIGHT="1" BGCOLOR="#000000"></TD>
        </TR>
</TABLE>
<P>

<TABLE BORDER="0" CELLPADDING="3" CELLSPACING="0" WIDTH="100%">
        <TR>
                <TD COLSPAN="3" class="PlainText">Modify
Users</TD>
        </TR>
        <TR>
                <TD class="Header" BGCOLOR="#999999">&nbsp;UPDATE USER INFORMATION</TD>
        </TR>
        <TR>
                <TD class="PlainText">Please enter the required contact information below. Fields marked with a <SPAN class="StressedText">*</SPAN> are required.</TD>
        </TR>
</TABLE>

<P>
<FORM>
<TABLE BORDER="0" CELLPADDING="0" CELLSPACING="0" WIDTH="100%">
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD><SPAN class="StressedText">*</span></TD>
                <TD class="InputHeader">&nbsp;Email Address:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="email" value="$email"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD>&nbsp;</TD>
                <TD class="PlainText">Note: Enter user's valid email address - including user's "@serviceprovider" domain. For example if user's AOL screen name is joe cool, user's email address is joecool@aol.com.</TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD><SPAN class="StressedText">*</span></TD>
                <TD class="InputHeader">&nbsp;First Name:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="firstname" value="$firstname"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD><SPAN class="StressedText">*</span></TD>
                <TD CLASS="InputHeader">&nbsp;Last Name:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="lastname" value="$lastname"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Company Name:</TD>
                <TD><INPUT TYPE="text" SIZE="35" name="companyname" value="$companyname"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Address 1:</TD>
                <TD><INPUT TYPE="text" SIZE="35" name="address1" value="$address1"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Address 2:</TD>
                <TD><INPUT TYPE="text" SIZE="35" name="address2" value="$address2"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;City:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="city" value="$city"></TD>
        
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;State:</TD>
                <TD>
<SELECT NAME="sastate">
<OPTION Value=""> -- Select a State -- 
<OPTION Value="AL">ALABAMA
<OPTION Value="AK">ALASKA
<OPTION Value="AS">AMERICAN SAMOA
<OPTION Value="AZ">ARIZONA
<OPTION Value="AR">ARKANSAS
<OPTION Value="AA">ARMED FORCES AMERICAS
<OPTION Value="AE">ARMED FORCES EUROPE
<OPTION Value="AP">ARMED FORCES PACIFIC
<OPTION Value="CA">CALIFORNIA
<OPTION Value="CO">COLORADO
<OPTION Value="CT">CONNECTICUT
<OPTION Value="DE">DELAWARE
<OPTION Value="DC">DISTRICT OF COLUMBIA
<OPTION Value="FM">FED. STATES OF MICRONESIA
<OPTION Value="FL">FLORIDA
<OPTION Value="GA">GEORGIA
<OPTION Value="GU">GUAM
<OPTION Value="HI">HAWAII
<OPTION Value="ID">IDAHO
<OPTION Value="IL">ILLINOIS
<OPTION Value="IN">INDIANA
<OPTION Value="IA">IOWA
<OPTION Value="KS">KANSAS
<OPTION Value="KY">KENTUCKY
<OPTION Value="LA">LOUISIANA
<OPTION Value="ME">MAINE
<OPTION Value="MH">MARSHALL ISLANDS
<OPTION Value="MD">MARYLAND
<OPTION Value="MA">MASSACHUSETTS
<OPTION Value="MI">MICHIGAN
<OPTION Value="MN">MINNESOTA
<OPTION Value="MS">MISSISSIPPI
<OPTION Value="MO">MISSOURI
<OPTION Value="MT">MONTANA
<OPTION Value="NE">NEBRASKA
<OPTION Value="NV">NEVADA
<OPTION Value="NH">NEW HAMPSHIRE
<OPTION Value="NJ">NEW JERSEY
<OPTION Value="NM">NEW MEXICO
<OPTION Value="NY" selected>NEW YORK
<OPTION Value="NC">NORTH CAROLINA
<OPTION Value="ND">NORTH DAKOTA
<OPTION Value="MP">NORTHERN MARIANA ISLANDS
<OPTION Value="OH">OHIO
<OPTION Value="OK">OKLAHOMA
<OPTION Value="OR">OREGON
<OPTION Value="PW">PALAU
<OPTION Value="PA">PENNSYLVANIA
<OPTION Value="PR">PUERTO RICO
<OPTION Value="RI">RHODE ISLAND
<OPTION Value="SC">SOUTH CAROLINA
<OPTION Value="SD">SOUTH DAKOTA
<OPTION Value="TN">TENNESSEE
<OPTION Value="TX">TEXAS
<OPTION Value="UT">UTAH
<OPTION Value="VT">VERMONT
<OPTION Value="VI">VIRGIN ISLANDS
<OPTION Value="VA">VIRGINIA
<OPTION Value="WK">WAKE ISLAND
<OPTION Value="WA">WASHINGTON</OPTION>
<OPTION Value="WV">WEST VIRGINIA</OPTION>
<OPTION Value="WI">WISCONSIN</OPTION>
<OPTION Value="WY">WYOMING</OPTION>
<OPTION Value="AB">ALBERTA</OPTION>
<OPTION Value="BC">BRITISH COLUMBIA</OPTION>
<OPTION Value="MB">MANITOBA</OPTION>
<OPTION Value="NB">NEW BRUNSWICK</OPTION>
<OPTION Value="NF">NEWFOUNDLAND</OPTION>
<OPTION Value="NW">NORTHWEST TERRITORIES</OPTION>
<OPTION Value="NS">NOVA SCOTIA</OPTION>
<OPTION Value="ON">ONTARIO</OPTION>
<OPTION Value="PE">PRINCE EDWARD ISLAND</OPTION>
<OPTION Value="PQ">QUEBEC</OPTION>
<OPTION Value="SK">SASKATCHEWAN</OPTION>
<OPTION Value="YT">YUKON TERRITORY</OPTION>
</SELECT>               
                </TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD VALIGN="top" class="InputHeader">&nbsp;Country:</TD>
                <TD>
                <SELECT name="country" size="5"><OPTION VALUE="1">United
States</OPTION><OPTION VALUE="225">APO/FPO</OPTION><OPTION
VALUE="2">Canada</OPTION><OPTION VALUE="3">United Kingdom</OPTION><OPTION
VALUE="4">Afghanistan</OPTION><OPTION VALUE="5">Albania</OPTION><OPTION
VALUE="6">Algeria</OPTION><OPTION VALUE="7">American Samoa</OPTION><OPTION
VALUE="8">Andorra</OPTION><OPTION VALUE="9">Angola</OPTION><OPTION
VALUE="10">Anguilla</OPTION><OPTION VALUE="11">Antigua and
Barbuda</OPTION><OPTION
VALUE="12">Argentina</OPTION><OPTION VALUE="13">Armenia</OPTION><OPTION
VALUE="14">Aruba</OPTION><OPTION VALUE="15">Australia</OPTION><OPTION
VALUE="16">Austria</OPTION><OPTION VALUE="17">Azerbaijan
Republic</OPTION><OPTION
VALUE="18">Bahamas</OPTION><OPTION VALUE="19">Bahrain</OPTION><OPTION
VALUE="20">Bangladesh</OPTION><OPTION VALUE="21">Barbados</OPTION><OPTION
VALUE="22">Belarus</OPTION><OPTION VALUE="23">Belgium</OPTION><OPTION
VALUE="24">Belize</OPTION><OPTION VALUE="25">Benin</OPTION><OPTION
VALUE="26">Bermuda</OPTION><OPTION VALUE="27">Bhutan</OPTION><OPTION
VALUE="28">Bolivia</OPTION><OPTION VALUE="29">Bosnia and
Herzegovina</OPTION><OPTION
VALUE="30">Botswana</OPTION><OPTION VALUE="31">Brazil</OPTION><OPTION
VALUE="32">British Virgin Islands</OPTION><OPTION VALUE="33">Brunei
Darussalam</OPTION><OPTION VALUE="34">Bulgaria</OPTION><OPTION
VALUE="35">Burkina
Faso</OPTION><OPTION VALUE="36">Burma</OPTION><OPTION
VALUE="37">Burundi</OPTION><OPTION
VALUE="38" selected>Cambodia</OPTION><OPTION
VALUE="39">Cameroon</OPTION><OPTION VALUE="2">Canada</OPTION><OPTION
VALUE="40">Cape
Verde Islands</OPTION><OPTION VALUE="41">Cayman Islands</OPTION><OPTION
VALUE="42">Central African Republic</OPTION><OPTION
VALUE="43">Chad</OPTION><OPTION
VALUE="44">Chile</OPTION><OPTION VALUE="45">China</OPTION><OPTION
VALUE="46">Colombia</OPTION><OPTION VALUE="47">Comoros</OPTION><OPTION
VALUE="48">Congo, Democratic Republic of the</OPTION><OPTION
VALUE="49">Congo,
Republic of the</OPTION><OPTION VALUE="50">Cook Islands</OPTION><OPTION
VALUE="51">Costa Rica</OPTION><OPTION VALUE="52">Cote d Ivoire (Ivory
Coast)</OPTION><OPTION VALUE="53">Croatia, Republic of</OPTION><OPTION
VALUE="54">Cuba</OPTION><OPTION VALUE="55">Cyprus</OPTION><OPTION
VALUE="56">Czech
Republic</OPTION><OPTION VALUE="57">Denmark</OPTION><OPTION
VALUE="58">Djibouti</OPTION><OPTION VALUE="59">Dominica</OPTION><OPTION
VALUE="60">Dominican Republic</OPTION><OPTION
VALUE="61">Ecuador</OPTION><OPTION
VALUE="62">Egypt</OPTION><OPTION VALUE="63">El Salvador</OPTION><OPTION
VALUE="64">Equatorial Guinea</OPTION><OPTION
VALUE="65">Eritrea</OPTION><OPTION
VALUE="66">Estonia</OPTION><OPTION VALUE="67">Ethiopia</OPTION><OPTION
VALUE="68">Falkland Islands (Islas Malvinas)</OPTION><OPTION
VALUE="69">Fiji</OPTION><OPTION VALUE="70">Finland</OPTION><OPTION
VALUE="71">France</OPTION><OPTION 
                VALUE="72">French Guiana</OPTION><OPTION VALUE="73">French
Polynesia</OPTION><OPTION VALUE="74">Gabon Republic</OPTION><OPTION
VALUE="75">Gambia</OPTION><OPTION VALUE="76">Georgia</OPTION><OPTION
VALUE="77">Germany</OPTION><OPTION VALUE="78">Ghana</OPTION><OPTION
VALUE="79">Gibraltar</OPTION><OPTION VALUE="80">Greece</OPTION><OPTION
VALUE="81">Greenland</OPTION><OPTION VALUE="82">Grenada</OPTION><OPTION
VALUE="83">Guadeloupe</OPTION><OPTION VALUE="84">Guam</OPTION><OPTION
VALUE="85">Guatemala</OPTION><OPTION VALUE="86">Guernsey</OPTION><OPTION
VALUE="87">Guinea</OPTION><OPTION VALUE="88">Guinea-Bissau</OPTION><OPTION
VALUE="89">Guyana</OPTION><OPTION VALUE="90">Haiti</OPTION><OPTION
VALUE="91">Honduras</OPTION><OPTION VALUE="92">Hong Kong</OPTION><OPTION
VALUE="93">Hungary</OPTION><OPTION VALUE="94">Iceland</OPTION><OPTION
VALUE="95">India</OPTION><OPTION VALUE="96">Indonesia</OPTION><OPTION
VALUE="97">Iran</OPTION><OPTION VALUE="98">Iraq</OPTION><OPTION
VALUE="99">Ireland</OPTION><OPTION VALUE="100">Israel</OPTION><OPTION
VALUE="101">Italy</OPTION><OPTION VALUE="102">Jamaica</OPTION><OPTION
VALUE="103">Jan
Mayen</OPTION><OPTION VALUE="104">Japan</OPTION><OPTION
VALUE="105">Jersey</OPTION><OPTION VALUE="106">Jordan</OPTION><OPTION
VALUE="107">Kazakhstan</OPTION><OPTION VALUE="108">Kenya Coast
Republic</OPTION><OPTION VALUE="109">Kiribati</OPTION><OPTION
VALUE="110">Korea,
North</OPTION><OPTION VALUE="111">Korea, South</OPTION><OPTION
VALUE="112">Kuwait</OPTION><OPTION VALUE="113">Kyrgyzstan</OPTION><OPTION
VALUE="114">Laos</OPTION><OPTION VALUE="115">Latvia</OPTION><OPTION
VALUE="116">Lebanon</OPTION><OPTION
VALUE="120">Liechtenstein</OPTION><OPTION
VALUE="121">Lithuania</OPTION><OPTION
VALUE="122">Luxembourg</OPTION><OPTION
VALUE="123">Macau</OPTION><OPTION VALUE="124">Macedonia</OPTION><OPTION
VALUE="125">Madagascar</OPTION><OPTION VALUE="126">Malawi</OPTION><OPTION
VALUE="127">Malaysia</OPTION><OPTION VALUE="128">Maldives</OPTION><OPTION
VALUE="129">Mali</OPTION><OPTION VALUE="130">Malta</OPTION><OPTION
VALUE="131">Marshall Islands</OPTION><OPTION
VALUE="132">Martinique</OPTION><OPTION
VALUE="133">Mauritania</OPTION><OPTION
VALUE="134">Mauritius</OPTION><OPTION
VALUE="135">Mayotte</OPTION><OPTION VALUE="136">Mexico</OPTION><OPTION
VALUE="137">Moldova</OPTION><OPTION VALUE="138">Monaco</OPTION><OPTION
VALUE="139">Mongolia</OPTION><OPTION
VALUE="140">Montserrat</OPTION><OPTION
VALUE="141">Morocco</OPTION><OPTION VALUE="142">Mozambique</OPTION><OPTION
VALUE="143">Namibia</OPTION><OPTION VALUE="144">Nauru</OPTION><OPTION
VALUE="145">Nepal</OPTION><OPTION VALUE="146">Netherlands</OPTION><OPTION
VALUE="147">Netherlands Antilles</OPTION><OPTION VALUE="148">New
Caledonia</OPTION><OPTION VALUE="149">New Zealand</OPTION><OPTION
VALUE="150">Nicaragua</OPTION><OPTION VALUE="151">Niger</OPTION><OPTION 
                VALUE="152">Nigeria</OPTION><OPTION
VALUE="153">Niue</OPTION><OPTION
VALUE="154">Norway</OPTION><OPTION VALUE="155">Oman</OPTION><OPTION
VALUE="156">Pakistan</OPTION><OPTION VALUE="157">Palau</OPTION><OPTION
VALUE="158">Panama</OPTION><OPTION VALUE="159">Papua New
Guinea</OPTION><OPTION
VALUE="160">Paraguay</OPTION><OPTION VALUE="161">Peru</OPTION><OPTION
VALUE="162">Philippines</OPTION><OPTION VALUE="163">Poland</OPTION><OPTION
VALUE="164">Portugal</OPTION><OPTION VALUE="165">Puerto
Rico</OPTION><OPTION
VALUE="166">Qatar</OPTION><OPTION VALUE="167">Romania</OPTION><OPTION
VALUE="168">Russian Federation</OPTION><OPTION
VALUE="169">Rwanda</OPTION><OPTION
VALUE="170">Saint Helena</OPTION><OPTION VALUE="171">Saint
Kitts-Nevis</OPTION><OPTION
VALUE="172">Saint Lucia</OPTION><OPTION VALUE="173">Saint Pierre and
Miquelon</OPTION><OPTION VALUE="174">Saint Vincent and the
Grenadines</OPTION><OPTION
VALUE="175">San Marino</OPTION><OPTION VALUE="176">Saudi
Arabia</OPTION><OPTION
VALUE="177">Senegal</OPTION><OPTION VALUE="178">Seychelles</OPTION><OPTION
VALUE="179">Sierra Leone</OPTION><OPTION
VALUE="180">Singapore</OPTION><OPTION
VALUE="181">Slovakia</OPTION><OPTION VALUE="182">Slovenia</OPTION><OPTION
VALUE="183">Solomon Islands</OPTION><OPTION
VALUE="184">Somalia</OPTION><OPTION
VALUE="185">South Africa</OPTION><OPTION VALUE="186">Spain</OPTION><OPTION
VALUE="187">Sri Lanka</OPTION><OPTION VALUE="188">Sudan</OPTION><OPTION
VALUE="189">Suriname</OPTION><OPTION VALUE="190">Svalbard</OPTION><OPTION
VALUE="191">Swaziland</OPTION><OPTION VALUE="192">Sweden</OPTION><OPTION
VALUE="193">Switzerland</OPTION><OPTION VALUE="194">Syria</OPTION><OPTION
VALUE="195">Tahiti</OPTION><OPTION VALUE="196">Taiwan</OPTION><OPTION
VALUE="197">Tajikistan</OPTION><OPTION
VALUE="198">Tanzania</OPTION><OPTION
VALUE="199">Thailand</OPTION><OPTION VALUE="200">Togo</OPTION><OPTION
VALUE="201">Tonga</OPTION><OPTION VALUE="202">Trinidad and
Tobago</OPTION><OPTION
VALUE="203">Tunisia</OPTION><OPTION VALUE="204">Turkey</OPTION><OPTION
VALUE="205">Turkmenistan</OPTION><OPTION VALUE="206">Turks and Caicos
Islands</OPTION><OPTION VALUE="207">Tuvalu</OPTION><OPTION
VALUE="208">Uganda</OPTION><OPTION VALUE="209">Ukraine</OPTION><OPTION
VALUE="210">United Arab Emirates</OPTION><OPTION VALUE="3">United
Kingdom</OPTION><OPTION VALUE="1">United States</OPTION><OPTION
VALUE="211">Uruguay</OPTION><OPTION VALUE="212">Uzbekistan</OPTION><OPTION
VALUE="213">Vanuatu</OPTION><OPTION VALUE="214">Vatican City
State</OPTION><OPTION
VALUE="215">Venezuela</OPTION><OPTION VALUE="216">Vietnam</OPTION><OPTION
VALUE="217">Virgin Islands (U.S.)</OPTION><OPTION VALUE="218">Wallis and
Futuna</OPTION><OPTION VALUE="219">Western Sahara</OPTION><OPTION
VALUE="220">Western
Samoa</OPTION><OPTION VALUE="221">Yemen</OPTION><OPTION
VALUE="222">Yugoslavia</OPTION><OPTION 
                VALUE="223">Zambia</OPTION><OPTION
VALUE="224">Zimbabwe</OPTION></SELECT>
                </SELECT>
                </TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Postal Code:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="postalcode" value="$postalcode"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Phone:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="phone" value="$phone"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Alt Phone:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="altphone" value="$altphone"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Fax:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="fax" value="$fax"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Cell:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="cell" value="$cell"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Pager:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="pager" value="$pager"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Username:</TD>
                <TD><INPUT TYPE="text" SIZE="25" name="username" value="$username"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD CLASS="InputHeader">&nbsp;Password:</TD>
                <TD><INPUT TYPE="password" SIZE="25" name="password" value=""></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD valign="top" class="InputHeader">&nbsp;Password, confirm:</TD>
                <TD valign="top"><INPUT TYPE="password" SIZE="25" name="passwordconfirm" value=""></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD valign="top" class="InputHeader">&nbsp;Roles:</TD>
                <TD>
                  <table border="0" cellpadding="2" cellspacing="0" width="100%">
                    <tr>
                      <td class="InputHeader"><INPUT TYPE="checkbox" name="admin">Admin</td>
                      <td class="InputHeader"><INPUT TYPE="checkbox" name="programmer" checked>Programmer</td>
                    </tr>
                    <tr>
                      <td class="InputHeader"><INPUT TYPE="checkbox" name="reporter">Bug Reporter</td>
                      <td class="InputHeader"><INPUT TYPE="checkbox" name="manager">Project Manager</td>
                    </tr>
                    <tr>
                      <td class="InputHeader"><INPUT TYPE="checkbox" name="overlord" checked>Overlord</td>
                      <td class="InputHeader"><INPUT TYPE="checkbox" name="banned">Banned</td>
                    </tr>
                  </table>
                </TD>
        </TR>

        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD>&nbsp;</TD>
                <TD>&nbsp;</TD>
                <TD><INPUT TYPE="submit" NAME="eventSubmit_doModify" VALUE="Modify"></TD>
        </TR>
        <TR>
                <TD HEIGHT="4" COLSPAN="3"></TD>
        </TR>
        <TR>
                <TD HEIGHT="1" COLSPAN="3" BGCOLOR="#cccccc"></TD>
        </TR>
</TABLE>
</FORM>
