#set ($createNew = $data.Parameters.New)
#set ($canEdit = "false")

#set ($moduleId = $data.Parameters.getString("moduleid"))
#if (!$moduleId)
   #set ($createNew = "true")
#end

#if ($createNew && $createNew.equals("true"))
  $page.setTitle("New Module") 
#else
  $page.setTitle("Modify Module") 
  #set ($editModule = $scarabR.getModule($moduleId))
  #set ($canEdit = $scarabR.hasPermission($scarabG.Permission.MODULE__EDIT, $editModule))
#end

#macro (ModifyModuleBar $var)
<div class="functnbar$var">
#if ($createNew && $createNew.equals("true"))
   <input type="submit" name="eventSubmit_doCreate" value="Create" /> 
#else
   <input type="submit" name="eventSubmit_doUpdate" value="Save" /> 
#end
   <input type="submit" name="eventSubmit_doCancel" value="Cancel" />
</div>
#end

<div id="module" class="app">
<h2>$page.Title</h2>


<h3>Module Details</h3>

<form action="$link.setPage("admin,ModifyModule.vm")" method="post">
<input type="hidden" name="action" value="ModifyModule" /> 
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="admin,ModifyModule.vm" /> 
<input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" value="admin,ManageModules.vm" /> 
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,ManageModules.vm" /> 

#if ($createNew && $createNew.equals("true"))
#set ($moduleGroup = $intake.Module.Default)
<input type="hidden" name="new" value="true" /> 
#else
#set ($moduleGroup = $intake.Module.Default)
<input type="hidden" name="new" value="false" /> 
<input type="hidden" name="$moduleGroup.Id.Key" value="$moduleId" /> 
<input type="hidden" name="moduleid" value="$moduleId" /> 
#end

#set ($moduleGroup = $intake.Module.mapTo($editModule))
#if ( !$moduleGroup.get("Id").isValid())
<p><strong class="alert">$moduleGroup.get("Id").Message</strong></p>
#end

<div class="axial">
 <table cellpadding="3" cellspacing="2" border="1">
  <tr>
   <th>* Module Name:</th>
   <td>
    <input name="$moduleGroup.RealName.Key" value="$moduleGroup.RealName" type="text" size="25" />
    #fieldErrorMsg($moduleGroup.RealName "")
   </td>
  </tr>
  <tr>
   <th>* Description:</th>
   <td>
    <#textAreaMedium() name="$moduleGroup.Description.Key"  type="text"
         >$moduleGroup.Description</textarea>
    #fieldErrorMsg($moduleGroup.Description "")
   </td>
  </tr>
  <tr>
   <th>* Code:</th>
   <td>
    <input name="$moduleGroup.Code.Key" value="$moduleGroup.Code" type="text" size="10" maxsize="4" />
    #fieldErrorMsg($moduleGroup.Code "")
   </td>
  </tr>
  <tr>
   <th>* URL:</th>
   <td>
    <input name="$moduleGroup.Url.Key" value="$moduleGroup.Url" type="text" size="25" />
    #fieldErrorMsg($moduleGroup.Url "")
   </td>
  </tr>
#if (($createNew == "true") || ($moduleId != "0"))
  <tr>
   <th>* Parent Module:</th>
   <td> 
     #set ($userModules = $data.User.EditableModules)
    <select name="$moduleGroup.ParentId.Key">
      <option value="0">Root Module</option>
     #foreach ($userModule in $userModules)
        #if ($userModule.RealName.equals($userModule.Parent.RealName))
          <option selected="selected" value="$userModule.ModuleId">$userModule.Name</option>
        #else
          <option value="$userModule.ModuleId">$userModule.Name</option>
        #end
     #end
    </select>
    #fieldErrorMsg($moduleGroup.ParentId "")
   </td>
  </tr>
#end  
 </table>
</div>

#ModifyModuleBar("2")

$intake.declareGroups()
</form>

</div>
