<FORM METHOD="post" action="$link.setPage("admin,ModifyComponent.vm")">
    <table border="0" cellpadding="0" cellspacing="3" width="100%">
        <TR>
            <TD CLASS="NavHeader" nowrap bgcolor="#808080"><a href="/">My Issues</a> | <A HREF="/">Report</A>
            | <A HREF="/">Browse</A> | <A HREF="/">Assign (8)</A> | <A HREF="/">Search</A>
            | <A HREF="$link.setPage("admin,AdminHome.vm")" class="StressedText">&nbsp;Admin&nbsp;</A> 
            | <A HREF="/">Help</A> | <A HREF="/">Prefs</A>
            | <A HREF="$link.setPage("Login.vm").setAction("Logout")">Log Out</A>
            </TD>
        </TR>
        <tr>
            <td height="1" bgcolor="#000000"></td>
        </tr>
        <tr>
            <td nowrap CLASS="NavHeader" bgcolor="#C0C0C0">
            <a href="$link.setPage("admin,AdminHome.vm")">Admin Home</a> | 
            <a href="$link.setPage("admin,ModifyProject.vm")">Project</a> | 
            <a href="$link.setPage("admin,ModifyComponent.vm")" class="StressedText">&nbsp;Component&nbsp;</a> |
            <a href="/"">Role</a> | <a href="/">Permission</a></td>
        </tr>
        <tr>
            <td height="0" bgcolor="#000000"></td>
        </tr>
          <TR>
            <TD CLASS="NavHeader" BGCOLOR="#C0C0C0" NOWRAP>
                My Projects: <input type="hidden" name="action" value="SetSelectedProject">
                $userProjectsBox
                <INPUT TYPE="submit" name="eventSubmit_doSelect" VALUE="Refresh">
            </TD>
          </TR>
    </table>
</form>

Choose a project to work on from the list above. Then modify the components below.

<table border="0" cellpadding="2" cellspacing="10">
    <tr>
        <td class="Header" bgcolor="#999999" nowrap>&nbsp;COMPONENTS:</td>
        <td class="Header" bgcolor="#999999" nowrap>&nbsp;MODIFY COMPONENT:</td>
    </tr>
    <tr>
        <td valign="top">
            <INPUT TYPE="hidden" NAME="action" VALUE="admin.DeleteComponent">
            <table border="0" cellpadding="2" cellspacing="0">
                <tr>
                    <td valign="top" align="middle" nowrap>
                    <form action="$link.setPage("admin,ModifyComponent.vm")" method="POST">
                        <select name="component_id" size=5>
                        #foreach ($comp in $componentList)
                            <option value="$comp.Id">$comp.Name
                        #end
                        </select><br>
                        <input type="submit" name="eventSubmit_doModify" value="Modify"> <input type="submit" name="eventSubmit_doDelete" value="Delete">
                    </form>
                    </td>
                </tr>
            </table>
        </td>
        <td valign="top">
            <INPUT TYPE="hidden" NAME="action" VALUE="admin.DeleteComponent">
            <table border="0" cellpadding="2" cellspacing="0">
                <tr>
                    <td valign="top" align="middle" nowrap>
                    <form action="$link.setPage("admin,ModifyComponent.vm")" method="POST">
                        <TABLE BORDER="0" CELLPADDING="2" CELLSPACING="0">
                            <TR>
                                <TD NOWRAP class="InputHeader">Component Name:</TD>
                                <TD><INPUT TYPE="text" name="compname" SIZE="20" VALUE="$compname"></TD>
                            </TR>
                            <TR>
                                <TD NOWRAP class="InputHeader">Component Description:</TD>
                                <TD><INPUT TYPE="text" SIZE="20" name="compdescription" VALUE="$compdescription"></TD>
                            </TR>
                            <TR>
                                <TD NOWRAP class="InputHeader">Component URL:</TD>
                                <TD><INPUT TYPE="text" SIZE="20" name="compurl" VALUE="$compurl"></TD>
                            </TR>
                            <tr align="right">
                                <td colspan="2"><input type="submit" name="eventSubmit_doModify" value="Modify"></td>
                            </tr>
                        </table>
                    </form>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
