<FORM METHOD="post" NAME="ModifyProjectsResultsForm" ACTION="">
  <INPUT TYPE="hidden" NAME="action" VALUE="ModifyProjectsResults">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0">
<tr>
<td class="NavHeader">SCARAB:</td>
<td nowrap class="NavHeader"><a href="/">My Bugs</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Report</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Browse</a></td>
<td class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Assign (8)</a></td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Search</a></td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeaderOn" bgcolor="#cccccc">Admin</td>
<td class="NavHeaderOn" bgcolor="#cccccc">&nbsp;</td>
<td class="NavHeader">|</td>
<td class="NavHeader"><a href="/">Prefs</a></td>
<td class="NavHeader">|</td>
<td nowrap class="NavHeader"><a href="/">Log Out</a></td>
</tr>
</table>
</td>
</tr>
<tr>
<td>
<table border="0" cellpadding="2" cellspacing="0" width="100%">
<tr>
<td nowrap class="NavHeaderOn" bgcolor="#CCCCCC"><a href="/">Home</a> | Modify Project | <a href="/">Modify Component</a> | <a href="/"">Modify Role</a> | <a href="/">Modify Permission</a></td>
    </tr>
   </table>
  </td>
 </tr>
 <tr>
  <td height="1" bgcolor="#000000"></td>
 </tr>
</table>

<p>
<table border="0" cellpadding="2" cellspacing="0">
 <tr>
  <td colspan="3" class="PlainText">Project Administration</td>
 </tr>
 <tr>
  <td class="Header" bgcolor="#999999" width="50%">&nbsp;CURRENT PROJECTS:</td>
  <td>&nbsp;</td>
  <td class="Header" bgcolor="#999999" width="50%">&nbsp;ADD A PROJECT:</td>
 </tr>
 <tr>
  <td valign="top" width="50%">
   <table border="0" cellpadding="2" cellspacing="0">
    <tr>
     <td valign="top">
     <select name="searchattribute" width="20">
     <option value="1">name</option>
     <option value="1">project id</option>
     <option value="2" selected>with a component that</option>
     <option value="5">description</option>
     <option value="2">other attr</option>
     </select>
     <br>
     <select name="searchmethod" width="20">
     <option value="1">begins with</option>
     <option value="2">contains</option>
     <option value="5" selected>sounds like</option>
     <option value="2">ends with</option>
     </select>
     <br>         
     <input type="text" name="searchstring" value="$searchstring">
     <input type="submit" name="eventSubmit_doSearchAgain" value="Search Again">
     </td>
    </tr>
    <tr>
     <td valign="top" class="PlainText">Note: Use this search form to find a project to modify or delete.</td>
    </tr>
    <tr>
     <td valign="top" class="InputHeader"><hr size="1" noshade>
     Matches Found
     <br>
     <span class="PlainText">Select the project you'd like to modify or delete from the list below:</span>
     </td>
    </tr>
    <tr>
     <td valign="top">
     <select name="searchresults" size="5" width="20">
     <option value="1">PacMan JVM</option>
     <option value="225">Galaga Classic JVM</option>
     <option value="225">Space Invaders Classic JVM</option>
     </select>
     </td>
    </tr>
    <tr>
     <td valign="top"><input type="submit" name="eventSubmit_doModify" value="Modify"> <input type="submit"  name="eventSubmit_doDelete" value="Delete"></td>
    </tr>
   </table>
  </td>
  <td valign="top">&nbsp;</td>
  <td valign="top" width="50%">
   <table border="0" cellpadding="2" cellspacing="0">
    <tr>
     <td valign="top" class="InputHeader">Project Name:</td>
     <td valign="top"><input type="text" name="projectname" value="$projectname" size="20"></td>
    </tr>
    <tr>
     <td valign="top" class="InputHeader">Description:</td>
     <td valign="top"><input type="text" name="description" value="$description" size="20"></td>
    </tr>
    <tr>
     <td valign="top" class="InputHeader">Project URL:</td>
     <td valign="top"><input type="text" name="projecturl" value="$projecturl" size="20"></td>
    </tr>
    <tr>
     <td valign="top" class="InputHeader">Project Owner:</td>
     <td valign="top"><input type="text" name="projectowner" value="$projectowner" size="20"></td>
    </tr>
    <tr>
     <td valign="top" class="InputHeader">Project QA Contact:</td>
     <td valign="top"><input type="text" name="projectqa" value="$projectqa" size="20"></td>
    </tr>
    <tr>
     <td valign="top"></td>
     <td valign="top"><input type="submit" name="eventSubmit_doAdd" value="<- Add"></td>
    </tr>
    <tr>
     <td valign="top"></td>
     <td valign="top" class="PlainText">Note: To edit a new project, select it from the list and select "Modify".</td>
    </tr>
   </table>
  </td>
 </tr>
</table>
</form>