$page.setTitle("Attribute Editor")

#set ( $module = $scarabR.User.CurrentModule )

<p><b>Editing Module</b>: <i>$module.Name</i></p>
<p>Modify Attributes<br>
</p>
<form action="$link.setPage("admin,ModuleAttributeEditor.vm")" method="get">
    <input type="hidden" name="action" value="admin.ModifyModuleAttributes">
    <input type="hidden" name="$scarabG.Constant.NEXT_TEMPLATE" 
            value="admin,ModuleAttributeEditor.vm">

  <table width="65%" border="1">
    <tr>
      <td width="30%">
        <div align="center"><strong>Attribute</strong></div>
      </td>
      <td width="30%">
        <div align="center"><strong>Display Value</strong></div>
      </td>
      <td width="8%">
        <div align="center"><strong>Active</strong></div>
      </td>
      <td width="8%">
        <div align="center"><strong>Required</strong></div>
      </td>
      <td width="8%">
        <div align="center"><strong>Dedupe</strong></div>
      </td>
      <td width="8%">
        <div align="center"><strong>Quick<br>Search</strong></div>
      </td>
      <td width="8%">
        <div align="center"><strong>Preferred<br>Order</strong></div>
      </td>
    </tr>

#set ( $rmas = $module.getRModuleAttributes(false) )
#set ( $maxNum = $rmas.size() )
#foreach ( $attribute in $rmas )
    #set ( $intakeAttr = $intake.RModuleAttribute.mapTo($attribute) )

    <tr>

      <td width="30%">
        <div align="left">

          $attribute.Attribute.Name
      
      </div>
      </td>

      <td width="30%">
        <div align="left">

          #fieldErrorMsg($intakeAttr.DisplayValue "<br>")
          <input type="text" name="$intakeAttr.DisplayValue.Key" 
                  value="$!intakeAttr.DisplayValue">

      </div>
      </td>


      <td width="8%">
        <div align="center">

          #booleanCheckbox ($intakeAttr.Active)
      
      </div>
      </td>
      <td width="8%">
        <div align="center">

          #booleanCheckbox ($intakeAttr.Required)

      </div>
      </td>
      <td width="8%">
        <div align="center">

          #booleanCheckbox ($intakeAttr.Dedupe)
      
      </div>
      </td>
      <td width="8%">
        <div align="center">

          #booleanCheckbox ($intakeAttr.QuickSearch)
      
      </div>
      </td>

      <td width="8%">          
        <div align="center">

    #numericSelect( $intakeAttr.Order.Key 1 $maxNum $intakeAttr.Order.Value 1 )

      </div>
      </td>
    </tr>
#end


    <tr>
      <td width="30%">
        
        <div align="center">&nbsp;</div>
      </td>
      <td width="30%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="8%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="8%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="8%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="8%">
        <div align="center">&nbsp;</div>
      </td>
      <td width="8%">          
        <div align="center">
          <input type="submit" name="eventSubmit_doModifyattributes" 
                value="Save">
      </div>
      </td>
    </tr>
  </table> 

    <input type="submit" name="eventSubmit_doAlldone" value="All Done">
    
$intake.declareGroups()
</form>
