#set ($module = $scarabR.CurrentModule)
#set ($issueType = $scarabR.IssueType)
#set ($attribute = $scarabR.Attribute)
#set ($attType = $attribute.AttributeType)
#set ($attTypeName = $attType.AttributeClass.Name)
#set ($ria = $issueType.getRIssueTypeAttribute($attribute))

#macro (ModuleAttributeEditBar $val)
<div class="functnbar$val">
#if ($attTypeName.equals("select-one") &&  (!$issueType.Locked && !$ria.Locked))
<input type="submit" value="$l10n.Done"  name="eventSubmit_doDone" />
#end
<input type="submit" value="$l10n.Cancel"  name="eventSubmit_doCancel" />
</div>
#end

<div class="app" id="div3-0-2-0">

#if (!$attType)
<p class="infomark"><em>$l10n.AttributeNotFound
$link.setPage("admin,ManageArtifactTypes.vm").setLabel("$l10n.here").</em></p>
#else

<form action="$link.setPage("admin,ModuleAttributeEdit.vm")" method="post">
<input type="hidden" name="action" value="admin.ModuleAttributeEdit" />
<input type="hidden" name="$scarabG.Constant.OTHER_TEMPLATE" value="admin,AttributeOptionSelect.vm" />
#set ($cancelTemplate = $data.Parameters.getString("$scarabG.Constant.CANCEL_TEMPLATE", "admin,AttributeGroupEdit.vm"))
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="$cancelTemplate" />
<input type="hidden" name="att_0id" value="$attribute.AttributeId" />
<input type="hidden" name="attributeid" value="$attribute.AttributeId" />
<input type="hidden" name="groupId" value="$data.Parameters.getString("groupId","").trim()" /> 
<input type="hidden" name="issueTypeId" value="$issueType.IssueTypeId" /> 

#ModuleAttributeEditBar("")

<h3>$l10n.AttributeInfo</h3>

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
 <tr>
  <th>$l10n.InputType</th>
  <td>$attType.Name</td>
 </tr>
 <tr>
  <th>$l10n.Name</th>
  <td>$attribute.Name</td>
 </tr>
 <tr>
  <th>$l10n.Description</th>
  <td>$attribute.Description</td>
 </tr>
  #if ($attribute.CreatedDate)
 <tr>
  <th>$l10n.CreatedBy</th>
  <td>
  #attributeCreatedBy($attribute)
  </td>
 </tr>
 <tr>
  <th>$l10n.CreationDate</th>
  <td>
    $format.getDate($scarabR.DateFormat, $attribute.CreatedDate)
  </td>
 </tr>
  #end
</tr>
</table>
</div>

#set ($rmos = $scarabR.CurrentModule.getRModuleOptions($attribute, $issueType, false))
#if ($attTypeName.equals("select-one"))
#set ($maxNum = $rmos.size())
#datatitle ("Attribute Options")
#if (!$rmos || $rmos.isEmpty())
  There are no attribute options.
  <div class="functnbar3">
  <input type="submit" value="$l10n.AddNew" name="eventSubmit_doGotoothertemplate" />&#160;
  </div>
#else

<table width="100%" border="1" cellspacing="2" cellpadding="2">
<tr>
 #if (!$issueType.Locked && !$ria.Locked) <th>$l10n.Select</th>#end
 <th>$l10n.ParentAttributeOptions</th>
 <th>$l10n.DisplayName</th>
 <th>$l10n.Active</th>
 <th>$l10n.PreferredOrder</th>
 ## hiding until implemented <th>$l10n.Weight</th>
</tr>
#foreach ($rmo in $rmos)
    #set ($rmoGroup = $intake.RModuleOption.mapTo($rmo))
    #set ($rio = false)
    #set ($rio = $issueType.getRIssueTypeOption($rmo.AttributeOption))
    #set ($locked = ($issueType.Locked) || ($ria.Locked) || ($rio && $rio.Locked))
    #indexedRows($velocityCount)
    #if (!$issueType.Locked && !$ria.Locked) <td><input type="checkbox" name="delete_$rmo.OptionId" #if ($locked) disabled="disabled"#end /></td>#end
     <td>
       #set ($comma = "")
       #set ($parents = $rmo.AttributeOption.Parents)
       #foreach ($parent in $parents)
         #if ($parents.size() > 1)
           #if ($velocityCount < $parents.size())
               #set ($comma = ", ")
           #else
               #set ($comma = "")
           #end
         #end
         $parent.Name$comma
       #end
     </td>
     <td>
        #if ($locked)
          $rmo.DisplayValue
        #else
          <input type="text" size="25" name="$rmoGroup.DisplayValue.Key" value="$rmoGroup.DisplayValue.Value" />
        #end
     </td>
    
     <td>#booleanCheckboxLock ($rmoGroup.Active $locked)</td>
     <td>
        #if ($locked)
          $rmo.Order
        #else
          #numericSelect($rmoGroup.Order.Key 1 $maxNum $rmoGroup.Order.Value 1)
        #end
     </td>
#* hiding until implemented
     <td>
        #if ($locked)
          $rmo.Order
        #else
          #numericSelect($rmoGroup.Weight.Key 1 $maxNum $rmoGroup.Weight.Value 1)
        #end
     </td>
*#
    </tr>
#end
</table>

#if (!$issueType.Locked && !$ria.Locked)
<div class="functnbar3">
<input type="submit" value="$l10n.Save" name="eventSubmit_doSave" />&#160;
<input type="submit" value="$l10n.AddNew" name="eventSubmit_doGotoothertemplate" />&#160;
## commenting out till we decide how to do <input type="submit" value="$l10n.Copy" />&#160;
<input type="submit" value="$l10n.DeleteSelected" name="eventSubmit_doDeleteattributeoptions" />&#160;
<input type="submit" value="$l10n.Resort" name="eventSubmit_doSave" />
</div>
#end

#end

#end

#ModuleAttributeEditBar("2")

$intake.declareGroups()
</form>
</div>
#end
