<div id="xmlexportissues" class="app">

<h3>$page.Title</h3>

<form action="$link.setPage("admin,ViewXMLExportIssues.vm")" method="post" name="xmlexportissues">
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="Index.vm" />

<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th>Issues</th>
 <td>
  <input name="exportissues" value="$!exportissues" type="text" size="50" />
  <p><small>
  Specify a comma separated list of issues and/or issue ranges.  A range
  is a starting issue followed by a &quot;-&quot; and finally the end
  issue. Example: PACS1-PACS5, PACS10, 20. Note: For security reasons,
  it is only possible to export issues from the currently selected
  module.</small></p>
 </td>
</tr>
<tr>
 <th>Options</th>
 <td>
<input type="radio" name="downloadtype" value="0" #if (!$data.Parameters.downloadtype || $data.Parameters.downloadtype=="0") checked="checked" #end /> Export as downloadable file
<input type="radio" name="downloadtype" value="1" #if ($data.Parameters.downloadtype=="1") checked="checked" #end /> Export to browser window
 </td>
</tr>
<tr>
 <th>Filename</th>
 <td>
<p>Save downloaded file as...</p> 
#if ($data.Parameters.filename && $data.Parameters.filename.length() > 0)
#set ($filename = $data.Parameters.filename)
#else
#set ($filename = "scarab-issues-export.xml")
#end
<input type="text" size="50" name="filename" value="$filename" />
 </td>
</tr>

</table>
</div>

<div class="functnbar2">
  <input type="submit" name="eventSubmit_doXmlissues" value="Export" />&#160;
</div>

<script>
<!--
document.xmlexportissues.exportissues.focus();
// -->
</script>
</form>
</div>
