$page.setTitle("XML Export")

<div id="xmlexportselect" class="app">

<h2>$page.Title</h2>

<h3>$page.Title</h3>

<form action="$link.setPage("admin,XMLExportSelect.vm")" method="post" name="xmlexportselect">
<input type="hidden" name="action" value="admin.XMLExportSelect" />
<input type="hidden" name="$scarabG.Constant.CANCEL_TEMPLATE" value="Index.vm" />

#set ($xmlExportSelectGroup = $intake.XMLExportSelect.Default)
<div class="axial">
<table cellpadding="3" cellspacing="2" border="0">
<tr>
 <th>Issues</th>
 <td>
  <input name="$xmlExportSelectGroup.FederatedIds.Key" 
        value="$!xmlExportSelectGroup.FederatedIds.value" type="text" size="50" />
  <p>
  Specify a comma separated list of issues and/or issue ranges.  A range
  is a starting issue followed by a &quot;-&quot; and finally the end
  issue. Note: you must also include the module code prefix. For example,
  if the module code is: 'PACS' and you want to find issue id '1' in that
  module, then you would enter: 'PACS1'.
  </p>
  #fieldErrorMsg($xmlExportSelectGroup.FederatedIds "")
 </td>
</tr>
</table>
</div>

<div class="functnbar2">
  <input type="submit" name="eventSubmit_doXmlissues" value="XML Issues" />&#160;
  <input type="submit" name="eventSubmit_doCancel" value="Cancel" />
</div>

#if ($federatedIds)
<div>
  #xmlExportCheckNotExists($federatedIds)
</div>
<div>
  #textAreaLarge("" "#xmlExport($federatedIds)")
</div>
#end

$intake.declareGroups()

<script>
<!--
document.xmlexportselect.${xmlExportSelectGroup.FederatedIds.Key}.focus();
// -->
</script>
</form>
</div>
