<h3>$l10n.ImportResults</h3>
<p>$l10n.Overall
#if ($resultString.length()>0)
$resultString
    #if ($importErrors && $importErrors.size() > 0)
    <ul>
        #foreach ($error in $importErrors)
            <li>$error</li>
        #end
    </ul>
    #end
#else
    $l10n.NoErrors
#end
</p>

#if ($issues)
#set ($issuesMap = $issues.getIDs())
#if ($issuesMap.size()>0)
<table border="1" cellspacing="2" cellpadding="3">
<tr><th>$l10n.OldID</th><th>$l10n.NewID</th></tr>
  #foreach ($key in $issuesMap.keySet())
    <tr><td>$key</td><td>$issuesMap.get($key)</td></tr>
  #end
</table>
</p>
#else
<p>$l10n.NoneAffected</p>
#end
#end
