<div class="docs" id="[file name w/o ext]"> 
  <h2>Scarab Help Index</h2>
  <div id="toc"> 
 
    <ul>
      <li>Scarab Help 
        <ul>
          <li><a href="$link.setPage("help,Introduction,vm")">Introduction to Scarab</a></li>
          <li><a href="$link.setPage("help,UserIssues,vm")">Managing Issues</a></li>
          <li><a href="$link.setPage("help,UserQuery,vm")">Searching the database</a></li>
          <li><a href="$link.setPage("help,UserReports,vm")">Reports</a></li>
          <li><a href="$link.setPage("help,ScarabBestPractices,vm")">Best Practices</a></li>
          <li><a href="$link.setPage("help,ScarabFaq,vm")">FAQ</a></li>
          <li><a href="$link.setPage("help,ScarabGlossary,vm")">Glossary</a></li>
        </ul>
      </li>
    </ul>
  </div>

</div>
