<div class="docs" id="scarabfaq"> 
  <h2>Using Scarab</h2>
  <div id="toc"> 
   
    <ul>
      <li>Scarab Help 
        <ul>
          <li><a href="$link.setPage("help,Introduction.vm")">Introduction to 
            Scarab</a></li>
          <li><a href="$link.setPage("help,UserIssues.vm")">Managing Issues</a></li>
          <li><a href="$link.setPage("help,UserQuery.vm")">Searching the database</a></li>
          <li><a href="$link.setPage("help,UserReports.vm")">Reports</a></li>
          <li><a href="$link.setPage("help,ScarabBestPractices.vm")">Scarab guidelines</a></li>
          <li><strong>FAQ</strong></li>
          <li><a href="$link.setPage("help,ScarabGlossary.vm")">Glossary</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <h3><a name="top" id="top">Frequently asked questions</a></h3>
  <dl> 
    <dt> <em>How do I figure out what issue type to use?</em> </dt>
    <dd>The issue types available to you in your project have been determined 
      by your project administrator. By accessing the <strong>Issue Type selection</strong> 
      screen you can see a description of each issue type and select the one that 
      best describes your issue. For more information see the <a href="$link.setPage("help,UserIssues.vm")#types")">issue 
      types</a> discussion.</dd>
    <p></p>
    <dt> <em>Can I move an issue to a different issue type? how about to a different 
      project?</em> </dt>
    <dd>Issues can be moved between issue types through the issue detail page. 
      For more information see the <a href="$link.setPage("help,UserIssueModify.vm")#move")">moving issues 
      </a>discussion. For a discussion on circumstances in which you may wish 
      to move issues, see the <a href="$link.setPage("help,ScarabBestPractices.vm")">Best practices 
      </a>document.</dd>
    <p></p>
    <dt><em>How can stop the duplication checking?</em></dt>
    <dd> The duplication checking process is set by the project leader. If you 
      feel it is affecting the processing of issues, contact your project administrator.</dd>
    <p><em>How do I add or remove attributes from my screen?</em></p>
    <dl> 
      <dt>Many pages in Scarab are customizable. For more information see the 
        discussion on <a href="$link.setPage("help,Navigation.vm")#customize")">customizing</a> the screen.</dt>
    </dl>
    <p></p>
    <dt><a href="#top">Top</a> </dt>
  </dl>
  <div class="courtesylinks"></div>
</div>
