<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/2000/REC-xhtml1-20000126/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
 <head>


  <title>Scarab guidelines</title>
 </head>

 <body>
<div class="docs" id="scarabbestpractices"> 
  <h2>Using Scarab</h2>
  <div id="toc"> 
      <ul>
      <li>Scarab Help 
        <ul>
          <li><a href="$link.setPage("help,Introduction.vm")">Introduction to Scarab</a></li>
          <li><a href="$link.setPage("help,UserIssues.vm")">Managing Issues</a></li>
          <li><a href="$link.setPage("help,UserQuery.vm")">Searching the database</a></li>
          <li><a href="$link.setPage("help,UserReports.vm")">Reports</a></li>
          <li><strong>Scarab guidelines</strong>
            <ul>
              <li><a href="#sharing">Project knowledge sharing</a></li>
              <li><a href="#health">Tracking project health</a></li>
            </ul>
          </li>
          <li><a href="$link.setPage("help,ScarabFaq.vm")">FAQ</a></li>
          <li><a href="$link.setPage("help,ScarabGlossary.vm")">Glossary</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <h3><a name="top" id="top">Scarab guidelines</a></h3>

  <p>The success of any project depends on managing and solving problems. How 
    you use Scarab will be dependent upon how your project is organized and your 
    planned workflow processes. You can use Scarab as a knowledge sharing tool 
    and a means of tracking and managing the health of your project.</p>
  <h3><a name="sharing" id="sharing">Project knowledge sharing</a></h3>
  <p> Information captured within Scarab can be highly effective for many areas 
    within a project. Because Scarab is so highly configurable, knowledge resources 
    can be customized to the needs of each discipline within an organization. 
    Tracking a feature across discipline lines can be done by copying issues and 
    creating dependencies between them.For instance, Project Go has issue types 
    organized by milestone within the feature lifecycle. Project Go has the following 
    issue types:<strong> planning, development, testing, release management </strong>and 
    <strong>support</strong>. New features are entered in the <strong>planning</strong> issue type 
    where they are processed till ready for development. At that point, the issue 
    is copied to <strong>development</strong>, <strong>release</strong> <strong>management</strong> and <strong>testing</strong> 
    issue types and all copies are set to blocked by the <strong>development</strong> issue. 
    At this point, all actors have a full description of the feature, including 
    all conversations involved in creating the specifications. Since all issues 
    have interdependencies, monitoring efforts across the discipline lines is 
    an easy process. Blocking all the issues by the <strong>development</strong> issue means 
    that none of them can be closed till the development cycle has completed, 
    but each group can continue to work based on what is happening with the development 
    project. For example, documentation may be a part of the release management 
    cycle. Writers can track the features in development and track their documentation 
    efforts in their own issue with links to the development issue. After the 
    feature has been released to the users, support can track in coming issues 
    and easily access information about the feature through any of the issue types 
    and be able to link to other areas quickly through the issue history. </p>

  <h3><a name="health" id="health">Tracking project health</a></h3>
  <p>Scarab can assist in tracking and assessing the health of a project. If your 
    project is experiencing a particular type of concern you need to track, Scarab 
    can help you do this through a series of processes. For example, Project Go 
    has just added a new database and developers are concerned that the new database 
    will cause significant performance problems. While running routine reports 
    and queries, the project lead has determined that there is, indeed, a performance 
    issue possibly associated with the new database. It is determined that fixing 
    this problem is top priority and critical to the success of the project. To 
    facilitate work on this problem, the project owner has created an issue entry 
    template and series of queries and reports. Users are asked to use the template 
    and enter specific information about what they have found in a <strong>description</strong> 
    attribute. The template is used to regularize information about issues. Using 
    a saved query, project members can quickly access issues involving this concern 
    and concentrate efforts in critical areas. Tracking the progress of resolving 
    the performance problems can be done using reports. How to configure it for 
    your needs can be confusing. This document is a suggested set of practices.</p>
  <p><a href="#top">Top</a> </p>

</div>
 </body>
</html>
