<html>
<head>
<title>UserIssueView</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>

<body bgcolor="#FFFFFF">
<p><!--<p>Querying issues:</p>
<p>Issue viewing long format permits you simple access to all information available 
  for the issue. </p>
<p>Viewing attributes:</p>
<p>You can use your home page to change the attributes that appear on your screen.</p>
<p><i>can user use the verbose screen to alter the issue as well as view it?</i></p>
<p>&nbsp;</p>
 --><b>Querying issues:</b></p>
<p>3 ways to query for issues:</p>
<ul>
  <li>advanced- allows you to set search criteria based on any of the attributes 
    associated with an issue.</li>
  <li>custom - </li>
  <li>saved - </li>
</ul>
<p><b>Advanced queries</b></p>
<p>The advanced query form allows you to define fine grained search criteria. 
  Using this form, select the values to search through the modules artifact types 
  issues. Searches can contain the following items:</p>
<ul>
  <li>Attributes - you can search on any attributes within the artifact type by 
    entering a value.</li>
  <li>Personnel - you can use this area to search for all issues associated with 
    someone. </li>
  <li>State Change - you can monitor issues that have an altered state in one 
    attribute. This field allows you to set an attribute you would like to montior 
    and the original value and expected new value. For instance, you may want 
    to know all issues that have changed from a low severity to a high severity. 
    Additionally, you can monitor these changes within a date range. For example, 
    you may be interested in knowing which issues have received more than 2 votes 
    within the last week. Clicking the &quot;Update options&quot; button saves 
    your changes to the query.</li>
</ul>
<p>You can also set your results view preferences at this time. You can alter 
  the search order and the number of issues that appear per page.</p>
<p>You can submit your query at this time or choose the save it.</p>
<p><b>Saved queries</b></p>
<p>Once you've used the advanced query form to define your query you can add the 
  query to your Saved query list. click the save query button and enter values 
  on the save query form.</p>
<p>Query name: the query name needs to be short and descriptive. For a query that 
  searches for all issues assigned to you, you may set the query name to &quot;My 
  issues&quot;. A query that searches for all issues found on the NT operating 
  system that are resolved low priority issues, you may set the query name to 
  &quot;NT, resolved, low priority&quot;</p>
<p>Availability:</p>
<ul>
  <li>personal - </li>
  <li>global - changing the availability of the query to global requires approval 
    by an administrato</li>
</ul>
<p>Clicking on the Query name returns you to the &quot;edit query&quot; page where 
  you can change the criteria used in your quer. yo u can chagne the attributes 
  on which the query relys and the name ofthe query.</p>
<p>Clicking the value in the Location field runs the query.</p>
<p><b>Viewing the results of your query</b></p>
<p>Attributes are arranged in the order in which they were defined. if you change 
  any of the values in the fields you must enter a reason for the change before 
  useing the &quot;save changes&quot; button. you can reassign the issue. add 
  a related link, add dependencies and comments. You can also view the history 
  of the issue. </p>
<p>&nbsp;</p>
</body>
</html>
