<div class="docs" id="userquerycustom"> 
  <h2>Custom queries</h2>
  <div id="toc"> 
 <ul> 
<li>Scarab Help 
  <ul>
    <li><a href="$link.setPage("help,Introduction.vm")">Introduction to Scarab</a></li>
    <li><a href="$link.setPage("help,UserIssues.vm")">Managing Issues</a> </li>
    <li>Searching the database 
            <ul>
              <li><a href="$link.setPage("help,UserQuery.vm")">Overview</a></li>
              <li><a href="$link.setPage("help,UserQueryAdvanced.vm")">Advanced queries</a></li>
              <li><strong>Custom queries</strong></li>
              <li><a href="$link.setPage("help,UserQuerySaved.vm")">Saved queries</a></li>
            </ul>
    </li>
    <li><a href="$link.setPage("help,UserReports.vm")">Reports</a></li>
   
      <li><a href="$link.setPage("help,ScarabBestPractices.vm")">Best Practices</a></li>
      <li><a href="$link.setPage("help,ScarabFaq.vm")">FAQ</a></li>
      <li><a href="$link.setPage("help,ScarabGlossary.vm")">Glossary</a></li>
    </ul></li>
  </ul>
  </div>

  <h3><a name="top" id="top">Custom queries</a></h3>
  <p>Custom queries allow you to search the database based on a refined set of 
    parameters. You can search on any of the text attributes as well as any other 
    attribute your project owner has included as a quick search parameter.</p>
  <p>For this section, select the attributes you would like to search against. 
    The n enter a search string. Each attribute will be searched for every term 
    that appears in your search string. For instance, the Game project has the 
    <em>Summary, Description, Story-line</em> and <em>Error message</em> string 
    attributes. You are interested in any issue that involves the usage of a joystick. 
    You can select one, some or all of the text attributes and then enter &quot;joystick&quot; 
    in the search string. Once the search is initiated, all entries in the attributes 
    you have chosen will be searched for the term &quot;joystick&quot;.</p>
  <p>You can use this form to determine how you would like the search results 
    displayed. You can select what attribute you would like the results ordered 
    by as well as the number of issues you would like to see per page.</p>
  <p><a href="#top">Top</a> </p>

</div>
