<div class="docs" id="userquerysaved"> 
  <h2>Saved queries</h2>
  <div id="toc"> 
     
    <ul>
      <li>Scarab Help
       <ul> 
         <li><a href="$link.setPage("help,Introduction.vm")">Introduction to Scarab</a></li>
         <li><a href="$link.setPage("help,UserIssues.vm")">Managing Issues</a> </li>
         <li>Searching the database 
          <ul>
            <li><a href="$link.setPage("help,UserQuery.vm")">Overview</a></li>
            <li><a href="$link.setPage("help,UserQueryAdvanced.vm")">Advanced queries</a></li>
            <li><a href="$link.setPage("help,UserQueryCustom.vm")">Custom queries</a></li>
            <li><strong>Saved queries</strong> 
              <ul>
                <li><a href="#saving">Saving queries</a></li>
                <li><a href="#managing">Managing saved queries</a></li>
                <li><a href="#subscribing">Subscribing to saved queries</a></li>
                <li><a href="#default">Setting a default query</a></li>
              </ul>
            </li>
          </ul>
        </li>
      <li><a href="$link.setPage("help,UserReports.vm")">Reports</a></li>
      <li><a href="$link.setPage("help,ScarabBestPractices.vm")">Best Practices</a></li>
      <li><a href="$link.setPage("help,ScarabFaq.vm")">FAQ</a></li>
      <li><a href="$link.setPage("help,ScarabGlossary.vm")">Glossary</a></li>
     </ul>
    </li>
    </ul>
  </div>
  <h3><a name="top" id="top">Saved queries</a></h3>
  <p>Once you have a well defined set of search parameters you may want to save 
    them for future use. Saved queries can be used to generate reminders, keep 
    you informed of progress on issues or to quickly access a specific issue configuration. 
    You may have access to globally available saved queries or create your own.</p>
  <p><strong><a name="saving">Saving queries</a></strong></p>
  <p>To create a saved query access the <strong>Advanced query</strong> page and 
    define your search parameters (for more information see Advanced). Click the 
    <strong>Save this query </strong> button. Stored queries are accessible through 
    the <em>Saved queries</em> link on the left navigation bar or in the drop 
    down box on the query bar. The saved query drop box only appears if you have 
    stored queries.</p>
  <p>The <strong>Save query</strong> screen is where you can give your saved query 
    a unique identification. Your query name should be short and descriptive. 
    The Saved query name appears in the Query bar. You can add a description to 
    further identify your query. The query description appears in the saved query 
    list screen and can help users make a better determination of which query 
    to use.</p>
  <p>For example, you have defined several queries that search for issues that 
    relate to the AIX operating system. One of your queries specifically look 
    for all new high priority issues entered. A second query may search for all 
    closed high priority issues. The first query is named AIXopen, the second 
    AIXclosed. You can use the description field to remind yourself that these 
    issues are specifically for high priority issues.</p>
  <p>Before you can save your query you need to determine the availability. Your 
    query can be available only to yourself by selecting &quot;personal&quot; 
    from the drop down list. If you think your query is of value to all members 
    of the project, you can select &quot;global&quot;. If you do not have permission 
    to create a global saved query, the query will be submitted to the administrator 
    for approval (see Approval for further information on the approval process).</p>
  <p>Click the <strong>Save</strong> button to complete the saving process.</p>
  <p><strong><a name="managing" id="managing">Managing saved queries</a></strong></p>
  <p>The <strong>Stored query</strong> page is used to manage the saved queries. 
    All queries that are available for this issue type appear in this table. Click 
    on the name of the query to access the query edit screen. The location link 
    will execute the query. Clicking on the name in the <em>Initiated by</em> 
    field will provide an email form, using your browsers default email interface. 
    You can also set a default query and subscribe (see below for more information).</p>
  <p>Using the buttons you can affect multiple queries simultaneously. Use the 
    check boxes to select the queries you would like affect.</p>
  <ul>
    <li>The <strong> Copy</strong> button will place a copy of the query. You 
      can click the name of the copy to edit. Using this feature can help you 
      to create fine grained saved queries. </li>
    <li>The <strong>Delete selected </strong>button will remove the saved query 
      from your list. You can delete any of your personal saved queries.</li>
  </ul>
  <p><strong><a name="subscribing" id="subscribing">Subscribing to saved queries</a></strong></p>
  <p>Scarab can create and send regular email alerts to you regarding issues matching 
    your saved criteria. From the <strong>Stored query list</strong> page, accessed 
    through the <em>Saved queries</em> link on the left navigation, click the 
    check box in the <em>Subscr</em> column of your chosen query. You must also 
    select a frequency from the <em>Subcr frequency</em> column. You can have 
    reports sent to you several times a day (every half hour, hourly or twice 
    daily), daily or weekly.</p>
  <p>Using saved queries assists the user in keeping up to date on changes to 
    issues in the database. For instance, you may have a saved query named &quot;my 
    issues&quot; that searches for all issues assigned to you with a status of 
    &quot;New&quot;. Subscribing to &quot;my issues&quot; saved query and setting 
    the frequency to twice a day will provide regular email updates to any new 
    issues assigned to you.</p>
  <p>Subscriptions can be helpful if you have a project critical component that 
    you need to keep a careful eye on. For instance, you are responsible for all 
    database access issues. You know that there are some potential problems with 
    database access for users on the Windows 95 operating system. Creating, saving 
    and subscribing to a query with the search parameters that define your area 
    of concern will keep alert you to issues as frequently as you need them.</p>
  <p><strong><a name="default" id="default">Setting a default query</a></strong></p>
  <p>You can set one of your saved queries as the default query. The default query 
    is used by the <em>Issue List</em> link if you have not performed any other 
    queries during the current session. If you have performed any other queries 
    during the current session the <em>Issue List</em> link will repeat the most 
    recently run query. </p>
  
    <p><a href="#top">Top</a> 
 
</div>
