$l10n.Details:
---------------------------------------------------------------------

#set ($args = [$user.getUserName(), $actionIndex, $artifactIndex, $artifactName])
$l10n.format("ApprovalEmailBody", $args)

#if($comment)

$l10n.Comment:
$comment
#end
#if($globalComment)

$l10n.GeneralComment:
$globalComment
#end

---------------------------------------------------------------------
$l10n.EmailFooterA
$l10n.EmailFooterB
$l10n.EmailFooterC
$l10n.EmailFooterD