#set ($user = $data.User)
$l10n.Issue:       $issue.UniqueId ($issue.DefaultText)
$l10n.ModifiedBy: $user.Name
             $user.UserName ($user.Email)

$l10n.YouCanViewIssue:

     $link.getIssueIdAbsoluteLink($issue)

$l10n.ModificationsMade:
---------------------------------------------------------------------

$actionString

---------------------------------------------------------------------
$l10n.EmailFooterA
$l10n.EmailFooterB
$l10n.EmailFooterC
$l10n.EmailFooterD