
$l10n.format("Welcome", $!scarabR.User.FirstName, $!scarabR.User.LastName)

$l10n.ThankYouForRegistering

$l10n.format("YourConfirmation", $scarabR.User.Confirmed)

$l10n.ToConfirmYourAccount

<$link.setPage("Confirm.vm").addPathInfo("Confirm", $scarabR.User.Confirmed).addPathInfo("Email",$scarabR.User.Email).setAbsolute(true).setEncodeURLOff()>


$l10n.Thanks

      $l10n.Scarab
