
Welcome $scarabR.User.FirstName $scarabR.User.LastName,

Thank you for registering with the Scarab Issue Tracking System.

Your confirmation code is: $scarabR.User.Confirmed

In order to confirm your account, please visit the following
url and enter in your confirmation value above.

<$link.setPage("Confirm.vm").addPathInfo("Confirm", $scarabR.User.Confirmed).addPathInfo("Email",$scarabR.User.Email)>


Thanks,

      Scarab
