$l10n.Details:
---------------------------------------------------------------------

$!data.User.FirstName $!data.User.LastName $l10n.PasswordReset

    $password

    $link.setPage("Login.vm")

---------------------------------------------------------------------
$l10n.EmailFooterA
$l10n.EmailFooterB
$l10n.EmailFooterC
$l10n.EmailFooterD