In order for Scarab to truly be effective (and to keep people like $sender
from being constantly in your hair), here are the ground rules...

1) When you see an issue come through email channels, this is an indication
that you have either been assigned or cc'd on a particular issue.  Don't
ignore it!

2) If you are the assignee and have the bandwith, it is your responsibility
to investigate the issue and if it has been given a milestone "fix" the
issue in the proper order.

3) If you are the assignee and don't have the bandwidth, it is your
responsibility to communicate (through the description field) your inability
to complete the assignment.

4) Don't just go and fix issues that have not been given a milestone.  It is
extremely important that we've carefully considered the impact your changes
have on the codebase.

5) Proceed through your issues in order sorted by milestone then priority.
If it makes sense to modify the sequence that's fine, just don't blow the
milestone!

6) When an issue is completed (you've written the code, etc.) if applicable
check it into cvs and mark the issue "fixed" with a comment on how you did
it.  Fixed==Checked In!

7) Try not to batch up a bunch of issue fixes and check them in all at once.
This reeks havoc on our ability to track status and prohibits granular roll
backs, etc.

8) Feel absolutely positively free to add more issues to the list as you realize 
them.  Scarab MUST reflect all of your changes for our release notes to worth 
anything.

9) Post any and all comments/notes around a particular issue to its description 
field.  This way anyone who is handed an issue can easily see its history and 
get crackin!

10) Refer to Scarab on an almost constant basis.  In practice you'll find that 
seeing what is expected of you here beats the hell out of sifting through 
emails.

At first this may seem Draconian.  Who do these engineering managers think
they are anyway?  :-)  The truth is that this is simply a way for us to
track our own to do lists, share our to do's with friends, and keep pesky
status mongers out of our hair.  I truly look forward to the day when I come
a knockin' and you reply "its in Scarab!"

$sender_name 