$l10n.format("GroundRules", $sender)
$l10n.GrounRules1

$l10n.GrounRules2

$l10n.GrounRules3

$l10n.GrounRules4 

$l10n.GrounRules5

$l10n.GrounRules6

$l10n.GrounRules7

$l10n.GrounRules8

$l10n.GrounRules9

$l10n.GrounRules10

$l10n.GrounRulesEnd

$sender_name 