#set ($user = $data.User)
$l10n.format("IssueModified", $issue.UniqueId, $issue.DefaultText)
$l10n.format("IssueModifiedBy", $user.UserName)

$l10n.YouCanViewIssue
     <$link.getIssueIdAbsoluteLink($issue)>
#if (!$activityList.isEmpty())

$l10n.ModificationsMade
#set ($actAttData = $activity.Attachment.Data)
#set ($firstTime = true)
#foreach ($activity in $activityList)
#if ($actAttData)
$actAttData
#elseif ($activity.Depend)
## This is a hack, we are in a loop, so check to see if the
## second activity Description (there are only two in this case)
## is a duplicate of the first. The weird spacing is thanks to Velocity.
    #if ($firstTime)
        #set ($prevMessage = $activity.Description)
        #set ($actSetAttach = $activity.ActivitySet.Attachment.Data)

$prevMessage
        #set ($firstTime = false)
    #else
        #if (!$prevMessage.equals($activity.Description))

$activity.Description
        #end
    #end
#else
$activity.Description

#if ($attachment.Data && ! $attachment.Data.toString().equals($activity.Description.toString()))
$l10n.Comment
$attachment.Data
#end
#end
#end
#if ($actSetAttach)

$l10n.Comment
$actSetAttach
#end
#end
