#if ($action.equals("$l10n.copy"))
  #set ($actionWord = "$l10n.copied")
#else
  #set ($actionWord = "$l10n.moved")
#end

#set ($msgArgs = [$oldModule.Name, $issue.Module.Name, $issue.IssueType.Name, $issue.ModifiedBy.UserName])
$l10n.format("IssueMoved", $issue.UniqueId, $actionWord) $l10n.format("IssueMoved2", $msgArgs) 

$l10n.YouCanViewIssue:

    $link.getIssueIdLink($issue)

$l10n.Details:
---------------------------------------------------------------------

#if ($reason && $reason.length() > 0)
$l10n.Reason:
$reason
#end

#set ($attachmentData = $attachment.Data)
#if ($attachmentData && $attachmentData.length() > 0)
$l10n.Comment:
$attachmentData
#end
---------------------------------------------------------------------
$l10n.EmailFooterA
$l10n.EmailFooterB
$l10n.EmailFooterC
$l10n.EmailFooterD