#if ($action.equals("$l10n.copy"))
  #set ($actionWord = "$l10n.copied")
#else
  #set ($actionWord = "$l10n.moved")
#end

#set ($user = $issue.ModifiedBy)

$l10n.format("IssueMoved", $issue.UniqueId, $actionWord,) $l10n.format("IssueMoved2", $oldModule, $newModule, $user.UserName) 

$l10n.YouCanViewIssue

    <$link.getIssueIdAbsoluteLink($issue)>

#if ($attachment.DataAsString)
$l10n.Comment  $attachment.DataAsString
#end
