#set ($user = $scarabR.getUser($issue.ModifiedBy.toString()) )
Bug report $issue.UniqueId has just been filed by user $user.UserName.

#set ($attrValues = $issue.AttributeValuesMap)
#set($attVal =  $attrValues.get("SUMMARY"))
#set ( $attrInput = $intake.AttributeValue.mapTo($attVal) )

$issue.UniqueId Summary:  $attrInput.Value 

You can view the report at the following URL:
<$link.setPage("ViewIssue.vm").addPathInfo("id", $issue.IssueId).setEncodeURLOff()>

$issue.UniqueId Report 

#foreach ( $attKey in $attrValues )
  #set ( $attVal = $attrValues.get($attKey.toString().toUpperCase()))
  #set ( $attrInput = $intake.AttributeValue.mapTo($attVal) ) 
  $attVal.Attribute.Name: $attrInput.Value
#end
