#set ($user = $issue.ModifiedBy )
#set ($module = $issue.Module )
#set ($issueType = $issue.IssueType )
$issue.RModuleIssueType.DisplayName report '$issue.UniqueId' has just been filed by user '$user.UserName'.

#if ($issue.DefaultTextAttributeValue)
#set ($attVal = $issue.DefaultTextAttributeValue)
$issue.UniqueId $attVal.RModuleAttribute.DisplayValue:  $attVal.Value 
#end

You can view the report at the following URL:
<$link.setPage("ViewIssue.vm").addPathInfo("id", $issue.UniqueId).setAbsolute(true).setEncodeURLOff()>

$issue.UniqueId Report 

#set ($attrValues = $issue.AttributeValuesMap)
#foreach ($group in $module.getAttributeGroups($issueType))
#foreach ($att in $group.Attributes)
#set ($rma = $module.getRModuleAttribute($att, $issueType))
#if ($rma.Active)
#set ($attVal = $attrValues.get($att.getName().toUpperCase()))
$attVal.RModuleAttribute.DisplayValue: $attVal.Value
#end
#end
#end

