<?xml version="1.0" encoding="UTF-8"?>

	<menubar>
	
	<menu name="menu_file" extensionpoint="open">
		<menuitem action="NewMessage"/>	
	</menu>
	
	
	<menu name="menu_file" extensionpoint="top">
		<menuitem imenu="ReceiveMenu" />
		<separator/>
		<menuitem action="ReceiveSend"/>	
		<menuitem action="Receive"/>	
		<menuitem action="SendAll"/>	
		<separator/>
		<menuitem imenu="ManageServerMenu" />
	</menu>

	<menu name="menu_edit" extensionpoint="bottom">
		<menuitem action="SearchMessage"/>
		<separator/>
		<menuitem action="MailAccount"/>
	</menu>
	
	<menu name="menu_view" extensionpoint="show_hide">
		<menuitem checkboxaction="ViewFolderInfoPanel" />
	</menu>
	
	<menu name="menu_view" extensionpoint="top">
		<menuitem imenu="SortMessagesMenu"/>
		<separator/>
		<menuitem checkboxaction="ThreadedView"/>
		<separator/>
		<menu name="menu_view_next">
			<menuitem action="NextMessage" />
			<menuitem action="NextUnreadMessage" />
		</menu>
		<menu name="menu_view_prev">
			<menuitem action="PreviousMessage" />
			<menuitem action="PreviousUnreadMessage" />
		</menu>
		<separator/>
		<menuitem imenu="CharacterEncodingMenu" />
		<separator/>
		<menuitem action="ViewMessageSource"/>
	</menu>
	
	<menu name="menu_folder">
	 <menuitem action="CreateSubFolder"/>
	 <menuitem action="CreateVirtualFolder"/>
	 <separator/>
	 <menuitem action="RenameFolder"/>
	 <menuitem action="RemoveFolder"/>
	 <separator/>
	 <menuitem action="ExpungeFolder"/>
	 <menuitem action="EmptyFolder"/>
	 <separator/>
	 <menuitem action="ApplyFilter"/>
	 <menuitem action="FilterPreferences"/>
	 <extensionpoint name="top" />	
	 <extensionpoint name="bottom" />	
	 <separator/>
	 <menuitem action="SubscribeFolder"/>
	</menu>
	
	<menu name="menu_message">
		<menuitem action="NewMessage" />
		<menuitem action="OpenMessageWithComposer" />
		<menuitem action="OpenMessageWithMessageFrame" />
		<menuitem action="SaveMessage" />
		<separator />
		<menuitem action="Reply" />
		<menuitem action="ReplyToAll" />
		<menuitem action="ReplyToList" />
		<menuitem action="ReplyAsAttachment"/>
		<menuitem action="Forward" />
		<menuitem action="ForwardInline" />
		<menuitem action="Bounce" />
		<separator />
		<menuitem action="CopyMessage" />
		<menuitem action="MoveMessage" />
		<menuitem action="DeleteMessage" />
		<separator/>
		<menuitem action="AddSenderToAddressbook"/>
		<menuitem action="AddAllSendersToAddressbook"/>
		<extensionpoint name="top" />	
		<extensionpoint name="bottom" />	
		<separator/>
		<menu name="menu_message_mark">
		 <menuitem action="MarkAsRead"/>
		 <menuitem action="MarkAsFlagged"/>
		 <menuitem action="MarkAsExpunged"/>
		</menu>
	</menu>
	
	<menu name="menu_utilities">
	 <menu name="menu_message_filteronmessage">
	  <menuitem action="CreateFilterOnSubject"/>
	  <menuitem action="CreateFilterOnFrom"/>
	  <menuitem action="CreateFilterOnTo"/>
	 </menu>
	 <menu name="menu_message_vfolderonmessage">
	  <menuitem action="CreateVFolderOnSubject"/>
	  <menuitem action="CreateVFolderOnFrom"/>
	  <menuitem action="CreateVFolderOnTo"/>
	 </menu>
	 <separator/>
	 <extensionpoint name="top" />	
	 <extensionpoint name="bottom" />	
	 <separator/>
	 <menuitem action="MailImport"/>
	</menu>
	
	
	
	</menubar>
		