<?xml version="1.0" encoding="UTF-8"?>

	<menubar>
	<menu name="menu_file" extensionpoint="main">
		<menuitem imenu="ReceiveMenu" />
		<separator/>
		<menuitem action="ReceiveSend"/>	
		<menuitem action="Receive"/>	
		<menuitem action="SendAll"/>	
		<separator/>
		<menuitem imenu="ManageServerMenu" />
		<separator/>
	</menu>

	<menu name="menu_edit" extensionpoint="main">
		<menuitem action="SearchMessage"/>
		<separator/>
		<menuitem action="MailAccount"/>
		<separator/>
	</menu>
	
	<menu name="menu_view" extensionpoint="sort">
		<menuitem imenu="SortMessagesMenu"/>
		<separator/>
		<menuitem checkboxaction="ThreadedView"/>
	</menu>
	
	<menu name="menu_folder">
	</menu>
	
	<menu name="menu_message">
		<menuitem action="NewMessage" />
		<menuitem action="OpenMessageWithComposer" />
		<menuitem action="SaveMessage" />
		<separator />
		<menuitem action="Reply" />
		<menuitem action="ReplyToAll" />
		<menuitem action="ReplyToList" />
		<menuitem action="ReplyAsAttachment"/>
		<menuitem action="Forward" />
		<menuitem action="ForwardInline" />
		<menuitem action="Bounce" />
		<separator />
		<menuitem action="CopyMessage" />
		<menuitem action="MoveMessage" />
		<menuitem action="DeleteMessage" />
		<separator/>
		<menuitem action="AddSenderToAddressbook"/>
		<menuitem action="AddAllSendersToAddressbook"/>
		<separator/>
		<menu name="menu_message_mark">
		 <menuitem action="MarkAsRead"/>
		 <menuitem action="MarkAsFlagged"/>
		 <menuitem action="MarkAsExpunged"/>
		</menu>
	</menu>
	
	<menu name="menu_utilities">
	 <menu name="menu_message_filteronmessage">
	  <menuitem action="CreateFilterOnSubject"/>
	  <menuitem action="CreateFilterOnFrom"/>
	  <menuitem action="CreateFilterOnTo"/>
	 </menu>
	 <menu name="menu_message_vfolderonmessage">
	  <menuitem action="CreateVFolderOnSubject"/>
	  <menuitem action="CreateVFolderOnFrom"/>
	  <menuitem action="CreateVFolderOnTo"/>
	 </menu>	
	</menu>
	
	
	
	</menubar>
		