<?xml version="1.0" encoding="UTF-8"?>


<plugin id="org.columba.mail.SpamAssassin" name="SpamAssassin Plugin" description="Simple Example" category="Spam" version="1.0"  enabled="true">

<!-- POP3 preprocessing filter -->

 <extension name="org.columba.mail.pop3preprocessingfilter">
  <pop3preprocessingfilter name="SpamAssassin" class="SpamAssassinPOP3PreProcessingFilterPlugin"/>
 </extension>
 
<!-- actions -->
 <extension name="org.columba.core.action">
  <action name="LearnSpam" class="LearnSpamAction" />
  <action name="LearnHam" class="LearnHamAction" />
  <action name="MarkMessageAsSpam" class="MarkMessageAsSpamAction" />
  <action name="MarkMessageAsHam" class="MarkMessageAsHamAction" />
  <action name="AnalyzeFolder" class="AnalyzeFolderAction" />
  <action name="AnalyzeMessage" class="AnalyzeMessageAction" />
  <action name="AddAddressToWhitelist" class="AddAddressToWhiteListAction" />
  <action name="AddAddressToBlacklist" class="AddAddressToBlackListAction" />
  <action name="RemoveAddressFromWhitelist" class="RemoveAddressFromWhiteListAction" />
 </extension>
 
<!-- menu entries -->
 <extension name="org.columba.mail.menu">
  <menu name="menu_utilities" extensionpoint="mail_bottom">
    <menu name="SpamAssassin">
     <menu name="Train Bayesian Filter">
  	  <menuitem action="org.columba.mail.SpamAssassin$LearnSpam"/>
  	  <menuitem action="org.columba.mail.SpamAssassin$LearnHam"/>
  	 </menu>
  	 <separator/>
  	 <menuitem action="org.columba.mail.SpamAssassin$AddAddressToWhitelist"/>
  	 <menuitem action="org.columba.mail.SpamAssassin$AddAddressToBlacklist"/>
  	 <menuitem action="org.columba.mail.SpamAssassin$RemoveAddressFromWhitelist"/>
  	 <separator/>
  	  <menuitem action="org.columba.mail.SpamAssassin$AnalyzeFolder"/>
  	  <menuitem action="org.columba.mail.SpamAssassin$AnalyzeMessage"/>
  	 <separator/>
  	  <menuitem action="org.columba.mail.SpamAssassin$MarkMessageAsSpam"/>
  	  <menuitem action="org.columba.mail.SpamAssassin$MarkMessageAsHam"/>
  	</menu>
  </menu>
 </extension>
 
 
 <runtime type="java" jar="SpamAssassin.jar"/>
</plugin>
