<?xml version="1.0" encoding="UTF-8"?>


<plugin id="org.columba.mail.SpamAssassin" name="SpamAssassin Plugin" description="Simple Example" category="Spam" version="1.0"  enabled="true">

<!-- POP3 preprocessing filter -->

 <extension name="org.columba.mail.pop3preprocessingfilter">
  <pop3preprocessingfilter name="SpamAssassin" class="SpamAssassinPOP3PreProcessingFilterPlugin"/>
 </extension>
 
<!-- external tools -->
 
  <extension name="org.columba.core.externaltools">
   <tool name="spamc" class="SpamcExternalToolPlugin" />
   <tool name="spamassassin" class="SpamAssassinExternalToolPlugin" />
   <tool name="sa-learn" class="SALearnExternalToolPlugin" />
  </extension>
 
<!-- actions -->
 <extension name="org.columba.core.action">
  <action name="MarkMessageAsSpam" class="MarkMessageAsSpamAction" />
  <action name="MarkMessageAsHam" class="MarkMessageAsHamAction" />
  <action name="AnalyzeMessage" class="AnalyzeMessageAction" />
  <action name="AddAddressToWhitelist" class="AddAddressToWhiteListAction" />
  <action name="AddAddressToBlacklist" class="AddAddressToBlackListAction" />
  <action name="RemoveAddressFromWhitelist" class="RemoveAddressFromWhiteListAction" />
 </extension>
 
<!-- menu entries -->
 <extension name="org.columba.mail.menu">
  <menu name="menu_utilities" extensionpoint="mail_bottom">
    <menu name="SpamAssassin">
  	 <menuitem action="AddAddressToWhitelist"/>
  	 <menuitem action="AddAddressToBlacklist"/>
  	 <menuitem action="RemoveAddressFromWhitelist"/>
  	 <separator/>
  	  <menuitem action="AnalyzeMessage"/>
  	 <separator/>
  	  <menuitem action="MarkMessageAsSpam"/>
  	  <menuitem action="MarkMessageAsHam"/>
  	</menu>
  </menu>
 </extension>
 
 
 <runtime type="java" jar="SpamAssassinPlugin.jar"/>
</plugin>
