<?xml version="1.0" encoding="UTF-8"?>
<plugin name="SpamAssassin Plugin" description="Simple Example" id="org.columba.mail.SpamAssassin" version="1.0" category="Spam" enabled="false">
  <extension name="org.columba.mail.pop3preprocessingfilter">
    <pop3preprocessingfilter name="SpamAssassin" class="SpamAssassinPOP3PreProcessingFilterPlugin"></pop3preprocessingfilter>
  </extension>
  <extension name="org.columba.core.externaltools">
    <tool name="spamc" class="SpamcExternalToolPlugin"></tool>
    <tool name="spamassassin" class="SpamAssassinExternalToolPlugin"></tool>
    <tool name="sa-learn" class="SALearnExternalToolPlugin"></tool>
  </extension>
  <extension name="org.columba.core.action">
    <action name="MarkMessageAsSpam" class="MarkMessageAsSpamAction"></action>
    <action name="MarkMessageAsHam" class="MarkMessageAsHamAction"></action>
    <action name="AnalyzeMessage" class="AnalyzeMessageAction"></action>
    <action name="AddAddressToWhitelist" class="AddAddressToWhiteListAction"></action>
    <action name="AddAddressToBlacklist" class="AddAddressToBlackListAction"></action>
    <action name="RemoveAddressFromWhitelist" class="RemoveAddressFromWhiteListAction"></action>
  </extension>
  <extension name="org.columba.mail.menu">
    <menu name="menu_utilities" extensionpoint="mail_bottom">
      <menu name="SpamAssassin">
        <menuitem action="AddAddressToWhitelist"></menuitem>
        <menuitem action="AddAddressToBlacklist"></menuitem>
        <menuitem action="RemoveAddressFromWhitelist"></menuitem>
        <separator></separator>
        <menuitem action="AnalyzeMessage"></menuitem>
        <separator></separator>
        <menuitem action="MarkMessageAsSpam"></menuitem>
        <menuitem action="MarkMessageAsHam"></menuitem>
      </menu>
    </menu>
  </extension>
  <runtime jar="SpamAssassinPlugin.jar" type="java"></runtime>
</plugin>
