# -------------------------------------------------------------------
# $Id: CustomSettings.properties.sample,v 1.1 2004/05/10 18:21:51 thierrylach Exp $
#
# This is the custom settings file for Scarab.  You may override any
# of Scarab's settings in TurbineResources.properties and Scarab.properties
# by defining the value in this file.  Alternatively, you may define the
# value in your web.xml or server.xml file for Scarab.
#
# See http://jakarta.apache.org/commons/configuration/examples.html
#
# Note that strings containing "," (comma) characters must backslash 
# escape the comma (i.e. '\,')
#
# -------------------------------------------------------------------


# ==============================
# Very common settings to change
# ==============================
#
# These settings all are initially commented out
# in this file.
# Please uncomment all settings, which you want to change
# For comprehensive information about available properties
# and their default settings, please look into 
#
#       TurbineResources.properties
#

#system.mail.host=localhost
#system.mail.smtp.from=
#session.timeout = 1800
#services.UploadService.repository=WEB-INF
#searchindex.path=WEB-INF/index

#scarab.http.domain=
#scarab.http.scheme=http
#scarab.http.scriptname=/scarab/issues
#scarab.http.port=8080

#torque.database.default=scarab

## Hypersonic Settings (default)
#torque.database.scarab.adapter=hypersonic
#torque.dsfactory.scarab.pool.validationQuery=SELECT ATTRIBUTE_ID FROM SCARAB_ATTRIBUTE WHERE ATTRIBUTE_ID='0'
#torque.dsfactory.scarab.connection.driver = org.hsqldb.jdbcDriver
#torque.dsfactory.scarab.connection.url = jdbc:hsqldb:hsql://localhost
#torque.dsfactory.scarab.connection.user = sa
#torque.dsfactory.scarab.connection.password =

## MySQL Settings 
#
# uncomment the following properties if you run MySQL!
# ======================================================
#torque.database.scarab.adapter=mysql
#torque.dsfactory.scarab.pool.validationQuery=SELECT 1
#torque.dsfactory.scarab.connection.driver = org.gjt.mm.mysql.Driver
#torque.dsfactory.scarab.connection.url = jdbc:mysql://127.0.0.1:3306/scarab
#torque.dsfactory.scarab.connection.user = sa
#torque.dsfactory.scarab.connection.password =
