#**

Used to display the roles currently being used in
the application.

@author <a href="mailto:jvanzyl@periapt.com">Jason van Zyl</a>
@version $Id: FluxRoleList.vm,v 1.2 2002/01/04 23:16:58 jmcnally Exp $

*#

$page.setTitle("Role Administration")
$page.setBgColor($ui.bgcolor)

#set ( $headings = ["Role Name"] )

<table>
  
  #if ($showFinder)
  <tr>
    <td align="left">
      <table>
        <tr>
        <form method="post" action="">
          <td align="left">
            #listBox ($flux.FieldList)
          </td>
          <td align="right">
            #textField("searchField" "*" "20")
          </td>
          <td>
            <font face="$ui.sansSerifFonts">
              $link.setPage("role,FluxRoleList.vm").setLabel("find")
            </font>
          </td>
        </form>
        </tr>
      </table>
    </td>
  </tr>
  #end
  
  <tr>
    <td>
      <table cellspacing="$ui.tableCellSpacing" cellpadding="$ui.tableCellPadding">
        <tr>
          #foreach ($heading in $headings)
          #headerCell ($heading)
          #end
        </tr>
        
        #foreach ($role in $flux.Roles)
        <tr>
          #entryCell ($role.Name)
          <td>
            <font face="$ui.sansSerifFonts">
              $link.setPage("role,FluxRoleForm.vm").addPathInfo("name",$role.Name).addQueryData("mode","modify").setLabel("Details") &nbsp;
              $link.setPage("role,FluxRolePermissionForm.vm").addPathInfo("name",$role.Name).addQueryData("mode","modify").setLabel("Permissions") &nbsp;
              $link.setPage("role,FluxRoleForm.vm").addPathInfo("name",$role.Name).addQueryData("mode","delete").setLabel("Remove")
            </font>
          </td>
        </tr>
        #end

      </table>
    </td>
  </tr>
  <tr>
    <td>
      <font face="$ui.sansSerifFonts">
        $link.setPage("role,FluxRoleForm.vm").addQueryData("mode","insert").setLabel("Add Role")
      </font>
    <td>
  </tr>
</table>

#if ($showEmbeddedMenu)
  <hr size="1" noshade>
  #parse ("screens/FluxEmbeddedMenu.vm")
#end
