<?xml version="1.0" encoding="UTF-8"?>


<plugin id="org.columba.example.CSVAddressbookImportFilter" name="CSV Addressbook Import Filter" description="Very simple example" version="1.0" >
 <extension name="org.columba.addressbook.import">
  <importer name="CSVImportFilterExample" class="CSVAddressbookImporter"/>
 </extension>
 <runtime type="java"/>
</plugin>
